extends ./includes/layout

block title
	| Premier - Sports Pools |  Comissioner - Create Pool

block variables

block content
	include ./includes/mixins/use
	include ./includes/mixins/cell
	include ./includes/mixins/buttons
	.container
		.row
			.col
				.tabs.text-right
					a(href="#").tabs-item Settings
					a(href="#").tabs-item Enter user picks
					a(href="#").tabs-item.active  Roster
					a(href="#").tabs-item invite users
					a(href="#").tabs-item Generate numbers
		+breadcrumb('Rules')
		.row
			.col
				.card.bg-transparent.border-white.mt-5
					.card-header.brand-gradient.border-bottom.border-white
						h3.text-white.text-uppercase.mb-0 Writen rules
					.card-body.p-4
						p.text-white Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam fuga optio, eos alias unde voluptatum voluptatem sequi fugiat consequuntur molestiae, veniam magni voluptate ratione. Minus, debitis ut placeat perspiciatis nulla ea. Dicta consectetur aut quibusdam inventore officia, possimus at fugit!
		.row
			.col
				.card.bg-transparent.border-white.border-top-0
					.card-header.brand-gradient.border-bottom.border-white
						h3.text-white.text-uppercase.mb-0 Pool settings
					.card-body.p-4
						ul.text-white.text-uppercase
							li Squares per user: 1
							li Numbers sets: 1
							li Number of winners: 4(Quarterly)


