extends ./includes/layout

block title
	| Premier - Sports Pools | Comissioner - Enter user picks

block variables
	-var currentPage = 'comissioner'

block content
	include ./includes/mixins/use
	include ./includes/mixins/cell
	include ./includes/mixins/buttons
	.container
		.row
			.col
				.tabs.text-right
					a(href="#").tabs-item Settings
					a(href="#").tabs-item.active Enter user picks
					a(href="#").tabs-item Roster
					a(href="#").tabs-item invite user
					a(href="#").tabs-item Generate numbers
		+breadcrumb('Enter user picks')
		.row
			.col
				p.text-brand-blue.text-center.mt-3.text-uppercase.font-weight-bold.font-size-4 X Squares Available
		.row
			.col
				h3.mt-0.text-brand-blue.text-uppercase.border-top.border-brand-medgrey.pt-2.mb-0 Current users
				form.border-bottom.border-brand-medgrey
					.form-row
						.form-group.col-12.col-md-6.col-lg-5
							label.text-uppercase.text-white(for="selectUser") Select user
							select#selectUser.custom-select.text-uppercase(name="selectUser")
								option(selected) - pick user -
								option(value="1") rutta11 - aaron.ruther@gmail.com
								option(value="2") jreg - justin.register@gmail.com
								option(value="3") T-rav - trav@gmail.com
								option(value="4") Dougle - dougle.fresh@gmail.com
						.form-group.col-12.col-md-6.col-lg-5
							label.text-uppercase.text-white(for="displayName") Display name
							select#displayName.custom-select.text-uppercase(name="displayName")
								option(selected) - pick display name -
								option(value="1") rutta11
								option(value="2") trackle22
								option(value="3") caden33
						.form-group.col-12.col-lg-2
							label.text-uppercase.text-white(for="displayName") Short Name
							select#displayName.custom-select.text-uppercase(name="displayName")
								option(value="1", selected) rutta11
								option(value="2") trackle22
								option(value="3") caden33
		.row
			.col
				.theme-container.mt-5
					.grid
						.grid--row
							.grid--load
							.grid--title.grid--title-horisontal
								div
									h3 Green Bay
						.grid--row.grid--row-grow
							.grid--title.grid--title-vertical
								div
									h3 San Francisco
							.grid--inner
								.grid--row.grid--row-inline
									.grid--cell.grid--cell-league FNL
									.grid--cell.grid--cell-x
										div 
											span x
									.grid--cell.grid--cell-x
										div 
											span x
									.grid--cell.grid--cell-x
										div 
											span x
									.grid--cell.grid--cell-x
										div 
											span x
									.grid--cell.grid--cell-x
										div 
											span x
									.grid--cell.grid--cell-x
										div 
											span x
									.grid--cell.grid--cell-x
										div 
											span x
									.grid--cell.grid--cell-x
										div 
											span x
									.grid--cell.grid--cell-x
										div 
											span x
									.grid--cell.grid--cell-x
										div 
											span x
								.grid--row.grid--row-grow
									.grid--cell.grid--cell-x.grid--cell-vertical
										div 
											span x
									.grid--cell.grid--cell-makepick
										+defaultCell('shaw', 'Sh')
									.grid--cell.grid--cell-makepick
										+defaultCell('shaw', 'Sh')
									.grid--cell.grid--cell-makepick
										+defaultCell('shaw', 'Sh')
									.grid--cell.grid--cell-makepick
										+defaultCell('shaw', 'Sh')
									.grid--cell.grid--cell-makepick
										+defaultCell('shaw', 'Sh')
									.grid--cell.grid--cell-makepick
										+defaultCell('shaw', 'Sh')
									.grid--cell.grid--cell-makepick
										+defaultCell('shaw', 'Sh')
									.grid--cell.grid--cell-makepick
										+defaultCell('shaw', 'Sh')
									.grid--cell.grid--cell-makepick
										+defaultCell('shaw', 'Sh')
									.grid--cell.grid--cell-makepick
										+defaultCell('shaw', 'Sh')
								.grid--row.grid--row-grow
									.grid--cell.grid--cell-x.grid--cell-vertical
										div 
											span x
									.grid--cell.grid--cell-makepick
										+defaultCell('shaw', 'Sh')
									.grid--cell.grid--cell-makepick
										+defaultCell('shaw', 'Sh')
									.grid--cell.grid--cell-makepick
										+defaultCell('shaw', 'Sh')
									.grid--cell.grid--cell-makepick
										+defaultCell('Rutta', 'Rt')
									.grid--cell.grid--cell-makepick
										+defaultCell('Rutta', 'Rt')
									.grid--cell.grid--cell-makepick
										+defaultCell('Rutta', 'Rt')
									.grid--cell.grid--cell-makepick
										+defaultCell('Rutta', 'Rt')
									.grid--cell.grid--cell-makepick
										+defaultCell('JReg', 'Jr')
									.grid--cell.grid--cell-makepick
										+defaultCell('JReg', 'Jr')
									.grid--cell.grid--cell-makepick
										+defaultCell('JReg', 'Jr')
								.grid--row.grid--row-grow
									.grid--cell.grid--cell-x.grid--cell-vertical
										div 
											span x
									.grid--cell.grid--cell-makepick
										+defaultCell('shaw', 'Sh')
									.grid--cell.grid--cell-makepick
										+defaultCell('shaw', 'Sh')
									.grid--cell.grid--cell-makepick
										+defaultCell('shaw', 'Sh')
									.grid--cell.grid--cell-makepick
										+defaultCell('Rutta', 'Rt')
									.grid--cell.grid--cell-makepick
										+defaultCell('Rutta', 'Rt')
									.grid--cell.grid--cell-makepick
										+defaultCell('Rutta', 'Rt')
									.grid--cell.grid--cell-makepick
										+defaultCell('Rutta', 'Rt')
									.grid--cell.grid--cell-makepick
										+defaultCell('JReg', 'Jr')
									.grid--cell.grid--cell-makepick
										+defaultCell('JReg', 'Jr')
									.grid--cell.grid--cell-makepick
										+defaultCell('JReg', 'Jr')
								.grid--row.grid--row-grow
									.grid--cell.grid--cell-x.grid--cell-vertical
										div 
											span x
									.grid--cell.grid--cell-makepick
										+defaultCell('shaw', 'Sh')
									.grid--cell.grid--cell-makepick
										+defaultCell('shaw', 'Sh')
									.grid--cell.grid--cell-makepick
										+defaultCell('shaw', 'Sh')
									.grid--cell.grid--cell-makepick
										+defaultCell('Rutta', 'Rt')
									.grid--cell.grid--cell-makepick
										+defaultCell('Rutta', 'Rt')
									.grid--cell.grid--cell-makepick
										+defaultCell('Rutta', 'Rt')
									.grid--cell.grid--cell-makepick
										+defaultCell('Rutta', 'Rt')
									.grid--cell.grid--cell-makepick
										+defaultCell('JReg', 'Jr')
									.grid--cell.grid--cell-makepick
										+defaultCell('JReg', 'Jr')
									.grid--cell.grid--cell-makepick
										+defaultCell('JReg', 'Jr')
								.grid--row.grid--row-grow
									.grid--cell.grid--cell-x.grid--cell-vertical
										div 
											span x
									.grid--cell.grid--cell-makepick
										+defaultCell('Shaw', 'Sh')
									.grid--cell.grid--cell-makepick
										+defaultCell('shaw', 'Sh')
									.grid--cell.grid--cell-makepick
										+defaultCell('shaw', 'Sh')
									.grid--cell.grid--cell-makepick
										+defaultCell('Rutta', 'Rt')
									.grid--cell.grid--cell-makepick
										+defaultCell('Rutta', 'Rt')
									.grid--cell.grid--cell-makepick
										+defaultCell('Rutta', 'Rt')
									.grid--cell.grid--cell-makepick
										+defaultCell('Rutta', 'Rt')
									.grid--cell.grid--cell-makepick
										+defaultCell('JReg', 'Jr')
									.grid--cell.grid--cell-makepick
										+defaultCell('JReg', 'Jr')
									.grid--cell.grid--cell-makepick
										+defaultCell('JReg', 'Jr')
								.grid--row.grid--row-grow
									.grid--cell.grid--cell-x.grid--cell-vertical
										div 
											span x
									.grid--cell.grid--cell-makepick
										+defaultCell('Doug', 'Dg')
									.grid--cell.grid--cell-makepick
										+defaultCell('Shaw', 'Sh')
									.grid--cell.grid--cell-makepick
										+defaultCell('Doug', 'Dg')
									.grid--cell.grid--cell-makepick
										+defaultCell('Rutta', 'Rt')
									.grid--cell.grid--cell-makepick
										+defaultCell('Rutta', 'Rt')
									.grid--cell.grid--cell-makepick
										+defaultCell('Rutta', 'Rt')
									.grid--cell.grid--cell-makepick
										+defaultCell('Rutta', 'Rt')
									.grid--cell.grid--cell-makepick
										+defaultCell('JReg', 'Jr')
									.grid--cell.grid--cell-makepick
										+defaultCell('JReg', 'Jr')
									.grid--cell.grid--cell-makepick
										+defaultCell('JReg', 'Jr')
								.grid--row.grid--row-grow
									.grid--cell.grid--cell-x.grid--cell-vertical
										div 
											span x
									.grid--cell.grid--cell-makepick
										+defaultCell('Doug', 'Dg')
									.grid--cell.grid--cell-makepick
										+defaultCell('Doug', 'Dg')
									.grid--cell.grid--cell-makepick
										+defaultCell('Doug', 'Dg')
									.grid--cell.grid--cell-makepick
										+defaultCell('Rutta', 'Rt')
									.grid--cell.grid--cell-makepick
										+defaultCell('Rutta', 'Rt')
									.grid--cell.grid--cell-makepick
										+defaultCell('Shaw', 'Sh')
									.grid--cell.grid--cell-makepick
										+defaultCell('Shaw', 'Sh')
									.grid--cell.grid--cell-makepick
										+defaultCell('Shaw', 'Sh')
									.grid--cell.grid--cell-makepick
										+defaultCell('Shaw', 'Sh')
									.grid--cell.grid--cell-makepick
										+defaultCell('Shaw', 'Sh')
								.grid--row.grid--row-grow
									.grid--cell.grid--cell-x.grid--cell-vertical
										div 
											span x
									.grid--cell.grid--cell-makepick
										+defaultCell('Shaw', 'Sh')
									.grid--cell.grid--cell-makepick
										+defaultCell('Shaw', 'Sh')
									.grid--cell.grid--cell-makepick
										+defaultCell('Shaw', 'Sh')
									.grid--cell.grid--cell-makepick
										+defaultCell('Shaw', 'Sh')
									.grid--cell.grid--cell-makepick
										+defaultCell('Shaw', 'Sh')
									.grid--cell.grid--cell-makepick
										+defaultCell('Shaw', 'Sh')
									.grid--cell.grid--cell-makepick
										+defaultCell('Shaw', 'Sh')
									.grid--cell.grid--cell-makepick
										+defaultCell('Shaw', 'Sh')
									.grid--cell.grid--cell-makepick
										+defaultCell('Brynn', 'Br')
									.grid--cell.grid--cell-makepick
										+defaultCell('Brynn', 'Br')
								.grid--row.grid--row-grow
									.grid--cell.grid--cell-x.grid--cell-vertical
										div 
											span x
									.grid--cell.grid--cell-makepick
										+defaultCell('Shaw', 'Sh')
									.grid--cell.grid--cell-makepick
										+defaultCell('Shaw', 'Sh')
									.grid--cell.grid--cell-makepick
										+defaultCell('Shaw', 'Sh')
									.grid--cell.grid--cell-makepick
										+defaultCell('Shaw', 'Sh')
									.grid--cell.grid--cell-makepick
										+defaultCell('Shaw', 'Sh')
									.grid--cell.grid--cell-makepick
										+defaultCell('Shaw', 'Sh')
									.grid--cell.grid--cell-makepick
										+defaultCell('Shaw', 'Sh')
									.grid--cell.grid--cell-makepick
										+defaultCell('Shaw', 'Sh')
									.grid--cell.grid--cell-makepick
										+defaultCell('Shaw', 'Sh')
									.grid--cell.grid--cell-makepick
										+defaultCell('Shaw', 'Sh')
								.grid--row.grid--row-grow
									.grid--cell.grid--cell-x.grid--cell-vertical
										div 
											span x
									.grid--cell.grid--cell-makepick
										+defaultCell('Doug', 'Sh')
									.grid--cell.grid--cell-makepick
										+defaultCell('Doug', 'Sh')
									.grid--cell.grid--cell-makepick
										+defaultCell('Shaw', 'Sh')
									.grid--cell.grid--cell-makepick
										+defaultCell('Shaw', 'Sh')
									.grid--cell.grid--cell-makepick
										+defaultCell('Shaw', 'Sh')
									.grid--cell.grid--cell-makepick
										+defaultCell('Shaw', 'Sh')
									.grid--cell.grid--cell-makepick
										+defaultCell('Shaw', 'Sh')
									.grid--cell.grid--cell-makepick
										+defaultCell('Shaw', 'Sh')
									.grid--cell.grid--cell-makepick
										+defaultCell('Shaw', 'Sh')
									.grid--cell.grid--cell-makepick
										+defaultCell('Shaw', 'Sh')


