extends ./includes/layout

block title
	| Premier - Sports Pools |  Comissioner - Create Pool

block variables
	-var currentPage = 'menu'

block content
	include ./includes/mixins/use
	include ./includes/mixins/cell
	include ./includes/mixins/buttons
	.container
		.row
			.col
				.tabs.text-right
					a(href="#").tabs-item Settings
					a(href="#").tabs-item Enter user picks
					a(href="#").tabs-item.active  Roster
					a(href="#").tabs-item invite users
					a(href="#").tabs-item Generate numbers
		+breadcrumb('Create Pool')
		.row
			.col
				.card.bg-transparent.border-white.mt-5
					.card-header.brand-gradient.border-bottom.border-white
						h3.text-white.text-uppercase.mb-0 Squares pool settings
					.card-body.p-4
						form.text-brand-blue
							.form-row.border-bottom.border-brand-medgrey
								.form-group.col-12.col-md-3.col-lg-2
									label.text-uppercase(for="squares") Squares / user
									+inputNumber(1)
								.form-group.col-12.col-md-9.col-lg-5
									label.text-uppercase(for="squareboardsets") Squareboard sets
									select#squareboardsets.custom-select.text-uppercase(name="squareboardsets")
										option(value="1", selected) final score (1 number sets)
										option(value="2") option 2
										option(value="3") option 3
										option(value="4") option 4
									span.text-brand-medgrey How many number sets to generate
								.form-group.col-12.col-lg-5
									label.text-uppercase(for="winnumbers") Winning numbers
									select#winnumbers.custom-select.text-uppercase(name="winnumbers")
										option(value="1", selected) final score
										option(value="2") option 2
										option(value="3") option 3
										option(value="4") option 4
									span.text-brand-medgrey How often does a player win
							.form-row.pt-4
								.col-12
									label.text-uppercase Rules
									.text-editor
										textarea#textarea.form-control(name="textarea", cols="30", rows="10")
								.col-12.align-self-end.text-right.mt-3
									+button('submit settings', 'brand-btn btn-brand-blue icon', 'click_arrow', 'submit')

