extends ./includes/layout

block title
	| Premier - Sports Pools |  Comissioner - Create Pool

block variables
	-var currentPage = 'menu'
	-var currentsubPage = 'create pool'

block content
	include ./includes/mixins/use
	include ./includes/mixins/cell
	include ./includes/mixins/buttons
	.container
		.row
			.col
				.tabs.text-right
					a(href="#").tabs-item Settings
					a(href="#").tabs-item Enter user picks
					a(href="#").tabs-item.active  Roster
					a(href="#").tabs-item invite users
					a(href="#").tabs-item Generate numbers
		+breadcrumb('Create Pool')
		.row
			.col
				.card.bg-transparent.border-white.mt-5
					.card-header.brand-gradient.border-bottom.border-white
						h3.text-white.text-uppercase.mb-0 Pool settings
					.card-body.p-4
						form.text-brand-blue
							.form-row.border-bottom.border-brand-medgrey.pb-3
								.form-group.col-12.col-sm-6
									label.text-brand-blue(for="poolType") *POOL TYPE
									select#poolType.custom-select.text-uppercase(name="pool-type")
										option(selected) - CHOOSE -
										option(value="1") Lorem.
										option(value="2") Magnam.
										option(value="3") Explicabo?
										option(value="4") Minima.
								.form-group.col-12.col-sm-6
									label.text-brand-blue(for="nameOfPool") *NAME OF POOL (for public viewing)
									input.form-control#nameOfPool(type="text")
								.form-group.col-12.col-sm-6
									label.text-brand-blue(for="poolPassword") *POOL PASSWORD
									input.form-control#poolPassword(type="text")
								.form-group.col-12.col-sm-6
									label.text-brand-blue(for="league") *LEAGUE
									select#league.custom-select.text-uppercase(name="league")
										option(value="1") Lorem.
										option(value="2") Cupiditate!
										option(value="3") Nobis.
										option(value="4") Eum?
								.form-group.col-12.col-sm-6
									label.text-brand-blue(for="game") *GAME
									select#game.custom-select.text-uppercase(name="game")
										option(value="1") Lorem.
										option(value="2") Fugit?
										option(value="3") Quibusdam.
										option(value="4") Voluptatem.
								.col-12
									span.text-brand-blue *Dentos required choices and fields
							.form-row.pt-4
								.col.align-self-end.text-right
									+button('create pool and continue', 'brand-btn btn-brand-blue icon', 'click_arrow', 'submit')

