extends ./includes/layout

block title
	| Premier - Sports Pools |  Comissioner - invite users

block variables
	-var currentPage = 'comissioner'

block content
	include ./includes/mixins/use
	include ./includes/mixins/cell
	include ./includes/mixins/buttons
	.container
		.row
			.col
				.tabs.text-right
					a(href="#").tabs-item Settings
					a(href="#").tabs-item Enter user picks
					a(href="#").tabs-item Roster
					a(href="#").tabs-item.active invite users
					a(href="#").tabs-item Generate numbers
		+breadcrumb('Invite users')
		.row
			.col
				.card.bg-transparent.border-white.mt-5
					.card-header.brand-gradient.border-bottom.border-white
						h3.text-white.text-uppercase.mb-0 Add new users
					.card-body.p-3
						form
							.form-row
								.col-md-6.d-none.d-md-block
									p.text-white.text-uppercase.font-size-3.mb-0 Name
								.col-md-6.d-none.d-md-block
									p.text-white.text-uppercase.font-size-3.mb-0 Email
								.form-group.col-12.col-md-6
									label.d-md-none.text-white(for="usern1") Name
									input#usern1.form-control(type="text", aria-label="Username")
								.form-group.col-12.col-md-6
									label.d-md-none.text-white(for="userm1") Email
									input#userm1.form-control(type="email", aria-label="email")
								.form-group.col-12.col-md-6
									label.d-md-none.text-white(for="usern2") Name
									input#usern2.form-control(type="text", aria-label="Username")
								.form-group.col-12.col-md-6
									label.d-md-none.text-white(for="userm2") Email
									input#userm2.form-control(type="email", aria-label="email")
							.form-row.pt-4
								.col.align-self-end.text-right
									+button('copy link to email', 'brand-btn btn-brand-blue')
									+button('send invites', 'brand-btn btn-brand-blue icon', 'email', 'submit')
		.row
			.col
				.card.bg-transparent.border-white.mt-4
					.card-header.brand-gradient.border-bottom.border-white
						h3.text-white.text-uppercase.mb-0 user information
					.card-body.p-3
						.row
							.col.overflow-auto
								table.table.table-sm
									thead
										tr.text-uppercase.text-brand-blue
											th.border-top-0 user
											th.border-top-0 Display name
											th.border-top-0 Email address
											th.border-top-0.text-center Invite sent
											th.border-top-0.text-center Accepted
											td.border-top-0
									tbody.text-white
										tr
											td rutta11
											td rutta11-1
											td aaron.ruther@gmail.com
											td.text-center
												+use('checked', 'table-svg')
											td.text-center
												+use('checked', 'table-svg')
											td.text-center
												button.btn.btn-brand-blue register / add
										tr
											td Jreg
											td bearcats03
											td justin.register@gmail.com
											td.text-center
												+use('checked')
											td
											td
										tr
											td
											td
											td
											td
											td
											td
										tr
											td
											td
											td
											td
											td
											td
										tr
											td
											td
											td
											td
											td
											td
										tr
											td
											td
											td
											td
											td
											td
										tr
											td
											td
											td
											td
											td
											td
										tr
											td
											td
											td
											td
											td
											td
										tr
											td
											td
											td
											td
											td
											td
						.row.pt-4
							.col-12.col-md-8.col-lg-9
								p.bg-brand-medgrey.text-white.h-100.p-1.mb-0 NOTE: “Register & Add” function will automatically register & notify user that he/she is part of this pool.
							.col-12.col-md-4.col-lg-3.mt-3.mt-md-0.text-right
								+button('resend invites', 'brand-btn btn-brand-blue icon h-100', 'email', 'submit')

