extends ./includes/layout

block title
	| Premier - Sports Pools |  Comissioner - Rooster

block variables
	-var currentPage = 'comissioner'

block content
	include ./includes/mixins/use
	include ./includes/mixins/cell
	include ./includes/mixins/buttons
	.container
		.row
			.col
				.tabs.text-right
					a(href="#").tabs-item Settings
					a(href="#").tabs-item Enter user picks
					a(href="#").tabs-item.active  Roster
					a(href="#").tabs-item invite users
					a(href="#").tabs-item Generate numbers
		+breadcrumb('Roster')
		.row
			.col
				.card.bg-transparent.border-white.mt-5
					.card-header.brand-gradient.border-bottom.border-white
						h3.text-white.text-uppercase.mb-0 Roster
					.card-body.pt-3.pl-3.pr-3.pb-0
						.row
							.col.overflow-auto
								table.table.table-sm.mb-0
									thead
										tr.text-uppercase.text-brand-blue
											th.border-top-0.pt-2.pb-2 User name
											th.border-top-0.p-2 Display name
											th.border-top-0.p-2 Phone
											th.border-top-0.p-2 Email Address
											th.border-top-0.p-2 Entries
											th.border-top-0.p-2 Total entries
											th.border-top-0.p-2 remove
									tbody.text-white.border-bottom
										tr
											td.pt-2.pb-2 rutta11
											td.p-2
												|rutta11
												br
												|tracie22
												br
												|caden33
												br
												|jake44
											td.p-2
												a.text-white.text-nowrap(href="tel:5135555555") 513-555-5555
											td.p-2
												a.text-white.text-nowrap(href="mailto:aaron@ruther@gmail.com") aaron@ruther@gmail.com
											td.p-2.text-center
												|2
												br
												|2
												br
												|2
												br
												|2
											td.p-2.text-center 8
											td.p-2.text-center
												button.btn.btn-brand-blue X
										tr
											td.pt-2.pb-2 jreg22
											td.p-2 bearcats03
											td.p-2
												a.text-white.text-nowrap(href="tel:5135555555") 513-555-6666
											td.p-2 
												a.text-white.text-nowrap(href="mailto:jreg@gmail.com") jreg@gmail.com
											td.p-2.text-center 2
											td.p-2.text-center 2
											td.p-2.text-center
												button.btn.btn-brand-blue X
										tr
											td.pt-2.pb-2 T-Rav
											td.p-2
												|Geoffrey
												br
												|Luna11
												br
												|Oakley22
											td.p-2
												a.text-white.text-nowrap(href="tel:5135555555") 513-555-6666
											td.p-2
												a.text-white.text-nowrap(href="mailto:trav@gmail.com") trav@gmail.com
											td.p-2.text-center
												|2
												br
												|1
												br
												|1
											td.p-2.text-center 4
											td.p-2.text-center
												button.btn.btn-brand-blue X
										tr
											td.pt-2.pb-2 Dougie
											td.p-2 dougiefresh
											td.p-2
												a.text-white.text-nowrap(href="tel:5135555555") 513-555-6666
											td.p-2
												a.text-white.text-nowrap(href="mailto:dougieheidorn@gmail.com") dougieheidorn@gmail.com
											td.p-2.text-center 10
											td.p-2.text-center 10
											td.p-2.text-center
												button.btn.btn-brand-blue X
										tr
											td.pt-2.pb-2 Jen
											td.p-2 jenregister
											td.p-2
												a.text-white.text-nowrap(href="tel:5135555555") 513-555-6666
											td.p-2
												a.text-white.text-nowrap(href="mailto:jenregister@gmail.com") jenregister@gmail.com
											td.p-2.text-center 25
											td.p-2.text-center 25
											td.p-2.text-center
												button.btn.btn-brand-blue X
										tr
											td.pt-2.pb-2 jreg22
											td.p-2 bearcats03
											td.p-2
												a.text-white.text-nowrap(href="tel:5135555555") 513-555-6666
											td.p-2
												a.text-white.text-nowrap(href="mailto:jreg@gmail.com") jreg@gmail.com
											td.p-2.text-center 25
											td.p-2.text-center 25
											td.p-2.text-center
												button.btn.btn-brand-blue X
										tr
											td.pt-2.pb-2 jreg22
											td.p-2 bearcats03
											td.p-2
												a.text-white.text-nowrap(href="tel:5135555555") 513-555-6666
											td.p-2
												a.text-white.text-nowrap(href="mailto:jreg@gmail.com") jreg@gmail.com
											td.p-2.text-center 2
											td.p-2.text-center 2
											td.p-2.text-center
												button.btn.btn-brand-blue X
										tr
											td.pt-2.pb-2 jreg22
											td.p-2 bearcats03
											td.p-2
												a.text-white.text-nowrap(href="tel:5135555555") 513-555-6666
											td.p-2
												a.text-white.text-nowrap(href="mailto:jreg@gmail.com") jreg@gmail.com
											td.p-2.text-center 2
											td.p-2.text-center 2
											td.p-2.text-center
												button.btn.btn-brand-blue X
									tfoot
										tr
											td.p-2.text-white.text-right.text-uppercase.font-size-4.border-0(colspan='5') Total entries:
											td.p-2.text-center.text-white.align-middle.font-size-4 100

