extends ./includes/layout

block title
	| Premier - Sports Pools | Comissioner - Generate numbers 2

block variables
	-var currentPage = 'comissioner'

block content
	include ./includes/mixins/use
	include ./includes/mixins/cell
	include ./includes/mixins/buttons
	.container
		.row
			.col
				.tabs.text-right
					a(href="#").tabs-item Settings
					a(href="#").tabs-item Enter user picks
					a(href="#").tabs-item Roster
					a(href="#").tabs-item invite user
					a(href="#").tabs-item.active Generate numbers
		+breadcrumb('Generate numbers')
		.row.mt-4
			.col-12.col-md-7.col-lg-9.mb-2.mb-md-0
				.border.border-white.text-white.text-center.h-100.d-flex.align-items-center
					p.mb-0.w-100.p-3.font-weight-bold THANK YOU FOR USING PREMIER SPORTS POOLS.
			.col-12.col-md-5.col-lg-3
				.generator-btns
					+button('Generate numbers', 'brand-btn btn-brand-green w-100 mb-2 icon', 'click_arrow')
					+button('Pay hosting free', 'brand-btn disabled w-100 icon', 'click_arrow')
		.row
			.col
				.theme-container.mt-5
					.grid
						.grid--row
							.grid--load
								button.load#reload
									+use('reload_btn')
							.grid--title.grid--title-horisontal
								div
									h3 Green Bay
						.grid--row.grid--row-grow
							.grid--title.grid--title-vertical
								div
									h3 San Francisco
							.grid--inner
								.grid--row.grid--row-inline
									.grid--cell.grid--cell-league FNL
									.grid--cell.grid--cell-x
										div 
											span x
									.grid--cell.grid--cell-x
										div 
											span x
									.grid--cell.grid--cell-x
										div 
											span x
									.grid--cell.grid--cell-x
										div 
											span x
									.grid--cell.grid--cell-x
										div 
											span x
									.grid--cell.grid--cell-x
										div 
											span x
									.grid--cell.grid--cell-x
										div 
											span x
									.grid--cell.grid--cell-x
										div 
											span x
									.grid--cell.grid--cell-x
										div 
											span x
									.grid--cell.grid--cell-x
										div 
											span x
								.grid--row.grid--row-grow
									.grid--cell.grid--cell-x.grid--cell-vertical
										div 
											span x
									.grid--cell.grid--cell-makepick
										+defaultCell('shaw', 'Sh')
									.grid--cell.grid--cell-makepick
										+defaultCell('shaw', 'Sh')
									.grid--cell.grid--cell-makepick
										+defaultCell('shaw', 'Sh')
									.grid--cell.grid--cell-makepick
										+defaultCell('shaw', 'Sh')
									.grid--cell.grid--cell-makepick
										+defaultCell('shaw', 'Sh')
									.grid--cell.grid--cell-makepick
										+defaultCell('shaw', 'Sh')
									.grid--cell.grid--cell-makepick
										+defaultCell('shaw', 'Sh')
									.grid--cell.grid--cell-makepick
										+defaultCell('shaw', 'Sh')
									.grid--cell.grid--cell-makepick
										+defaultCell('shaw', 'Sh')
									.grid--cell.grid--cell-makepick
										+defaultCell('shaw', 'Sh')
								.grid--row.grid--row-grow
									.grid--cell.grid--cell-x.grid--cell-vertical
										div 
											span x
									.grid--cell.grid--cell-makepick
										+defaultCell('shaw', 'Sh')
									.grid--cell.grid--cell-makepick
										+defaultCell('shaw', 'Sh')
									.grid--cell.grid--cell-makepick
										+defaultCell('shaw', 'Sh')
									.grid--cell.grid--cell-makepick
										+defaultCell('Rutta', 'Rt')
									.grid--cell.grid--cell-makepick
										+defaultCell('Rutta', 'Rt')
									.grid--cell.grid--cell-makepick
										+defaultCell('Rutta', 'Rt')
									.grid--cell.grid--cell-makepick
										+defaultCell('Rutta', 'Rt')
									.grid--cell.grid--cell-makepick
										+defaultCell('JReg', 'Jr')
									.grid--cell.grid--cell-makepick
										+defaultCell('JReg', 'Jr')
									.grid--cell.grid--cell-makepick
										+defaultCell('JReg', 'Jr')
								.grid--row.grid--row-grow
									.grid--cell.grid--cell-x.grid--cell-vertical
										div 
											span x
									.grid--cell.grid--cell-makepick
										+defaultCell('shaw', 'Sh')
									.grid--cell.grid--cell-makepick
										+defaultCell('shaw', 'Sh')
									.grid--cell.grid--cell-makepick
										+defaultCell('shaw', 'Sh')
									.grid--cell.grid--cell-makepick
										+defaultCell('Rutta', 'Rt')
									.grid--cell.grid--cell-makepick
										+defaultCell('Rutta', 'Rt')
									.grid--cell.grid--cell-makepick
										+defaultCell('Rutta', 'Rt')
									.grid--cell.grid--cell-makepick
										+defaultCell('Rutta', 'Rt')
									.grid--cell.grid--cell-makepick
										+defaultCell('JReg', 'Jr')
									.grid--cell.grid--cell-makepick
										+defaultCell('JReg', 'Jr')
									.grid--cell.grid--cell-makepick
										+defaultCell('JReg', 'Jr')
								.grid--row.grid--row-grow
									.grid--cell.grid--cell-x.grid--cell-vertical
										div 
											span x
									.grid--cell.grid--cell-makepick
										+defaultCell('shaw', 'Sh')
									.grid--cell.grid--cell-makepick
										+defaultCell('shaw', 'Sh')
									.grid--cell.grid--cell-makepick
										+defaultCell('shaw', 'Sh')
									.grid--cell.grid--cell-makepick
										+defaultCell('Rutta', 'Rt')
									.grid--cell.grid--cell-makepick
										+defaultCell('Rutta', 'Rt')
									.grid--cell.grid--cell-makepick
										+defaultCell('Rutta', 'Rt')
									.grid--cell.grid--cell-makepick
										+defaultCell('Rutta', 'Rt')
									.grid--cell.grid--cell-makepick
										+defaultCell('JReg', 'Jr')
									.grid--cell.grid--cell-makepick
										+defaultCell('JReg', 'Jr')
									.grid--cell.grid--cell-makepick
										+defaultCell('JReg', 'Jr')
								.grid--row.grid--row-grow
									.grid--cell.grid--cell-x.grid--cell-vertical
										div 
											span x
									.grid--cell.grid--cell-makepick
										+defaultCell('Shaw', 'Sh')
									.grid--cell.grid--cell-makepick
										+defaultCell('shaw', 'Sh')
									.grid--cell.grid--cell-makepick
										+defaultCell('shaw', 'Sh')
									.grid--cell.grid--cell-makepick
										+defaultCell('Rutta', 'Rt')
									.grid--cell.grid--cell-makepick
										+defaultCell('Rutta', 'Rt')
									.grid--cell.grid--cell-makepick
										+defaultCell('Rutta', 'Rt')
									.grid--cell.grid--cell-makepick
										+defaultCell('Rutta', 'Rt')
									.grid--cell.grid--cell-makepick
										+defaultCell('JReg', 'Jr')
									.grid--cell.grid--cell-makepick
										+defaultCell('JReg', 'Jr')
									.grid--cell.grid--cell-makepick
										+defaultCell('JReg', 'Jr')
								.grid--row.grid--row-grow
									.grid--cell.grid--cell-x.grid--cell-vertical
										div 
											span x
									.grid--cell.grid--cell-makepick
										+defaultCell('Doug', 'Dg')
									.grid--cell.grid--cell-makepick
										+defaultCell('Shaw', 'Sh')
									.grid--cell.grid--cell-makepick
										+defaultCell('Doug', 'Dg')
									.grid--cell.grid--cell-makepick
										+defaultCell('Rutta', 'Rt')
									.grid--cell.grid--cell-makepick
										+defaultCell('Rutta', 'Rt')
									.grid--cell.grid--cell-makepick
										+defaultCell('Rutta', 'Rt')
									.grid--cell.grid--cell-makepick
										+defaultCell('Rutta', 'Rt')
									.grid--cell.grid--cell-makepick
										+defaultCell('JReg', 'Jr')
									.grid--cell.grid--cell-makepick
										+defaultCell('JReg', 'Jr')
									.grid--cell.grid--cell-makepick
										+defaultCell('JReg', 'Jr')
								.grid--row.grid--row-grow
									.grid--cell.grid--cell-x.grid--cell-vertical
										div 
											span x
									.grid--cell.grid--cell-makepick
										+defaultCell('Doug', 'Dg')
									.grid--cell.grid--cell-makepick
										+defaultCell('Doug', 'Dg')
									.grid--cell.grid--cell-makepick
										+defaultCell('Doug', 'Dg')
									.grid--cell.grid--cell-makepick
										+defaultCell('Rutta', 'Rt')
									.grid--cell.grid--cell-makepick
										+defaultCell('Rutta', 'Rt')
									.grid--cell.grid--cell-makepick
										+defaultCell('Shaw', 'Sh')
									.grid--cell.grid--cell-makepick
										+defaultCell('Shaw', 'Sh')
									.grid--cell.grid--cell-makepick
										+defaultCell('Shaw', 'Sh')
									.grid--cell.grid--cell-makepick
										+defaultCell('Shaw', 'Sh')
									.grid--cell.grid--cell-makepick
										+defaultCell('Shaw', 'Sh')
								.grid--row.grid--row-grow
									.grid--cell.grid--cell-x.grid--cell-vertical
										div 
											span x
									.grid--cell.grid--cell-makepick
										+defaultCell('Shaw', 'Sh')
									.grid--cell.grid--cell-makepick
										+defaultCell('Shaw', 'Sh')
									.grid--cell.grid--cell-makepick
										+defaultCell('Shaw', 'Sh')
									.grid--cell.grid--cell-makepick
										+defaultCell('Shaw', 'Sh')
									.grid--cell.grid--cell-makepick
										+defaultCell('Shaw', 'Sh')
									.grid--cell.grid--cell-makepick
										+defaultCell('Shaw', 'Sh')
									.grid--cell.grid--cell-makepick
										+defaultCell('Shaw', 'Sh')
									.grid--cell.grid--cell-makepick
										+defaultCell('Shaw', 'Sh')
									.grid--cell.grid--cell-makepick
										+defaultCell('Brynn', 'Br')
									.grid--cell.grid--cell-makepick
										+defaultCell('Brynn', 'Br')
								.grid--row.grid--row-grow
									.grid--cell.grid--cell-x.grid--cell-vertical
										div 
											span x
									.grid--cell.grid--cell-makepick
										+defaultCell('Shaw', 'Sh')
									.grid--cell.grid--cell-makepick
										+defaultCell('Shaw', 'Sh')
									.grid--cell.grid--cell-makepick
										+defaultCell('Shaw', 'Sh')
									.grid--cell.grid--cell-makepick
										+defaultCell('Shaw', 'Sh')
									.grid--cell.grid--cell-makepick
										+defaultCell('Shaw', 'Sh')
									.grid--cell.grid--cell-makepick
										+defaultCell('Shaw', 'Sh')
									.grid--cell.grid--cell-makepick
										+defaultCell('Shaw', 'Sh')
									.grid--cell.grid--cell-makepick
										+defaultCell('Shaw', 'Sh')
									.grid--cell.grid--cell-makepick
										+defaultCell('Shaw', 'Sh')
									.grid--cell.grid--cell-makepick
										+defaultCell('Shaw', 'Sh')
								.grid--row.grid--row-grow
									.grid--cell.grid--cell-x.grid--cell-vertical
										div 
											span x
									.grid--cell.grid--cell-makepick
										+defaultCell('Doug', 'Sh')
									.grid--cell.grid--cell-makepick
										+defaultCell('Doug', 'Sh')
									.grid--cell.grid--cell-makepick
										+defaultCell('Shaw', 'Sh')
									.grid--cell.grid--cell-makepick
										+defaultCell('Shaw', 'Sh')
									.grid--cell.grid--cell-makepick
										+defaultCell('Shaw', 'Sh')
									.grid--cell.grid--cell-makepick
										+defaultCell('Shaw', 'Sh')
									.grid--cell.grid--cell-makepick
										+defaultCell('Shaw', 'Sh')
									.grid--cell.grid--cell-makepick
										+defaultCell('Shaw', 'Sh')
									.grid--cell.grid--cell-makepick
										+defaultCell('Shaw', 'Sh')
									.grid--cell.grid--cell-makepick
										+defaultCell('Shaw', 'Sh')


