extends ./includes/layout

block title
	| Premier - Sports Pools | Grid 1

block variables
	-var currentPage = 'comissioner'

block content
	include ./includes/mixins/use
	include ./includes/mixins/cell
	include ./includes/mixins/buttons
	.container
		.row
			.col
				.tabs.text-right
					a(href="#").tabs-item.active Settings
					a(href="#").tabs-item Enter user picks
					a(href="#").tabs-item Roster
					a(href="#").tabs-item invite user
					a(href="#").tabs-item Generate numbers
		+breadcrumb('Settings')
		.row
			.col
				.card.bg-transparent.border-white.mt-5
					.card-header.brand-gradient.border-bottom.border-white
						h3.text-white.text-uppercase.mb-0 Squares pool settings
					.card-body.p-4
						form.text-brand-blue
							.form-row.border-bottom.border-brand-medgrey
								.form-group.col-12.col-md-3.col-lg-2
									label.text-uppercase(for="squares") Squares / user
									+inputNumber(1)
								.form-group.col-12.col-md-9.col-lg-5
									label.text-uppercase(for="squareboardsets") Squareboard sets
									select#squareboardsets.custom-select.text-uppercase(name="squareboardsets")
										option(value="1", selected) final score (1 number sets)
										option(value="2") option 2
										option(value="3") option 3
										option(value="4") option 4
									span.text-brand-medgrey How many number sets to generate
								.form-group.col-12.col-lg-5
									label.text-uppercase(for="winnumbers") Winning numbers
									select#winnumbers.custom-select.text-uppercase(name="winnumbers")
										option(value="1", selected) final score
										option(value="2") option 2
										option(value="3") option 3
										option(value="4") option 4
									span.text-brand-medgrey How often does a player win
							.form-row.pt-4
								.col-12.col-sm-7.col-md-6.col-lg-9
									h3.color-brand-blue.text-uppercase Rules
									ul.text-white.text-uppercase
										li Squares per user: 1
										li Numbers sets: 1
										li Number of winners: 4(Quarterly)
								.col-12.col-sm-5.col-md-6.col-lg-3.align-self-end.text-center.text-md-right
									+button('update settings', 'brand-btn btn-brand-blue icon', 'click_arrow', 'submit')


