extends ./includes/layout

block title
	| Premier - Sports Pools | Grid 1

block variables
	-var currentPage = 'grid'

block content
	include ./includes/mixins/use
	include ./includes/mixins/cell
	include ./includes/mixins/buttons
	.container
		.row
			.col
				.tabs
					a(href="#").tabs-item.active MAKE PICKS
					a(href="#").tabs-item VIEW GRID
		+breadcrumb('VIEW')
		.row
			.col
				.theme-container
					.filters
						.button-placeholder.mt-2.mt-md-0
							+button('Print grid', 'brand-btn btn-brand-blue filter-btn icon', 'click_arrow')
						.filter.checkbox.bg-brand-grey
							h3.filter-title.text-center.text-brand-blue.bg-brand-grey Highlight grow
							.filter-list
								.filter-item
									input#check1(type="checkbox", name="JReg")
									label(for="check1") JReg
								.filter-item
									input#check2(type="checkbox", name="Trav")
									label(for="check2") Trav
								.filter-item
									input#check3(type="checkbox", name="All")
									label(for="check3") All
								.filter-item
									input#check4(type="checkbox", name="Rutta")
									label(for="check4") Rutta
								.filter-item
									input#check5(type="checkbox", name="Bryan")
									label(for="check5") Bryan
								.filter-item
									input#check6(type="checkbox", name="None")
									label(for="check6") None
					.grid-layout
						.grid
							.grid--row
								.grid--load
									button.load#reload
										+use('reload_btn')
								.grid--title.grid--title-horisontal
									div
										h3 Green Bay
							.grid--row.grid--row-grow
								.grid--title.grid--title-vertical
									div
										h3 San Francisco
								.grid--inner.grid--inner-viewgrid
									.grid--row.grid--row-grow
										.grid--cell.grid--cell-viewgrid
											+cellValues(1, 2, 3, 'f', 'dark')
										.grid--cell.grid--cell-viewgrid
											+cellValues(1, 0, 3, 5)
										.grid--cell.grid--cell-viewgrid
											+cellValues(2, 9, 4, 6)
										.grid--cell.grid--cell-viewgrid
											+cellValues(3, 8, 5, 7)
										.grid--cell.grid--cell-viewgrid
											+cellValues(4, 7, 6, 8)
										.grid--cell.grid--cell-viewgrid
											+cellValues(5, 6, 7, 9)
										.grid--cell.grid--cell-viewgrid
											+cellValues(6, 5, 8, 0)
										.grid--cell.grid--cell-viewgrid
											+cellValues(7, 4, 9, 1)
										.grid--cell.grid--cell-viewgrid
											+cellValues(8, 3, 0, 2)
										.grid--cell.grid--cell-viewgrid
											+cellValues(9, 2, 1, 3)
										.grid--cell.grid--cell-viewgrid
											+cellValues(0, 1, 2, 4)
									.grid--row.grid--row-grow
										.grid--cell.grid--cell-viewgrid
											+cellValues(1, 0, 3, 5)
										.grid--cell.grid--cell-viewgrid
											+defaultCell('shaw', 'Sh')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('shaw', 'Sh')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('shaw', 'Sh')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('shaw', 'Sh')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('shaw', 'Sh')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('shaw', 'Sh')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('shaw', 'Sh')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('shaw', 'Sh')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('shaw', 'Sh')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('shaw', 'Sh')
									.grid--row.grid--row-grow
										.grid--cell.grid--cell-viewgrid
											+cellValues(2, 9, 4, 6)
										.grid--cell.grid--cell-viewgrid
											+defaultCell('shaw', 'Sh')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('shaw', 'Sh')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('shaw', 'Sh')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('Rutta', 'Rt')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('Rutta', 'Rt')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('Rutta', 'Rt')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('Rutta', 'Rt')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('JReg', 'Jr')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('JReg', 'Jr')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('JReg', 'Jr')
									.grid--row.grid--row-grow
										.grid--cell.grid--cell-viewgrid
											+cellValues(3, 8, 5, 7)
										.grid--cell.grid--cell-viewgrid
											+defaultCell('shaw', 'Sh')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('shaw', 'Sh')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('shaw', 'Sh')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('Rutta', 'Rt')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('Rutta', 'Rt')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('Rutta', 'Rt')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('Rutta', 'Rt')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('JReg', 'Jr')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('JReg', 'Jr')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('JReg', 'Jr')
									.grid--row.grid--row-grow
										.grid--cell.grid--cell-viewgrid
											+cellValues(4, 7, 6, 8)
										.grid--cell.grid--cell-viewgrid
											+defaultCell('shaw', 'Sh')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('shaw', 'Sh')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('shaw', 'Sh')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('Rutta', 'Rt')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('Rutta', 'Rt')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('Rutta', 'Rt')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('Rutta', 'Rt')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('JReg', 'Jr')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('JReg', 'Jr')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('JReg', 'Jr')
									.grid--row.grid--row-grow
										.grid--cell.grid--cell-viewgrid
											+cellValues(5, 6, 7, 9)
										.grid--cell.grid--cell-viewgrid
											+defaultCell('Shaw', 'Sh')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('shaw', 'Sh')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('shaw', 'Sh')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('Rutta', 'Rt')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('Rutta', 'Rt')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('Rutta', 'Rt')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('Rutta', 'Rt')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('JReg', 'Jr')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('JReg', 'Jr')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('JReg', 'Jr')
									.grid--row.grid--row-grow
										.grid--cell.grid--cell-viewgrid
											+cellValues(6, 5, 8, 0)
										.grid--cell.grid--cell-viewgrid
											+defaultCell('Doug', 'Dg')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('Shaw', 'Sh')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('Doug', 'Dg')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('Rutta', 'Rt')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('Rutta', 'Rt')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('Rutta', 'Rt')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('Rutta', 'Rt')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('JReg', 'Jr')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('JReg', 'Jr')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('JReg', 'Jr')
									.grid--row.grid--row-grow
										.grid--cell.grid--cell-viewgrid
											+cellValues(7, 4, 9, 1)
										.grid--cell.grid--cell-viewgrid
											+defaultCell('Doug', 'Dg')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('Doug', 'Dg')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('Shaw', 'Sh')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('Rutta', 'Rt')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('Rutta', 'Rt')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('Shaw', 'Sh')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('Shaw', 'Sh')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('Shaw', 'Sh')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('Shaw', 'Sh')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('Shaw', 'Sh')
									.grid--row.grid--row-grow
										.grid--cell.grid--cell-viewgrid
											+cellValues(8, 3, 0, 2)
										.grid--cell.grid--cell-viewgrid
											+defaultCell('Shaw', 'Sh')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('Shaw', 'Sh')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('Shaw', 'Sh')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('Shaw', 'Sh')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('Shaw', 'Sh')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('Shaw', 'Sh')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('Shaw', 'Sh')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('Shaw', 'Sh')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('Brynn', 'Br')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('Brynn', 'Br')
									.grid--row.grid--row-grow
										.grid--cell.grid--cell-viewgrid
											+cellValues(9, 2, 1, 3)
										.grid--cell.grid--cell-viewgrid
											+defaultCell('Shaw', 'Sh')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('Shaw', 'Sh')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('Shaw', 'Sh')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('Shaw', 'Sh')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('Shaw', 'Sh')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('Shaw', 'Sh')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('Shaw', 'Sh')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('Shaw', 'Sh')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('Shaw', 'Sh')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('Shaw', 'Sh')
									.grid--row.grid--row-grow
										.grid--cell.grid--cell-viewgrid
											+cellValues(0, 1, 2, 4)
										.grid--cell.grid--cell-viewgrid
											+defaultCell('Doug', 'Sh')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('Doug', 'Sh')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('Shaw', 'Sh')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('Shaw', 'Sh')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('Shaw', 'Sh')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('Shaw', 'Sh')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('Shaw', 'Sh')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('Shaw', 'Sh')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('Shaw', 'Sh')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('Shaw', 'Sh')
		.row
			.col
				.theme-container
					.chat
						.chat--header
							.chat--state
								+use('arrow_down', 'chat--svg')
								span.expand Expand
								span.collapse Collapse
							.chat--title Chat
						.chat--window
							.chat--wrapper
								.chat--list
									.chat--msg
										strong Rutta
										span Hi.
									.chat--msg
										strong Shaw
										span Hello.
									.chat--msg
										strong Doug
										span Your play.
									.chat--msg
										strong JReg
										span OK.
									.chat--msg
										strong Trav
										span My turn.
							form.chat--form
								span Type here:
								input(type="text")
								button(type="submit")
									+use('click_arrow')
