extends ./includes/layout

block title
	| Premier - Sports Pools | Grid 1

block variables
	-var currentPage = 'live'

block content
	include ./includes/mixins/use
	include ./includes/mixins/cell
	.container
		.row
			.col
				.tabs
					a(href="#").tabs-item.active MAKE PICKS
					a(href="#").tabs-item VIEW GRID
		+breadcrumb('LIVE')
		.row
			.col
				.theme-container
					.live
						.live-icon
						.live-cities
							div Green Bay
							div san Francisco
						.live-info
							table
								thead
									tr
										th 1
										th 2
										th 3
										th 4
										th T
										td
								tbody
									tr
										td 5
										td 10
										td 14
										td
										td 29
										td.large 3RD
									tr
										td 3
										td 15
										td 11
										td
										td 29
										td.large 9:24
						.live-legend
							div
								span.live-exmp.pastwinner
								span past winner
							div
								span.live-exmp.potwinner
								span potential winner
							div
								span.live-exmp.onescore
								span one-score winner
							div
								span.live-exmp.onescorepat
								span one-score winner (pat 0,2)
					.grid-layout
						.grid
							.grid--row
								.grid--load
									button.load#reload
										+use('reload_btn')
								.grid--title.grid--title-horisontal
									div
										h3 Green Bay
							.grid--row.grid--row-grow
								.grid--title.grid--title-vertical
									div
										h3 San Francisco
								.grid--inner
									.grid--row.grid--row-inline
										.grid--cell.grid--cell-league FNL
										.grid--cell.grid--cell-x
											div 
												span 1
										.grid--cell.grid--cell-x
											div 
												span 2
										.grid--cell.grid--cell-x
											div 
												span 3
										.grid--cell.grid--cell-x
											div 
												span 4
										.grid--cell.grid--cell-x
											div 
												span 5
										.grid--cell.grid--cell-x
											div 
												span 6
										.grid--cell.grid--cell-x
											div 
												span 7
										.grid--cell.grid--cell-x
											div 
												span 8
										.grid--cell.grid--cell-x
											div 
												span 9
										.grid--cell.grid--cell-x
											div 
												span 0
									.grid--row.grid--row-grow
										.grid--cell.grid--cell-x.grid--cell-vertical
											div 
												span 0
										.grid--cell.grid--cell-makepick
											+defaultCell('shaw', 'Sh')
										.grid--cell.grid--cell-makepick
											+defaultCell('shaw', 'Sh')
										.grid--cell.grid--cell-makepick
											+defaultCell('shaw', 'Sh')
										.grid--cell.grid--cell-makepick
											+defaultCell('shaw', 'Sh')
										.grid--cell.grid--cell-makepick
											+defaultCell('shaw', 'Sh')
										.grid--cell.grid--cell-makepick
											+defaultCell('shaw', 'Sh')
										.grid--cell.grid--cell-makepick
											+defaultCell('shaw', 'Sh')
										.grid--cell.grid--cell-makepick
											+defaultCell('shaw', 'Sh')
										.grid--cell.grid--cell-makepick
											+defaultCell('shaw', 'Sh')
										.grid--cell.grid--cell-makepick
											+defaultCell('shaw', 'Sh')
									.grid--row.grid--row-grow
										.grid--cell.grid--cell-x.grid--cell-vertical
											div 
												span 9
										.grid--cell.grid--cell-makepick
											+defaultCell('shaw', 'Sh')
										.grid--cell.grid--cell-makepick
											+defaultCell('shaw', 'Sh')
										.grid--cell.grid--cell-makepick
											+defaultCell('shaw', 'Sh')
										.grid--cell.grid--cell-makepick
											+defaultCell('Rutta', 'Rt')
										.grid--cell.grid--cell-makepick
											+defaultCell('Rutta', 'Rt')
										.grid--cell.grid--cell-makepick
											+defaultCell('Rutta', 'Rt')
										.grid--cell.grid--cell-makepick
											+defaultCell('Rutta', 'Rt')
										.grid--cell.grid--cell-makepick
											+defaultCell('JReg', 'Jr')
										.grid--cell.grid--cell-makepick
											+defaultCell('JReg', 'Jr')
										.grid--cell.grid--cell-makepick
											+defaultCell('JReg', 'Jr')
									.grid--row.grid--row-grow
										.grid--cell.grid--cell-x.grid--cell-vertical
											div 
												span 8
										.grid--cell.grid--cell-makepick
											+defaultCell('shaw', 'Sh')
										.grid--cell.grid--cell-makepick
											+defaultCell('shaw', 'Sh')
										.grid--cell.grid--cell-makepick
											+defaultCell('shaw', 'Sh')
										.grid--cell.grid--cell-makepick
											+defaultCell('Rutta', 'Rt')
										.grid--cell.grid--cell-makepick
											+defaultCell('Rutta', 'Rt', 'pastwinner')
										.grid--cell.grid--cell-makepick
											+defaultCell('Rutta', 'Rt', 'pastwinner')
										.grid--cell.grid--cell-makepick
											+defaultCell('Rutta', 'Rt', 'onescorepat')
										.grid--cell.grid--cell-makepick
											+defaultCell('JReg', 'Jr')
										.grid--cell.grid--cell-makepick
											+defaultCell('JReg', 'Jr')
										.grid--cell.grid--cell-makepick
											+defaultCell('JReg', 'Jr')
									.grid--row.grid--row-grow
										.grid--cell.grid--cell-x.grid--cell-vertical
											div 
												span 7
										.grid--cell.grid--cell-makepick
											+defaultCell('shaw', 'Sh')
										.grid--cell.grid--cell-makepick
											+defaultCell('shaw', 'Sh')
										.grid--cell.grid--cell-makepick
											+defaultCell('shaw', 'Sh')
										.grid--cell.grid--cell-makepick
											+defaultCell('Rutta', 'Rt')
										.grid--cell.grid--cell-makepick
											+defaultCell('Rutta', 'Rt')
										.grid--cell.grid--cell-makepick
											+defaultCell('Rutta', 'Rt')
										.grid--cell.grid--cell-makepick
											+defaultCell('Rutta', 'Rt', 'onescore')
										.grid--cell.grid--cell-makepick
											+defaultCell('JReg', 'Jr')
										.grid--cell.grid--cell-makepick
											+defaultCell('JReg', 'Jr')
										.grid--cell.grid--cell-makepick
											+defaultCell('JReg', 'Jr')
									.grid--row.grid--row-grow
										.grid--cell.grid--cell-x.grid--cell-vertical
											div 
												span 6
										.grid--cell.grid--cell-makepick
											+defaultCell('Shaw', 'Sh')
										.grid--cell.grid--cell-makepick
											+defaultCell('shaw', 'Sh')
										.grid--cell.grid--cell-makepick
											+defaultCell('shaw', 'Sh')
										.grid--cell.grid--cell-makepick
											+defaultCell('Rutta', 'Rt')
										.grid--cell.grid--cell-makepick
											+defaultCell('Rutta', 'Rt')
										.grid--cell.grid--cell-makepick
											+defaultCell('Rutta', 'Rt')
										.grid--cell.grid--cell-makepick
											+defaultCell('Rutta', 'Rt')
										.grid--cell.grid--cell-makepick
											+defaultCell('JReg', 'Jr')
										.grid--cell.grid--cell-makepick
											+defaultCell('JReg', 'Jr')
										.grid--cell.grid--cell-makepick
											+defaultCell('JReg', 'Jr')
									.grid--row.grid--row-grow
										.grid--cell.grid--cell-x.grid--cell-vertical
											div 
												span 5
										.grid--cell.grid--cell-makepick
											+defaultCell('Doug', 'Dg')
										.grid--cell.grid--cell-makepick
											+defaultCell('Shaw', 'Sh')
										.grid--cell.grid--cell-makepick
											+defaultCell('Doug', 'Dg')
										.grid--cell.grid--cell-makepick
											+defaultCell('Rutta', 'Rt')
										.grid--cell.grid--cell-makepick
											+defaultCell('Rutta', 'Rt')
										.grid--cell.grid--cell-makepick
											+defaultCell('Rutta', 'Rt')
										.grid--cell.grid--cell-makepick
											+defaultCell('Rutta', 'Rt')
										.grid--cell.grid--cell-makepick
											+defaultCell('JReg', 'Jr')
										.grid--cell.grid--cell-makepick
											+defaultCell('JReg', 'Jr')
										.grid--cell.grid--cell-makepick
											+defaultCell('JReg', 'Jr')
									.grid--row.grid--row-grow
										.grid--cell.grid--cell-x.grid--cell-vertical
											div 
												span 4
										.grid--cell.grid--cell-makepick
											+defaultCell('Doug', 'Dg')
										.grid--cell.grid--cell-makepick
											+defaultCell('Doug', 'Dg')
										.grid--cell.grid--cell-makepick
											+defaultCell('Shaw', 'Sh')
										.grid--cell.grid--cell-makepick
											+defaultCell('Rutta', 'Rt')
										.grid--cell.grid--cell-makepick
											+defaultCell('Rutta', 'Rt')
										.grid--cell.grid--cell-makepick
											+defaultCell('Shaw', 'Sh')
										.grid--cell.grid--cell-makepick
											+defaultCell('Shaw', 'Sh', 'potential')
										.grid--cell.grid--cell-makepick
											+defaultCell('Shaw', 'Sh')
										.grid--cell.grid--cell-makepick
											+defaultCell('Shaw', 'Sh')
										.grid--cell.grid--cell-makepick
											+defaultCell('Shaw', 'Sh')
									.grid--row.grid--row-grow
										.grid--cell.grid--cell-x.grid--cell-vertical
											div 
												span 3
										.grid--cell.grid--cell-makepick
											+defaultCell('Shaw', 'Sh')
										.grid--cell.grid--cell-makepick
											+defaultCell('Shaw', 'Sh')
										.grid--cell.grid--cell-makepick
											+defaultCell('Shaw', 'Sh')
										.grid--cell.grid--cell-makepick
											+defaultCell('Shaw', 'Sh')
										.grid--cell.grid--cell-makepick
											+defaultCell('Shaw', 'Sh')
										.grid--cell.grid--cell-makepick
											+defaultCell('Shaw', 'Sh')
										.grid--cell.grid--cell-makepick
											+defaultCell('Shaw', 'Sh')
										.grid--cell.grid--cell-makepick
											+defaultCell('Shaw', 'Sh')
										.grid--cell.grid--cell-makepick
											+defaultCell('Brynn', 'Br')
										.grid--cell.grid--cell-makepick
											+defaultCell('Brynn', 'Br')
									.grid--row.grid--row-grow
										.grid--cell.grid--cell-x.grid--cell-vertical
											div 
												span 2
										.grid--cell.grid--cell-makepick
											+defaultCell('Shaw', 'Sh')
										.grid--cell.grid--cell-makepick
											+defaultCell('Shaw', 'Sh')
										.grid--cell.grid--cell-makepick
											+defaultCell('Shaw', 'Sh')
										.grid--cell.grid--cell-makepick
											+defaultCell('Shaw', 'Sh')
										.grid--cell.grid--cell-makepick
											+defaultCell('Shaw', 'Sh')
										.grid--cell.grid--cell-makepick
											+defaultCell('Shaw', 'Sh')
										.grid--cell.grid--cell-makepick
											+defaultCell('Shaw', 'Sh')
										.grid--cell.grid--cell-makepick
											+defaultCell('Shaw', 'Sh')
										.grid--cell.grid--cell-makepick
											+defaultCell('Shaw', 'Sh')
										.grid--cell.grid--cell-makepick
											+defaultCell('Shaw', 'Sh')
									.grid--row.grid--row-grow
										.grid--cell.grid--cell-x.grid--cell-vertical
											div 
												span 1
										.grid--cell.grid--cell-makepick
											+defaultCell('Doug', 'Sh')
										.grid--cell.grid--cell-makepick
											+defaultCell('Doug', 'Sh')
										.grid--cell.grid--cell-makepick
											+defaultCell('Shaw', 'Sh')
										.grid--cell.grid--cell-makepick
											+defaultCell('Shaw', 'Sh')
										.grid--cell.grid--cell-makepick
											+defaultCell('Shaw', 'Sh')
										.grid--cell.grid--cell-makepick
											+defaultCell('Shaw', 'Sh')
										.grid--cell.grid--cell-makepick
											+defaultCell('Shaw', 'Sh')
										.grid--cell.grid--cell-makepick
											+defaultCell('Shaw', 'Sh')
										.grid--cell.grid--cell-makepick
											+defaultCell('Shaw', 'Sh')
										.grid--cell.grid--cell-makepick
											+defaultCell('Shaw', 'Sh')
		.row
			.col
				.theme-container
					.chat
						.chat--header
							.chat--state
								+use('arrow_down', 'chat--svg')
								span.expand Expand
								span.collapse Collapse
							.chat--title Chat
						.chat--window
							.chat--wrapper
								.chat--list
									.chat--msg
										strong Rutta
										span Hi.
									.chat--msg
										strong Shaw
										span Hello.
									.chat--msg
										strong Doug
										span Your play.
									.chat--msg
										strong JReg
										span OK.
									.chat--msg
										strong Trav
										span My turn.
							form.chat--form
								span Type here:
								input(type="text")
								button(type="submit")
									+use('click_arrow')
