extends ./includes/layout

block title
	| Premier - Sports Pools | Grid 1

block variables
	-var currentPage = 'live'

block content
	include ./includes/mixins/use
	include ./includes/mixins/cell
	include ./includes/mixins/buttons
	.container
		+breadcrumb('LIVE')
		.row
			.col
				.theme-container
					.live
						.live-icon
						.live-cities
							div Green Bay
							div san Francisco
						.live-info
							table
								thead
									tr
										th 1
										th 2
										th 3
										th 4
										th T
										td
								tbody
									tr
										td 5
										td 10
										td 14
										td
										td 29
										td.large 3RD
									tr
										td 3
										td 15
										td 11
										td
										td 29
										td.large 9:24
						.live-legend
							div
								span.live-exmp.pastwinner
								span past winner
							div
								span.live-exmp.potwinner
								span potential winner
							div
								span.live-exmp.onescore
								span one-score winner
							div
								span.live-exmp.onescorepat
								span one-score winner (pat 0,2)
					.grid-layout
						.grid
							.grid--row
								.grid--load
									button.load#reload
										+use('reload_btn')
								.grid--title.grid--title-horisontal
									div
										h3 Green Bay
							.grid--row.grid--row-grow
								.grid--title.grid--title-vertical
									div
										h3 San Francisco
								.grid--inner.grid--inner-viewgrid
									.grid--row.grid--row-grow
										.grid--cell.grid--cell-viewgrid
											+cellValues(1, 2, 3, 'f', 'dark')
										.grid--cell.grid--cell-viewgrid
											+cellValues(1, 0, 3, 5)
										.grid--cell.grid--cell-viewgrid
											+cellValues(2, 9, 4, 6)
										.grid--cell.grid--cell-viewgrid
											+cellValues(3, 8, 5, 7)
										.grid--cell.grid--cell-viewgrid
											+cellValues(4, 7, 6, 8)
										.grid--cell.grid--cell-viewgrid
											+cellValues(5, 6, 7, 9)
										.grid--cell.grid--cell-viewgrid
											+cellValues(6, 5, 8, 0)
										.grid--cell.grid--cell-viewgrid
											+cellValues(7, 4, 9, 1)
										.grid--cell.grid--cell-viewgrid
											+cellValues(8, 3, 0, 2)
										.grid--cell.grid--cell-viewgrid
											+cellValues(9, 2, 1, 3)
										.grid--cell.grid--cell-viewgrid
											+cellValues(0, 1, 2, 4)
									.grid--row.grid--row-grow
										.grid--cell.grid--cell-viewgrid
											+cellValues(1, 0, 3, 5)
										.grid--cell.grid--cell-viewgrid
											+defaultCell('shaw', 'Sh')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('shaw', 'Sh')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('shaw', 'Sh')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('shaw', 'Sh')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('shaw', 'Sh')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('shaw', 'Sh')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('shaw', 'Sh')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('shaw', 'Sh')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('shaw', 'Sh')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('shaw', 'Sh')
									.grid--row.grid--row-grow
										.grid--cell.grid--cell-viewgrid
											+cellValues(2, 9, 4, 6)
										.grid--cell.grid--cell-viewgrid
											+defaultCell('shaw', 'Sh')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('shaw', 'Sh')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('shaw', 'Sh')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('Rutta', 'Rt')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('Rutta', 'Rt')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('Rutta', 'Rt')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('Rutta', 'Rt')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('JReg', 'Jr')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('JReg', 'Jr')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('JReg', 'Jr')
									.grid--row.grid--row-grow
										.grid--cell.grid--cell-viewgrid
											+cellValues(3, 8, 5, 7)
										.grid--cell.grid--cell-viewgrid
											+defaultCell('shaw', 'Sh')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('shaw', 'Sh')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('shaw', 'Sh')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('Rutta', 'Rt')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('Rutta', 'Rt', 'pastwinner')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('Rutta', 'Rt', 'pastwinner')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('Rutta', 'Rt', 'onescorepat')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('JReg', 'Jr')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('JReg', 'Jr')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('JReg', 'Jr')
									.grid--row.grid--row-grow
										.grid--cell.grid--cell-viewgrid
											+cellValues(4, 7, 6, 8)
										.grid--cell.grid--cell-viewgrid
											+defaultCell('shaw', 'Sh')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('shaw', 'Sh')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('shaw', 'Sh')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('Rutta', 'Rt')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('Rutta', 'Rt')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('Rutta', 'Rt')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('Rutta', 'Rt', 'onescore')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('JReg', 'Jr')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('JReg', 'Jr')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('JReg', 'Jr')
									.grid--row.grid--row-grow
										.grid--cell.grid--cell-viewgrid
											+cellValues(5, 6, 7, 9)
										.grid--cell.grid--cell-viewgrid
											+defaultCell('Shaw', 'Sh')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('shaw', 'Sh')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('shaw', 'Sh')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('Rutta', 'Rt')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('Rutta', 'Rt')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('Rutta', 'Rt')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('Rutta', 'Rt')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('JReg', 'Jr')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('JReg', 'Jr')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('JReg', 'Jr')
									.grid--row.grid--row-grow
										.grid--cell.grid--cell-viewgrid
											+cellValues(6, 5, 8, 0)
										.grid--cell.grid--cell-viewgrid
											+defaultCell('Doug', 'Dg')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('Shaw', 'Sh')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('Doug', 'Dg')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('Rutta', 'Rt')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('Rutta', 'Rt')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('Rutta', 'Rt')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('Rutta', 'Rt')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('JReg', 'Jr')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('JReg', 'Jr')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('JReg', 'Jr')
									.grid--row.grid--row-grow
										.grid--cell.grid--cell-viewgrid
											+cellValues(7, 4, 9, 1)
										.grid--cell.grid--cell-viewgrid
											+defaultCell('Doug', 'Dg')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('Doug', 'Dg')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('Shaw', 'Sh')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('Rutta', 'Rt')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('Rutta', 'Rt')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('Shaw', 'Sh')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('Shaw', 'Sh', 'potential')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('Shaw', 'Sh')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('Shaw', 'Sh')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('Shaw', 'Sh')
									.grid--row.grid--row-grow
										.grid--cell.grid--cell-viewgrid
											+cellValues(8, 3, 0, 2)
										.grid--cell.grid--cell-viewgrid
											+defaultCell('Shaw', 'Sh')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('Shaw', 'Sh')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('Shaw', 'Sh')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('Shaw', 'Sh')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('Shaw', 'Sh')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('Shaw', 'Sh')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('Shaw', 'Sh')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('Shaw', 'Sh')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('Brynn', 'Br')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('Brynn', 'Br')
									.grid--row.grid--row-grow
										.grid--cell.grid--cell-viewgrid
											+cellValues(9, 2, 1, 3)
										.grid--cell.grid--cell-viewgrid
											+defaultCell('Shaw', 'Sh')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('Shaw', 'Sh')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('Shaw', 'Sh')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('Shaw', 'Sh')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('Shaw', 'Sh')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('Shaw', 'Sh')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('Shaw', 'Sh')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('Shaw', 'Sh')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('Shaw', 'Sh')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('Shaw', 'Sh')
									.grid--row.grid--row-grow
										.grid--cell.grid--cell-viewgrid
											+cellValues(0, 1, 2, 4)
										.grid--cell.grid--cell-viewgrid
											+defaultCell('Doug', 'Sh')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('Doug', 'Sh')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('Shaw', 'Sh')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('Shaw', 'Sh')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('Shaw', 'Sh')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('Shaw', 'Sh')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('Shaw', 'Sh')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('Shaw', 'Sh')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('Shaw', 'Sh')
										.grid--cell.grid--cell-viewgrid
											+defaultCell('Shaw', 'Sh')
		.row
			.col
				.theme-container
					.pag
						h3.pag-title View game by quarter:
						ul.pag-list
							li.pag-item
								a(href="#") 1
							li.pag-item
								a(href="#") 2
							li.pag-item.active
								a(href="#") 3
							li.pag-item
								a(href="#") 4
							li.pag-item.all
								a(href="#") All
		.row
			.col
				.theme-container
					.chat
						.chat--header
							.chat--state
								+use('arrow_down', 'chat--svg')
								span.expand Expand
								span.collapse Collapse
							.chat--title Chat
						.chat--window
							.chat--wrapper
								.chat--list
									.chat--msg
										strong Rutta
										span Hi.
									.chat--msg
										strong Shaw
										span Hello.
									.chat--msg
										strong Doug
										span Your play.
									.chat--msg
										strong JReg
										span OK.
									.chat--msg
										strong Trav
										span My turn.
							form.chat--form
								span Type here:
								input(type="text")
								button(type="submit")
									+use('click_arrow')
