extends ./includes/layout

block title
	| Premier - Sports Pools |  Comissioner - Results

block variables
	-var currentPage = 'results'

block content
	include ./includes/mixins/use
	include ./includes/mixins/cell
	include ./includes/mixins/buttons
	.container
		+breadcrumb('RESULTS')
		.row
			.col
				.card.bg-transparent.border-white.mt-5
					.card-header.brand-gradient.border-bottom.border-white
						h3.text-white.text-uppercase.mb-0 Roster
					.card-body.pt-3.pl-3.pr-3.pb-0
						.row
							.col.overflow-auto
								table.table.table-sm
									thead
										tr.text-uppercase.text-brand-blue
											th.border-top-0.pt-2.pb-2 User name
											th.border-top-0.p-2 Segment
											th.border-top-0.p-2 San Francisco
											th.border-top-0.p-2 Green Bay
											th.border-top-0.p-2 Square
									tbody.text-white
										tr
											td.pt-2.pb-2 Rutta11
											td.p-2 Score 1
											td.p-2 XX
											td.p-2 XX
											td.p-2.text-center X, X
										tr
											td.pt-2.pb-2 JReg
											td.p-2 Score 2
											td.p-2 XX
											td.p-2 XX
											td.p-2.text-center X, X
										tr
											td.pt-2.pb-2 Shaw
											td.p-2 Score 3
											td.p-2 XX
											td.p-2 XX
											td.p-2.text-center X, X
										tr
											td.pt-2.pb-2 JReg
											td.p-2 Score 4
											td.p-2 XX
											td.p-2 XX
											td.p-2.text-center X, X
										tr
											td.pt-2.pb-2 JReg
											td.p-2 Score 5
											td.p-2 XX
											td.p-2 XX
											td.p-2.text-center X, X
		.row
			.col
				.chat
					.chat--header
						.chat--state
							+use('arrow_down', 'chat--svg')
							span.expand Expand
							span.collapse Collapse
						.chat--title Chat
					.chat--window
						.chat--wrapper
							.chat--list
								.chat--msg
									strong Rutta
									span Hi.
								.chat--msg
									strong Shaw
									span Hello.
								.chat--msg
									strong Doug
									span Your play.
								.chat--msg
									strong JReg
									span OK.
								.chat--msg
									strong Trav
									span My turn.
						form.chat--form
							span Type here:
							input(type="text")
							button(type="submit")
								+use('click_arrow')
