extends ./includes/layout

block title
	| Premier - Sports Pools | Grid 1

block variables
	-var currentPage = 'grid'

block content
	include ./includes/mixins/use
	include ./includes/mixins/cell
	.container
		.row
			.col
				.tabs
					a(href="grid-1.html").tabs-item.active MAKE PICKS
					a(href="grid-2.html").tabs-item VIEW GRID
		+breadcrumb('MAKE PICKS')
		.row
			.col
				.theme-container
					.filters
						.filter.search
							h3.filter-title.text-left.text-brand-blue.bg-brand-grey Set display name
							input.filter-input(type="text")
							.dropdown-tip.bg-brand-lightgrey
								a(href="#", tabindex="-1") JReg
								a(href="#", tabindex="-1") Rutta
								a(href="#", tabindex="-1") Trav
								a(href="#", tabindex="-1") Brynn
						.filter.search
							h3.filter-title.text-left.text-brand-blue.bg-brand-grey Short name
							input.filter-input(type="text")
							.dropdown-tip.bg-brand-lightgrey
								a(href="#", tabindex="-1") JReg
								a(href="#", tabindex="-1") Rutta
								a(href="#", tabindex="-1") Trav
								a(href="#", tabindex="-1") Brynn
						.filter.checkbox.bg-brand-grey
							h3.filter-title.text-center.text-brand-blue.bg-brand-grey Highlight grow
							.filter-list
								.filter-item
									input#check1(type="checkbox", name="JReg")
									label(for="check1") JReg
								.filter-item
									input#check2(type="checkbox", name="Trav")
									label(for="check2") Trav
								.filter-item
									input#check3(type="checkbox", name="All")
									label(for="check3") All
								.filter-item
									input#check4(type="checkbox", name="Rutta")
									label(for="check4") Rutta
								.filter-item
									input#check5(type="checkbox", name="Bryan")
									label(for="check5") Bryan
								.filter-item
									input#check6(type="checkbox", name="None")
									label(for="check6") None
					.grid-layout
						.grid
							.grid--row
								.grid--load
									button.load#reload
										+use('reload_btn')
								.grid--title.grid--title-horisontal
									div
										h3 Green Bay
							.grid--row.grid--row-grow
								.grid--title.grid--title-vertical
									div
										h3 San Francisco
								.grid--inner
									.grid--row.grid--row-inline
										.grid--cell.grid--cell-league FNL
										.grid--cell.grid--cell-x
											div 
												span x
										.grid--cell.grid--cell-x
											div 
												span x
										.grid--cell.grid--cell-x
											div 
												span x
										.grid--cell.grid--cell-x
											div 
												span x
										.grid--cell.grid--cell-x
											div 
												span x
										.grid--cell.grid--cell-x
											div 
												span x
										.grid--cell.grid--cell-x
											div 
												span x
										.grid--cell.grid--cell-x
											div 
												span x
										.grid--cell.grid--cell-x
											div 
												span x
										.grid--cell.grid--cell-x
											div 
												span x
									.grid--row.grid--row-grow
										.grid--cell.grid--cell-x.grid--cell-vertical
											div 
												span x
										.grid--cell.grid--cell-makepick
											+defaultCell('shaw', 'Sh')
										.grid--cell.grid--cell-makepick
											+defaultCell('shaw', 'Sh')
										.grid--cell.grid--cell-makepick
											+defaultCell('shaw', 'Sh')
										.grid--cell.grid--cell-makepick
											+defaultCell('shaw', 'Sh')
										.grid--cell.grid--cell-makepick
											+defaultCell('shaw', 'Sh')
										.grid--cell.grid--cell-makepick
											+defaultCell('shaw', 'Sh')
										.grid--cell.grid--cell-makepick
											+defaultCell('shaw', 'Sh')
										.grid--cell.grid--cell-makepick
											+defaultCell('shaw', 'Sh')
										.grid--cell.grid--cell-makepick
											+defaultCell('shaw', 'Sh')
										.grid--cell.grid--cell-makepick
											+defaultCell('shaw', 'Sh')
									.grid--row.grid--row-grow
										.grid--cell.grid--cell-x.grid--cell-vertical
											div 
												span x
										.grid--cell.grid--cell-makepick
											+defaultCell('shaw', 'Sh')
										.grid--cell.grid--cell-makepick
											+defaultCell('shaw', 'Sh')
										.grid--cell.grid--cell-makepick
											+defaultCell('shaw', 'Sh')
										.grid--cell.grid--cell-makepick
											+defaultCell('Rutta', 'Rt')
										.grid--cell.grid--cell-makepick
											+defaultCell('Rutta', 'Rt')
										.grid--cell.grid--cell-makepick
											+defaultCell('Rutta', 'Rt')
										.grid--cell.grid--cell-makepick
											+defaultCell('Rutta', 'Rt')
										.grid--cell.grid--cell-makepick
											+defaultCell('JReg', 'Jr', 'blue')
										.grid--cell.grid--cell-makepick
											+defaultCell('JReg', 'Jr', 'blue')
										.grid--cell.grid--cell-makepick
											+defaultCell('JReg', 'Jr', 'blue')
									.grid--row.grid--row-grow
										.grid--cell.grid--cell-x.grid--cell-vertical
											div 
												span x
										.grid--cell.grid--cell-makepick
											+defaultCell('shaw', 'Sh')
										.grid--cell.grid--cell-makepick
											+defaultCell('shaw', 'Sh')
										.grid--cell.grid--cell-makepick
											+defaultCell('shaw', 'Sh')
										.grid--cell.grid--cell-makepick
											+defaultCell('Rutta', 'Rt')
										.grid--cell.grid--cell-makepick
											+defaultCell('Rutta', 'Rt')
										.grid--cell.grid--cell-makepick
											+defaultCell('Rutta', 'Rt')
										.grid--cell.grid--cell-makepick
											+defaultCell('Rutta', 'Rt')
										.grid--cell.grid--cell-makepick
											+defaultCell('JReg', 'Jr', 'blue')
										.grid--cell.grid--cell-makepick
											+defaultCell('JReg', 'Jr', 'blue')
										.grid--cell.grid--cell-makepick
											+defaultCell('JReg', 'Jr', 'blue')
									.grid--row.grid--row-grow
										.grid--cell.grid--cell-x.grid--cell-vertical
											div 
												span x
										.grid--cell.grid--cell-makepick
											+defaultCell('shaw', 'Sh')
										.grid--cell.grid--cell-makepick
											+defaultCell('shaw', 'Sh')
										.grid--cell.grid--cell-makepick
											+defaultCell('shaw', 'Sh')
										.grid--cell.grid--cell-makepick
											+defaultCell('Rutta', 'Rt')
										.grid--cell.grid--cell-makepick
											+defaultCell('Rutta', 'Rt')
										.grid--cell.grid--cell-makepick
											+defaultCell('Rutta', 'Rt')
										.grid--cell.grid--cell-makepick
											+defaultCell('Rutta', 'Rt')
										.grid--cell.grid--cell-makepick
											+defaultCell('JReg', 'Jr', 'blue')
										.grid--cell.grid--cell-makepick
											+defaultCell('JReg', 'Jr', 'blue')
										.grid--cell.grid--cell-makepick
											+defaultCell('JReg', 'Jr', 'blue')
									.grid--row.grid--row-grow
										.grid--cell.grid--cell-x.grid--cell-vertical
											div 
												span x
										.grid--cell.grid--cell-makepick
											.cell.cell-empty
										.grid--cell.grid--cell-makepick
											+defaultCell('shaw', 'Sh')
										.grid--cell.grid--cell-makepick
											+defaultCell('shaw', 'Sh')
										.grid--cell.grid--cell-makepick
											+defaultCell('Rutta', 'Rt')
										.grid--cell.grid--cell-makepick
											+defaultCell('Rutta', 'Rt')
										.grid--cell.grid--cell-makepick
											+defaultCell('Rutta', 'Rt')
										.grid--cell.grid--cell-makepick
											+defaultCell('Rutta', 'Rt')
										.grid--cell.grid--cell-makepick
											+defaultCell('JReg', 'Jr', 'blue')
										.grid--cell.grid--cell-makepick
											+defaultCell('JReg', 'Jr', 'blue')
										.grid--cell.grid--cell-makepick
											+defaultCell('JReg', 'Jr', 'blue')
									.grid--row.grid--row-grow
										.grid--cell.grid--cell-x.grid--cell-vertical
											div 
												span x
										.grid--cell.grid--cell-makepick
											+defaultCell('Doug', 'Dg')
										.grid--cell.grid--cell-makepick
											.cell.cell-empty
										.grid--cell.grid--cell-makepick
											+defaultCell('Doug', 'Dg')
										.grid--cell.grid--cell-makepick
											+defaultCell('Rutta', 'Rt')
										.grid--cell.grid--cell-makepick
											+defaultCell('Rutta', 'Rt')
										.grid--cell.grid--cell-makepick
											+defaultCell('Rutta', 'Rt')
										.grid--cell.grid--cell-makepick
											+defaultCell('Rutta', 'Rt')
										.grid--cell.grid--cell-makepick
											+defaultCell('JReg', 'Jr', 'blue')
										.grid--cell.grid--cell-makepick
											+defaultCell('JReg', 'Jr', 'blue')
										.grid--cell.grid--cell-makepick
											+defaultCell('JReg', 'Jr', 'blue')
									.grid--row.grid--row-grow
										.grid--cell.grid--cell-x.grid--cell-vertical
											div 
												span x
										.grid--cell.grid--cell-makepick
											+defaultCell('Doug', 'Dg')
										.grid--cell.grid--cell-makepick
											+defaultCell('Doug', 'Dg')
										.grid--cell.grid--cell-makepick
											.cell.cell-empty
										.grid--cell.grid--cell-makepick
											+defaultCell('Rutta', 'Rt')
										.grid--cell.grid--cell-makepick
											+defaultCell('Rutta', 'Rt')
										.grid--cell.grid--cell-makepick
											+defaultCell('Shaw', 'Sh')
										.grid--cell.grid--cell-makepick
											+defaultCell('Shaw', 'Sh')
										.grid--cell.grid--cell-makepick
											+defaultCell('Shaw', 'Sh')
										.grid--cell.grid--cell-makepick
											+defaultCell('Shaw', 'Sh')
										.grid--cell.grid--cell-makepick
											+defaultCell('Shaw', 'Sh')
									.grid--row.grid--row-grow
										.grid--cell.grid--cell-x.grid--cell-vertical
											div 
												span x
										.grid--cell.grid--cell-makepick
											.cell.cell-empty
										.grid--cell.grid--cell-makepick
											.cell.cell-empty
										.grid--cell.grid--cell-makepick
											.cell.cell-empty
										.grid--cell.grid--cell-makepick
											.cell.cell-empty
										.grid--cell.grid--cell-makepick
											+defaultCell('Shaw', 'Sh')
										.grid--cell.grid--cell-makepick
											+defaultCell('Shaw', 'Sh')
										.grid--cell.grid--cell-makepick
											+defaultCell('Shaw', 'Sh')
										.grid--cell.grid--cell-makepick
											+defaultCell('Shaw', 'Sh')
										.grid--cell.grid--cell-makepick
											+defaultCell('Brynn', 'Br')
										.grid--cell.grid--cell-makepick
											+defaultCell('Brynn', 'Br')
									.grid--row.grid--row-grow
										.grid--cell.grid--cell-x.grid--cell-vertical
											div 
												span x
										.grid--cell.grid--cell-makepick
											.cell.cell-empty
										.grid--cell.grid--cell-makepick
											.cell.cell-empty
										.grid--cell.grid--cell-makepick
											.cell.cell-empty
										.grid--cell.grid--cell-makepick
											+defaultCell('Shaw', 'Sh')
										.grid--cell.grid--cell-makepick
											+defaultCell('Shaw', 'Sh')
										.grid--cell.grid--cell-makepick
											+defaultCell('Shaw', 'Sh')
										.grid--cell.grid--cell-makepick
											+defaultCell('Shaw', 'Sh')
										.grid--cell.grid--cell-makepick
											+defaultCell('Shaw', 'Sh')
										.grid--cell.grid--cell-makepick
											+defaultCell('Shaw', 'Sh')
										.grid--cell.grid--cell-makepick
											+defaultCell('Shaw', 'Sh')
									.grid--row.grid--row-grow
										.grid--cell.grid--cell-x.grid--cell-vertical
											div 
												span x
										.grid--cell.grid--cell-makepick
											+defaultCell('Doug', 'Sh')
										.grid--cell.grid--cell-makepick
											+defaultCell('Doug', 'Sh')
										.grid--cell.grid--cell-makepick
											+defaultCell('Shaw', 'Sh')
										.grid--cell.grid--cell-makepick
											+defaultCell('Shaw', 'Sh')
										.grid--cell.grid--cell-makepick
											+defaultCell('Shaw', 'Sh')
										.grid--cell.grid--cell-makepick
											+defaultCell('Shaw', 'Sh')
										.grid--cell.grid--cell-makepick
											+defaultCell('Shaw', 'Sh')
										.grid--cell.grid--cell-makepick
											+defaultCell('Shaw', 'Sh')
										.grid--cell.grid--cell-makepick
											+defaultCell('Shaw', 'Sh')
										.grid--cell.grid--cell-makepick
											+defaultCell('Shaw', 'Sh')
		.row
			.col
				.theme-container
					.chat
						.chat--header
							.chat--state
								+use('arrow_down', 'chat--svg')
								span.expand Expand
								span.collapse Collapse
							.chat--title Chat
						.chat--window
							.chat--wrapper
								.chat--list
									.chat--msg
										strong Rutta
										span Hi.
									.chat--msg
										strong Shaw
										span Hello.
									.chat--msg
										strong Doug
										span Your play.
									.chat--msg
										strong JReg
										span OK.
									.chat--msg
										strong Trav
										span My turn.
							form.chat--form
								span Type here:
								input(type="text")
								button(type="submit")
									+use('click_arrow')
