extends ./includes/layout

block title
	| INDEX

block content
	ul
		-var i = 1
		while i <= 5
			li
				a(href="grid-" + i + ".html") Сетка #{i++}
	ul
		-var i = 1
		while i <= 9
			li
				a(href="comissioner-" + i + ".html") Страница № #{i++}
