<template>
	<div :class="getAnswerClass">
		<div v-if="libraryOpen">
			<div class="card-header">
				<h5 class="card-title" style="font-size: 16px;">Image Library</h5>
			</div>
			<div class="card-body" style="background:#fffcd4;">
				<LibraryContainer @select-file="pickImage"> </LibraryContainer>
			</div>
		</div>

		<div class="card" v-show="!libraryOpen">
			<img class="card-img-top" :src="localAnswer.img_url"  v-if="!editing">
			<div class="card-header  d-flex justify-content-between">

				<h5 class="card-title" style="font-size: 16px;"> <span v-html="hasImage" class=""></span> {{answer.answer}} <span v-html="getProductCountText"></span></h5>
				<div class="">
					<div class="btn-group btn-group-sm" role="group">
						<template v-if="!editing">
							<button class="btn btn-warning" @click="editing=true">Edit</button>
						</template>
						<template v-else>
							<button class="btn btn-success" @click="updateAnswer">Update</button>
							<button @click="cancelEdit" class="btn btn-default btn-small">Cancel</button>
						</template>
					</div>
				</div>
			</div>
			<div class="card-body" style="background:#fffcd4;">
				<div v-if="editing && answer">
					<div class="row">
						<div class="col-md-6">
							<div class="mb-3">
								<label for="" class="form-label">Answer</label>
								<textarea class="form-control" v-model="localAnswer.answer"></textarea>
							</div>

							<div class="mb-3">
								<div class="row">
									<div class="col-md-3">
										<img :src="localAnswer.img_url" alt="" style="width: 100%;">
									</div>
									<div class="col-md-9">
										<label for="" class="form-label">Icon Url</label>
										<div class="input-group mb-3">
											<input type="text" v-model="localAnswer.img_url" class="form-control">
											<button @click="openLibrary" class="btn btn-outline-secondary" type="button">Choose</button>
										</div>
									</div>
								</div>
							</div>
							<div class="mb-3">
								<label for="" class="form-label">Tags</label>
								<textarea class="form-control" v-model="localAnswer.tags"></textarea>
								<div class="help-block">Separate by comma</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="mb-3">
								<label for="" class="form-label">Description</label>
								<textarea class="form-control" v-model="localAnswer.description"></textarea>
							</div>

							<div class="mb-3">
								<label for="" class="form-label">FB Params</label>
								<textarea class="form-control" v-model="localAnswer.fb_params"></textarea>
								<div class="help-block">See FB Doc</div>
							</div>
							<div class="mb-3">
								<label for="" class="form-label">Google Analytics</label>
								<textarea class="form-control" v-model="localAnswer.google_params"></textarea>
								<div class="help-block">See Google Ads Doc</div>
							</div>
						</div>
					</div>


					<div class="row">
						<h5>Products</h5>
						<div class="col-md-12">
							<div class="skusContainer">
								<sku-item
									:sku="sku" v-for="sku in getAnswerSkus"
									:key="'itm-'+sku.sku"
									@remove-sku="removeSku(sku)"
								></sku-item>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-12">
							<h4>Available Products</h4>
							<products
								:products.sync="products"
								:answer-skus.sync="getAnswerSkus"
								@add-sku="addSku"></products>
						</div>
					</div>
				</div>
				<div v-else>
					<p v-html="answer.description"></p>
				</div>
			</div>
			<div class="card-footer" v-if="editing">
				<div class="">
					<button class="btn btn-success btn-xs" @click="updateAnswer">Update</button> <button @click="cancelEdit" class="btn btn-default btn-small">Cancel</button>
				</div>
			</div>
		</div>
	</div>
</template>


<script>

import SkuItem from "./SkuItem.vue";
import Products from "./Product/Products.vue";
import LibraryContainer from "../../../Library/LibraryContainer.vue";

export default {
	name : "AnswerItem",
	data() {
		return {
			libraryOpen : false,
			currentAnswerId : null,
			editing : false,
			localAnswer : {
				id : this.answer.id,
				answer : this.answer.answer,
				description : this.answer.description,
				img_url : this.answer.img_url,
				goto : this.answer.goto,
				skus : (Array.isArray(this.answer.skus)) ? this.answer.skus : [],
				tags : this.answer.tags,
				fb_params : this.answer.fb_params,
				google_params : this.answer.google_params,
			}
		}
	},
	created() {
		this.$set(this.localAnswer, "id", this.answer.id);
		this.$set(this.localAnswer, "answer", this.answer.answer);
		this.$set(this.localAnswer, "description", this.answer.description);
		this.$set(this.localAnswer, "img_url", this.answer.img_url);
		this.$set(this.localAnswer, "goto", this.answer.goto);
		// this.$set(this.localAnswer, "skus", this.answer.skus);
		this.$set(this.localAnswer, "tags", this.answer.tags);
		this.$set(this.localAnswer, "fb_params", this.answer.fb_params);
		this.$set(this.localAnswer, "google_params", this.answer.google_params);
	},
	components: {
		LibraryContainer,
		Products,
		SkuItem


	},
	props: ["answer", "products"],
	computed : {
		getAnswerClass : function(){
			return (this.libraryOpen || this.editing) ? 'col-md-12' : 'col-md-4';
		},
		hasImage : function(){
			return (this.answer.img_url !== '#' && this.answer.img_url !== '') ? "[img]"	: "";
		},
		getAnswerSkus : function(){
			return (Array.isArray(this.answer.skus)) ? this.answer.skus : [];
		},
		getProductCountText : function(){
			let l = (this.answer.skus.length) ? this.answer.skus.length : 0;
			let p =  (l > 1) ? " Products" : " Product";
			let c =  (l > 1) ? "text-success" : " text-danger";
			return "<span class='"+c+"'>(<strong>"+l+"</strong> "+p+")</span>";
		}
	},
	methods : {
		openLibrary : function(){
			this.libraryOpen = true;
		},
		pickImage : function(path){
			this.localAnswer.img_url = path;
			this.libraryOpen = false;
		},
		updateAnswer : function(){
			this.editing = false;
			this.$emit('update-answer', this.localAnswer);
		},
		cancelEdit : function(){
			// this.$set(this.localAnswer, "answer", this.answer.answer);
			// this.$set(this.localAnswer, "description", this.answer.description);
			// this.$set(this.localAnswer, "icon_url", this.answer.icon_url);
			// this.$set(this.localAnswer, "type", this.answer.type);
			// this.$set(this.localAnswer, "required", this.answer.required);
			// this.$set(this.localAnswer, "fb_params", this.answer.fb_params);
			// this.$set(this.localAnswer, "google_params", this.answer.google_params);
			this.editing = false;
		},
		addSku : function(product){
			let localProduct = {
				sku : product.sku,
				name : product.name,
				image : product.image,
				url : product.url
			};
			this.localAnswer.skus.push(localProduct);
		},
		removeSku : function(sku){

			let idx = (sku) => {
					let i = 0;
					while (i < this.localAnswer.skus.length) {
						if (this.localAnswer.skus[i].sku == sku.sku) {
							return i;
						}
						i++
					}
					return -1
				}
			this.localAnswer.skus.splice(idx(sku), 1);
		}

	}
};
</script>