<template>

	<div class="skuItem">
		<div class="skuImage">
			<img style="width:100%;height: 100%;" :src="sku.image" alt="">
		</div>
		<div class="skuDescription">
			<div style="overflow: hidden;width:100%;font-size: 0.7em;padding:3px;">
				<span v-html="getSkuName"></span><br>
				<span v-html="sku.sku"></span>
			</div>
		</div>
		<div class="skuRemove pointer text-center" @click="removeSku" >
			X
		</div>
	</div>
</template>


<script>
export default {
	name : "SkuItem",
	data() {
		return {

		}
	},
	mounted() {

	},
	created() {

	},
	components: {


	},
	props: ["sku"],
	computed : {
		getSkuName : function(){
			return this.sku.name;
		}
	},
	methods : {
		removeSku : function(){
			this.$emit('remove-sku', this.sku);
		}
	}
};
</script>