<template>
  <transition name="modal-fade">
    <div class="modal-backdrop">
      <div class="modal"
        role="dialog"
        aria-labelledby="modalTitle"
        aria-describedby="modalDescription"
      >
        <header
          class="modal-header"
          id="modalTitle"
        >
          <slot name="header">
            Add New Group
          </slot>
          <button
            type="button"
            class="btn-close"
            @click="close"
            aria-label="Close modal"
          >
            x
          </button>
        </header>

        <section
          class="modal-body"
          id="modalDescription"
        >
          <slot name="body">
                <label>Group Name</label>
                <input type="text" id="group_name" v-model="group_name" />

                <label>Group Color</label><br/>
                <color-picker v-model="color"></color-picker>
          </slot>
        </section>

        <footer class="modal-footer">
          <slot name="footer">
          </slot>
          <button
            type="button"
            class="btn btn-green"
            @click="save"
            aria-label="Close modal"
          >
            Save
          </button>
        </footer>
      </div>
    </div>
  </transition>
</template>

<script>
    // import { ColorPicker } from "vue-accessible-color-picker";
    import {ColorPicker, ColorPanel} from 'one-colorpicker'

    Vue.use(ColorPanel)
    Vue.use(ColorPicker)
 
  export default {
    name: 'AddModal',
    data() {
        return {
            group_name : '',
            color : ''
        }
    },
    methods: {
        close() {
            this.$emit('close');
        },
        save() {
            if(this.group_name == '') {
                alert('Please enter group name');
                return;
            }
            this.$emit('add-new', this.group_name, this.color);
            this.close();
        }
    },
    components: {
        // ColorPicker,
    },
  };
</script>

<style scoped>
  .modal-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal {
    background: #FFFFFF;
    box-shadow: 2px 2px 10px 1px;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 585px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
  }

  .modal-header,
  .modal-footer {
    padding: 15px;
    display: flex;
  }

  .modal-header {
    position: relative;
    border-bottom: 1px solid #eeeeee;
    color: #4AAE9B;
    justify-content: space-between;
  }

  .modal-footer {
    border-top: 1px solid #eeeeee;
    flex-direction: column;
  }

  .modal-body {
    position: relative;
    padding: 20px 16px;
  }

  .btn-close {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    color: #4AAE9B;
    background: transparent;
  }

  .btn-green {
    color: white;
    background: #4AAE9B;
    border: 1px solid #4AAE9B;
    border-radius: 2px;
  }

  .modal-fade-enter,
  .modal-fade-leave-to {
    opacity: 0;
  }

  .modal-fade-enter-active,
  .modal-fade-leave-active {
    transition: opacity .3s ease;
  }

  #group_name {
        width: 100%;
        border: solid 1px #ccc;
        height: 30px;
        margin-bottom: 6px;
  }

  label {
    color: #666;
  }
</style>
