<template>
    <div>
        <table class="table table-striped">
            <thead> 
                <tr id="select_friend_action_wrapper">
                    <th colspan="2">

                        <label style="margin: 8px;">With Checked: </label>
                        <div style="display: flex;">
                            <div> 
                                <select @change="onSelectType(actionType)" v-model="actionType" class="form-control select_friend_action">
                                    <option v-for="item in sortOptions" :value="item.value">{{item.text}}</option>
                                </select>
                            </div>
                            <div>
                                <multi-select 
                                    :options="options"
                                    :selected-options="items"
                                    placeholder="select group"
                                    @select="onSelect">
                                </multi-select> 
                            </div>
                            <div v-if="isApply">
                                <button id="btn_bulk_update" class="btn btn-danger btn-action-update" @click="saveGroup()">
                                    <i class="fa fa-save"></i> Apply
                                </button>
                            </div>
                        </div>
                    </th>
                </tr>
            </thead>
        </table> 
    </div>
</template>

<script>
    import _ from 'lodash'
    import { MultiSelect } from 'vue-search-select'
    import 'vue-search-select/dist/VueSearchSelect.css'
 
    export default {
        props: [
            "groups" 
        ],
        data () {
            return { 
                options: [],
                searchText: '',  
                items: [],
                lastSelectItem: {},
                actionType: 'add',
                sortOptions: [
                    { text: 'Add to Group', value: 'add' },
                    { text: 'Remove from Group', value: 'remove' },
                    { text: 'Delete', value: 'delete' }
                ],
                // isModalVisible :false,
                isApply :false
            }
        },
        mounted(){ 
            this.groups.forEach(group => {
                this.options.push({value:group.id, text:group.name})
            });
            this.options.push({value:'add_new', text:'Add New'})
        },
        watch:{
            groups() {
                this.options = [];
                this.groups.forEach(group => {
                    this.options.push({value:group.id, text:group.name})
                });
                this.options.push({value:'add_new', text:'Add New'})
            },
            items() {
                this.onSelectType (this.actionType)
                // if(item == 'delete') this.isApply = true;
                // this.isApply = this.items.length > 0 ? true : false;
            }
        },
        methods: {
            onSelect (items, lastSelectItem) {
                console.log(items, lastSelectItem)
                if(lastSelectItem.value == 'add_new') {
                    // this.showModal();
                    console.log('add_new is click')
                    this.$emit('show-modal')
                } else {
                    this.items = items
                    this.lastSelectItem = lastSelectItem
                }
            },
            reset () {
                this.items = [] // reset
            },
            // select option from parent component
            selectFromParentComponent () {
                this.items = _.unionWith(this.items, [this.options[0]], _.isEqual)
            },
            onSelectType (item) {
                console.log(item);
                if(item == 'delete') this.isApply = true;
                else {
                    this.isApply = this.items.length > 0 ? true : false;
                }
            }, 
                
            saveGroup : function(){ 
                let type  = this.actionType;
                let group = this.items;
                this.$emit('save-group', type, group);

            },
            addNew : function(name, color) { 
                this.$emit('add-new', name, color)
            }
        },
        components: {
            MultiSelect
        }
    }
</script>