<template>
    <div class="col-md-12 filter-container">
        <form id="userListForm" action="/admin/friend" method="get"> 
            <div class="row">
                <div class="col-md-12 d-flex">
                    <div class="filter-label">
                        <h6>Toggle Filter</h6>
                        <i @click="showModal()" class="fa fa-plus btn-add-group"></i>
                    </div>

                    <button :class="'btn btn-default group-filter-btn ' + activeButton('all')" type="button" @click="filterTable('all')"> All </button>

                    <button 
                        v-for="group in groups" 
                        :key="group.id"
                        type="button" 
                        :class="'btn btn-default group-filter-btn ' + activeButton(group.id)" 
                        :style="'color:white; background-color:'+group.color"
                        @click="filterTable(group.id)"
                        > 
                        {{group.name}}
                    </button>

                </div>
            </div>
        </form>
    </div>
</template>

    
<script>

    export default {
        name : "FilterButton",
        components: { 
        },
        data: function () {
            return { 
                active_id : 'all'
            }
        },
        mounted(){ 
        },
        props: [
            "groups" 
        ],
        computed : {  
        },
        methods : {
            filterTable(group_id) {
                console.log(group_id)
                this.active_id = group_id;
                this.$emit('filter-table', group_id);
            },
            
            activeButton: function(id) {
                if(id == this.active_id) return 'btn-active';
                else return '';
            },

            showModal : function() { 
                this.$emit('show-modal')
            }
        }
    };
</script>
