<template>
    <div>
        <div class="col-md-12  p-2">
            <div v-html="message"></div>
        </div>
        <div class="block">
            <div class="block-content">
                <div class="row">
                    <filter-button 
                        :groups="user_groups" 
                        @show-modal="showModal"
                        @filter-table="filterTable">
                    </filter-button>
                    <group-table :users="filter_users"></group-table>
                    <bottom-action 
                        :groups="user_groups"
                        @save-group="saveGroup"
                        @add-new="addNew"
                        @show-modal="showModal"
                    >
                    </bottom-action>
                    <AddModal
                        v-show="isModalVisible"
                        @close="closeModal"
                        @add-new="addNew"
                    />
                </div> 
            </div>
        </div>
    </div>
</template>

    
<script>
    import FilterButton from "./FilterButton"
    import GroupTable from "./GroupTable"
    import BottomActionContainer from "./BottomActionContainer"
    import AddModal from './AddModal.vue';

    export default {
        name : "FriendContainer",
        components: { 
            'filter-button' : FilterButton,
            'group-table' : GroupTable,
            'bottom-action' : BottomActionContainer,
            AddModal
        },
        data: function () {
            return { 
                user_groups : [],
                filter_users : [],
                message: '',
                isModalVisible :false,
            }
        },
        mounted(){ 
            this.user_groups = this.groups;
            this.filter_users = this.users;
        },
        props: [
            "users",
            "groups" 
        ],
        computed : { 
        },
        methods : {
            
            saveGroup : function(type, groups){ 
                this.$emit('save-group', type, groups);
            },
            addNew : function(name, color) {
                console.log('addNew=>', name, color);

                let _token = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
                let url ='/user/friends/group-add';
                axios.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest';

                axios.post(url, {
                    name : name,
                    color : color,
                    _token : _token,
                }).then((response) => {
                    if(response.data.error){
                        let messageText="";
                        response.data.messages.forEach(function(err){
                            messageText += "<div class=' p-3 m-0 alert-"+err.type+"'>"+err.message+"</div>";
                        }); 
                        this.message = messageText;
                    } else {
                        let newGroup = response.data.group; 
                        this.user_groups.push(newGroup);
                        this.message = '<div class="alert alert-info p3">'+response.data.message.message+'</div>';
                    }
                }, (error) => { 
                    alert(error);
                }); 
            }, 
            filterTable : function(group_id) {
                console.log('filterTable=>', group_id);
                if(group_id == 'all') this.filter_users = this.users;
                else {
                    // this.filter_users = this.users.filter(user => user.groups.id == group_id);
                    this.filter_users = this.users.filter(function(user){
                        return user.groups.filter(group => group.id == group_id).length > 0 ? true : false;
                    })
                }
            }, 
            showModal() {
                console.log('show-modal')
                this.isModalVisible = true;
            },
            closeModal() {
                this.isModalVisible = false;
            }
        }

    };
</script>

<style>
    .float-right {
        float: right !important;
    }

    .d-flex {
        display: flex;
    }

    .badge-group {
        margin: 5px;
        border-radius: 5px;
        padding: 4px 10px;
    }

    .groups_select {
        border: none;
        border-bottom: solid 1px;
        background: transparent;
    }

    .filter-container {
        margin-bottom: 20px;
    }

    .filter-label {
        display: flex;
        padding-top: 6px;
        margin-right: 16px;
        /* width: 115px; */
    }

    .group-filter-btn {
        margin-right: 6px;
        /* box-shadow: 2px 1px 6px #858585; */
        border: none;
    } 

    .select_friend_action {
        margin-right: 10px;
        width: 170px;
        border-radius: 5px;
    }

    .btn-action-update {
        margin-left: 10px;
    }

    #friend_check_select_all, .friend_check_select {
        width: 18px;
        height: 18px;
    }

    #select_friend_action_wrapper .multiple {
        min-width: 170px;
        height: 36px;
    }

    #select_friend_action_wrapper .item {
        width: 100%;
    }

    .btn-active {
        box-shadow: none;
        border: none;
    }

    #usersTable_filter input {
        border: solid 1px #e3e3e3;
        height: 30px;
    }

    .btn-add-group {
        margin-left: 10px;
        cursor: pointer;
    }
</style>