<template>
    <tr>
        <td style="padding: 10px 18px !important; vertical-align: middle;">
            <input type="checkbox" class="friend_check_select" :name="'friend_check_select_all_'+user.id" :id="'friend_check_select_all_'+user.id" :value="user.id">
        </td>
        <td>
            <a href="#">{{user.name}}</a>
            <br>{{user.email}}
        </td>
        <td style="vertical-align: middle;"> 
            <span 
                v-for="group in user.groups" 
                :key="group.id" 
                class="badge badge-group" 
                :style="'background-color:'+group.color"> 
                {{group.name}} 
            </span> 
            
        </td>
    </tr>
</template>

    
<script>

    export default {
        name : "GroupTableRow",
        components: { 
        },
        data: function () {
            return {  
            }
        },
        mounted(){  
        },
        props: [
            "user"
        ],
        computed : { 
        }
    };
</script>
 