<template>
    <div class="col-md-12">
        <table class="table table-striped" id="usersTable">
            <thead>
                <tr>
                    <th><input type="checkbox" name="friend_check_select_all" id="friend_check_select_all"></th>
                    <th>Username</th>
                    <th>Groups</th>
                </tr>
            </thead>
            <tbody>
                <group-table-row v-for="user in users" :key="user.id" :user="user"></group-table-row>
            </tbody>
        </table> 
    </div>
</template>

    
<script>
    import GroupTableRow from "./GroupTableRow"
    
    export default {
        name : "GroupTable",
        components: { 
            'group-table-row' : GroupTableRow
        },
        data: function () {
            return { 
            }
        },
        mounted(){ 
        },
        props: [
            "users"
        ],
        computed : { 
        }
    };
</script>
 