<template>
  <tr>
    <td v-if="showclock" class="text-center" rowspan="2" style="width: 30%; padding-left: 0 !important; padding-right: 0 !important; vertical-align: middle;">
      <span>{{ game.timer }}</span
      ><br v-if="game.timer" />
      <span v-html="getGameStatus"></span>
    </td>
    <td :class="highlightMyPick" style="width: 40%">
      <div>
        <span class="ball" v-if="ball">
          <!-- <i class="fa fa-chevron-right"></i> -->
        </span>
        <span class="d-none d-md-block" v-html="getTeamName"></span>
        <span class="d-md-none" v-html="getShortTeamName"></span>
      </div>
    </td>
    <td :class="highlightMyPick" class="text-center" style="width: 50px">
      <span>{{ totalscore }}</span>
    </td>
    <td class="text-center percent-td">
      <div class="percent-wrap">
        <div
          class="percent-inner text-white bg-brand-blue"
          :style="getPercentStyle"
        >
          <span
            :style="getPercentLabelStyle"
            >{{ getPrettyPercent }}</span
          >
        </div>
      </div>
    </td>
  </tr>
</template>

<script>
export default {
  name: "SchwindyLiveGameTeam",
  props: [
    "game",
    "team",
    "showclock",
    "totalscore",
    "winner",
    "ball",
    "percent",
    "userteams",
    "userid",
    "userSelected",
  ],
  computed: {
    highlightMyPick() {
      if(this.team && this.userSelected){
          let that = this;
          var userId = parseInt(that.userid);
          var teamId = parseInt(that.team.id);
          var returnVal = this.userteams.filter(function(pick) {
              return (userId === pick.user_id);
          }).filter(function(pick) {
              return (teamId === pick.team_id);
          });
          return (returnVal.length) ? " text-brand-blue  " : '';
      }
      return "";
      // if (this.userSelected) {
      //   return " text-brand-blue  ";
      // }
      // return "";
    },
    getPercentStyle() {
      return (
        "height:100%; min-width:1px; width:" +
        this.percent +
        "%; overflow:visible"
      );
    },
    getPercentLabelStyle() {
      return (
        "display: inline-block; padding-left: " +
        this.percent + 3 +
        "px; text-shadow: 1px 2px 3px #000000;"
      );
    },
    getGameStatus() { 
      let game_status = this.game.status == "After Over Time"
        ? "Final - OT"
        : this.game.status;
      if(this.game.status == "Not Started") {
        let start_date = new Date(this.game.start);
        game_status = moment(start_date).format("dddd h:mm a"); 
      } 
      return game_status;
    }, 
    getTeamName() {
      if (this.team) {
        return this.team.name;
      }
      return "<i class='fa fa-spin fa-gear'></i>";
    },
    getShortTeamName() {
      if (this.team) {
        return this.team.short_name;
      }
      return "<i class='fa fa-spin fa-gear'></i>";
    },
    getPrettyPercent() {
      return Math.round(this.percent) + "%";
    },
  },
};
</script>
