<template>
    <table class="table table-no-pad">
        <thead>
        <tr class="text-uppercase text-brand-blue">
            <th>User</th>
            <th>Teams</th>
            <th>Week</th>
            <th>Total</th>
        </tr>
        </thead>
        <tbody>
            <schwindy-live-score-row v-for="pick in sortedPicks" :pick="pick" v-bind:key="pick.id" :userid="userid" :games="games" />
        </tbody>
    </table>
</template>

<script>
    import SchwindyLiveScoreRow from './SchwindyLiveScoreRow';

    export default {
        name: "SchwindyLiveScoreTable",
        components: {
            'schwindy-live-score-row' : SchwindyLiveScoreRow
        },
        props: ["games", "picks", "userid"],
        computed : {
            sortedPicks: function () {
                return _.orderBy(this.picks, 'user.points', 'desc')
            }

        }
    }
</script>
