<template>
  <tr class="text-uppercase text-white">
    <td>{{ pick.user.username }}</td>
    <td :class="isMe">
      <span v-for="(team, i) in pick.teams">
        <span v-if="team.team">
          <span v-if="i != 0">, </span><span v-html="getTeamName(team)"></span>
        </span>
        <span v-else> <i class="fa fa-check scoreboard-check"></i> </span>
      </span>
    </td>
    <td>{{ pick.user.points }}</td>
    <td>{{ pick.user.all_points }}</td>
  </tr>
</template>

<script>
export default {
  name: "SchwindyLiveScoreRow",
  components: {},
  props: ["pick", "userid", "games"],
  computed: {
    isMe: function () {
      if (this.userid == this.pick.user.id) {
        return " text-brand-blue ";
      }
      return "";
    },
    showPicks: function () {
      return this.pick.visible;
    },
  },
  methods: {
    getTeamName: function (team) {
      let provider_id = parseInt(team.team.provider_id);

      let belong_game = this.games.filter(function (game) {
        return (
          game.awayteam_id == provider_id || game.hometeam_id == provider_id
        );
      });

      if(belong_game.length > 0 && belong_game[0].locked && team.visible) {
      // if (belong_game.length > 0 && belong_game[0].locked) {
      // tempcode
      // if (belong_game.length > 0) {
        return team.team.short_name;
      }

      return '<i class="fa fa-check scoreboard-check"></i>';
    },
  },
};
</script>
