<template>
    <div class="game-score-wrapper">
        <div>
            Last Update: {{message}}
        </div>
        <div v-bind:key="game.id" v-for="game in userSelectedTeams" class="game-score-row">
            <schwindy-live-games :game="game" :userteams="userteams" :userid="userid" :userSelected="true" />
        </div>
        <div v-bind:key="game.id" v-for="game in sortGamesByPercent" class="game-score-row">
            <schwindy-live-games :game="game" :userteams="userteams" :userid="userid" :userSelected="false" />
        </div>
    </div>
</template>


<script>
    import SchwindyLiveGame from './SchwindyLiveGame';

    export default {
        name: "SchwindyLive",
        components: {
            'schwindy-live-games' : SchwindyLiveGame
        },
        props: ["games", "picks", "message","userteams", "userid"], 
        mounted() {
        }, 
        computed : {
            userSelectedTeams : function() {
                var userId = parseInt(this.userid); 
                let userteams = this.userteams 
                let sortGamesByPercent = _.orderBy(this.games.activeGames, 'popularity', 'desc'); 

                let result = sortGamesByPercent.filter( function(game) {
                    let is_selected = false;
                    userteams.forEach(pick => {
                        if (userId === pick.user_id && (game.home_team.id === pick.team_id || game.away_team.id === pick.team_id)) {
                            is_selected = true;
                            return;
                        }
                    }); 
                    return is_selected;
                });
                return result; 
            },
            sortGamesByPercent : function() {
                var userId = parseInt(this.userid); 
                let userteams = this.userteams 
                let sortGamesByPercent = _.orderBy(this.games.activeGames, 'popularity', 'desc'); 

                let result = sortGamesByPercent.filter( function(game) {
                    let is_selected = true;
                    userteams.forEach(pick => {
                        if (userId === pick.user_id && (game.home_team.id === pick.team_id || game.away_team.id === pick.team_id)) {
                            is_selected = false;
                            return;
                        }
                    }); 
                    return is_selected;
                });
                return result; 
            }, 
        }
    }
</script>
