<template>
    <table class="table table-no-pad schwindy-live-gamescore-table">
        <tbody>
            <schwindy-live-game-team
                :percent="game.away_percent"
                :team.sync="game.away_team"
                :game.sync="game"
                :totalscore.sync="game.awayteam_totalscore"
                :winner="awayWin"
                :ball="hasBall('awayteam')"
                :showclock="true"
                :userteams="userteams"
                :userid="userid"
                :userSelected="userSelected"
            />
            <schwindy-live-game-team
                :percent.sync="game.home_percent"
                :team.sync="game.home_team"
                :game.sync="game"
                :totalscore.sync="game.hometeam_totalscore"
                :winner="homeWin"
                :ball="hasBall('hometeam')"
                :showclock="false"
                :userteams="userteams"
                :userid="userid"
                :userSelected="userSelected"
            />
        </tbody>
    </table>
</template>

<script>
    import SchwindyLiveGameTeam from './SchwindyLiveGameTeam';

    export default {
        name : "SchwindyLiveGame",
        props: ["game", "userteams", "userid", "userSelected"],
        components : {
            'schwindy-live-game-team' : SchwindyLiveGameTeam
        },
        computed : {
            homeWin(){
                return (parseInt(this.game.hometeam_totalscore) > parseInt(this.game.awayteam_totalscore));
            },
            awayWin(){
                return (parseInt(this.game.awayteam_totalscore) > parseInt(this.game.hometeam_totalscore));
            }
        },
        methods : {
            hasBall(team){
                return (this.game.ball == team && this.game.status !== "Final");
            }
        }
    }
</script>
