<template>
	<div>
		<div class="card">
			<div class="card-body m-0">
				<div class="row">
					<div class="col-md-7 no-float">
						<score-board :game.sync="game" :updated.sync="updated"></score-board>
					</div>
					<div class="col-md-5 no-float">
						<live-legend :game.sync="game"></live-legend>
					</div>
				</div>
			</div>
		</div>

		<div class="card">
			<div class="card-body m-0" style="padding: 0 !important;">
				<div class="row">
					<div class="col-md-12">
						<grid :game.sync="game" :squareboard.sync="squareboard" :numbers.sync="numbers"  :squares.sync="squares"></grid>
					</div>
				</div>
			</div> 
		</div>

		<live-nav :activequarter="activequarter" v-if="hasNav"></live-nav>

	</div>
</template>

<script>

import ScoreBoard from "./Scoreboard/Scoreboard";
import Legend from "./Legend/Legend";
import Nav from "./Nav/Nav";
import Grid from "./Grid/Grid";
export default {
	name: "SquareBoardLiveApp",
	components: {
		'grid': Grid,
		'live-nav': Nav,
		'live-legend': Legend,
		'score-board': ScoreBoard
	},
	props: ["squareboard", "game", "numbers", "squares", "activequarter", "updated"],
	methods : {
	}, 
	computed: {
		hasNav: function() {
			return false // this.squareboard.sets > 1 ? true : false;
		}
	},
	mounted() {
	}
}
</script>
