<div class="pg-about">

    {{partial:components/breadcrumbs}}
    {{ partial:components/intro
    title="About Patures Green Communication"
    content="Do you want to push your business further or expand into new territory? Need help from someone who
    understands
    your rural business? Pastures Green is the agricultural PR consultant for you.
    At Pastures Green, we have extensive knowledge of everything surrounding communications, from strategy building to
    planning, dealing with the press to unique social media campaigns. A combination of PR and farming experience has
    made
    us a company with a difference; we aren’t just experts in diversification and business expansion, we are farmers
    ourselves. "
    button_text="Contact Us"
    button_url=""
    }}
    {{ partial:components/content-block
    bg="gray"x
    image="/assets/amy-square"
    title="Who is Amy Eggleston?"
    content="The Director of Pastures Green Communications, Amy Eggleston, set up the business in order to combine a
    background in agriculture with her PR expertise. Whilst graduating with a First Class Honours Degree in
    International
    Business, Amy established herself as a valuable PR, events and social media professional.
    <br /><br />
    Since then, Amy has developed skills in previous roles as a PR Consultant, Account Executive and Events Assistant at
    major companies between London and Leeds. These roles enabled her to specialise in food, travel, tech, rural and
    consumer PR, whilst gaining experience in digital, traditional and social media methods. Additionally, Amy nurtured
    invaluable relationships with journalists and influencers alike, which allowed her to help clients in a variety of
    ways.
    "
    }}
    {{ partial:components/content-block
    image_position="right"
    image="/assets/cows-2"
    title="Personal Dedication to Agriculture"
    content="Imperative to Pastures Green’s ethos, Amy has dedicated her time to the wellbeing of dairy farms such as
    Acre
    Hill Farming Ltd, both out in the field and in administrative roles. Amy’s passion for agriculture has led her to
    work
    within various businesses, including a large animal feed business, an award-winning cheese manufacturer and a
    450-cow
    dairy unit. Having been constantly surrounded by agriculture, Amy is a farm specialist, well equipped to understand
    the
    needs of clients in the sector.
    <br /><br />
    Due to her experience practising PR on a freelance basis whilst working in a challenging dairy farming role, Amy is
    establishing Pastures Green Communications to help those in the industry showcase the best of their business. With
    extensive PR knowledge increasing visibility whilst decreasing the level of risk, combined with her love of all
    things
    rural, Amy’s passion for agricultural PR has led Pastures Green to what it is today.

    "
    }}
    {{ partial:components/logo-cloud
    title="Awards and Accreditation"
    content="Lorem ipsum dolor sit amet, recusabo
    mnesarchum eloquentiam eu eum. Sed luptatum consulatu eu, no nostrud non Lorem ipsum dolor sit amet, recusabo
    mnesarc"
    carousel_class="awards"
    bg="gray"
    }}
    {{ partial:components/content-block
    image_position="right"
    image="/assets/amy-2"
    title="5th Generation Farmer with City Experience"
    content="Lorem ipsum dolor sit amet, recusabo mnesarchum eloquentiam eu eum. Sed luptatum consulatu eu, no nostrud
    non
    Lorem ipsum dolor sit amet, recusabo mnesarc Lorem ipsum dolor sit amet, recusabo mnesarchum eloquentiam eu eum. Sed
    luptatum
    <br /><br />
    consulatu eu, no nostrud non Lorem ipsum dolor sit amet, recusabo mnesarc Lorem ipsum dolor sit amet, recusabo
    mnesarchum eloquentiam eu eum. Sed luptatum consulatu eu, no nostrud non Lorem ipsum dolor sit amet, recusabo
    mnesarc
    Lorem"
    }}
    {{ partial:components/generic-cta
    title="Why Pastures Green ?"
    content="Lorem ipsum dolor sit amet, recusabo mnesarchum eloquentiam eu eum. Sed luptatum
    consulatu eu, no nostrud non Lorem ipsum dolor sit amet, recusabo mnesarc Lorem ipsum dolor sit amet, recusabo
    mnesarchum eloquentiam eu eum. Sed luptatum consulatu eu, no nostrud non Lorem ipsum dolor sit amet, recusabo
    mnesarc"
    button_text="Learn More"
    button_url=""
    classes="bg-gray"
    button_classes="bg-pasturesgreen text-white"}}
    {{ partial:components/services }}
    {{ partial:components/testimonials }}
    {{ partial:components/faqs
    title="Frequently Asked Questions"
    bg="gray"
    }}
    {{ partial:components/contact-cta }}
</div>
