{{partial:builder-page :content="content"}}
<div class="pg-all-case-studies py-12 px-6">
    <div class="container mx-auto">
        <div class="flex justify-around items-center flex-wrap flex-row max-w-5xl mx-auto mt-10">
            {{ collection:case_studies }}
            <div class="pg-case-studies__item max-w-md mb-10">
                <div class="rounded-lg shadow-lg overflow-hidden">
                    {{featured_images}}
                    <picture>
                        <source srcset="{{ glide:url format='webp' }}" type="image/webp">
                        <source srcset="{{ glide:url format='png' }}" type="image/png">
                        <img class="object-cover" src="{{ glide:url format='webp' }}" alt="{{title}}" />
                    </picture>
                    {{/featured_images}}
                </div>
                <h3 class="text-lg text-pasturesgreen font-bold mt-2">{{title}}</h3>
                <p class="mt-2">
                    {{short_content}}
                </p>
                <a href="{{url}}"
                    class="inline-block px-5 py-2 mt-2 border-pasturesgreen border-2 text-pasturesgreen font-medium rounded-md shadow-sm text-center">
                    Learn more
                </a>
            </div>
            {{/collection:case_studies}}
        </div>
        <a href="/case-studies">
            <button
                class="block px-10 py-4 mt-2 bg-pasturesgreen border-pasturesgreen border-2 text-white font-medium rounded-md shadow-lg text-center mx-auto">
                Back
            </button>
        </a>
    </div>
</div>
