
{{ if segment_1 && breadcrumb != false }}
    <!--Show breadcrumb on all pages except homepage-->
    {{ partial:components/breadcrumbs }}
{{/if}}
{{ content }}
	{{ if type == "text" }}
		{{if text}}
		<div class="container mx-auto leading-8 bard-content">
			{{ text }}
		</div>
		{{/if}}

	{{ elseif type == "hero_block" }}

		{{partial:components/hero 
            :title="title" 
            :image="background_image" 
            :button_text="button_text"
		    :button_link="button_link"
        }}

	{{ elseif type == "hero_block_carousel" }}

		{{partial:components/hero-carousel 
            :slides="slides"
        }}

	{{ elseif type == "mission_statement" }}

		{{ partial:components/mission-statement 
            :image="photo" 
            :title="title" 
            :content="content" 
            :name="name"
		    :position="position" 
            :bg="background" 
        }}

	{{ elseif type == "services_block" }}

		{{ partial:components/services
			:bg="background"
			:title="title"
			:content="content"
			:services="services"
		}}

	{{ elseif type == "images_with_title" }}
	
		{{ partial:components/images-with-title
			:bg="background"
			:title="title"
			:content="content"
			:images="images"
			:button_text="button_text"
			:button_link="button_link"
		}}

	{{ elseif type == "code_snippet" }}

		{{html}}

	{{ elseif type == "youtube_video" }}

		<div class="embed-container">
			<iframe src="https://www.youtube.com/embed/{{video_id}}" frameborder="0" allowfullscreen></iframe>
		</div>

	{{ elseif type == 'icons' }}

		{{ partial:components/iconset
			:section_padding="section_padding"
			:section_title="section_title"
			:section_paragraph="section_paragraph"
			:button_text="button_text"
			:button_link="button_link"
			:bg="background"
		}}

	{{ elseif type == 'intro' }}

		{{ partial:components/intro
			:bg="background"
			:title="title"
			:content="content"
			:button_text="button_text"
			:button_url="button_url"
		}}

	{{ elseif type == 'logo_cloud' }}

		{{ partial:components/logo-cloud
			:bg="background"
		}}

	{{ elseif type == 'mission_statement'}}

		{{ partial:components/mission-statement
			:bg="background"
			:title="title"
			:content="content"
			:name="name"
			:position="position"
		}}

	{{ elseif type == "case_studies" }}

		{{ partial:components/case-studies
			:bg="background"
			:case_studies="case_studies"
		}}
	 
	{{ elseif type == 'generic_cta' }}

		{{ partial:components/generic-cta
			:classes="classes"
			:button_classes="button_classes"
			:image="image"
			:title="title"
			:content="content"
			:button_url="button_url"
			:button_text="button_text"
		}}

	{{ elseif type == 'faqs' }}

		{{ partial:components/faqs
			:bg="background"
			:title="title"
			:content="content"
			:faqs="faqs"
			:button_url="button_url"
			:button_text="button_text"
		}}

	{{ elseif type == 'content_block' }}

		{{ partial:components/content-block
			:bg="background"
			:title="title"
			:sub_title="sub_title"
			:content="content"
			:image="image"
			:image_position="image_position"
		}}

	{{ elseif type == 'process' }}

		{{ partial:components/process
			:bg="background"

		}}

    {{ elseif type == 'small_cta' }}
    
        {{ partial:components/small-cta
            :classes="colour"
            :content="content"
        }}

    {{ elseif type == 'paragraph_cta' }}
    
        {{ partial:components/paragraph-cta
            :bg="background"
            :title="title"
            :content="content"
			:button_url="button_url"
			:button_text="button_text"
        }}

	{{ elseif type == 'single_testimonial' }}
	
		{{ partial:components/single-testimonial
			:bg="background"
			:title="title"
			:content="content"
			:name="name"
			:company="company"
			:button_url="button_url"
			:button_text="button_text"
		}}

	{{ elseif type == 'values' }}
	
		{{ partial:components/values
			:bg="background"
			:title="title"
			:content="content"
			:values="values"
		}}

	{{ elseif type == 'testimonials' }}
	
		{{ partial:components/testimonials
			:bg="background"
			:title="title"
			:content="content"
			:testimonials="testimonials"
			:button_url="button_url"
			:button_text="button_text"
		}}

	{{ elseif type == 'related_articles' }}
	
		{{ partial:components/related-articles
			:bg="background"
			:title="title"
			:categories="categories"
		}}

	{{ elseif type == 'star_rating' }}
	
		{{ partial:components/star-rating :star_rating="star_rating" }}
	
	{{ elseif type == 'news_and_blogs'}}

	{{ partial:components/news-and-blogs
		:bg="background"
		:title="title"
		:content="content"
		:featured_article="featured_article"
		:articles="articles"
		:button_url="button_url"
		:button_text="button_text"
		
	}}

	{{ elseif type == 'external_articles'}}

		{{ partial:components/external-articles
			:bg="background"
			:title="title"
			:content="content"
			:press="press"
			:button_url="button_url"
			:button_text="button_text"
	
		}}

	{{ elseif type == 'dual_image_content'}}

		{{ partial:components/dual-image-content
			:bg="background"
			:title="title"
			:content="content"
			:image_1="image_1"
			:image_2="image_2"
		
		}}

	{{ elseif type == 'triple_image_content'}}
	
		{{ partial:components/triple-image-content
			:bg="background"
			:title="title"
			:content="content"
			:image_1="image_1"
			:image_2="image_2"
			:image_3="image_3"
			:button_url="button_url"
			:button_text="button_text"
			:section_padding="section_padding"

	
	}}

    {{ elseif type == 'external_articles'}}

        {{ partial:components/external-articles
            :bg="background"
            :title="title"
            :content="content"
            :articles="articles"
            :button_url="button_url"
            :button_text="button_text"

        }}

	{{ elseif type == 'image_content_carousel'}}
		
		{{ partial:components/image-content-carousel
		:bg="background"
		:secondary_bg="secondary_bg"
		:title="title"
		:slides="slides"
	}}

	{{ elseif type == 'stat_circles'}}
		
		{{ partial:components/stat-circles
			:bg="background"
			:title="title"
			:content="content"
			:stats="stats"
			:button_url="button_url"
			:button_text="button_text"
	
	}}

	{{ elseif type == 'free_edit'}}
	
		{{ partial:components/free-edit
			:bg="background"
			:title="title"
			:content="content"
			:button_url="button_url"
			:button_text="button_text"
		
		}}



{{/if}}

{{ /content }}
