<div class="pg-case-study">
    {{partial:components/intro :title="title" :content="short_content"}}
    <div class="container mx-auto pb-10">
        <div class="max-w-3xl text-center mx-auto">
            <div class="text-xl font-medium">The Brief</div>
            <div class="mt-3 leading-8">
                {{the_brief}}
            </div>
        </div>
        <div class="flex flex-col p-6 md:p-0 space-y-6 md:space-y-0 md:flex-row md:space-x-6 my-6 items-center">
            {{featured_images limit="3"}}
            <div class="bg-gray w-full md:w-1/3 h-64 rounded-lg shadow-lg overflow-hidden">
                <picture>
                    <source srcset="{{ glide:url format='webp' }}" type="image/webp">
                    <source srcset="{{ glide:url format='png' }}" type="image/png">
                    <img class="object-cover" src="{{ glide:url format='webp' }}" alt="{{title}}" />
                </picture>
            </div>
            {{/featured_images}}
        </div>
    </div>
    {{ partial:builder-page :content="content" breadcrumb="false" }}
    <div class="container mx-auto py-12">
        <div class="max-w-3xl text-center mx-auto">
            <div class="text-2xl font-bold">Other Case Studies</div>
        </div>
        <div
            class="flex flex-col p-6 md:p-0 space-y-6 md:space-y-0 md:flex-row max-w-5xl justify-between mx-auto md:space-x-6 my-6">
            {{collection:case_studies :slug:isnt="slug" limit="3"}}
            <div class="bg-white w-full md:w-1/3 overflow-hidden shadow-lg rounded-lg ">

                {{featured_images limit="1"}}
                <picture>
                    <source srcset="{{ glide:url format='webp' }}" type="image/webp">
                    <source srcset="{{ glide:url format='png' }}" type="image/png">
                    <img class="object-cover" src="{{ glide:url format='webp' }}" alt="{{title}}" />
                </picture>
                {{/featured_images}}
                <a class="px-4 py-4 sm:px-6 flex flex-row justify-between items-center" href="{{url}}">
                    <span>{{title}}</span>
                    <svg aria-hidden="true" focusable="false" data-prefix="fal" data-icon="chevron-double-right"
                        width="15" height="15" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                        <path fill="currentColor"
                            d="M34.5 36.5l211.1 211c4.7 4.7 4.7 12.3 0 17l-211.1 211c-4.7 4.7-12.3 4.7-17 0l-7.1-7.1c-4.7-4.7-4.7-12.3 0-17L205.9 256 10.5 60.5c-4.7-4.7-4.7-12.3 0-17l7.1-7.1c4.6-4.6 12.2-4.6 16.9.1zm111 0l-7.1 7.1c-4.7 4.7-4.7 12.3 0 17L333.9 256 138.5 451.5c-4.7 4.7-4.7 12.3 0 17l7.1 7.1c4.7 4.7 12.3 4.7 17 0l211.1-211c4.7-4.7 4.7-12.3 0-17l-211.1-211c-4.8-4.8-12.4-4.8-17.1-.1z">
                        </path>
                    </svg>
                </a>
            </div>
            {{/collection:case_studies}}
        </div>
        <a href="/case-studies">
            <button
                class="block px-10 py-4 my-10 bg-pasturesgreen border-pasturesgreen border-2 text-white font-medium rounded-md shadow-lg text-center mx-auto">
                Back to Case Studies
            </button>
        </a>
    </div>
</div>
