<div class="pg-client-testimonials">
    {{partial:components/breadcrumbs}}
    {{partial:components/intro
    title="Client Testimonials"
    content="At Pastures Green, we are committed to your
    agricultural business' future. The services on offer have been expertly adapted to one main purpose;
    diversification, as the key to success. From online content to funding, we have already improved the prospects of
    countless brands nationwide, a testament to the pride, passion and expert influence that the team of Pastures Green
    embody."
    button_text="Contact Us"
    button_url=""
    }}
    {{partial:components/testimonials bg="pasturesgreen"}}
    <div class="container mx-auto">
        <div class="py-12">
            <div class="max-w-3xl mx-auto text-center">
                <h2 class="text-xl md:text-2xl">Local Trustpilot Reviews</h2>
            </div>
            <div class="p-12">
                <div class="p-10 bg-gray text-center">Will place trustpilot widget here</div>
            </div>
            <a href="">
                <button
                    class=" block px-10 py-4 mt-2 bg-pasturesgreen border-pasturesgreen border-2 text-white font-medium rounded-md shadow-lg text-center mx-auto">
                    View more reviews
                </button>
            </a>
        </div>
    </div>
</div>
{{partial:components/contact-cta}}
