<div class="pg-content-marketing">
    {{partial:components/breadcrumbs}}
    {{partial:components/intro
    title="Content Marketing"
    content="A partnership with Pastures Green, includes a partnership with an expert content marketing specialist.
    Producing consistent content can be challenging enough, let alone content that markets your brand and engages with
    consumers effectively. We are on hand to take the strain away, to launch highly tailored campaigns, leaving you to
    focus on growing your agricultural business.
    "}}
    {{partial:components/process bg="gray" title="What are the different way to distribute content?" content="Spanning
    social media platforms, publishing material and media outlets, we believe that a successful content marketing
    campaign should take advantage of all exposure opportunities available. Before we do anything, however, our
    specialists will familiarise themselves with your existing and target audience. Through consumer research, we will
    discover how to best connect with your audience, then produce highly marketable content. "}}
    <div class="pg-process {{if bg}}bg-{{bg}}{{/if}} py-12 p-6">
        <div class="container mx-auto">
            <div class="max-w-4xl mx-auto text-center">
                <h2 class="text-xl md:text-2xl">Pastures Green Content Marketing</h2>
                <p class="mt-6 text-justify">
                    Differing from sales, content marketing can build trust between consumers and your brand. A witty,
                    touching or thought-provoking campaign can improve how audiences perceive your brand and maintain an
                    unconscious relationship. We all remember at least one online advert that stood out to us, and in
                    doing so, we also remember the brand who created it.
                    <br />
                    There are six main benefits of content marketing; to attract attention, generate leads, expand your
                    customer reach, increase sales, improve brand awareness and engage with online users. When combined,
                    they mean industry-leading success for your brand. From infographics to video advertisements, our
                    marketable content will position your brand in the public eye. Every single piece of content
                    marketing produced by Pastures Green is fuelled by one main drive - value. To add value to your
                    products or services, your brand and your future.
                </p>
            </div>
            <div class="flex flex-wrap justify-center items-center mt-6 flex-row space-x-0 md:space-x-6">
                <div class="text-center w-1/2 md:w-auto mb-6">
                    <div class="text-pasturesgreen text-5xl font-medium">
                        1
                    </div>
                    <div class="font-bold">Attract Attention</div>
                </div>
                <div class="text-center w-1/2 md:w-auto mb-6">
                    <div class="text-pasturesgreen text-5xl font-medium">
                        2
                    </div>
                    <div class="font-bold">Generate Leads</div>
                </div>
                <div class="text-center w-1/2 md:w-auto mb-6">
                    <div class="text-pasturesgreen text-5xl font-medium">
                        3
                    </div>
                    <div class="font-bold">Expand your Customer Reach</div>
                </div>
                <div class="text-center w-1/2 md:w-auto mb-6">
                    <div class="text-pasturesgreen text-5xl font-medium">
                        4
                    </div>
                    <div class="font-bold">Increase Sales</div>
                </div>
                <div class="text-center w-1/2 md:w-auto mb-6">
                    <div class="text-pasturesgreen text-5xl font-medium">
                        5
                    </div>
                    <div class="font-bold">Improve Brand Awareness</div>
                </div>
                <div class="text-center w-1/2 md:w-auto mb-6">
                    <div class="text-pasturesgreen text-5xl font-medium">
                        6
                    </div>
                    <div class="font-bold">Engage with Online Users</div>
                </div>
            </div>
        </div>
        <a href="">
            <button
                class=" block px-10 py-4 mt-10 bg-pasturesgreen border-pasturesgreen border-2 text-white font-medium rounded-md shadow-lg text-center mx-auto">
                Contact Us
            </button>
        </a>
    </div>

    {{partial:components/faqs bg="gray" title="Frequently Asked Questions: Content Marketing"}}
</div>
{{partial:components/contact-cta}}
