<div class="pg-contact-us">
    {{partial:components/breadcrumbs}}
    {{partial:components/intro
    title="Contact Us"
    content="Pastures Green look forward to enabling your businesses growth, improvement and success, whilst keeping
    your enterprise’s ethos at the heart of everything we do.

    We understand that every company is unique, as such we offer a free consultation over the phone to discuss your
    rural business venture and what we can do to enable profitable success.
    "}}
    <div class="bg-pasturesgreen py-12 text-white">
        <div class="max-w-4xl mx-auto text-center">
            <h2 class="">Online Enquiry Form</h2>
            <p class="mt-4">Inquire about what we can do for you, by using the contact information provided below</p>
            {{ form:contact_us redirect="/thank-you" }}

            {{ if success }}
            <div class="bg-green-300 text-white p-2">
                {{ success }}
            </div>
            {{ else }}
            {{ if errors }}
            <div class="bg-red-300 text-white p-2">
                {{ errors }}
                {{ value }}<br>
                {{ /errors }}
            </div>
            {{ /if }}

            <div class="flex flex-col md:flex-row space-x-0 space-y-4 md:space-x-4 md:space-y-0 mt-10 p-6">

                <div class="flex flex-col w-full md:w-1/2 space-y-4">
                    <input class="bg-white p-4 text-black rounded-md placeholder-pasturesgrey" placeholder="Name"
                        name="name" />
                    <input class="bg-white p-4 text-black rounded-md placeholder-pasturesgrey"
                        placeholder="Email Address" name="email" />
                    <input class="bg-white p-4 text-black rounded-md placeholder-pasturesgrey"
                        placeholder="Phone Number" name="phone_number" />
                </div>
                <div class="flex flex-col w-full md:w-1/2 space-y-4">
                    <textarea name="enquiry_details"
                        class="bg-white text-black  p-4 rounded-md flex-auto placeholder-pasturesgrey"
                        placeholder="Enquiry Details"></textarea>
                </div>
            </div>

            <button type="submit"
                class=" block px-10 py-4 mt-10 bg-transparent border-white border-2 text-white font-medium rounded-md shadow-lg text-center mx-auto">
                Send Message
            </button>
            {{ /if }}

            {{ /form:contact_us }}

        </div>
    </div>
    <div class="py-12">
        <div class="max-w-5xl mx-auto text-center">
            <h2 class="mb-10">Our Contact Details</h2>
            <div class="relative p-10 ">
                <div class="absolute inset-0 z-0">
                    <picture>
                        <source srcset="/assets/map.webp" type="image/webp">
                        <source srcset="/assets/map.png" type="image/png">
                        <img class="h-full w-full object-cover" src="/assets/map.png">
                    </picture>
                </div>
                <div
                    class="relative bg-pasturesgreen rounded-lg p-10 m-6 z-10 max-w-md text-white flex flex-col space-y-6">
                    <h3 class="text-3xl font-bold">Our HQ</h3>
                    <h4 class="text-xl font-bold">Address</h4>
                    <p>
                        Broughton Ln,<br />
                        Long Clawson,<br />
                        Melton Mowbray<br />
                        LE14 4NB
                    </p>
                    <h4 class="text-xl font-bold">Telephone</h4>
                    <p>
                        07817614333
                    </p>
                    <h4 class="text-xl font-bold">Email</h4>
                    <p>
                        amy@pasturesgreen.uk
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
