<div class="pg-dairy-daughter">
    {{partial:components/breadcrumbs}}
    {{partial:components/intro
    title="The Dairy Daughter"
    content="Dairy farmers ourselves, we have experienced first hand the unprecedented impact that social media success
    can create. Having cultivated our own online presence, we want to build the same media engagement for our clients.
    Interested? Take a look at the digital services we offer at Pastures Green."
    }}

    {{partial:components/content-block
    title="Who is the The Dairy Daughter"
    content="Lorem ipsum dolor sit amet, recusabo mnesarchum eloquentiam eu eum. Sed luptatum consulatu eu, no nostrud
    non Lorem ipsum dolor sit amet, recusabo mnesarchu Lore Lorem ipsum dolor sit amet, recusabo mnesarchum eloquentiam
    eu eum.

    Sed luptatum consulatu eu, no nostrud non Lorem ipsum dolor sit amet, recusabo mnesarchu LoreLorem ipsum dolor sit
    amet, recusabo mnesarchum eloquentiam eu eum. Sed luptatum consulatu eu, no nostrud non Lorem ipsum dolor sit amet,
    recusabo mnesarchu LoreLorem ipsum dolor sit amet, recusabo mnesarchum eloquentiam eu eum. Sed luptatum consulatu
    eu, no nostrud non "
    image="/assets/cows-on-insta"
    image_position="right"
    bg="gray"}}
    {{partial:components/content-block
    title="Our Principles"
    content="Sed luptatum consulatu eu, no nostrud non Lorem ipsum dolor sit amet, recusabo mnesarchu LoreLorem ipsum
    dolor sit
    amet, recusabo mnesarchum eloquentiam eu eum. Sed luptatum consulatu eu, no nostrud non Lorem ipsum dolor sit amet,
    recusabo mnesarchu LoreLorem ipsum dolor sit amet, recusabo mnesarchum eloquentiam eu eum. Sed luptatum consulatu
    eu, no nostrud non "
    image="/assets/amy-4"
    image_position="right"}}
    {{partial:components/content-block
    title=""
    content="Sed luptatum consulatu eu, no nostrud non Lorem ipsum dolor sit amet, recusabo mnesarchu LoreLorem ipsum
    dolor sit
    amet, recusabo mnesarchum eloquentiam eu eum. Sed luptatum consulatu eu, no nostrud non Lorem ipsum dolor sit amet,
    recusabo mnesarchu LoreLorem ipsum dolor sit amet, recusabo mnesarchum eloquentiam eu eum. Sed luptatum consulatu
    eu, no nostrud non "
    image="/assets/amy-5"}}
    {{partial:components/content-block
    title=""
    content="Sed luptatum consulatu eu, no nostrud non Lorem ipsum dolor sit amet, recusabo mnesarchu LoreLorem ipsum
    dolor sit
    amet, recusabo mnesarchum eloquentiam eu eum. Sed luptatum consulatu eu, no nostrud non Lorem ipsum dolor sit amet,
    recusabo mnesarchu LoreLorem ipsum dolor sit amet, recusabo mnesarchum eloquentiam eu eum. Sed luptatum consulatu
    eu, no nostrud non "
    image="/assets/amy-6"
    image_position="right"}}
    <div class="bg-gray py-12">
        <div class="container mx-auto">
            <div class="max-w-3xl mx-auto text-center">
                <h2 class="text-xl md:text-2xl">Our Success</h2>
                <p class="mt-6 leading-8">
                    Sed luptatum consulatu eu, no nostrud non Lorem ipsum dolor sit amet, recusabo mnesarchu LoreLorem
                    ipsum
                    dolor sit amet, recusabo mnesarchum eloquentiam eu eum. Sed luptatum consulatu eu, no nostrud non
                    Lorem
                    ipsum dolor sit amet, recusabo mnesarchu LoreLorem ipsum dolor sit amet, recusabo mnesarchum
                    eloquentiam
                    eu eum

                    Sed luptatum consulatu eu, no nostrud non Sed luptatum consulatu eu, no nostrud non Lorem ipsum
                    dolor
                    sit amet, recusabo mnesarchu LoreLorem ipsum dolor sit amet, recusabo
                </p>
            </div>
            <div
                class="flex justify-between max-w-6xl items-center mx-auto mt-6 flex-row space-x-0 md:space-x-4 md:space-y-0 flex-wrap">
                <div
                    class="rounded-full bg-white w-24 h-24 shadow-lg p-8 flex flex-col items-center justify-center text-2xl mb-4 md:h-64 md:w-64">
                    <div class="text-5xl">4,783</div>
                    Followers
                </div>
                <div
                    class="rounded-full bg-white w-24 h-24 shadow-lg p-8 flex flex-col items-center justify-center text-2xl mb-4 md:h-64 md:w-64">
                    <div class="text-5xl">4,783</div>
                    Followers
                </div>
                <div
                    class="rounded-full bg-white w-24 h-24 shadow-lg p-8 flex flex-col items-center justify-center text-2xl mb-4 md:h-64 md:w-64">
                    <div class="text-5xl">4,783</div>
                    Followers
                </div>
                <div
                    class="rounded-full bg-white w-24 h-24 shadow-lg p-8 flex flex-col items-center justify-center text-2xl mb-4 md:h-64 md:w-64">
                    <div class="text-5xl">4,783</div>
                    Followers
                </div>
            </div>
        </div>
    </div>
    <div class="py-12">
        <div class="container mx-auto">
            <div class="max-w-3xl mx-auto text-center">
                <h2 class="text-xl md:text-2xl">Dairy Daughter and Pastures Green</h2>

                <picture>
                    <source srcset="/assets/dairy-and-pastures-success.webp" type="image/webp">
                    <source srcset="/assets/dairy-and-pastures-success.png" type="image/png">
                    <img class="my-6" src="/assets/dairy-and-pastures-success.png" alt="hero text">
                </picture>
                <p class="mt-6 leading-8">
                    Lorem ipsum dolor sit amet, recusabo mnesarchum eloquentiam eu eum. Sed luptatum consulatu eu, no
                    nostrud non Lorem ipsum dolor sit amet, recusabo mnesarchu Lore Lorem ipsum dolor sit amet, recusabo
                    mnesarchum eloquentiam eu eum.
                    Sed luptatum consulatu eu, no nostrud non Lorem ipsum dolor sit amet, recusabo mnesarchu LoreLorem
                    ipsum dolor sit amet, recusabo mnesarchum eloquentiam eu eum. Sed luptatum consulatu eu, no nostrud
                    non Lorem ipsum dolor sit amet, recusabo mnesarchu LoreLorem ipsum dolor sit amet, recusabo
                    mnesarchum eloquentiam eu eum. Sed luptatum consulatu eu, no nostrud non
                </p>
            </div>
            <a href="">
                <button
                    class=" block px-10 py-4 mt-2 bg-pasturesgreen border-pasturesgreen border-2 text-white font-medium rounded-md shadow-lg text-center mx-auto">
                    Contact Us
                </button>
            </a>
        </div>
    </div>
    {{partial:components/services
    bg="gray"
    title="Our Services"
    content="Lorem ipsum dolor sit amet, recusabo mnesarchum eloquentiam
    eu eum. Sed luptatum consulatu eu, no nostrud non Lorem ipsum dolor sit amet, recusabo mnesarc"}}
    {{partial:components/small-contact-cta}}
    {{partial:components/faqs title="Frequently Asked questions" content=""}}
    {{partial:components/contact-cta}}

</div>
