<div class="pg-in-the-press">
    {{partial:components/breadcrumbs}}
    {{partial:components/intro title="In The Press" content="Lorem ipsum dolor sit amet, recusabo
    mnesarchum eloquentiam eu eum. Sed luptatum consulatu eu, no nostrud non Lorem ipsum dolor sit amet, recusabo
    mnesarchu "}}
    {{partial:components/content-block title="Farmers Weekly" content="Lorem ipsum dolor sit amet, recusabo mnesarchum
    eloquentiam eu eum. Sed luptatum consulatu eu, no nostrud non Lorem ipsum dolor sit amet, recusabo mnesarchu Lorem
    ipsum dolor sit amet, recusabo mnesarchum eloquentiam eu eum. Sed luptatum Lorem ipsum dolor sit amet, recusabo
    mnesarchum eloquentiam eu eum. Sed luptatum consulatu eu, no nostrud non Lorem ipsum dolor sit amet, recusabo
    mnesarchu Lorem ipsum dolor sit amet, recusabo mnesarchum

    Sed luptatum consulatu eu, no nostrud non Lorem ipsum dolor sit amet, recusabo mnesarchu Lorem ipsum dolor sit amet,
    recusabo mnesarchumSed luptatum consulatu eu, no nostrud
    "
    image='/assets/amy-3'
    image_position='right'}}
    {{partial:components/pastures-in-press title="Farmers Weekly Columnist" content="" bg="gray"}}
    <div class="relative py-10">
        <div class="relative container mx-auto z-20">
            <div class="max-w-3xl mx-auto text-center">
                <h2 class="text-xl md:text-2xl text-white">Pastures Green and the Media</h2>
            </div>
            <div class="pastures-and-media splide p-6">
                <div class="splide__track">
                    <ul class="splide__list">
                        <li class="splide__slide">
                            <div class="w-full max-w-md m-0 md:m-8">
                                <div class="rounded-lg shadow-lg overflow-hidden">
                                    <picture>
                                        <source srcset="/assets/case-study.webp" type="image/webp">
                                        <source srcset="/assets/case-study.png" type="image/png">
                                        <img src="/assets/case-study.png" class="object-cover" />
                                    </picture>
                                </div>
                                <h3 class="text-2xl font-medium mt-2">BBC Radio Leicester</h3>
                                <p class="mt-2">
                                    Lorem ipsum dolor sit amet, recusabo mnesarchum eloquentiam eu eum. Sed luptatum
                                    consulatu eu,
                                </p>
                            </div>
                        </li>
                        <li class="splide__slide">
                            <div class="w-full max-w-md m-0 md:m-8">
                                <div class="rounded-lg shadow-lg overflow-hidden">
                                    <picture>
                                        <source srcset="/assets/case-study.webp" type="image/webp">
                                        <source srcset="/assets/case-study.png" type="image/png">
                                        <img src="/assets/case-study.png" class="object-cover" />
                                    </picture>
                                </div>
                                <h3 class="text-2xl font-medium mt-2">BBC Radio Leicester</h3>
                                <p class="mt-2">
                                    Lorem ipsum dolor sit amet, recusabo mnesarchum eloquentiam eu eum. Sed luptatum
                                    consulatu eu,
                                </p>
                            </div>
                        </li>
                        <li class="splide__slide">
                            <div class="w-full max-w-md m-0 md:m-8">
                                <div class="rounded-lg shadow-lg overflow-hidden">
                                    <picture>
                                        <source srcset="/assets/case-study.webp" type="image/webp">
                                        <source srcset="/assets/case-study.png" type="image/png">
                                        <img src="/assets/case-study.png" class="object-cover" />
                                    </picture>
                                </div>
                                <h3 class="text-2xl font-medium mt-2">BBC Radio Leicester</h3>
                                <p class="mt-2">
                                    Lorem ipsum dolor sit amet, recusabo mnesarchum eloquentiam eu eum. Sed luptatum
                                    consulatu eu,
                                </p>
                            </div>
                        </li>
                        <li class="splide__slide">
                            <div class="w-full max-w-md m-0 md:m-8">
                                <div class="rounded-lg shadow-lg overflow-hidden">
                                    <picture>
                                        <source srcset="/assets/case-study.webp" type="image/webp">
                                        <source srcset="/assets/case-study.png" type="image/png">
                                        <img src="/assets/case-study.png" class="object-cover" />
                                    </picture>
                                </div>
                                <h3 class="text-2xl font-medium mt-2">BBC Radio Leicester</h3>
                                <p class="mt-2">
                                    Lorem ipsum dolor sit amet, recusabo mnesarchum eloquentiam eu eum. Sed luptatum
                                    consulatu eu,
                                </p>
                            </div>
                        </li>
                        <li class="splide__slide">
                            <div class="w-full max-w-md m-0 md:m-8">
                                <div class="rounded-lg shadow-lg overflow-hidden">
                                    <picture>
                                        <source srcset="/assets/case-study.webp" type="image/webp">
                                        <source srcset="/assets/case-study.png" type="image/png">
                                        <img src="/assets/case-study.png" class="object-cover" />
                                    </picture>
                                </div>
                                <h3 class="text-2xl font-medium mt-2">BBC Radio Leicester</h3>
                                <p class="mt-2">
                                    Lorem ipsum dolor sit amet, recusabo mnesarchum eloquentiam eu eum. Sed luptatum
                                    consulatu eu,
                                </p>
                            </div>
                        </li>
                        <li class="splide__slide">
                            <div class="w-full max-w-md m-0 md:m-8">
                                <div class="rounded-lg shadow-lg overflow-hidden">
                                    <picture>
                                        <source srcset="/assets/case-study.webp" type="image/webp">
                                        <source srcset="/assets/case-study.png" type="image/png">
                                        <img src="/assets/case-study.png" class="object-cover" />
                                    </picture>
                                </div>
                                <h3 class="text-2xl font-medium mt-2">BBC Radio Leicester</h3>
                                <p class="mt-2">
                                    Lorem ipsum dolor sit amet, recusabo mnesarchum eloquentiam eu eum. Sed luptatum
                                    consulatu eu,
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="absolute top-0 left-0 w-full bg-pasturesgreen h-64 z-0">&nbsp;</div>
    </div>
    {{partial:components/related-articles title="Other Articles" bg="gray"}}
</div>

{{ partial:components/contact-cta }}
