<!doctype html>
<html lang="{{ site:short_locale }}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<!--    <title>{{ title ?? site:name }}</title>-->
    <link rel="stylesheet" async href="{{ mix src='css/tailwind.css' }}">
    <link rel="stylesheet" async href="{{ mix src='css/splide.min.css' }}">
    <script defer src="{{ mix src='/js/splide.min.js' }}"></script>
    <script defer src="{{ mix src='/js/site.js' }}"></script>
    {{ tracking_code_manager:head }}
    {{ seotamic }}
</head>

<body class="">
    {{ tracking_code_manager:body }}
    {{ partial:components/header }}
    <main>
        {{ template_content }}
    </main>
    {{ partial:components/footer }}
    {{ tracking_code_manager:footer }}
</body>

</html>
