<template>
    <div>
        <div class="row">
            <div class="col-md-9">
                <h3>Number of weeks playing: <span class="text-brand-blue">{{numberOfWeeksPlaying}}</span></h3>
            </div> 
            <div class="col-md-3 text-right">
                <button v-if="is_new_created" class="btn btn-block brand-btn btn-brand-blue"  v-on:click="updateConfig(1)"> SAVE  AND Invite Users <i class="fa fa-chevron-right"></i></button>
                <button v-else class="btn btn-block brand-btn btn-brand-blue"  v-on:click="updateConfig(0)"> SAVE <i class="fa fa-chevron-right"></i></button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <SchwindyStartWeek
                    :conf.sync="conf"
                />
            </div>
            <div class="col-md-3">
                <SchwindyEndWeek
                    :conf.sync="conf"
                />
            </div>
            <div class="col-md-3">
                <SchwindyNumberOfTeamUsed
                    :conf.sync="conf"
                />
            </div>
            <div class="col-md-3">
                <SchwindyTotalPicks
                    :conf.sync="conf"
                />
            </div>

        </div>
        <div class="row">
            <div class="col-md-4">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Week</th>
                        <th style="max-width:95px;width:95px;">Min</th>
                        <th style="max-width:95px;width:95px;">Max</th> 
                    </tr>
                    </thead>
                    <tbody>
                    <SchwindyWeek
                        v-for="week in conf.weeks" :key="week.number"
                        :week.sync="week"
                        :conf.sync="conf"
                    />
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>
<script>
    import SchwindyWeek from './SchwindyWeek';
    import SchwindyStartWeek from './SchwindyStartWeek';
    import SchwindyEndWeek from './SchwindyEndWeek';
    import SchwindyTotalPicks from './SchwindyTotalPicks';
    import SchwindyNumberOfTeamUsed from './SchwindyNumberOfTeamUsed';
    export default {
        props : ["conf", "new_created"],
        components: {
            SchwindyWeek,
            SchwindyStartWeek,
            SchwindyEndWeek,
            SchwindyNumberOfTeamUsed,
            SchwindyTotalPicks
        },
        computed : {
            numberOfWeeksPlaying(e){
                console.log('numberOfWeeksPlaying===', this.new_created, e)
                return (parseInt(this.conf.end_week) - parseInt(this.conf.start_week)) + 1;
            },

            is_new_created() {
                let res = this.new_created != undefined ? this.new_created : false;
                console.log('is_new_created', res)
                return res;
            }
        },
        methods: {
            updateConfig(e){
                let schwindy_id = document.getElementById('schwindyWeekConfig').dataset.id;
                let token = $('meta[name="csrf-token"]').attr('content');

                var self = this;
                $.ajax({
                    url: '/schwindy/'+schwindy_id,
                    type: 'POST',
                    dataType: 'json',
                    data: {
                        _token : token,
                        config : this.conf,
                        _method : "PATCH"
                    },
                })
                    .done(function(returnData) {
                        // alert("Updated");
                        this.$emit('config-updated');
                    })
                    .fail( function(xhr, textStatus, errorThrown) {
                        alert(errorThrown);
                    })
                    .always(function() {

                    });
                // this.config = vueConfig;

            },
        }
    }
</script>
