<template>
    <tr>
        <td>
            Week {{ week.week_number }}
        </td>
        <td>
            <select
                v-if="weekActive"
                name="week[week.week_number][min_picks]"
                class="form-control"
                v-model="week.min_picks"
                @change="updateMinPicks"
            >
                <option v-for="mn in ultimateMinPick" :value="mn">{{ mn }}</option>
            </select>
            <span v-else>
                -
            </span>
        </td>
        <td>
            <select
                v-if="weekActive"
                name="week[week.week_number][max_picks]"
                class="form-control"
                v-model="week.max_picks"
                @change="updateMaxPicks"
            >
                <option v-for="mx in ultimateMaxPick" :value="mx">{{ mx }}</option>
            </select>
            <span v-else>
                -
            </span>
        </td> 
    </tr>
</template>

<script>
    export default {
        name : "SchwindyWeek",
        props: ["week","conf"],
        computed : {
            ultimateMaxPick() {

                var tot =  parseInt(this.conf.number_of_team_used) * parseInt(this.conf.total_picks);
                return 100;
            },
            ultimateMinPick() {
                var i = 0;
                var arr = [];
                for (i=0;i<=this.week.max_picks;i++){
                    arr.push(i);
                }
                return arr;
            },
            autoAssignTotal(){
                return '';
            },
            teamRemaining(){
                // return parseInt()
            },
            weekActive(){
                if(this.week.week_number < this.conf.current_week) return false;

                if(typeof this.week.active == 'string'){
                    var ret = (this.week.active == 'true');
                } else {
                    var ret = this.week.active;
                }
                return ret;
            }
        },
        methods : {
            updateMaxPicks(e){
                this.$emit('update:week.max_pick',e.target.value);
            },
            updateMinPicks(e){
                this.$emit('update:week.min_pick',e.target.value);
            }
        }
    }
</script>
