<template>
    <div class="form-group">
        <label for="" class="col-md-12">Total Picks</label>
        <div class="col-md-12">
            <select
                name="total_picks"
                class="form-control"
                v-model="conf.total_picks"
                @change="$emit('update:conf.total_picks',$event.target.value);"
            >
                <option v-for="end in maxPicks" :value="end">{{ end }}</option>
            </select> 
            <div class="help-block"  v-html="__c('pool.content.schwindy.total_picks_help', 'total_picks_help')"></div>
        </div>
    </div>
</template>
<script>

    export default {
        name : 'SchwindyTotalPicks',
        props: ["conf"],
        computed : {
            maxPicks(e) {
                var maxPick = 0;
                this.conf.weeks.forEach(function(week){

                    if(week.active == 'true'){
                        maxPick = maxPick + parseInt(week.max_picks);
                    }
                });
                if(maxPick < 2){
                    return 32;
                }
                return 32;
                return (maxPick - 2);
            }
        }
    }
</script>
