<template>
    <div class="form-group">
        <label for="" class="col-md-12">End Week</label>
        <div class="col-md-12">
            <select
                name="end_week"
                class="form-control"
                v-model="conf.end_week"
                @change="changeEndWeek"
            >
                <option v-for="end in availWeeks" :value="end">{{ end }}</option>
            </select> 
            <div class="help-block"  v-html="__c('pool.content.schwindy.end_week_help', 'end_week_help')"></div>
        </div>
    </div>
</template>
<script>


    export default {
        name : 'SchwindyEndWeek',
        props: ["conf"],
        computed : {
            curWeek(e){
                return parseInt(this.conf.start_week);
            },
            minEndWeek(e){
                var minW = parseInt(this.conf.start_week) + 2;
                return minW;
            },
            maxEndWeek(e){
                return maxWeeks;

            },
            availWeeks(e) {
                var w;
                var startCount = (parseInt(this.conf.start_week) + 1);

                var tt = [];
                for (w = startCount; w <= this.maxEndWeek; w++) {
                    tt.push(w);
                }
                return tt;
            }
        },
        methods : {
            changeEndWeek(e){
                this.$emit('update:conf.end_week',e.target.value);
                let self = this;
                this.conf.weeks.forEach(function(week){
                    if(week.week_number <= self.conf.end_week && week.week_number >= self.conf.start_week){
                        week.active = true;
                    } else {
                        week.active = false;
                    }
                });
            }
        },
        watch : {
            conf : function(newValue, oldValue){

            }
        }
    }
</script>
