<template>
    <div class="form-group">
        <label for="" class="col-md-12">Max picks on each</label>
        <div class="col-md-12">
            <select
                name="number_of_team_used"
                class="form-control"
                v-model="conf.number_of_team_used"
                @change="$emit('update:conf.number_of_team_used',$event.target.value)"
            >
                <option v-for="num in (maxTeamUsedArr)" :value="num">{{ num }} {{ num == 1 ? 'time' : 'times'}} </option>
            </select> 
            <div class="help-block"  v-html="__c('pool.content.schwindy.max_picks_on_each_help', 'max_picks_on_each_help')"></div>
        </div>
    </div>
</template>
<script>

    export default {
        name : 'SchwindyNumberOfTeamUsed',
        props: ["conf"],
        computed : {
            maxTeamUsedArr : function(){
                var arr = [];
                var i = 1;
                var maxWeeks = (this.conf.end_week - this.conf.start_week);
                for (i=1;i <= maxWeeks; i++){
                    arr.push(i);
                }
                return arr;
            }
        }
    }
</script>
