<template>
    <div class="form-group">
        <label for="" class="col-md-12">Start Week</label>
        <div class="col-md-12">
            <select
                name="start_week"
                class="form-control"
                v-model="conf.start_week"
                @change="changeStartWeek"
            >
                <option v-for="start in (minStartWeek, maxStartWeek)" :value="start">{{ start }} </option>
            </select> 
            <div class="help-block"  v-html="__c('pool.content.schwindy.start_week_help', 'start_week_help')"></div>
        </div>
    </div>
</template>
<script>

    export default {
        name : 'SchwindyStartWeek',
        props: ["conf"],
        methods : {
            changeStartWeek(e) {
                this.$emit('update:conf.start_week', e.target.value);
                let self = this;
                this.conf.weeks.forEach(function (week) {
                    let weekNumber = parseInt(week.week_number);
                    let endWeek = parseInt(self.conf.end_week);
                    let startWeek = parseInt(self.conf.start_week);
                    if (weekNumber <= endWeek && weekNumber >= startWeek) {
                        week.active = true;
                    } else {
                        week.active = false;
                    }
                });
            },
        },
        computed : {
            curWeek(e){
              return parseInt(this.conf.start_week);
            },
            minStartWeek(e){
                return parseInt(this.conf.week_at_start);
            },
            maxStartWeek(e){
                return parseInt(this.conf.end_week - 1);
            }
        }
    }
</script>
