<template>
	<div>
		<h4>{{category.name}}</h4>	<button @click="addingNew = !addingNew">ADD NEW</button>
		<div v-if="addingNew">
			<div class="currentCat">
				<div>
					<label class="formLabel" for="">Name</label>
					<input class="formControl" type="text" v-model="newCategory.name">
				</div>
				<div>
					<label class="formLabel" for="">Description</label>
					<textarea class="formControl" type="text" v-model="newCategory.description"></textarea>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	name : "Category",
	data : function() {
		return {
			addingNew : false,
			newCategory : {
				name : null,
				description : null,
			}
		}
	},
	components: {

	},
	props: [
		'category'
	],
	computed : {
		addEditText : function(){
			return (this.category.id) ? "UPDATE" : "ADD";
		},
	},
	methods : {
		updateCategory : function(){
			this.$emit('update-category', this.newCategory);
		},
		createCategory : function(){
			this.$emit('create-category', this.category);
		},
	}
};
</script>
