<template>
	<div>
		<div class="row">
			<div class="alert alert-info">
				API END POINT: <strong v-html="API_ENDPOINT"></strong>
			</div>
		</div>
		<div class="row">
			<div class="col-md-2">
				<h5>Steps</h5>
				<button class="btn btn-info btn-block" @click="createCategory">+ Add Step</button>
				<div v-if="pfData">
					<ul class="nav flex-column" v-if="!editCategoryFlag">
						<category-nav-item
							v-for="category in getCategories" href="#"
							:key="category.id"
							:category.sync="category"
							:current-category-id.sync="currentCategoryId"
							@select-category="selectCategory"
						></category-nav-item>
					</ul>

				</div>

			</div>
			<div class="col">
				<category-item
					v-if="currentCategoryId"
					:category.sync="getCurrentCategory"
					@set-edit-flag="setEditFlag"
					@update-category="updateCategory"
					@delete-category="deleteCategory"
					@update-question="updateQuestion"
					@create-question="createQuestion"
					@delete-question="deleteQuestion"
					@create-answer="createAnswer"
					@update-answer="updateAnswer"
					:products.sync="getProductsCollection"
				></category-item>
			</div>
		</div>
	</div>
</template>

<script>

import CategoryNavItem from "./Category/CategoryNavItem.vue";
import CategoryItem from "./Category/CategoryItem.vue";
import axios from 'axios';


export default {
	name : "ConfigBuilder",
	components: {
		CategoryItem,
		CategoryNavItem
	},
	data : function(){
		return {
			endpoint : (API_ENDPOINT) ? API_ENDPOINT : '/api',
			ax : null,
			currentCategoryId : null,
			editCategoryFlag : false,
			pfData : null,
			products : [],
		};
	},
	props: [

	],
	created() {

		this.ax = axios.create({
			baseURL: this.endpoint+``,
			withCredentials: false,
			headers: {
				'Content-Type': 'text/plain',
				// 'Access-Control-Allow-Credentials' : 'true'
				'Access-Control-Allow-Origin' : '*',
				'Access-Control-Allow-Methods': 'GET,PUT,POST,DELETE'
			}
		});


		this.loadConfig();
	},
	computed : {
		getCategories : function(){
			return this.pfData.categories;
		},
		getCurrentCategory : function(){
			let catId = this.currentCategoryId;
			return this.pfData.categories.find(function(cat){
				return cat.id === catId;
			});
		},
		getQuestions : function(){
			let catId = this.currentCategoryId;
			let currentCategory = this.pfData.categories.find(function(cat){
				return cat.id === catId;
			});
			return (currentCategory) ? currentCategory.questions : [];
		},
		getOutputConfig : function(){
			return JSON.stringify(this.pfData);
		},
		addEditText : function(){
			return (this.category.id) ? "UPDATE" : "ADD";
		},
		getProductsCollection : function(){
			return this.products;
		}
	},
	methods : {
		loadConfig : function (){
			this.ax.get(this.endpoint+'?op=get').then(result => {
				this.pfData = result.data.data;
			});
			this.loadProducts();
		},

		saveConfig : function(){
			this.ax.post(this.endpoint+'?op=put',
				{
					data : this.pfData
				}
				)
				.then(response => {
					// console.log(response);
				})
				.catch(error => {
					// console.log(error);
				})
		},
		nextQuestionOrder : function(categoryId){
			let category = this.getCategories.find(function(c){
				return c.id === categoryId;
			});

			let lastOrder = 0;
			category.questions.forEach(function(q){
				lastOrder = q.order;
			})
			return lastOrder + 1;
		},
		nextCategoryStep : function(){
			let categories = this.getCategories;
			let step = 1;
			categories.forEach(function (itm){
				step = itm.step;
			})
			return step + 1;
		},
		createCategory : function(){
			let newCategory = {
				id : this.createId(),
				name : "Default",
				description : "Default",
				step : this.nextCategoryStep(),
				questions: []
			};
			this.pfData.categories.push(newCategory);
			this.currentCategoryId = newCategory.id;
			this.saveConfig();

		},
		updateCategory : function(categoryData){
			let currentCategory = this.pfData.categories.find(function(c){
				return c.id == categoryData.id;
			});
			this.$set(currentCategory, "step", categoryData.step);
			this.$set(currentCategory, "name", categoryData.name);
			this.$set(currentCategory, "description", categoryData.description);
			this.saveConfig();
		},
		selectCategory : function(id){
			this.currentCategoryId = id;
		},
		deleteCategory : function(id){
			let idx = this.pfData.categories.findIndex(function(c){
				return c.id === id;
			});
			this.pfData.categories.splice(idx,1);
			this._reindexCats();
			this.saveConfig();
		},
		selectQuestion : function(id){
			let selectedQuestion = this.questions.find(function(q){
				return q.id === id;
			});
		},
		createQuestion : function(categoryId){
			let currentCategory = this.getCurrentCategory;
			let newId = this.createId();
			currentCategory.questions.push({
				id : newId,
				order : this.nextQuestionOrder(categoryId),
				question : "Default question",
				description : "default desc",
				icon_url : "",
				type : "single",
				required : true,
				fb_params : "",
				google_params : "",
				answers : [],
			});
			this.saveConfig();
		},
		deleteQuestion : function(questionId, categoryId){
			let currentCategory = this.getCurrentCategory;
			let qIndex = currentCategory.questions.findIndex(function(q){
				return q.id === questionId;
			});
			currentCategory.questions.splice(qIndex, 1);
			this._reindexQuestions(currentCategory);
			this.saveConfig();
		},
		updateQuestion : function(question, catId){
			let currentCategory = this.getCurrentCategory;
			let currentQuestion = currentCategory.questions.find(function(q){
				return q.id === question.id;
			});
			this.$set(currentQuestion, "question", question.question);
			this.$set(currentQuestion, "order", question.order);
			this.$set(currentQuestion, "description", question.description);
			this.$set(currentQuestion, "icon_url", question.icon_url);
			this.$set(currentQuestion, "type", question.type);
			this.$set(currentQuestion, "required", question.required);
			this.$set(currentQuestion, "fb_params", question.fb_params);
			this.$set(currentQuestion, "google_params", question.google_params);
			this.saveConfig();
		},
		createAnswer : function(questionId, categoryId){
			let currentCategory = this.pfData.categories.find(function(c){
				return c.id === categoryId;
			});
			let currentQuestion = currentCategory.questions.find(function(q){
				return q.id === questionId;
			});
			currentQuestion.answers.push({
				id : this.createId(),
				answer : "-Default answer-",
				description : "Default desc",
				img_url : "#",
				goto : null,
				skus : "",
				tags : "",
				fb_params : "",
				google_params : ""
			});
			this.saveConfig();
			return true;

		},
		updateAnswer : function(answer, questionId, categoryId){
			let currentCategory = this.pfData.categories.find(function(c){
				return c.id === categoryId;
			});
			let currentQuestion = currentCategory.questions.find(function(q){
				return q.id === questionId;
			});
			let currentAnswer = currentQuestion.answers.find(function(a){
				return a.id === answer.id;
			});

			this.$set(currentAnswer, "answer", answer.answer);
			this.$set(currentAnswer, "description", answer.description);
			this.$set(currentAnswer, "img_url", answer.img_url);
			this.$set(currentAnswer, "goto", answer.goto);
			this.$set(currentAnswer, "tags", answer.tags);
			this.$set(currentAnswer, "fb_params", answer.fb_params);
			this.$set(currentAnswer, "google_params", answer.google_params);
			this.$set(currentAnswer, "skus", answer.skus);
			this.saveConfig();

		},
		createId : function(){
			let id = Math.random();
			let date = Date.now();
			return date;
		},
		_reindexCats : function(){
			let categories = this.getCategories;
			let step = 0;
			categories.forEach((itm) => {
				step = step + 1;
				this.$set(itm, "step", step);
			})
		},
		_reindexQuestions : function(category){
			let step = 0;
			category.questions.forEach((itm) => {
				step = step + 1;
				this.$set(itm, "order", step);
			})
		},
		setEditFlag : function(flag){
			this.editCategoryFlag = flag;
		},

		//PRODUCTS
		loadProducts : function(){
			this.ax.get(this.endpoint+'?op=products').then(result => {
				this.products = result.data.products;
			})
		},
	}
};
</script>
