<template>
	<div>
		<div class="row">
			<div class="col-md-12">
				<h5>Settings</h5>

			</div>
		</div>
	</div>
</template>

<script>

import axios from 'axios';


export default {
	name : "Settings",
	components: {

	},
	data : function(){
		return {
			settings : {
				endpoint : null,

			},
		};
	},
	props: [

	],
	created() {
				this.loadSettings();
	},
	computed : {

	},
	methods : {
		loadSettings : function (){
			this.ax.get(this.endpoint+'?op=settings').then(result => {
				this.settings = result.data.settings;
			});
		},

		saveConfig : function(){
			this.ax.post(this.endpoint+'?op=savesettings',
				{
					settings : this.settings
				}
			)
				.then(response => {
					// console.log(response);
				})
				.catch(error => {
					// console.log(error);
				})
		},
	}
};
</script>
