<template> 
	<div class="live-legend" >
		<div style="line-height: 1.75em;margin-right:20px;">
			<i class="fa fa-trophy" style="color:#d4a222; text-shadow: 1px 1px 2px #000000;margin-right:12px;"></i><span>PAST WINNER
		</span>
		</div>
		<div style="line-height: 1.75em;margin-right:20px;">
			<span class="live-exmp game-current-score" style="margin-right:12px;"></span><span> CURRENT SCORE
		</span></div>
		<div style="line-height: 1.75em;">
			<span class="live-exmp hometeam-3-7"></span>
			<span class="live-exmp awayteam-3-7"></span>
			<span>
				3/7 POINTS AWAY
			</span>
		</div>
		<div style="line-height: 1.75em;">
			<span class="live-exmp hometeam-6-8"></span>
			<span class="live-exmp awayteam-6-8"></span>
			<span>&nbsp;
				6/8 POINTS AWAY
			</span>
		</div>
		<div style="line-height: 1.75em;">
			<span class="live-exmp hometeam-2-points"></span>
			<span class="live-exmp awayteam-2-points"></span>
			<span>&nbsp;
				2 POINTS AWAY
			</span>
		</div>
	</div>
</template>

<script>
export default {
	name: "Legend",
	components: {
	},
	props: ["game"],
	methods : {

	},
	computed : {
		one_score_1: function() {
			return 'border:1px solid gray; background:'+ game.home_team.primary_color + '; position:relative;';
		},
		one_score_2: function() {
			return 'border:1px solid gray; background:'+game.away_team.primary_color+'; position:relative;';
		},
		one_score_part_1: function() {
			return 'border:2px ' + game.home_team.primary_color + ' solid; position:relative;';
		},
		one_score_part_2: function() {
			return 'border:2px '+ game.away_team.primary_color +' solid; position:relative;';
		}
	},
	mounted() {

	}
}
</script>
