<template>
    <div>
        <div class="input-group" v-if="user.status == 'active' && !user.creator">
            <div class="col-12">
                <label class="switch3 text-brand-blue">
                    <input
                        type="checkbox"
                        value="1"
                        v-model="commissioner"
                    >
                    Assign as commissioner
                </label>
                <div class="help-block">
                    {{__c("pool.content.roster.promote_commissioner_help", "Check the box to assign this user as a Commissioner.  Uncheck to remove their commissioner privileges.  The Pool Creator cannot be removed as Commissioner.")}}
                </div>
            </div>

        </div>

<!--        <div v-if="!isDesktop">-->
<!--            <div class="row mb-2">-->
<!--                <div class="col-12 text-brand-orange">Full Name: <span class="text-white ml-2" v-html="user.name"></span></div>-->
<!--                <div class="col"></div>-->
<!--            </div>-->
<!--            <div class="row mb-2">-->
<!--                <div class="col-12 text-brand-orange">Phone: <span class="text-white  ml-2" v-html="user.phone"></span></div>-->
<!--            </div>-->
<!--            <div class="row mb-2">-->
<!--                <div class="col-12 text-brand-orange">Entries: <span class="text-white  ml-2" v-html="user.entry_count"></span></div>-->
<!--                <div class="col mt-3">-->
<!--                    <div class="d-inline-block border border-white pl-1 pr-1 mr-2" v-for="entry in user.entries" :key="entry.label"><span v-html="entry.label"></span> (<span v-html="entry.count"></span>)</div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
        <div class="row mt-3">
            <div class="col-12 text-right">
                <button class="btn btn-sm btn-brand-blue brand-btn" @click="updateUser"><i class="fa fa-save"></i> UPDATE</button>
                <button class="btn btn-sm btn-brand-charcoal brand-btn" @click="dismissPopup"><i class="fa fa-times"></i> Cancel</button>

            </div>
        </div>
    </div>
</template>
<script>

export default {
    name : "CommissionerPopup",
    components: {

    },
    props : [
        'user', 'desktop'
    ],
    data: function () {
        return {
            commissioner : null,
        }
    },
    mounted(){
        this.commissioner = this.user.commissioner;
        // window.addEventListener("resize", ()=>{
        //     this.width = window.innerWidth
        // });
        // this.getRoster()
    },
    computed : {
        isDesktop : function(){
            return this.desktop;
        },

    },
    methods : {
        // updateVerified : function(){
        //     this.$emit('update-verify', user.id, this.verified);
        // },
        // removeUser : function(){
        //     //todo: ajax to rmove
        // }
        updateUser : function(){
            this.$emit('update-commissioner', this.user.id, this.commissioner);
            this.dismissPopup();
        },
        dismissPopup : function(){
            let id = 'commissionerPopup-'+this.user.id;
            this.$emit('close-popup', id);
        }
    }
};
</script>
