<template>
    <div>
        <div>
            <div class="row mb-2">
                <div class="col-12 text-brand-orange">Full Name: <span class="text-white ml-2" v-html="user.name"></span></div>
                <div class="col"></div>
            </div>
            <div class="row mb-2">
                <div class="col-12 text-brand-orange">Phone: <span class="text-white  ml-2" v-html="user.phone"></span></div>
            </div>
            <div class="row mb-2">
                <div class="col-12 text-brand-orange">Entries: <span class="text-white  ml-2" v-html="user.entry_count"></span></div>
                <div class="col mt-3">
                    <div class="d-inline-block border border-white pl-1 pr-1 mr-2" v-for="entry in user.entries" :key="entry.label"><span v-html="entry.label"></span> {{getCount(entry)}}</div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12 text-center">
                    <button class="btn btn-sm btn-brand-charcoal brand-btn" @click="dismissPopup"><i class="fa fa-times"></i> Close</button>

                </div>
            </div>
        </div>

    </div>
</template>
<script>

export default {
    name : "EntryPopup",
    components: {

    },
    props : [
        'user', 'desktop'
    ],
    data: function () {
        return {
            // note : "",
            // nclass : "",
            // commissioner : null,
        }
    },
    mounted(){


        // this.commissioner = this.user.commissioner;
        // window.addEventListener("resize", ()=>{
        //     this.width = window.innerWidth
        // });
        // this.getRoster()
    },
    computed : { 
        isDesktop : function(){
            return this.desktop;
        },

    },
    methods : {

        dismissPopup : function(){
            let id = 'entryPopup-'+this.user.id;
            this.$emit('close-popup', id);
        },
        getCount : function (entry) { 
            console.log('getCount=>', this,  entry)
    		if(entry.count > 1){
    			return " ("+entry.count+")";
		    }
    		return ""; 
	    },
    }
};
</script>
