<template>
    <div>
<!--        <div class="input-group text-right" v-if="user.status == 'active' && !user.creator">-->
<!--            <div class="col-12">-->
<!--                <label class="switch3 text-brand-blue">-->
<!--                    <input-->
<!--                        type="checkbox"-->
<!--                        value="1"-->
<!--                        v-model="commissioner"-->
<!--                    >-->
<!--                    Assign as commissioner-->
<!--                </label>-->
<!--                <div class="help-block">-->
<!--                    {{__c("pool.content.roster.promote_commissioner_help", "Promote commissioner help")}}-->
<!--                </div>-->
<!--            </div>-->

<!--        </div>-->
        <hr>
        <div class="row">
            <label class="col-12 text-brand-orange">Commissioner's Note</label>
            <div class="col-12">
                <textarea class="form-control" v-model="note"></textarea>
                <div class="text-center">
                    <div class="form-check form-check-inline mr-4">
                        <input class="form-check-input" type="radio" v-model="nclass" name="noteClass" id="noteClassTextBrandGreen" value="text-brand-green">
                        <label class="form-check-label" for="noteClassTextBrandGreen"><i :class="'fa fa-sticky-note fa-2x text-brand-green'"></i></label>
                    </div>
                    <div class="form-check form-check-inline mr-4">
                        <input class="form-check-input" type="radio" v-model="nclass" name="noteClass" id="noteClassTextBrandBlue" value="text-brand-blue">
                        <label class="form-check-label" for="noteClassTextBrandBlue"><i :class="'fa fa-sticky-note fa-2x text-brand-blue'"></i></label>
                    </div>
                    <div class="form-check form-check-inline mr-4">
                        <input class="form-check-input" type="radio" v-model="nclass" name="noteClass" id="noteClassTextWhite" value="text-white">
                        <label class="form-check-label" for="noteClassTextWhite"><i :class="'fa fa-sticky-note fa-2x text-white'"></i></label>
                    </div>
                    <div class="form-check form-check-inline mr-4">
                        <input class="form-check-input" type="radio" v-model="nclass" name="noteClass" id="noteClassTextBrandYellow" value="text-brand-yellow">
                        <label class="form-check-label" for="noteClassTextBrandYellow"><i :class="'fa fa-sticky-note fa-2x text-brand-yellow'"></i></label>
                    </div>
                    <div class="form-check form-check-inline mr-4">
                        <input class="form-check-input" type="radio" v-model="nclass" name="noteClass" id="noteClassTextBrandRed" value="text-brand-red">
                        <label class="form-check-label" for="noteClassTextBrandRed"><i :class="'fa fa-sticky-note fa-2x text-brand-red'"></i></label>
                    </div>

                </div>

            </div>
        </div>
        <div class="row" v-if="hasUserNote">
            <label class="col-12 text-brand-orange">User's Note</label>
            <div class="col-12">
                <p v-html="user.users_note"></p>
            </div>
        </div>
        <div v-if="!isDesktop">
            <div class="row mb-2">
                <div class="col-12 text-brand-orange">Full Name: <span class="text-white ml-2" v-html="user.name"></span></div>
                <div class="col"></div>
            </div>
            <div class="row mb-2">
                <div class="col-12 text-brand-orange">Phone: <span class="text-white  ml-2" v-html="user.phone"></span></div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12 text-right">
                <button class="btn btn-sm btn-brand-blue brand-btn" @click="updateNote"><i class="fa fa-save"></i> UPDATE</button>
                <button class="btn btn-sm btn-brand-charcoal brand-btn" @click="dismissPopup"><i class="fa fa-times"></i> Cancel</button>

            </div>
        </div>
    </div>
</template>
<script>

export default {
    name : "NotePopup",
    components: {

    },
    props : [
        'user', 'desktop'
    ],
    data: function () {
        return {
            note : "",
            nclass : "",
            // commissioner : null,
        }
    },
    mounted(){

        this.note = this.user.note.note;
        this.nclass = this.user.note.class;

        // this.commissioner = this.user.commissioner;
        // window.addEventListener("resize", ()=>{
        //     this.width = window.innerWidth
        // });
        // this.getRoster()
    },
    computed : {
        isDesktop : function(){
            return this.desktop;
        },
        hasUserNote : function(){
            return (this.user.user_note != "" && this.user.users_note != null);
        }
    },
    methods : {
        // updateVerified : function(){
        //     this.$emit('update-verify', user.id, this.verified);
        // },
        // removeUser : function(){
        //     //todo: ajax to rmove
        // }
        updateNote : function(){
            let newNote = {note : this.note, class : this.nclass};
            this.$emit('update-note', this.user.id, newNote);
            this.dismissPopup();
        },
        dismissPopup : function(){
            let id = 'notePopup-'+this.user.id;
            this.$emit('close-popup', id);
        }
    }
};
</script>
