<template>
    <tr style="font-size: 0.85em">
        <td>
            <label v-if="userActive" class="noswitch">
                <input
                    type="checkbox"
                    value="1"
                    v-model="verified"
                    @change="updateVerified"
                >
            </label>
        </td>
        <td v-if="userCreator"><i class="fa fa-crown text-muted"></i></td>
        <td v-else>
            <b-button
                class="btn-clear text-white"
                style="font-size: 1.1em"
                v-b-modal="'commissionerPopup-'+user.id"
            >  <i class="fa fa-crown text-brand-blue" v-if="user.commissioner"></i>
                <i class="fa fa-user text-brand-blue" v-else></i>
            </b-button>
            <b-modal
                :id="'commissionerPopup-'+user.id"
                :titleHtml="getUserDetailsTitle"
                modal-class="bg-brand-gray"
                content-class="bg-brand-charcoal"
                header-class="card-header brand-gradient border-white p-2"
                body-class="bg-brand-charcoal"
                hide-footer
                no-close-on-esc
                no-close-on-backdrop
                no-stacking
            >
                <commissioner-popup
                    :user.sync="user"
                    :desktop.sync="isDesktop"
                    @update-commissioner="updateCommissioner"
                    @close-popup="closePopup"
                ></commissioner-popup>
            </b-modal>


        </td>
        <td>
            <b-button
                class="btn-clear text-white"
                style="font-size: 1.1em"
                v-b-modal="'notePopup-'+user.id"
            > <i :class="'pointer fa fa-sticky-note '+user.note.class" :title="user.note.note"></i>
<!--                <i class="pointer fa fa-sticky-note text-muted " v-else></i>-->
            </b-button>
            <b-modal
                :id="'notePopup-'+user.id"
                :titleHtml="getUserDetailsTitle"
                modal-class="bg-brand-gray"
                content-class="bg-brand-charcoal"
                header-class="card-header brand-gradient border-white p-2"
                body-class="bg-brand-charcoal"
                hide-footer
                no-close-on-esc
                no-close-on-backdrop
                no-stacking
            >
                <note-popup
                    :user.sync="user"
                    :desktop.sync="isDesktop"
                    @update-note="updateNote"
                    @close-popup="closePopup"
                ></note-popup>
            </b-modal>
        </td>
        <td>
            <span v-html="user.username"></span><br>
            <div class="" v-if="!isDesktop">
                <span v-html="user.email"></span>
            </div>
        </td>
        <td style="width:175px;" v-if="isDesktop">
            <span v-html="getName"></span>
        </td>
        <td style="width:175px;" v-if="isDesktop">
            <span v-html="user.email"></span>
        </td>
        <td style="width:100px;" v-if="isDesktop">
            <span v-html="user.phone"></span>
        </td>
        <td :style="getEntriesStyle" v-if="userActive">
<!--            <div  v-if="isDesktop">-->
<!--                <div v-for="entry in user.entries" :key="entry.label">-->
<!--                    <span v-html="entry.label"></span>-->
<!--                </div>-->
<!--            </div>-->
            <div class="">
                <b-button
                    class="btn-clear text-brand-blue"
                    style="font-size: 1.1em"
                    v-b-modal="'entryPopup-'+user.id"
                > 
                <span v-html="user.entry_count"></span>
                </b-button>
                <b-modal
                    :id="'entryPopup-'+user.id"
                    :titleHtml="getUserDetailsTitle"
                    modal-class="bg-brand-gray"
                    content-class="bg-brand-charcoal"
                    header-class="card-header brand-gradient border-white p-2"
                    body-class="bg-brand-charcoal"
                    hide-footer
                    no-close-on-esc
                    no-close-on-backdrop
                    no-stacking
                >
                    <entry-popup
                        @close-popup="closePopup"
                        :user.sync="user"
                    ></entry-popup>
                </b-modal>


            </div>
        </td>
        <td v-else class="text-center">
            <button class="btn btn-brand-charcoal brand-btn" @click="restoreUser"><i class="fa fa-check"></i> Restore User</button>
        </td>
        <td class="text-center" v-if="userActive">
            <div class="" v-if="!userCreator">
                <button class="btn btn-danger btn-clear text-brand-red btn-sm" @click="removeUser"><i class="fa fa-times"></i></button>
            </div>
            <i class="fa fa-lock text-muted" v-else></i>
        </td>
    </tr>
</template>
<script>

import { BootstrapVue} from 'bootstrap-vue'
import NotePopup from "./NotePopup";
import CommissionerPopup from "./CommissionerPopup";
import EntryPopup from "./EntryPopup";
Vue.use(BootstrapVue);

export default {
    name : "RosterRow",
    components: {
        EntryPopup,
        NotePopup,
        CommissionerPopup,
        Modal,
        Popover,
    },
    props : [
        'user', 'desktop'
    ],
    data: function () {
        return {
            verified : null,
        }
    },
    mounted(){
        this.verified = this.user.verified;
        // window.addEventListener("resize", ()=>{
        //     this.width = window.innerWidth
        // });
        // this.getRoster()
    },
    computed : {

        isDesktop : function(){
            return this.desktop;
        },
        userCreator : function(){
            return this.user.creator;
        },
        userActive : function(){
            return (this.user.status == 'active');
        },
        getName : function(){
            return (this.user.name) ? this.user.name : "<span class='text-muted'>-none-</span>";
        },
        hasNote : function(){
            // console.log("NOTE ", this.user.note);
            return (this.user.note.note != null && this.user.note.note != "");
        },
        getNoteClass : function(){
            // console.log(this.user.note);
            return (this.user.note.note == null || this.user.note.note == "") ? 'fa fa-sticky-note text-brand-grey ' : 'fa fa-sticky-note '+this.user.note.class;
        },
        getEntriesStyle : function(){
            return (this.isDesktop) ? "width:200px;" : "min-width: 35px;max-width: 35px;width:35px;";
        },
        getUserDetailsTitle : function(){
            let comish = (this.user.commissioner) ? "<i class='fa fa-crown'></i> " : "";
            let title = comish+this.user.username+' Details';
            return title;
        }
    },
    methods : {
        updateVerified : function(){
            this.$emit('update-verify', this.user.id, this.verified);
        },
        updateNote : function(id, note){
            this.$emit('update-note', id, note);
        },
        updateCommissioner : function(id, commissioner, note){
            this.$emit('update-commissioner', id, commissioner);
        },
        removeUser : function(){
            this.$emit('remove-user', this.user.id);
        },
        restoreUser : function(){
            this.$emit('restore-user', this.user.id);
        },
        closePopover : function(refId){
            this.$refs[refId].$emit('close');
        },
        closePopup : function(id){
            // console.log("Hiding ", id);
            this.$bvModal.hide(id);
        }
    }
};
</script>
