<template>
     <div>
         <div v-if="rostersLoaded">
             <div class="row">
                 <div class="col-12 text-center" style="font-size: 0.75em;">
                     <span><i class="fa fa-check-square"></i> - <span class="text-brand-orange">Confirmed</span></span>&nbsp;|&nbsp;
                     <span><i class="fa fa-square"></i> - <span class="text-brand-orange">Non-confirmed</span></span>&nbsp;|&nbsp;
                     <span><i class="fa fa-crown"></i> - <span class="text-brand-orange">Commissioner</span></span>&nbsp;|&nbsp;
                     <span><i class="fa fa-user"></i> - <span class="text-brand-orange">Pool User</span></span>&nbsp;|&nbsp;
                     <span><i class="fa fa-sticky-note"></i> - <span class="text-brand-orange">Commissioner Note</span></span>
                 </div>
             </div>
             <div class="row">
                 <div class="col-12 pt-3">
                     <table class="table table-supercondensed" id="rosterDetailTable">
                         <thead>
                         <tr class="text-uppercase text-brand-blue">
                             <th style="" class="text-left">Confirmed</th>
                             <th>Commish</th>
                             <th>Notes</th>
                             <th style="">User</th>
                             <th style="width:175px;" v-if="isDesktop">Full Name</th>
                             <th style="width:175px;" v-if="isDesktop">Email</th>
                             <th style="width:175px;" v-if="isDesktop">Phone</th>
                             <th class="text-left" :style="getEntriesStyle">Entries</th>
                             <th  class="text-center" style="min-width: 35px;max-width: 60px;width:60px;">Remove</th>
                         </tr>
                         </thead>
                         <tbody>
                         <roster-row
                             v-for="user in getSortedUsers"
                             :user.sync="user"
                             :key="user.id"
                             :desktop.sync="isDesktop"
                             @update-verify="updateVerify"
                             @update-note="updateNote"
                             @update-commissioner="updateCommissioner"
                             @remove-user="removeUser"
                             @restore-user="restoreUser"
                         ></roster-row>
                         </tbody>
                         <tfoot>
                            <tr>
                                <th colspan="10">
                                    Total users: <span class="text-brand-orange" v-html="rostersLoaded"></span>&nbsp;|&nbsp;Total Entries: <span class="text-brand-orange" v-html="getEntryCount"></span>
                                </th> 
                            </tr>
                         </tfoot>
                     </table>
                 </div>
             </div>

         </div>
         <div v-else class="text-center">
             <i class="fa fa-spin fa-spinner"></i> Loading...
         </div>
     </div>
</template>

<script>

import RosterRow from "./RosterRow";
import _ from 'lodash'

export default {
    name : "RosterApp",
    components: {
        RosterRow
    },
    props : [
        'id'
    ],
    data: function () {
        return {

            rosters : [],
            width : window.innerWidth,
            urls : {
                verify : verifyUrl,
                updateNote : noteUrl,
                removeUser : removeUrl,
                restoreUser : approveUrl,
                toggleCommissioner : toggleCommissionerUrl
            }
        }
    },
    mounted(){
        this.rosters = rosterData;

        window.addEventListener("resize", ()=>{
            this.width = window.innerWidth
        });
        axios.defaults.headers.common = {
            'X-CSRF-TOKEN': document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
            'X-Requested-With': 'XMLHttpRequest',
            // 'Authorization': 'Bearer ' + Laravel.apiToken,
        };
        window.Vue.prototype.$http = axios;
        // axios.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest';

    },
    computed : {
        rostersLoaded : function(){
            return this.rosters.length;
        },
        isDesktop : function(){
            return (this.width > 850);
        },
        getSortedUsers : function(){
            if(this.rosters && this.rosters.length){
                return _.orderBy(this.rosters, ['status','commissioner'],['asc','desc']);
            }
            return [];
        },
        getEntryCount : function(){
              let count = 0;
              this.rosters.forEach(function (r){
                 count = count +  parseInt(r.entry_count);
              });
              return count;
        },
        getEntriesStyle : function(){
            return (this.isDesktop) ? "width:175px;" : "min-width: 75px;max-width: 75px;width:75px;text-align:center !important;";
        }
    },
    methods : {
        restoreUser : function(id){
            axios.post(this.urls.restoreUser, {
                user_id : id,
            })
                .then((response) => {
                    let curUser = this.rosters.find(function(usr){
                        return (usr.id == id);
                    });
                    this.$set(curUser,'status', 'active');
                }, (error) => {
                    // alert(error);
                })

        },
        removeUser : function(id){

            this.$bvModal.msgBoxConfirm("This will remove the user and ALL of their entries. To delete individual entries use the MANAGE USER PICKS page.", {
                title: 'Are you sure you want to remove this user?',
                size: 'sm',
                centered: true,
                modalClass :"bg-brand-gray",
                contentClass :"bg-brand-charcoal",
                headerClass :"card-header brand-gradient border-white p-2",
                bodyClass :"bg-brand-charcoal",
            })
                .then(value => {
                    if(value){
                       this._removeUser(id);
                    }
                })
                .catch(err => {
                    // An error occurred
                })
            return null;


        },
        _removeUser : function(id){
            axios.post(this.urls.removeUser, {
                user_id : id,
            })
                .then((response) => {
                    let removedId = response.data.data.id;
                    let curUserIndex = this.rosters.findIndex(function(usr){
                        return (usr.id == removedId);
                    });
                    if(curUserIndex != -1){
                        this.rosters.splice(curUserIndex,1);
                    }
                }, (error) => {
                    // alert(error);
                })
        },
        updateNote : function(id, note){
            let curUser = this.rosters.find(function(usr){
                return (usr.id == id);
            });

            axios.post(this.urls.updateNote, {
                user_id : id,
                note : note
            })
                .then((response) => {
                    this.$set(curUser,'note', response.data.data.note);
                    // console.log(this.$bvToast);
                    // this.$bvToast.toast(`This is toast number `, {
                    //     title: 'BootstrapVue Toast',
                    //     autoHideDelay: 5000,
                    //     // appendToast: append
                    // })
                    // Vue.$notify({
                    //     group: 'poolroster',
                    //     title: 'Updated',
                    //     text: 'Note Updated!'
                    // });
                    // this.$swal({
                    //     title : "Note Updated!",
                    //     html : "Updated",
                    //     icon: 'check',
                    //     confirmButtonColor: '#3085d6',
                    // });

                }, (error) => {
                    // alert(error);
                });

        },
        updateCommissioner : function(id, commissioner){
            let curUser = this.rosters.find(function(usr){
                return (usr.id == id);
            });
            axios.post(this.urls.toggleCommissioner, {
                user_id : id,
                commissioner : commissioner
            })
            .then((response) => {
                this.$set(curUser,'commissioner', response.data.data.commissioner);
            }, (error) => {
                // alert(error);
            })
        },
        updateVerify : function(id, verified){
            let curUser = this.rosters.find(function(usr){
                return (usr.id == id);
            });

            axios.post(this.urls.verify, {
                user_id : id,
                verified : verified
            })
                .then((response) => {
                    this.$set(curUser,'verified', response.data.data.verified);
                }, (error) => {
                    // alert(error);
                });


        }
    }
};
</script>
