<template>
	<div class="vpb--ConfigContainer">
		<div class="vpb--ConfigHead vpb--pointer" @click="openSection()">
			<h4 class="vpb--ConfigHeader">Ring Size</h4>
			<div class="vpb--ConfigPick" v-html="getSizeLabel"></div>
		</div>
		<div class="vpb--ConfigBody" v-if="showSection">
			<select class="vpb--ConfigSizeSelect" v-model="localSize" @change="pickSize">
				<option disabled value="">Please select size</option>
				<option v-for="s in pickableSizes" :value="s">{{s}}</option>
			</select>
			<span class="vpb--inputHelperText">Sizes start at '<strong v-html="startSize"></strong>'</span>
		</div>
	</div>
</template>


<script>

import Autocomplete from '@trevoreyre/autocomplete-vue'

export default {
	components: {
		Autocomplete,

	},
	props : [
		'sizes',
		'size',
		'open'
	],
	name : "SizeConfigContainer",
	data() {
		return {
			localSize : this.size,
			expanded : false,
		};
	},
	created() {
		// console.log("This size ", this.size);
		this.localSize = this.size;
	},
	mounted() {
		this.localSize = this.size;
	},
	computed : {
		getSize : function(){
			// console.log("Getting size", this.size);
			return this.size;
		},
		getLocalSize : function(){
			return this.localSize;
		},
		startSize : function(){
			return (this.sizes && this.sizes.length) ? this.sizes[0].name.toUpperCase() : "";
		},
		getSizeLabel : function(){
			return (this.size ) ? this.size.toUpperCase() : "Select";
		},
		showSection : function(){
			return this.open && this.sizes && this.sizes.length;
		},
			pickableSizes : function(){
			let pSizes = [];
			this.sizes.forEach(function(s){
				// console.log("Size", s);
				pSizes.push(s.name.toUpperCase());
			});
			return pSizes;
		}
	},
	methods : {
		search : function(input) {
			if (input.length < 1) { return [] }
			return this.pickableSizes.filter(size => {
				return size.toUpperCase()
					.startsWith(input.toUpperCase())
			})
		},
		openSection : function(){
			this.$emit('open-section','size');
		},
		pickSize : function(result){
			// console.log(result, this.localSize);
			this.$emit('pick-size',this.localSize);
		},
	}
}
</script>