@import "project/variables";

//@import "variables";

body {
	font-family: $brand-font;
}
p {
	font-family: $brand-font;
}

:root {
	font-size: $default-size + px;
	@media screen and (max-width: 767px) {
		font-size: $default-size - 2 + px;
	}
}

@mixin brand-colors($el, $color, $property) {
	#{$el} {
		#{$property}: $color !important;
	}
}

@mixin button($color, $val) {
	.btn-#{$color} {
		background-color: $val !important;
		color: white !important;
	}
}

@each $color, $value in $brand-colors {
	@include brand-colors(".bg-#{$color}", $value, "background-color");
	@include brand-colors(".text-#{$color}", $value, "color");
	@include brand-colors(".border-#{$color}", $value, "border-color");
	@include button($color, $value);
}

@each $font-size, $value in (1: 0.5rem, 2: 0.75rem, 3: 1rem, 4: 1.25rem, 5: 1.5rem, 6: 2rem) {
	.font-size-#{$font-size} {
		font-size: $value;
	}
}

//.card {
//	border-radius: 0;
//    .card-header {
//        padding:0.35rem 1rem;
//    }
//    .card-body {
//        padding:1rem;
//    }
//}

.menu-gradient {
	background: $brand-gradient-color-1;
	background: -moz-linear-gradient(
		left,
		$brand-gradient-color-1 0%,
		$brand-gradient-color-2 50%,
		$brand-gradient-color-1 100%
	);
	background: -webkit-linear-gradient(
		left,
		$brand-gradient-color-1 0%,
		$brand-gradient-color-2 50%,
		$brand-gradient-color-1 100%
	);
	background: linear-gradient(
		to right,
		$brand-gradient-color-1 0%,
		$brand-gradient-color-2 50%,
		$brand-gradient-color-1 100%
	);
	//filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='', endColorstr='#000000',GradientType=1 );
}

.brand-gradient {
	background: $brand-gradient-color-1;
	background: -moz-linear-gradient(
		20deg,
		$brand-gradient-color-1 10%,
		$brand-gradient-color-2 90%,
		$brand-gradient-color-2 100%
	);
	background: -webkit-linear-gradient(
		20deg,
		$brand-gradient-color-1 10%,
		$brand-gradient-color-2 90%,
		$brand-gradient-color-2 100%
	);
	background: linear-gradient(
		20deg,
		$brand-gradient-color-1 10%,
		$brand-gradient-color-2 90%,
		$brand-gradient-color-2 100%
	);
}

.grey-gradient {
	background: $brand-gradient-color-1;
	background: -moz-linear-gradient(
		20deg,
		$brand-gradient-color-1 10%,
		$brand-gradient-color-4 90%,
		$brand-gradient-color-4 100%
	);
	background: -webkit-linear-gradient(
		20deg,
		$brand-gradient-color-1 10%,
		$brand-gradient-color-4 90%,
		$brand-gradient-color-4 100%
	);
	background: linear-gradient(
		20deg,
		$brand-gradient-color-1 10%,
		$brand-gradient-color-4 90%,
		$brand-gradient-color-4 100%
	);
}

.hidden {
	display: none;
}

.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100vh;
	//background-color: #00000078;
	//background: $brand-gradient-color-1;
	//background: -moz-linear-gradient(left, $brand-gradient-color-1 0%, $brand-gradient-color-3 50%, $brand-gradient-color-1 100%);
	//background: -webkit-linear-gradient(left, $brand-gradient-color-1 0%,$brand-gradient-color-3 50%,$brand-gradient-color-1 100%);
	//background: linear-gradient(to right, $brand-gradient-color-1 0%,$brand-gradient-color-3 50%,$brand-gradient-color-1 100%);
	//background-blend-mode: multiply;
	//background-blend-mode: multiply;
}

.header,
.content,
.footer {
	flex-basis: auto;
}

.header,
.footer {
	flex-grow: 0;
}

.content {
	flex-grow: 1;
	padding: {
		//top: (25 / $default-size) + rem;
		bottom: 100px;
	}
	background: url("/images/psp_tiles_3.jpg");
	//background-repeat: no-repeat;
	//background-size: auto;
	background-color: rgba(0, 0, 0, 0.71);
	box-shadow: inset 4px 0px 27px 4px rgb(0, 0, 0);

	//background-color: #111;
	//background-image: linear-gradient(to right, $brand-gradient-color-1 0%, transparent 5%, transparent 95%, $brand-gradient-color-1 100%),
	//				  linear-gradient(to bottom, $brand-gradient-color-1 0%, transparent 10%);
}

.info-btn {
	text-align: right;
}

.note-toolbar-wrapper .btn {
	box-shadow: none !important;
}

// Контейнер с шириной как в макете
.theme-container {
	width: 630px;
	max-width: 100%;
	margin: auto;
	position: relative;
}

.custom-select {
	border-radius: 0;
	border: none;
	background: #fff
		url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='6mm' height='9.64mm' viewBox='0 0 17.01 27.33'%3E%3Cdefs%3E%3Cstyle%3E .a %7B fill: %2344aee3; %7D .b %7B fill: %233a3a3c; %7D %3C/style%3E%3C/defs%3E%3Ctitle%3Eselect-arrow%3C/title%3E%3Cg%3E%3Crect class='a' width='17.01' height='27.33'/%3E%3Cpolygon class='b' points='2.98 11.94 14.44 11.94 8.71 17.43 2.98 11.94'/%3E%3C/g%3E%3C/svg%3E%0A")
		center right / contain no-repeat;
}

.form-control {
	border-radius: 0;
}

.modal-backdrop {
	/* bug fix - no overlay */
	//display: none;
}

.text-white {
	color: #ecf4f4 !important;
}

.small-mobile-label {
	@media screen and (max-width: 600px) {
		font-size: 10px;
	}
}

.show-on-mobile {
	display: none;
}

.show-on-desktop {
	display: inline;
}

@media screen and (max-width: 600px) {
	.show-on-mobile {
		display: inline;
	}
	
	.show-on-desktop {
		display: none;
	}
}


@media screen and (max-width: 767px) {
	.square-top-number-wrapper {
		border: none !important;
	}
	.square-top-number-1, .square-top-number-3 {
		justify-content: start !important;
	}
	.square-top-number-2, .square-top-number-4 {
		justify-content: flex-end !important;
	}
}

@media screen and (max-width: 439px) {
	.square-top-number-wrapper span {
		border: none !important;
		font-size: 7px !important;
	}
}

.row {
	.no-float {
		display: table-cell;
		float: none;
	}
}

.border-dotted {
	border-style: dotted;
}

.gray-number {
	// position: absolute;
	// top: 6px;
	// right: 8px;
	color: #979797;
}

.generate-number-text {
	width: 100%;
	text-align: center;
	border: none;
}

.generate-number-border-right {
	border-right: solid 1px #b5b5b5;
}

.generate-number-border-bottom {
	border-bottom: solid 1px #b5b5b5;
}

.divider {
	width: 100%;
	border-top: solid 1px #232323;
}

/* Header styles */
@import "project/header";

/* alerts */
@import "project/alerts";

/* Header styles */
@import "project/home";

/* Вкладки (make pics, view grid) */
@import "project/tabs";

/* Хлебные крошки, частично перезаписывают свойства стандартных стилей бутстрап */
@import "project/grid-breadcrumb";

/* Фильтр над сеткой(поиск + чекбоксы) */
@import "project/filter";

/* Таблица */
@import "project/grid";

/* schwindy  */
@import "project/schwindy";

/* golf */
@import "project/golf";

/* Чат */
@import "project/chat";

/* Кнопки вроде print */
@import "project/btn";

/* card */
@import "project/card";

/* CCfrom */
@import "project/ccform";

/* Легенда над сеткой */
@import "project/live";

/* Пагинация под сеткой */
@import "project/pag";

/* Кастом input type number */
@import "project/custom-input-number";

/* Правка стилей бутстрапа для таблиц */
@import "project/table";

/* Footer styles */
@import "project/footer";

//Margins
@import "project/margins";

//Misc
@import "project/misc";

//Nav
@import "project/nav";

//notifications
@import "project/notifications";

//crumbs
@import "project/breadcrumbs";

//popup
@import "project/popup";

@import "project/inputs";

@import "project/invite";

@import "project/quilljs";
