<template>
    <div class="row">
        <div class="col-md-4">
            <table class="table table-borderless data-table-sortable-NO"  id="standingsTable-HOLD">
                <thead>
                <th></th>
                <th></th>
                </thead>
                <tbody class="friends-list" id="friendsList">
                <tr v-for="friend in friends">

                </tr>
                @foreach($friends as $friend)
                        @if($friend->email !== $user->email)
                        <tr data-femail="{{trim(strtolower($friend->email))}}">
                            <td>
                                <input type="checkbox" name="email[]" value="{{$friend->email}}">
                            </td>
                            <td style="padding:0 !important;">
                                <strong class="text-white ml-3">{{$friend->global_display_name}}</strong> - <small class="text-brand-gray">{{$friend->email}}</small>
                            </td>
                </tr>
                @endif
                @endforeach
        </tbody>
        </table>
    </div>
    <div class="col-md-8">
        <form method="post" action="/pool/{{$pool->id}}/process-invite">
            {{csrf_field()}}
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="" class="col-md-12">To:</label>
                        <div class="col-md-12">
                            <ul id="inviteList" class="list-inline invitee-list bg-brand-darkblue ml-2 mr-2 pt-2 pb-2 pl-2" >

                            </ul>
                        </div>

                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="" class="col-md-12">{!! __c("pool.invites.content.send_invite_message_label", "Message to user") !!}</label>
                        <div class="col-md-12">
                            <textarea name="message" id="" cols="30" rows="3" class="form-control"></textarea>
                            <div class="help-block">{!! __c("pool.invites.content.send_invite_message_help_text", "Message you want to include in your email") !!}</div>

                        </div>
                    </div>

                </div>
                <div class="col-md-12">
                    <div class="col align-self-end text-right pt-4 pb-2">
                        <button class="btn brand-btn btn-brand-blue" type="submit">{!! __c("pool.invites.content.send_invite_message_button", "Send Email") !!}
                            <i class="fa fa-paper-plane"></i>
                        </button>
                    </div>
                </div>
            </div>

        </form>
    </div>
    </div>
</template>
