<template>
   <div>

   </div>
</template>

<script>

    export default {
        name: "Message",
        components: {
        },
        props: ["message"],
        computed : {

        },
        mounted() {
        }
    }
</script>
