<template>
    <tr>
        <td>

        </td>
        <td>

        </td>
    </tr>
</template>

<script>

    export default {
        name: "FriendRow",
        components: {
        },
        props: ["friend"],
        computed : {

        },
        mounted() {
        }
    }
</script>
