<template>
    <div class="row">
        <div class="col-md-12">
            <div class="tabs  pb-3" v-if="isMobile">
                <a href="#" style="font-size: 1.2em;padding-bottom: 10px;"  :class="getPoolButtonClass" @click="showBoard = 'pool'">Pool Leaderboard</a>
                <a href="#" style="font-size: 1.2em;padding-bottom: 10px;" :class="getTourneyButtonClass" @click="showBoard = 'tourney'" >Tourney Leaderboard</a>
            </div>
            <div class="row">
                <div class="col-12 col-md-6" v-if="showPool">
                    <entries-table
                        :status.sync="getTourneyStatus"
                        :lastupdate.sync="lastUpdate"
                        :entries.sync="entries"
                        :entries2.sync="entries2"
                        :players.sync="players"
                        :tournament.sync="tournament"
                        :handicaps.sync="handicaps"
                        :user.sync="user"
                        :toscore="toscore"
                        :type="type"
                        :count_cut="count_cut"
                        :count="count"
                        :prizefinal.sync="prize_final"
                    >
                        ></entries-table>
                </div>
                <div class="col-12 col-md-6" v-if="showTourney">
                    <all-players-table
                        :status.sync="getTourneyStatus"
                        :players.sync="players"
                        :mobile.sync="isMobile"
                        :par="getTourneyPar"
                        :type="type"
                        :count_cut="count_cut"
                        :tournament.sync="tournament"
                        :updatedd.sync="updatedd"
                    ></all-players-table>
                </div>
            </div>
        </div>
    </div>

</template>

<script>

    import AllPlayersTable from "./TournamentLeaderboard/AllPlayersTable";
    import EntriesTable from "./PoolLeaderboard/EntriesTable";

    export default {
        name : "LiveContainer",
        components: {
            EntriesTable,
            AllPlayersTable,

        },
        data: function () {
            return {
                showMobile : true,
                showBoard : 'pool',
                width : window.innerWidth,
            }
        },
        mounted(){
            window.addEventListener("resize", ()=>{
                this.width = window.innerWidth
            });
        },
        props: [
            "count_cut",
            "toscore",
            "entries",
            "entries2",
            "tournament",
            "user",
            "players",
            "updatedd",
            "sinceupdate",
            "type",
            "handicaps",
            "count"
        ],
        computed : {
            isFinished : function(){
                return this.tournament.finished;
            },
            getTourneyStatus : function(){
                return (this.tournament) ? this.tournament.status : "<i class='fa fa-spinner fa-spin'></i>";
            },
            getTourneyPar : function(){
                return (this.tournament) ? this.tournament.par : 0;
            },
            getPoolButtonClass : function(){
                return (this.showBoard == 'pool') ? " tabs-item active" : "tabs-item";
            },
            getTourneyButtonClass : function(){
                return (this.showBoard == 'tourney') ? " tabs-item active" : "tabs-item";
            },
            isMobile : function(){
                return (this.width < 600);
            },
            showTourney : function(){
                if(this.isMobile){
                    return (this.showBoard === 'tourney');
                }
                return true;
            },
            showPool : function(){
                if(this.isMobile){
                    return (this.showBoard === 'pool');
                }
                return true;
            },
            lastUpdate : function(){
                return this.sinceupdate+" secs. ago";
            }
        }
    };
</script>

<style>
    .flash-in{
        color: red;
    }
    .flash-out {
        color: white;
    }
</style>
