<script>
    export default {
        name: 'modal',
        methods: {
            close() {
                this.$emit('close');
            },
        },
    };
</script>
<template>
    <transition name="modal-fade">
        <div class="vue-modal-backdrop">
            <div class="vue-modal"
                 role="dialog"
                 aria-labelledby="modalTitle"
                 aria-describedby="modalDescription"
            >
                <div class="card bg-brand-grey border-white">
                    <div class="card-header brand-gradient border-bottom border-white">
                        <button
                            type="button"
                            class="btn-close"
                            style="float:right;background: no-repeat;
    border: none;
    color: white; font-weight: bold; font-size: 14px;"
                            @click="close"
                            aria-label="Close modal"
                        >
                            <i class="fa fa-times"></i>
                        </button>
                        <slot name="header" class="text-white text-uppercase mb-0"></slot>
                    </div>
                    <div class="card-body p-3">
                        <slot name="errors"></slot>
                        <slot name="body">

                            I'm the default body!
                        </slot>
                        <div class="vue-modal-footer">
                            <slot name="footer">
                                I'm the default footer!

                                <button
                                    type="button"
                                    class="btn brand-btn btn-brand-blue  btn-block "
                                    @click="close"
                                    aria-label="Close modal"
                                >
                                    Close me!
                                </button>
                            </slot>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </transition>
</template>
