<template>
    <div class="send-message">
        <div class="input-group">
            <input type="text" class="form-control" v-model="newMessage"  @keyup.enter="sendMessage" >
            <button class="btn btn-brand add-on" @click="sendMessage"><i class="fa fa-paper-plane"></i></button>
        </div>
    </div>
</template>

<script>
    export default {
        name : "ChatSendMessage",
        data : function(){
            return { newMessage : ''}
        },
        props: ["unread"],
        methods : {
            sendMessage(message){
                this.$emit('send-message', this.newMessage);
                this.newMessage = "";
            }
        },
        created(){
        },
    }
</script>
