<template>
    <div
        :class="'talk-bubble tri round right-in '+isMe+isUndread">
        <strong :class="'author'+isMe" v-html="message.display_name" style="font-size: 10px;"></strong> <small class="time-stamp" v-html="message.time"></small><br>
        <span class="message" v-html="message.message"></span>
    </div>
</template>

<script>
    export default {
        name : "ChatMessage",
        props: ["chat","message"],
        computed: {
            isMe : function(){
                if(this.message){
                    return (this.message.user_id === this.chat.me.id) ? " me " : '';
                }
                return '';
            },
            isUndread : function(){
                if(this.message){
                    return (this.message.unread) ? " unread " : "";
                }
                return "";
            }
        },
        created(){
        },
    }
</script>
