<template>
    <button class="btn brand-btn btn-brand-blue btn-lg mb-3" @click="toggleChat">
        <span class="title-wrap"><i class="fa fa-comment-alt fa-2x"></i><span v-if="getUnread" class="badge badge-danger">{{getUnread}}</span></span>
    </button>
</template>

<script>
    export default {
        name : "ChatHeader",
        props: ["chat"],
        computed : {
            getUnread : function(){
                if(this.chat){
                    return this.chat.unread;
                }
                return 0;
            }
        },
        methods : {
            toggleChat : function(){
                this.$emit('toggle-chat');
            }
        },
        created(){

        },
    }
</script>
