<template>
    <div class="chat-header" @click="toggleChat" style="position:relative">
        <h5 style="display:inline-block;margin-bottom: 0;">CHAT</h5>
        <div style="display:inline-block ; position: absolute;bottom: 4px;right: 15px;" class="pull-right"><i class="fa fa-window-minimize"></i></div>
    </div>
</template>

<script>
    export default {
        name : "ChatHeader",
        props: ["chat"],
        methods : {
            toggleChat : function(){
                return this.$emit('toggle-chat');
            }
        },
        created(){
        },
    }
</script>
