<template>
    <div class="chat-wrapper">
        <div v-if="showChat" class="chat-body">
            <chat-header :chat.sync="chat" @toggle-chat="toggleChat"></chat-header>
            <chat-body :chat.sync="chat"></chat-body>
            <chat-send-message :chat.sync="chat" @send-message="sendMessage"></chat-send-message>
        </div>
        <chat-toggle :chat.sync="chat" v-else @toggle-chat="toggleChat"></chat-toggle>

    </div>

</template>

<script>
    import ChatToggle from './ChatToggle.vue';
    import ChatHeader from './ChatHeader.vue';
    import ChatSendMessage from './ChatSendMessage.vue';
    import ChatBody from './ChatBody.vue';
    export default {
        name : "ChatContainer",
        props: ["chat"],
        components : {
            'chat-toggle' : ChatToggle,
            'chat-header' : ChatHeader,
            'chat-body' : ChatBody,
            'chat-send-message' : ChatSendMessage
        },
        methods : {
            sendMessage(item){
                this.$emit('send-message', item);
            },
            toggleChat(){
                var ased = this.$emit('toggle-chat');
            }
        },
        computed : {
            showChat : function(){
                if(this.chat){
                    return (this.chat.collapse === false);
                }
                return false;
            }
        },
        created(){
        },
    }
</script>
