<template>
    <div class="chat-messages" id="chatMessageContainer">
        <chat-message
            v-for="message in chat.messages"
            :key="message.id"
            :message.sync = message
            :chat.sync = chat
        ></chat-message>
    </div>
</template>

<script>
    import ChatMessage from "./ChatMessage";

    export default {
        name : "ChatBody",
        props: ["chat", "message"],
        components : {
            'chat-message' : ChatMessage
        },
        created(){
        },
        mounted() {
            var elem = this.$el;
            var scrollHeight = Math.max(elem.scrollHeight, elem.clientHeight);
            elem.scrollTop = scrollHeight - elem.clientHeight;
        },
        updated(){
            var elem = this.$el;
            var scrollHeight = Math.max(elem.scrollHeight, elem.clientHeight);
            elem.scrollTop = scrollHeight - elem.clientHeight;
        }
    }
</script>
