<template>
	<div>
		<div class="card" v-if="category">
			<div class="card-header  d-flex justify-content-between">
				<div v-if="!editing">
					<div class="btn-group btn-group-sm">
						<button v-if="canAddMoreQuestions" class="btn btn-primary" @click="createQuestion">Add Question</button>
						<button class="btn btn-warning" @click="toggleEdit(true)">Edit</button>
						<button class="btn btn-danger" @click="deleteCategory()">Delete</button>
					</div>
				</div>
				<h5 class="card-title">{{category.name}}</h5>
			</div>
			<div class="card-body">
				<div v-if="editing">
					<div class="row">
						<div class="col-md-6">
							<div class="mb-3">
								Editing ID: <strong>{{localCategory.id}}</strong><br>
							</div>
							<div class="mb-3">
								<label class="form-label">Step Number</label>
								<input type="number" class="form-control" v-model="localCategory.step" step="1" min="1">
							</div>
							<div class="mb-3">
								<label class="form-label">Category (Step) Name</label>
								<input type="text" class="form-control" v-model="localCategory.name">
							</div>
							<div class="mb-3">
								<label class="form-label">Description</label>
								<textarea v-model="localCategory.description" class="form-control"></textarea>
							</div>
						</div>
					</div>

				</div>
				<div v-else>
					<div class="row">
						<div class="col-md-12 pb-3">
							Step : <strong>{{category.step}}</strong><br>
							<label for="" class="text-muted muted">Description</label>
							<p class="card-text" v-html="category.description"></p>

						</div>
					</div>
					<div class="row">
						<div class="col-12 pt-2 m-0">
							<h6>Question</h6>
							<question-item
								v-for="question in category.questions" :key="question.id"
								:question.sync="question"
								:products.sync="products"
								@update-question="updateQuestion"
								@delete-question="deleteQuestion"
								@update-answer="updateAnswer"
								@create-answer="createAnswer"
								@set-edit-question-flag="setEditFlag"
							>
							</question-item>
						</div>
					</div>
				</div>
			</div>
			<div class="card-footer"  v-if="editing">
				<div class="">
					<button class="btn btn-success btn-xs"
							@click="updateCategory">Update</button>
					<button @click="cancelEdit" class="btn btn-default btn-small">Cancel</button>
				</div>
			</div>
		</div>
	</div>
</template>


<script>
import QuestionNavItem from "./Question/QuestionNavItem.vue";
import QuestionItem from "./Question/QuestionItem.vue";
export default {
	name : "CategoryItem",
	data() {
		return {
			currentQuestionId : null,
			editQuestionFlag : false,
			editing : false,
			localCategory : {
				id : this.category.id,
				name : this.category.name,
				description : this.category.description,
				step : this.category.step,
			}
		}
	},
	components: {
		QuestionItem,
		QuestionNavItem

	},
	props: ["category", "products"],
	computed : {
		canAddMoreQuestions : function(){
			return (this.category.questions.length <= 0);
		}
		// getCurrentQuestion : function(){
		// 	let qId = this.currentQuestionId;
		// 	return this.category.questions.find(function(q){
		// 		return q.id === qId;
		// 	})
		// },
	},
	mounted() {
		this._syncLocal();
	},
	methods : {
		updateCategory : function(){
			this.$emit('update-category', this.localCategory);
			this.$nextTick(function () {
				this.toggleEdit(false);
			});
		},
		deleteCategory : function(){
			this._syncLocal();
			if(confirm("This cannot be undone, are you sure? Deleting "+this.category.step + " | "+this.localCategory.step)){
				this.$emit('delete-category', this.category.id);
			}
		},
		cancelEdit : function(){
			this.toggleEdit(false);
			this._syncLocal();
		},
		// selectQuestion : function(id){
		// 	this.currentQuestionId = id;
		// },
		createQuestion : function(){
			return this.$emit('create-question', this.category.id);
		},
		updateQuestion : function(question){
			return this.$emit('update-question', question, this.category.id);
		},
		deleteQuestion : function(questionId){
			return this.$emit('delete-question', questionId, this.category.id);
		},
		updateAnswer : function(answer, questionId){
			return this.$emit('update-answer', answer, questionId, this.category.id);
		},
		createAnswer : function(questionId){
			return this.$emit('create-answer', questionId, this.category.id);
		},
		toggleEdit : function(flag){
			this._syncLocal();
			this.editing = flag;
			this.$emit('set-edit-flag', flag);
		},
		_syncLocal : function(){
			this.$set(this.localCategory, "id", this.category.id);
			this.$set(this.localCategory, "name", this.category.name);
			this.$set(this.localCategory, "description", this.category.description);
			this.$set(this.localCategory, "step", this.category.step);
		},
		setEditFlag : function(flag){
			this.editQuestionFlag = flag;
		},
	}
};
</script>