<template>
	<li class="nav-item">
		<a href="#" :key="category.id"
		   @click="selectCategory(category.id)"
		   :class="getCategoryNavClass">
			{{category.step}}) {{ category.name }}
		</a>
	</li>
</template>


<script>
export default {
	name : "CategoryNavItem",
	components: {
	},
	props: ["category", "currentCategoryId"],
	computed : {
		getCategoryNavClass : function(){
			let active = (this.category.id === this.currentCategoryId) ? ' text-black-50' : '';
			return 'nav-link '+active;
		}
	},
	methods : {
		selectCategory:  function(id){
			return this.$emit('select-category',id);
		}
	}
};
</script>