<template>
    <div
        v-if="lgroup.enabled"
        class="col text-center mb-2"
        :key="lgroup.number"
    >
        <a
            href="#"
            :data-slide-to="gotoGroup"
            data-target="#group-rotator"
            class="page-link week-nav text-brand-grey p-0 m-0 pl-1 pr-1 pt-2 pb-2 "
        >
            {{lgroup.name}} <br><small>{{pickedInGroupCount}}/{{(lgroup.max)}}</small>
        </a>
    </div>
</template>


<script>
    export default {
        name : "GolfGroupNavItem",
        props: ["entry", "lgroup"],
        components : {
        },
        data: function () {
            return {
            }
        },
        computed : {
            gotoGroup : function(){
                return (parseInt(this.lgroup.number) - 1);
            },
            pickedInGroupCount : function(){

                if(this.entry){
                    let onGroupNumber = this.lgroup.number;
                    let curGroup = this.entry.groups.find(function(g){
                        return (g.number === onGroupNumber);
                    });
                    if(curGroup){
                        return curGroup.tournament_players.length;
                    }
                }
                return 0;
            },
        },
        methods:{

        }
    }
</script>
