<template>
    <div class="text-left">
        <div :class="entryClass" v-on:click="pickEntry(lentry, sindex)" style=" border-top-left-radius: 3px; border-top-right-radius: 3px; border-top:1px solid #2a2a2a; border-left:1px solid #2a2a2a;border-right:1px solid #2a2a2a;  width:100%;" >
            <span class="text-white" style="font-size: 0.95em;padding-left:10px;padding-right: 10px; padding-top:5px; padding-bottom: 5px;">
                <sup v-if="lentry.unsaved" class="text-brand-red"><i class="fa fa-asterisk"></i></sup> {{getEntryName}} <span :class="badgeClass">{{countPicked}}</span>
            </span>
        </div>
    </div>
</template>

<script>
    export default {
        name : "GolfEntry",
        props: ["golf","entry", "lentry", "pending", "sindex"],
        data: function () {
            return {

            }
        },
        computed : {
            getEntryName : function(){
                return this.lentry.name;
            },
            unsavedChanges : function(){
                if(this.lentry){
                    return this.lentry.unsaved;
                }
                return false;
            },
            isPendingChanges : function(){
                return this.lentry.unsaved;
            },
            entryClass : function(){

                return (this.entry && this.entry.id === this.lentry.id) ? "  bg-brand-blue text-center pb-2 " : " text-center pb-2 bg-brand-black ";
            },
            badgeClass : function(){
                return (this.entry && this.entry.id === this.lentry.id) ? " badge bg-brand-darkgrey text-white " : " badge bg-brand-blue text-white  ";

            },
            countPicked : function(){
                let prettyNames = [];
                this.lentry.groups.forEach(function(group,index){
                    group.tournament_players.forEach(function(player,index){
                        let locPlayer = player.player;
                        let parts = locPlayer.name.split(" ");
                        parts[0] =  parts[0].charAt(0)+".";
                        prettyNames.push(parts.join(' '));
                    })
                });
                return prettyNames.length;
            },
            prettyPickList : function(){
                let prettyNames = [];
                this.lentry.groups.forEach(function(group,index){
                    group.tournament_players.forEach(function(player,index){
                        let locPlayer = player.player;
                        let parts = locPlayer.name.split(" ");
                        parts[0] =  parts[0].charAt(0)+".";
                        prettyNames.push(parts.join(' '));
                    })
                });
                return prettyNames.join(", ");
            }
        },
        methods:{
            pickEntry : function(entry, slideIndex){
                this.$emit('pick-entry',entry, slideIndex);
            },
            deleteEntry : function(entry){
                this.$emit('delete-entry', entry);
            },
            saveEntry : function(entry){
                this.$emit('save-entry',entry);
            }

        }
    }
</script>
