<template>
    <div>

<!--        <div class="row">-->
<!--            <div class="col-md-12 p-2 m-2 text-center">-->
<!--                <div class="btn-group">-->
<!--                    <select name="" id="" class="form-control" v-model="pickedEntry" @change="pickEntrySelect($event)">-->
<!--                        <option-->
<!--                            v-for="(lentry, i) in getUserEntries"-->
<!--                            :key="lentry.id"-->
<!--                            :value="lentry"-->
<!--                        >{{lentry.name}}</option>-->
<!--                    </select>-->
<!--                    <button @click="createEntry(user)" class="btn btn-sm btn-brand-blue brand-btn"><i class="fa fa-plus"></i> Create Entry</button>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
    </div>

</template>

<script>
    import VueTinySlider from 'vue-tiny-slider';

    export default {
        name : "GolfMobileEntries",
        components: {
            'tiny-slider': VueTinySlider

            // Carousel,
            // Slide
        },
        props: ["golf","user", "pending", "entry"],
        data: function () {
            return {
                editingEntry : 0,
                tinySliderOptions : {
                    mouseDrag : true,
                    loop: false,
                    gutter:"20",
                    center: true,
                    items:"3",
                    slideBy:"page",
                    controlsText : ["<i class='fa fa-chevron-left fa-2x p-2 pull-left'></i>", "<i class='fa fa-chevron-right fa-2x p-2 pull-right'></i>"],
                    nav : false,
                    arrowKeys : false,
                    autoWidth : true,
                    responsive: {
                        640: {
                            edgePadding: 20,
                            gutter: 20,
                            items: 1
                        },
                        700: {
                            gutter: 30
                        },
                        900: {
                            items: 3
                        }
                    }
                },
                pickedEntry : {},
            }
        },
        mounted() {
        },
        computed : {
            sliderItemStyle : function(){
                return "display:inline-block;width:auto;"
            },
            isPendingChanges : function(){
                return this.pending;
            },
            getUserEntries : function(){
                return this.user.entries;
            }
        },

        methods:{
            navigateTo : function(i){
                this.$refs.entryPicker.slider.goTo(i);
            },
            // navigateAndSetActive : function(data){
            //     this.editingEntry =  parseInt(data.id);
            //     this.$emit('navigate-to', this.editingEntry);
            //     console.log(data);
            // },
            pickEntry : function(entry, slideIndex){
                this.navigateTo(slideIndex);
                this.$emit('pick-entry',entry);
            },
            createEntry : function(user){
                this.$emit('create-entry', user);
            },
            saveEntry : function(entry){
                this.$emit('save-entry', entry);
            },
            deleteEntry : function(entry){
                this.$emit('delete-entry', entry);
            },
            pickEntrySelect : function(event){
                this.$emit('pick-entry', this.pickedEntry);
            }
        }
    }
</script>
