<template>
    <div class="col-12">
        <h6>{{group.name}}</h6>
        <ul style="padding:0;margin:0;">
            <golf-player v-for="playerContainer in getGroupedPlayers"
                         :golf_tournament_player.sync="playerContainer.golf_tournament_player"
                         :golf.sync="golf"
                         :group.sync="group"
                         :active_group.sync="active_group"
                         :entry.sync="entry"
                         :l2h="true"
                         :group_number.sync="getGroupNumber"
                         :key="playerContainer.golf_tournament_player.id"
                         :pending.sync="isPendingChanges"
                         @pick-player="pickPlayer"
                         @unpick-player="unpickPlayer"
                         :lower_group.sync="isLowerGroup"
            ></golf-player>
        </ul>
    </div>
</template>


<script>
    import GolfPlayer from "./GolfPlayer";
    export default {
        name : "GolfLowerGroup",
        components: {GolfPlayer},
        props: ["golf", "group", "entry", "active_group", "pending"],
        data: function () {
            return {

            }
        },
        created() {



        },
        filters : {
            groupNumberToLetter : function(num){
                let groupNums = {
                    1 : "A",
                    2 : "B",
                    3 : "C",
                    4 : "D",
                    5 : "E",
                    6 : "F"
                };
                let toNum = parseInt(num);
                return (groupNums[toNum]) ? groupNums[toNum] : num ;
            }
        },
        computed : {
            isPendingChanges : function(){
                return this.pending;
            },
            isLowerGroup : function(){
                return true;
            },
            getGroupNumber : function(){
                if(this.group){
                    return this.group.number;
                }
                return null;
            },
            getGroupedPlayers : function(){
                if(this.golf && this.group){
                    let groupNumber = this.group.number;
                    return this.golf.players.filter(function(playerElement){
                        return (playerElement.group_number === groupNumber);
                    });
                }
                return []
            }

        },
        methods:{
            pickPlayer : function(golf_tournament_player, group){
                this.$emit('pick-player',golf_tournament_player,group);
            },
            unpickPlayer : function(golf_tournament_player, group){
                this.$emit('unpick-player', golf_tournament_player, group);
            },
        }
    }
</script>
