<template>
    <div
        class="golfGroupContainer  colz-xs-12 colz-sm-4 colz-md-3 colz-lg-2 pb-3 "
        :style="getGroupContainerStyle"
    >
        <h4 class="text-white text-uppercase mb-0 text-center bg-brand-charcoal">
            <div style="display: inline-block;" class=" pt-2 " v-if="(this.gcount > 1)">{{group.name | groupNumberToLetter}}</div>
            <div style="display: inline-block;" class=" pt-2 " v-else>Single Group</div>
        </h4>
        <div class="text-center bg-brand-charcoal"><small v-html="getGroupMaxPicks"></small></div>
        <ul class="p-0" :style="getULStyle">
            <golf-player v-for="playerContainer in getGroupedPlayers"
                         :golf_tournament_player.sync="playerContainer.golf_tournament_player"
                         :golf.sync="golf"
                         :entry.sync="entry"
                         :pending.sync="isPendingChanges"
                         :group.sync="group"
                         :l2h="false"
                         :other="false"
                         :active_group.sync="group"
                         :group_number.sync="getGroupNumber"
                         :key="playerContainer.golf_tournament_player.id"
                         @pick-player="pickPlayer"
                         @unpick-player="unpickPlayer"
                         :lower_group.sync="isLowerGroup"
            ></golf-player>
        </ul>
        <hr>
        <div class="" v-if="lowerGroupPicksAllowed && getLowerGroupPlayers.length">
            <div class="text-center" v-if="lowerGroupPicksAllowed">Lower Group Picks</div>
            <ul class="p-0" style="margin-right: 2px;">
                <golf-player v-for="lowerGroupPlayer in getLowerGroupPlayers"
                             :golf_tournament_player.sync="lowerGroupPlayer"
                             :golf.sync="golf"
                             :entry.sync="entry"
                             :pending.sync="isPendingChanges"
                             :group.sync="group"
                             :l2h="false"
                             :other="true"
                             :active_group.sync="group"
                             :group_number.sync="getGroupNumber"
                             :key="lowerGroupPlayer.id"
                             @pick-player="pickPlayer"
                             @unpick-player="unpickPlayer"
                             :lower_group.sync="isLowerGroup"
                ></golf-player>
            </ul>
        </div>

        <div
            v-show="(lowerGroupPicksAllowed  && getLowerGroups.length > 0) && canPickMore"
            class=" btn btn-xs btn-brand-blue btn-brand brand-btn btn-clear btn-block text-brand-blue "
            style="font-size: 0.8em;"
            @click="toggleLower">
                    <span class="text-brand-blue">Pick From Lower Groups {{numberLowerPicked}}&nbsp;<i :class="(showLowerGroup) ? 'fa fa-chevron-down ' : 'fa fa-chevron-left' "></i></span>
        </div>
        <div class="row" v-if="(lowerGroupPicksAllowed  && getLowerGroups.length > 0  && canPickMore)">
            <div class="col-md-12 text-center">
                <div  v-show="showLowerGroup">
                    <div class="row">
                        <div class="col-md-12">

                            <select
                                name=""
                                class="form-control "
                                v-model="selectedPlayer"
                                @change="pickOtherPlayer($event)"
                                style="font-size: 12px;width: 100%;   text-align: center;text-align-last: center;-moz-text-align-last: center;"
                            >
                                <option :value="null" >-pick-</option>
                                <player-opt-group
                                    v-for="othergroup in getLowerGroups"
                                    :key="othergroup.id"
                                    :othergroup.sync="othergroup"
                                    :group.sync="group"
                                    :golf.sync="golf"
                                    :entry.sync="entry"
                                    :players.sync="getAllowedPlayers"></player-opt-group>

                            </select>
                        </div>

                        <!--golf-lower-group
                            v-for="lowerGroup in getLowerGroups"
                            :key="lowerGroup.id"
                            :golf.sync="golf"
                            :pending.sync="isPendingChanges"
                            :active_group.sync="group"
                            :group.sync="lowerGroup"
                            :entry.sync="entry"
                            @pick-player="pickPlayer"
                            @unpick-player="unpickPlayer"
                        >
                        </golf-lower-group-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import GolfPlayer from "./GolfPlayer";
    import GolfLowerGroup from "./GolfLowerGroup";
    import PlayerOptGroup from "./PlayerOptGroup";
    export default {
        name : "GolfEntryGroup",
        components: {PlayerOptGroup, GolfLowerGroup, GolfPlayer},
        props: ["golf", "group", "entry", "pending", "gcount"],
        data: function () {
            return {
                groupPlayers : [],
                showLower : false,
                selectedPlayer : null,
                width : window.innerWidth
            }
        },
        created() {


        },
        mounted(){
            window.addEventListener("resize", ()=>{
                this.width = window.innerWidth
            });
        },
        filters : {
            groupNumberToLetter : function(num){
                let groupNums = {
                    1 : "A",
                    2 : "B",
                    3 : "C",
                    4 : "D",
                    5 : "E",
                    6 : "F"
                };
                let toNum = parseInt(num);
                return (groupNums[toNum]) ? groupNums[toNum] : num ;
            }
        },
        computed : {
            isMobile : function(){
                return (this.width < 850);
            },
            getULStyle : function(){
                if(this.gcount === 1){
                    return  (this.isMobile) ? "column-count: 2;" : "column-count: 4;";
                }
                return "";
                // return "  height: 600px; display: flex; flex-direction: column;flex-wrap: wrap;"
            },
            getAllowedPlayers : function(){
                //TODO: get all picked ids by user
                let pickedPlayers = [];
                if(this.entry){
                    this.entry.groups.forEach(function(group){
                        group.tournament_players.forEach(function(player){
                            pickedPlayers.push(player.id);
                        })
                    });

                    let groupNum = parseInt(this.group.number);
                    return this.golf.players.filter(function(player){
                        return (parseInt(player.group_number) === groupNum && !pickedPlayers.includes(player.golf_tournament_player_id));
                    });
                }
                return [];

            },
            showLowerGroup : function(){
                return this.showLower;
            },
            getGroupContainerStyle : function(){
              // let width = 100/this.gcount;
              // return "width:"+width+"%;";
                return "height:fit-content";
            },
            isPendingChanges : function(){
                return this.pending;
            },
            isLowerGroup : function(){
                return false;
            },
            lowerGroupPicksAllowed : function(){
                let currentGroupNumber = this.group.number;
                let showGroup = this.entry.groups.filter(function(group){
                    return (group.number > currentGroupNumber);
                });
                return (this.golf.lower_to_higher > 0 && showGroup.length > 0);
            },
            getLowerGroups : function(){
                let currentGroupNumber = this.group.number;
                return this.entry.groups.filter(function(group){
                    return (group.number > currentGroupNumber);
                })
            },
            getGroupClass : function(){
          //      return  (this.group.number === 1) ?  "carousel-item  active" : "carousel-item";
            },
            getGroupNumber : function(){
                if(this.group){
                    return this.group.number;
                }
                return null;
            },
            getLowerGroupPlayers : function (){
                if(this.group){
                    let groupNumber = this.group.number;
                    let groupedPlayers = this.group.tournament_players.filter(function(playerElement){
                        return (playerElement.original_group && playerElement.original_group != groupNumber);
                    });
                    return  _.orderBy(groupedPlayers, 'golf_tournament_player.player.last_name');
                }
                return []
            },
            getGroupedPlayers : function(){
                if(this.golf && this.group){
                    let groupNumber = this.group.number;
                    let groupedPlayers = this.golf.players.filter(function(playerElement){
                        return (playerElement.group_number === groupNumber);
                    });
                    return  _.sortBy(groupedPlayers, 'golf_tournament_player.player.last_name');
                }
                return []
            },
            numberLowerPicked : function(){

                return "";
                // let otherPickings =  otherGroups.find(function(group){
                //     return group.tournament_players.filter(function(tournamentPlayer){
                //         return (tournamentPlayer.pivot.);
                //     });
                // })

            },
            getGroupMax : function(){
                return parseInt(this.golf.config.groups[this.group.number].max);
            },
            getGroupPickCount : function(){
                return parseInt(this.group.tournament_players.length);
            },
            canPickMore : function(){
                let picked = this.getGroupPickCount;
                let max = this.getGroupMax;
                return (picked < max);
            },
            getGroupMaxPicks : function(){
                let picked = this.getGroupPickCount;
                let max = this.getGroupMax;
                return  (this.canPickMore) ? "<span class='text-brand-red'>"+picked+" of "+max+"</span>"  : "<span class='text-brand-blue'>"+picked+" of "+max+"</span>";
            }

        },
        methods:{
            toggleLower : function(){
                this.showLower = !this.showLower;
            },
            pickOtherPlayer : function(event) {
                this.pickPlayer(this.selectedPlayer.golf_tournament_player, this.group);
                this.selectedPlayer = null;

            },
            pickPlayer : function(golf_tournament_player, group){
                this.$emit('pick-player',golf_tournament_player,group);
            },
            unpickPlayer : function(golf_tournament_player, group){
                this.$emit('unpick-player', golf_tournament_player, group);
            },
        }
    }
</script>
