<template>
        <li
            :style="getLiStyle"
            v-on:click="togglePlayer(golf_tournament_player, active_group)"
            :class="getLiClass"
        >
            <div :class="getDivClass">
                <div class="bg-brand-red text-white" :style="getTagStyle" v-if="getSoftStatus">{{getSoftStatus}}</div>
                <div class="golf-player-photo d-none d-md-inline-block" :style="getPlayerPhotoStyle"></div>
                <span>
                    {{getGolfPlayerName}} {{getRank}} {{getHandicap}}

                    <span v-if="isPickedElsewhere" style="font-size: 0.65em;top:0;right:0;padding:2px 1px 2px 1px;position:absolute;" class="bg-brand-blue text-right text-white">{{getPickedGroup}}</span>
                </span>
            </div>

        </li>
</template>

<script>
    export default {
        name : "GolfPlayer",
        props: [
            "other",
            "golf_tournament_player",
            "golf",
            "group_number",
            "group",
            "entry",
            "active_group",
            "lower_group",
            "pending",
            "l2h"
        ],
        data: function () {
            return {
                belongsTo : null,
                width : window.innerWidth,
            }
        },
        mounted(){
            window.addEventListener("resize", ()=>{
                this.width = window.innerWidth
            });
        },
        computed : {
            getDivClass : function(){

            },
            getTagStyle : function(){
                return "display: block;\n" +
                    "    position: absolute;\n" +
                    "    top: 0;\n" +
                    "    right: 0;\n" +
                    "    padding-left: 18px;\n" +
                    "    padding-right: 7px;\n" +
                    "    border-bottom-left-radius: 30px;\n" +
                    "    font-size: 0.8em;"
            },
            getSoftStatus : function(){
                if(this.golf_tournament_player.config){
                    return (this.golf_tournament_player.config.soft_status && this.golf_tournament_player.config.soft_status !== "Active") ? this.golf_tournament_player.config.soft_status : null;
                }
                return false;
            },
            getGolfPlayerName : function(){
                return (this.width < window.responsiveSizes.tablet)  ? (this.golf_tournament_player.player.display_name_mobile?this.golf_tournament_player.player.display_name_mobile:this.golf_tournament_player.player.name)  : (this.golf_tournament_player.player.display_name?this.golf_tournament_player.player.display_name:this.golf_tournament_player.player.name);
            },
            getLiStyle : function(){
                return (this.other) ? "break-inside: avoid-column; list-style: none;  border: 1px solid red; position: relative; margin-bottom:2px; overflow: hidden;white-space: nowrap;" : "break-inside: avoid-column; list-style: none;  border: 1px solid gray; position: relative; margin-bottom:2px; overflow: hidden;white-space: nowrap;";
            },
            getHandicap : function(){
                if(this.golf_tournament_player && this.golf_tournament_player.pivot.handicap){
                    return (this.golf_tournament_player.pivot.handicap > 0) ? "(+"+this.golf_tournament_player.pivot.handicap+")" : "("+this.golf_tournament_player.pivot.handicap+")";
                }
                return "";
            },
            getRank : function(){
                if(this.player){
                    return (this.golf_tournament_player.player.pos !== 9999 && this.golf_tournament_player.player.pos !== 99999 && this.golf_tournament_player.player.pos) ? this.golf_tournament_player.player.pos : 'N/R';
                }
                return "";
            },
            getLiClass : function(){

                let borderClass = (this.getSoftStatus) ? " border-brand-red " : " border-brand-grey ";
                let mobileClass =  (this.width < window.responsiveSizes.tablet) ? ' golfPlayerMobile text-white ' : ' golfPlayerDesktop text-white ';


                if(this.isPlayerPicked){
                    let btnSize = (this.lower_group) ? " pointer btn-xs " : " pointer ";
                    return " isPlayerPicked bg-brand-blue text-left "+btnSize+mobileClass+borderClass;
                } else if(this.isPickedElsewhere) {
                    let btnSize = (this.lower_group) ? " btn-xs " : "";
                    return " isPickedElsewhere border-brand-blue text-left text-white "+btnSize+mobileClass + borderClass;
                } else {
                    let btnSize = (this.lower_group) ? " btn-xs " : "";
                    return " DEFAULT bg-brand-black  text-left text-white "+btnSize+mobileClass + borderClass;
                }
            },
            getPlayerPhotoStyle : function(){
                let imgRender = "image-rendering: -webkit-optimize-contrast;\n" +
                    "    background-position: 50% 50%;\n" +
                    "    image-rendering: crisp-edges;\n" +
                    "    image-rendering: -moz-crisp-edges;\n" +
                    "    image-rendering: -o-crisp-edges;\n" +
                    "    image-rendering: -webkit-optimize-contrast;\n" +
                    "    -ms-interpolation-mode: nearest-neighbor;"
                return "  vertical-align: middle; width:35px; height:35px; display:inline-block; background-image: url('/assets/images/golf/"+this.golf_tournament_player.player.photo+"');"+imgRender;
            },
            isPendingChanges : function(){
                return this.pending;
            },
            getPickedGroup : function(){
                if(this.isPickedElsewhere){
                    let gtpId = this.golf_tournament_player.id;
                    let pickedInGroup =this.entry.groups.find(function(group){
                        return group.tournament_players.find(function(gtp){
                            return (gtp.id === gtpId);
                        });
                    });
                    if(pickedInGroup){
                        return pickedInGroup.name;
                    }
                }

                return;
            },
            getPickedClass : function(){
                let btnSize = (this.lower_group) ? " font-size-1 " : "";
                let unsaved = (this.entry.unsaved) ? " text-brand-red " : "text-brand-blue";
                return " bg-brand-grey border-brand-blue text-left "+btnSize+unsaved;
            },
            getTakenClass : function(){
                let btnSize = (this.lower_group) ? " btn-xs " : "";
                let unsaved = (this.entry.unsaved) ? " text-brand-red " : "text-brand-blue";
                return " border-brand-red border-brand-darkgrey text-left "+btnSize+unsaved;
            },
            getAvailableClass : function(){
                let btnSize = (this.lower_group) ? " btn-xs " : "";
                let unsaved = (this.entry.unsaved) ? "  " : "";
                return " bg-brand-darkgrey border-brand-grey text-left "+btnSize+unsaved;
            },
            isPlayerPicked : function(){
                let playerId = this.golf_tournament_player.player.id;
                let player = null;
                if(this.l2h){
                    player = this.active_group.tournament_players.find(function(tournamentPlayer){
                        return (tournamentPlayer.player_id === playerId);
                    });
                } else {
                    player = this.group.tournament_players.find(function(tournamentPlayer){
                        return (tournamentPlayer.player_id === playerId);
                    });
                }

                return (player) ? true : false;

            },
            isPickedElsewhere : function(){
                let playerId = this.golf_tournament_player.player.id;
                let activeGroupId = this.active_group.id;
                let otherGroups = this.entry.groups.filter(function(group){
                    return (group.id !== activeGroupId);
                });

                let player = otherGroups.find(function(group){
                    return group.tournament_players.find(function(tournamentPlayer){
                        return (tournamentPlayer.player_id === playerId);
                    });
                });

                return (player) ? true : false;

            },
            getTotalGroups : function(){
                let groups = [];
                let curGroup =  parseInt(this.group_number);
                let allowUpgrade = (this.golf.lower_to_higher !== 0);
                var g;
                for(g=1; g<=this.golf.number_of_groups; g++){
                    if(g > curGroup){
                        groups.push(g);
                    } else {
                        if(allowUpgrade){
                            groups.push(g);
                        }
                    }
                }
                return groups;

            }

        },
        methods:{
            getGroupLetter : function(number){
                let numToLetters = {
                    1 : "A",
                    2 : "B",
                    3 : "C",
                    4 : "D",
                    5 : "E",
                    6 : "F"
                };
                return numToLetters[number];
            },
            togglePlayer : function(golf_tournament_player, group){
                //TODO: fix this in prod
                if(!this.golf.pickable){
                    // alert("Picks are locked!");
                    // return false;
                }
                if(this.isPlayerPicked){
                    this.$emit("unpick-player", golf_tournament_player, group);
                    return true;
                } else if(this.isPickedElsewhere){
                    return false;
                } else {
                    this.$emit("pick-player", golf_tournament_player, group);
                    return true;
                }
            },
            pickPlayer : function(golf_tournament_player, group){
                this.$emit("pick-player", golf_tournament_player, group);
            },
            unpickPlayer : function(golf_tournament_player, group){

                this.$emit("unpick-player", golf_tournament_player, group);
            }
        }
    }
</script>
