<template>
    <div>
        <transition name="fade">
            <div class="" v-if="entry" >
                <div class="rowz  golfGroupsContainer">
                            <golf-entry-group
                                :key="group.id"
                                :group.sync="group"
                                :selectedgroup.sync="selectedGroup"
                                :golf.sync="golf"
                                :entry.sync="entry"
                                :gcount="getGroupCount"
                                @pick-player="pickPlayer"
                                @unpick-player="unpickPlayer"
                                :pending.sync="isPendingChanges"
                                v-for="group in getEntryGroups"></golf-entry-group>
                </div>
                <div class="row">
                    <div class="col mx-auto text-center p-4">
                        <button type="button" class="btn btn-lg btn-brand-green brand-btn"  v-if="entry.unsaved" @click="saveEntry(entry)"><i class="fa fa-save"></i> <span v-html="__c('golf.picks.content.entry_save_button', 'SAVE ENTRY')"></span></button>
                    </div>
                </div>

            </div>
        </transition>
    </div>
</template>

<script>
    import GolfEntryGroup from "./GolfEntryGroup";
    import GolfGroupNavItem from "./GolfGroupNavItem";
    import GolfGroupPageItem from "./GolfGroupPageItem";
    import VueTinySlider from 'vue-tiny-slider';

    export default {
        name : "GolfEntryGroups",
        props: ["golf", "entry", "pending"],
        components : {
            GolfGroupPageItem,
            GolfGroupNavItem,
            'golf-entry-group' :  GolfEntryGroup,
            'tiny-slider': VueTinySlider

        },
        data: function () {
            return {
                selectedGroup : 1,
                tinySliderOptions : {
                    mouseDrag : true,
                    loop: false,
                    gutter:5,
                    slideBy:1,
                    items: 1,
                    controlsText : ["<i class='fa fa-arrow-left fa-2x p-2 pull-left'></i>", "<i class='fa fa-arrow-right fa-2x p-2 pull-right'></i>"],
                    nav : false,
                    arrowKeys : false,

                }
            }
        },
        computed : {
            entryFull : function(){
                return true;
                let totalPicks = 0;
                let max = 0;
                let grps = Object.values(this.golf.config.groups);
                grps.forEach(function(g){
                    if(g.enabled){
                        max = max + parseInt(g.max);
                    }
                });
                this.entry.groups.forEach(function(group){
                    totalPicks = totalPicks + group.tournament_players.length;
                });
                return (max === totalPicks);
            },
            getGroupCount : function (){

                if(this.entry.groups)
                    return  this.entry.groups.length;
                return 1;
            },
            prettyPickList : function(){
                let prettyNames = [];
                this.entry.groups.forEach(function(group,index){
                    group.tournament_players.forEach(function(player,index){
                        let locPlayer = player.player;
                        let parts = locPlayer.name.split(" ");
                        parts[0] =  parts[0].charAt(0)+".";
                        prettyNames.push(parts.join(' '));
                    })
                });
                return prettyNames.join(", ");
            },

            getPaginatorClass : function(){
              // return (this.group)
            },
            unsavedChanges : function(){
                if(this.entry){
                    return this.entry.unsaved;
                }
                return false;
            },
            entryLoaded : function(){
                return this.entry;
            },
            getEntryGroups : function(){
                return this.entry.groups;
            },
            isPendingChanges : function(){
                return this.pending;
            },
            highlightGroupClass : function(){

            }
        },
        methods:{
            pickedInGroupCount : function(number){
                if(this.entry){
                    let curGroup = this.entry.groups.find(function(g){
                        return (g.number === number);
                    });
                    if(curGroup){
                        return curGroup.tournament_players.length;
                    }
                }
                return 0;
            },
            pickPlayer : function(golf_tournament_player, group){
                this.$emit('pick-player',golf_tournament_player,group);
            },
            unpickPlayer : function(golf_tournament_player, group){
                this.$emit('unpick-player', golf_tournament_player, group);
            },
            saveEntry : function(entry){
                this.$emit('save-entry', entry);
            },
            deleteEntry : function(entry){
                this.$emit('delete-entry', entry);
            },
            renameEntry : function(entry){
                this.$emit('rename-entry', entry);
            },
            clearEntry : function(entry){
                this.$emit('clear-entry', entry);
            },
            setActiveGroup : function(groupNumber){
                this.selectedGroup = groupNumber;
            }
        }
    }
</script>
