<template>
    <div class="card bg-transparent border-white mt-1" style="box-shadow: none;" v-if="canPick">
        <div class="card-header brand-gradient border-bottom border-white">
            <h3 class="text-white text-uppercase mb-0">
                Make Picks:
            </h3>

            <div class="card-header-controls">
                <div class="input-group">
                    <a class="btn grey-gradient brand-btn btn-sm" href="#" data-toggle="modal" data-target="#infoPopup">Help?</a>
                </div>
            </div>
        </div>
        <div class="card-body p-0 bg-transparent pb-3 bg-brand-charcoal text-center" style="padding-top:0 !important;" v-if="loading">
            <i class="fa fa-spinner fa-spin p-4"></i> Loading...
        </div>
        <div class="card-body p-0 bg-transparent pb-3" style="padding-top:0 !important;"  v-else >

                <div class="row bg-brand-charcoal ml-0 mr-0">
                    <div class="col-md-12 ">
                        <div class="row  ">
                            <div class="col mx-auto pt-2 pb-2">
                                <div class="row">
                                    <div class="col-sm-6 col-lg-5">
                                        <div class="row">
                                            <div class="col-sm-12" v-if="userpicks" >
                                                <div class="form-group row" if="golf.commissioner">
                                                    <label for="form-label" class="col-12 required text-left">Pick User</label>
                                                    <div class="col">
                                                        <select v-model="selectedUser" v-on:change="selectUser()"  class="custom-select" v-if="golf">
                                                            <option disabled value="">Please select user</option>
                                                            <option v-for="user in golf.users" :key="user.id" :value="user">{{user.email}}</option>
                                                        </select>
                                                        <div v-else>
                                                            <i class="fas fa-gear"></i> Loading
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12" v-if="user">
                                                <div class="create-entry-container" v-if="renamingEntry">
                                                    <div class="form-group row">
                                                        <label for="form-label" class="col-12 required text-left">Pick Entry</label>
                                                        <div class="col">
                                                            <div class="input-group">
                                                                <input autofocus  type="text" v-model="editEntryName" class="form-control" v-on:keyup.enter="renameEntry" ref="oldEntry">
                                                                <div class="input-group-append">
                                                                    <button class="btn btn-brand-blue brand-btn" type="button" @click="renameEntry">Rename</button>
                                                                    <button class="btn btn-brand-black brand-btn" type="button" @click="cancelRenameEntry">Cancel</button>
                                                                </div>
                                                            </div>
                                                            <div class="help-block" v-if="renameEntryErrors"><span class="text-brand-red" v-html="renameEntryErrors"></span></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="create-entry-container" v-else-if="addingNewEntry">
                                                    <div class="form-group row">
                                                        <label for="form-label" class="col-12 required text-left">Create Entry</label>
                                                        <div class="col">
                                                            <div class="input-group">
                                                                <input autofocus  type="text" v-model="newEntryName" ref="newEntry" class="form-control" placeholder="Unique Entry Name"  v-on:keyup.enter="addNewEntry">
                                                                <div class="input-group-append">
                                                                    <button class="btn btn-brand-blue brand-btn" type="button" @click="addNewEntry">Add</button>
                                                                    <button class="btn btn-brand-black brand-btn" type="button" @click="cancelAddNewEntry">Cancel</button>
                                                                </div>
                                                            </div>
                                                            <div class="help-block" v-if="createEntryErrors"><span class="text-brand-red" v-html="createEntryErrors"></span></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="entry-picker-container" v-else>
                                                    <div class="form-group row">
                                                        <label for="form-label" class="col-12 required text-left">Create Entry</label>
                                                        <div class="col">
                                                            <div class="input-group mb-3">
                                                                <div class="input-group-prepend" v-if="canPick">
                                                                    <button @click="enterAddEntry" class="btn btn-brand-black brand-btn" style="font-size: 0.95em;"><i class="fa fa-plus"></i>  Entry</button>
                                                                </div>
                                                                <select name="" id="" class="custom-select" @change="pickEntrySelect($event)">
                                                                    <option value="">-Please Pick-</option>
                                                                    <option
                                                                        v-for="(lentry, i) in getUserEntries"
                                                                        :key="lentry.id"
                                                                        :value="lentry.id"
                                                                        :selected="(getPickedEntryId === lentry.id)"
                                                                    >{{lentry.name}} ({{getEntryPicks(lentry)}})</option>
                                                                </select>
                                                                <div class="input-group-append" v-if="entry && canPick">
                                                                    <div class="btn-group" role="group">
                                                                        <button :id="entry.id + '-entry'" type="button" class="btn btn-sm btn-brand-grey brand-btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                            Options <i class="fa fa-angle-down"></i>
                                                                        </button>
                                                                        <div class="dropdown-menu bg-brand-charcoal text-white">
                                                                            <a class="dropdown-item text-white" href="#" @click="deleteEntry(entry)"><i class="fa fa-times"></i> Delete</a>
                                                                            <a class="dropdown-item text-white" href="#"  @click="enterRenameEntry(entry)"><i class="fa fa-edit"></i> Rename</a>
                                                                            <a class="dropdown-item text-white" href="#" @click="clearEntry(entry)" ><i class="fa fa-eraser"></i> Clear</a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row" v-if="(user.entries.length === 0)">
                                                                <div class="col-xs-6">
                                                                    <div class="alert alert-info" v-html="__c('golf.picks.content.entry_not_created_warning', 'You have not created any entries yet. Please create one!')"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <transition name="slide">
                                            <div v-if="isEntryUnsaved" class="col-md-12">
                                                <div class="alert alert-warning">
                                                    <div class="row">
                                                        <div class="col-8 text-left text-brand-orange" style="font-size: 1.1rem;">
                                                            <div v-html="__c('golf.picks.content.entry_not_saved_warning', 'Entry is not saved! Please click Save Button to confirm!')"></div>
                                                        </div>
                                                        <div class="col-4 text-right" style="padding-right: 20px;">
                                                            <button
                                                                type="button"
                                                                class="btn btn-brand-orange brand-btn mr-3"
                                                                v-if="isEntryUnsaved"
                                                                @click="saveEntry(entry)"><i class="fa fa-save"></i> <span v-html="__c('golf.picks.content.entry_save_button', 'SAVE ENTRY')"></span></button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </transition>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row" v-if="hasPlayers">

                            <div class="col-md-12 bg-brand-charcoal" v-show="!addingNewEntry">
                                <div class="row">
                                    <div class="col-md-12" v-if="isMobile">
                                        <div class="userEntryList" v-if="selectedUser">
                                            <golf-mobile-entries
                                                :pending.sync="isPendingChanges"
                                                :golf.sync="golf"
                                                :user.sync="selectedUser"
                                                :entry.sync="entry"
                                                @pick-entry="pickEntry"
                                                @save-entry="saveEntry"
                                                @create-entry="createEntry"
                                                @delete-entry="deleteEntry"
                                            ></golf-mobile-entries>
                                        </div>
                                    </div>
                                    <div class="col-md-12" v-else>
                                        <div class="userEntryList" v-if="selectedUser">
                                            <golf-entries
                                                :pending.sync="isPendingChanges"
                                                :golf.sync="golf"
                                                :user.sync="selectedUser"
                                                :entry.sync="entry"
                                                @pick-entry="pickEntry"
                                                @save-entry="saveEntry"
                                                @create-entry="createEntry"
                                                @delete-entry="deleteEntry"
                                            ></golf-entries>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12" v-show="!addingNewEntry">

                                <golf-entry-groups
                                    :golf.sync="golf"
                                    :pending.sync="isPendingChanges"
                                    :entry.sync="entry"
                                    @pick-player="pickPlayer"
                                    @unpick-player="unpickPlayer"
                                    @save-entry="saveEntry"
                                    @clear-entry="clearEntry"
                                    @rename-entry="renameEntry"
                                    @create-entry="createEntry"
                                    @delete-entry="deleteEntry"
                                >
                                </golf-entry-groups>

                            </div>
                        </div>
                        <div class="row" v-else>
                            <div class="col-md-6 mx-auto">
                                <div class="alert alert-info">
                                    <h6 v-html="__c('golf.picks.content.no_players_in_groups_warning', 'Commissioner has not assigned any players to this pool')"></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


        </div>
    </div>
</template>

<script>
    import GolfEntryGroups from "./GolfEntryGroups";
    import GolfMobileEntries from "./GolfMobileEntries";
    export default {
        name : "GolfEntryPicker",
        props: ["golf","entry", "user", "pending", "pChanges", "message", "userpicks", "current_user_id", "loading", "locked", "pickable", "create_entry_error", "rename_entry_error"],
        components : {
            'golf-entry-groups' : GolfEntryGroups,
            GolfMobileEntries,
        },

        data: function () {
            return {
                windowWidth : window.innerWidth,
                selectedUser: this.user,
                newEntryName : "",
                pickedEntryName : null,
                pickedEntry : null,
                addingNewEntry : false,
                editEntryName : null,
                renamingEntry : false,
            }
        },
        watch: {
            // entry: function () {
            //     this.pickedEntry = this.entry;
            // }
        },
        computed : {

            isEntryUnsaved : function(){
                if(this.entry){
                    return this.entry.unsaved;
                }
                return false;
            },
            getPickedEntryId : function(){
                return (this.entry) ? this.entry.id : null;
            },
            fetchPickedEntry : function(){
                return this.pickedEntry;
            },
            prettyPickList : function(){
                let prettyNames = [];
                if(this.entry){
                    this.entry.groups.forEach(function(group,index){
                        group.tournament_players.forEach(function(player,index){
                            let locPlayer = player.player;
                            let parts = locPlayer.name.split(" ");
                            parts[0] =  parts[0].charAt(0)+".";
                            prettyNames.push(parts.join(' '));
                        })
                    });
                    return prettyNames.join(", ");
                }
                return "";
            },
            getUserEntries : function(){
                if(this.user){

                    return this.user.entries;
                }
                return [];
            },
            getEntryName : function(){
                if(this.entry){

                    return this.entry.name;
                }
                return "";
            },
            isMobile : function(){
              return (this.windowWidth < 991);
            },
            screenSize : function(){

                return "Win size "+this.windowWidth;
            },
            isPendingChanges : function(){
                if(this.pending){
                    return this.pending;
                }
                return false;
            },
            getSelectedUser : function(){
                return this.selectedUser;
            },
            getCurrentUser : function(){
                this.selectedUser = this.user;
                return "";
            },
            hasPlayers : function(){
                if(this.golf){
                    return (this.golf.players.length > 0)
                }
                return false;
            },
            canPick : function(){
                return this.pickable;
            },
            createEntryMode : function(){
                return this.addingNewEntry;
            },
            createEntryErrors : function(){
                return this.create_entry_error;
            },
            renameEntryErrors : function(){
                return this.rename_entry_error;
            }
        },
        created(){


            if(this.user){
                this.selectedUser = this.user;
            }

            if(this.selectedUser && this.entry){
                let entryId = this.entry.id;
                this.selectedEntry = this.user.entries.find(function(entry){
                    return (entry.id === entryId);
                });
            }
            if(this.pending){
            }

        },

        methods:{

            pickEntrySelect : function(event){
                let entryId = parseInt(event.target.value);
                this.pickedEntry = this.getUserEntries.find(function(entry){
                    return (entry.id === entryId);
                });
                if(this.pickedEntry){
                    this.$emit('pick-entry', this.pickedEntry);
                }
            },
            getEntryPicks : function(entry){
                let cnt = 0;
                entry.groups.forEach(function(group){
                    cnt = cnt + parseInt(group.tournament_players.length);
                })
                return cnt;
            },
            pickPlayer : function(golf_tournament_player, group){
                this.$emit('pick-player',golf_tournament_player,group);
            },
            unpickPlayer : function(golf_tournament_player, group){
                this.$emit('unpick-player', golf_tournament_player, group);
            },
            pickEntry : function(entry){
                this.pickedEntryName = entry.name;
                this.$emit('pick-entry',entry);
            },
            selectUser : function() {
                this.$emit('select-user', this.selectedUser);
            },

            enterAddEntry : function(){
                this.addingNewEntry = true;
                this.$nextTick(() => this.$refs.newEntry.focus())
            },
            enterRenameEntry : function(entry){
                this.renamingEntry = true;
                this.editEntryName = entry.name;
                this.$nextTick(() => this.$refs.oldEntry.focus())
                // this.$refs.oldEntry.$el.focus();

            },
            addNewEntry : function(){
                let name = this.newEntryName;
                let user = this.user;
                this.$emit('create-entry',user, name);
                this.$nextTick(() => {
                    this.addingNewEntry = false;
                    this.newEntryName = "";
                })
            },
            cancelAddNewEntry : function(){
                this.$emit('cancel-create-entry');
                this.$nextTick(() => {
                    this.addingNewEntry = false;
                })
            },
            cancelRenameEntry : function(){
                this.$emit('cancel-rename-entry');
                this.$nextTick(() => {
                    this.renamingEntry = false;
                })
            },
            createEntry : function(user){
                this.$emit('create-entry', user);
            },
            saveEntry : function(entry){
                this.$emit('save-entry', entry);

            },
            deleteEntry : function(entry){
                this.$emit('delete-entry', entry);
            },
            renameEntry : function(){
                let newName = this.editEntryName;
                let entry = this.entry;
                this.$emit('rename-entry', entry, newName);
                this.$nextTick(() => {
                    this.renamingEntry = false;
                })
            },
            clearEntry : function(entry){
                this.$emit('clear-entry', entry);
            },
            isNameTaken : function(entryName){

            }
        },
        mounted(){
            window.addEventListener("resize", ()=>{
                this.windowWidth = window.innerWidth
            });

            if(this.entry){
                this.pickedEntry = this.entry;
            }
            // screen.addEventListener("resize", ()=> this.windowWidth = window.innerWidth);
        }
    }
</script>

<style>
.slide-enter-active {
    -moz-transition-duration: 0.7s;
    -webkit-transition-duration: 0.7s;
    -o-transition-duration: 0.7s;
    transition-duration: 0.7s;
    -moz-transition-timing-function: ease-in;
    -webkit-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
}

.slide-leave-active {
    -moz-transition-duration: 0.7s;
    -webkit-transition-duration: 0.7s;
    -o-transition-duration: 0.7s;
    transition-duration: 0.7s;
    -moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    -o-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}
</style>
