<template>
    <span>
<!--    <i :class="getClass"></i> P-->
    </span>

</template>

<script>
    export default {
        name : "GolfGroupPageItem",
        props: ["entry", "lgroup"],
        computed : {
            isActive : function () {

            },
            getClass : function(){
                return "text-white fa fa-circle";
            }
        }
    };
</script>
