<template>
    <div v-if="(show === true)">
        <transition name="modal">
            <div class="modal-mask" @click="hideModal">
                <div class="modal-wrapper">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content bg-brand-darkgrey">
                            <div class="card">
                                <div class="card-header brand-gradient">
                                    <h3 class="card-title text-white text-uppercase mb-0" v-html="title"></h3>
                                    <div class="card-header-controls">
                                        <button type="button" class="close text-white" @click="hideModal">
                                            <i class="fa fa-times text-white"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-12  p-2">
                                            <div v-html="message"></div>
                                        </div>
                                        <div class="col-md-12 p-2">
                                            <button type="button" class="btn btn-brand-blue brand-btn btn-block" @click="hideModal">OK!</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </transition>
    </div>
</template>

<script>
    import GolfEntry from "./GolfEntry";
    import VueTinySlider from 'vue-tiny-slider';

    export default {
        name : "ModalPopup",
        components: {
        },
        props: ["show","title", "message"],
        data: function () {
            return {

            }
        },
        mounted() {
        },
        computed : {

        },

        methods:{

            hideModal : function(){
                this.$emit('hide-modal');
            },
        }
    }
</script>
