<template>
    <optgroup
        :label="othergroup.name"
        v-if="optGroupAllowed"
        style="color:white;background:black;"
        :class="'bg-brand-darkgrey'"
    >
        <option :class="'bg-brand-darkgrey text-white'" v-for="player in getAllowedPlayers" :key="player.id" :value="player">{{player.golf_tournament_player.player.name}} {{(player.handicap) ? ((player.handicap > 0) ? "(+"+player.handicap+")" : "("+player.handicap+")" ) : ''}}</option>
    </optgroup>
</template>

<script>

    export default {
        name : "PlayerOptGroup",
        components: {

        },
        props: ['golf','group', 'entry','othergroup'],
        data: function () {
            return {
            }
        },
        mounted() {

        },
        computed : {
            getAllowedPlayers : function(){
                //TODO: get all picked ids by user
                let pickedPlayers = [];
                this.entry.groups.forEach(function(group){
                    group.tournament_players.forEach(function(player){
                        pickedPlayers.push(player.id);
                    })
                });

                if(this.golf.lower_to_higher){
                    var groupNum = parseInt(this.othergroup.number);
                } else {
                    var groupNum = parseInt(this.group.number);
                }

                return _.orderBy(this.golf.players.filter(function(player){
                    return (parseInt(player.group_number) === groupNum && !pickedPlayers.includes(player.golf_tournament_player_id));
                }), 'golf_tournament_player.player.last_name' );
            },
            optGroupAllowed : function(){
                let thisGroupNum = parseInt(this.group.number);
                let otherGroupNum = parseInt(this.othergroup.number);
                if(thisGroupNum === otherGroupNum){
                    return true;
                } else if(this.golf.lower_to_higher && (thisGroupNum < otherGroupNum)) {
                    return true;
                }
                return false; //
            }

        },

        methods:{

        }
    }
</script>
