<template>
    <tr :class="rowclass">

        <td style="white-space: nowrap;">
            <span v-html="getName"></span>
        </td>
        <td class="text-center">
            <span v-html="getThru"></span>
        </td>
        <td class="text-center">
            <span v-html="getToday" :class="getTotalClass"></span>
        </td>
    </tr>
</template>

<script>
    export default {
        name : "EntriesTableEntryTodayPopupPlayerRow",
        components : {

        },
        props: ["player", "cnt","toscore", "count_cut", "rowclass", "type", "scoring"],
        computed : {
            isPrize : function(){
                return (this.type === 'prize');
            },
            isTrackmeet : function(){
                return (this.type === 'trackmeet');
            },
            isScore : function(){
                return (this.type === 'score');
            },
            getPosition : function(){
                return (this.player.pos && this.player.pos != 9999) ? this.player.pos : '';

            },
            getName : function(){
                let status = ""; // (this.player.status !== "Active") ? " ["+this.player.status+"]" : "";
                return (this.player) ? this.player.short_name+status : "TBD";
            },
            getToday : function(){

                if(this.player.status !== "Active"){
                    return this.player.status;
                }

                let countCutSign = this.player.count_cut_label ? "<sup>"+this.player.count_cut_label+"</sup>" : "";

                let gtp = this.player;
                if(gtp.today == 0 || gtp.today === "0"){
                    return "E"+countCutSign;
                }

                if(gtp.today === "-" || gtp.today == "" || gtp.today === null){
                    return '&middot;';
                }
                let today = parseFloat(gtp.today);
                if(today === 0){
                    return "E"+countCutSign;
                }
                if(isNaN(today)){
                    return '&middot;'
                }
                let sign = (today > 0) ? "+" :"";
                return sign+today+countCutSign;

            },
            getThru : function(){
                return (this.player.status !== "Active") ? this.player.status : this.player.hole;
            },
            getHandicap : function(){
                let handicap = (this.player.handicap)  ? this.player.handicap : null;
                if(handicap){
                    let handicapString = (handicap > 0) ? "(+"+ handicap+")" : "("+handicap+")";
                    return "<span class='handicap-text'>" + handicapString + "</span>" ;
                }
                return "";
            },
	        getTotalClass : function(){
		        return (this.scoring) ? "text-brand-orange" : "";
	        },

        },
        methods : {

        }
    };
</script>
