<template>
    <div style="margin: 0 !important; padding:0 !important;">
        <table class="table table-supercondensed" style="margin: 0 !important; padding:0 !important;">
            <tbody>
                <tr>
                    <td class="text-right">
                        Round 1
                    </td>
                    <td>
                        {{getRound1}}
                    </td>
                </tr>
                <tr>
                    <td class="text-right">
                        Round 2
                    </td>
                    <td>
                        {{getRound2}}
                    </td>
                </tr>
                <tr>
                    <td class="text-right">
                        Round 3
                    </td>
                    <td>
                        {{getRound3}}
                    </td>
                </tr>
                <tr>
                    <td class="text-right">
                        Round 4
                    </td>
                    <td>
                        {{getRound4}}
                    </td>
                </tr>
                <tr>
                    <td class="text-right">
                        Total</td>
                    <td>
                        {{getTotal}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    export default {
        name : "EntriesTableEntryDataPlayerRowDetails",
        components : {

        },
        props: ["player"],
        computed : {
            getHandicap : function(){

                let handicap = (this.player.handicap)  ? this.player.handicap : null;
                if(handicap){
                    let handicapString = (handicap > 0) ? "(+"+ handicap+")" : "("+handicap+")";
                    return "<span class='handicap-text'>" + handicapString + "</span>" ;
                }
                return "";
            },
            getRound1 : function(){
                let play = this.player.plays[1];
                let sign = (play > 0) ? "+" : "";
                return (play) ? sign+play : "•";
            },
            getRound2 : function(){
                let play = this.player.plays[2];
                let sign = (play > 0) ? "+" : "";
                return (play) ? sign+play : "•";
            },
            getRound3 : function(){
                let play = this.player.plays[3];
                let sign = (play > 0) ? "+" : "";
                return (play) ? sign+play : "•";
            },
            getRound4 : function(){
                let play = this.player.plays[4];
                let sign = (play > 0) ? "+" : "";
                return (play) ? sign+play : "•";
            },
            getTotal : function(){
                let play = this.player.plays.total;
                let sign = (play > 0) ? "+" : "";
                return (play) ? sign+play : "•";
            },
        },
        methods : {
            closePopover : function(refId){
                this.$refs[refId].$emit('close');
            }
        }
    };
</script>
