<template>
    <div class="card">
        <div class="card-header brand-gradient ">
            <h5 class="text-white text-uppercase">Pool Leaderboard</h5>
            <div class="card-header-controls" v-if="user">
                <input
                    type="checkbox"
                    class="ml-2 "
                    :checked="onlyMine"
                    @click="onlyMine = !onlyMine"
                    id="myonly"
                > <label class="form-check-label ml-2" style="font-size: 0.95em;line-height: 1.1em" for="myonly">Show Only My Entries</label>
            </div>
        </div>
        <div class="card-body p-1" style="background: #000;">
	        <div class="w-100" style="font-size: 11px;padding-bottom: 5px;">Updated: <i class="fa fa-spin fa-spinner"></i> <em class="text-brand-orange" v-html="lastupdate"></em></div>

            <div class="shitty-table"  v-if="getEntries.length">
                <div v-if="isEstimatedPrize" class="text-left text-brand-orange pb-2">
                    <span v-html="__c('golf.live.content.prize_estimated_warning', 'Payouts are estimated and subject to change')"></span>
                </div>
                <RecycleScroller
                    :items="getEntries"
                    :item-size="getEntries.length"
                    key-field="id"
                    itemSize="23"
                    style="height: 1000px;"
                >
                    <template slot="before">
                        <div class="text-right" style="font-size: 0.75em;line-height: 2;">
                            <strong class="text-brand-orange">^</strong> <small><em> - handicapped score</em></small>
                        </div>
                        <div class="trow" style="font-size: 0.75em;border: none; margin-top: 8px;">
                            <div class="pcol"><span>Pos</span></div>
                            <div class="tcolentry">Name</div>
                            <div  v-if="!isPrize" class="tcol"><span @click="sort='today'" :class="getTodayHeadClass">Today</span></div>
                            <div class="tcollast"><span @click="sort='total'" :class="getTotalHeadClass">Total <em v-html="getEstimateNotice"></em></span></div>
                        </div>
                    </template>
                    <template slot-scope="{ item }">
                        <entries-table-row-entry
                            :type.sync="type"
                            :handicaps.sync="handicaps"
                            :toscore="toscore"
                            :sort.sync="sort"
                            :entry.sync="item"
                            :user.sync="user"
                            :players.sync="players"
                            :count_cut="count_cut"
                        ></entries-table-row-entry>
                    </template>
                </RecycleScroller>
            </div>
            <div class="col-md-12 text-center" v-else>
                <i class="fa fa-spin fa-spinner"></i> Loading <span class="text-brand-orange" v-html="getEntryCount"></span> entries...
            </div>
        </div>
    </div>
</template>

<script>

    import EntriesTableEntry from "./EntriesTableEntry";
    import { RecycleScroller } from "vue-virtual-scroller";
    import EntriesTableRowEntry from "./EntriesTableRowEntry";
    import "vue-virtual-scroller/dist/vue-virtual-scroller.css";


    export default {
        name : "EntriesTable",
        props: ["entries", "entries2", "tournament", "user", "players", "toscore", "count_cut", "lastupdate", "status", "type","handicaps", "count", "prizefinal"],
        data: function () {
            return {
                onlyMine : false,
                sort : 'total',
            }
        },
        components : {
            EntriesTableRowEntry,
            EntriesTableEntry,
            RecycleScroller
        },
        computed : {
            isPrize : function(){
                return (this.type == 'prize');
            },
            isEstimatedPrize : function(){
                return (this.isPrize && !this.prizefinal);
            },
            getEstimateNotice : function(){
                return (this.isEstimatedPrize) ? " (est.)" : "";
            },
            getEntryCount : function(){
                return this.count;
            },
            getTodayHeadClass : function(){
                return (this.sort === 'today') ? 'font-bolder text-brand-blue pointer ' : 'text-brand-blue pointer font-light ';
            },
            getTotalHeadClass : function(){
                return (this.sort === 'total') ? 'font-bolder text-brand-blue pointer ' : 'text-brand-blue pointer font-light ';
            },
            getEntries : function(){
                let active = this._getActiveEntries;
                let dq = this._getDisqualifiedEntries;
                return active.concat(dq);
            },
            _getActiveEntries : function(){
                let sorting = (this.isPrize) ? "pos" : this.sort;

                let activeOnly = this.entries2.filter(function(entry){
                    return (entry.status === 'active');
                });
                if(this.onlyMine){
                    if(this.user){
                        let userId = this.user.id;
                        return _.sortBy(activeOnly.filter(function(entry){
                            return entry.user_id == userId;
                        }), function(obj){
                            return parseFloat(obj[sorting])
                        });
                    }
                } else {
                    return _.sortBy(activeOnly, function(obj){
                        return parseFloat(obj[sorting])
                    });
                }
                return [];
            },
            _getDisqualifiedEntries : function(){

                let dqued = this.entries2.filter(function(entry){
                    return (entry.status !== 'active');
                });

                if(this.onlyMine){
                    if(this.user){
                        let userId = this.user.id;
                        let sorting = this.sort;

                        return _.sortBy(dqued.filter(function(entry){
                            return entry.user_id == userId;
                        }), function(obj){
                            return parseFloat(obj[sorting])
                        });
                    }
                } else {
                    let sorting = this.sort;
                    // return _.sortBy(activeOnly, sorting);

                    return _.sortBy(dqued, function(obj){
                        return parseFloat(obj[sorting])
                    });
                }
            },


        },
        methods : {

        }
    };
</script>

<style>
    .shitty-table{
        font-size: 0.91em !important;
        padding-left: 10px;
        padding-right: 10px;
    }
    theader, .trow {
        border-top: 1px solid #161616;
        display: flex;  /* aligns all child elements (flex items) in a row */
    }
    .tcolentry {
        flex: 1 1 auto;
    }
    .pcol {
        width: 40px;
        min-width: 40px;
        max-width: 40px;
        flex: 0 0 auto;
    }
    .tcol {
        width: 40px;
        min-width: 40px;
        max-width: 40px;
        flex: 0 0 auto;
        text-align: center;
    }
    .tcollast{
        text-align: center;
        width: 90px;
        min-width: 90px;
        max-width: 90px;
        flex: 0 0 auto;

    }
</style>
