<template>
    <div class="trow" :style="getEntryRowStyle">
        <div class="pcol text-left" :style="firstTdBorder">
            <span class="text-brand-orange" style="font-size: 0.95em;margin-right:4px;" v-html="getPos"></span>
<!--            <span v-else><i class="fa fa-spin fa-spinner"></i></span>-->
        </div>
        <div class="tcolentry" >
            <span style="overflow: hidden;"><sup><i class="fa fa-trophy text-brand-orange" style="font-size: 0.6em;" v-if="entry.pool_winner && isFinished"></i></sup>{{entry.name}} <span v-html="getStatus"></span></span>
        </div>
        <div v-if="!isPrize" class="tcol text-center">
            <b-link
                tabindex="1"
                type="button"
                style="-webkit-appearance: none;border-radius: 0; font-size:1em;font-weight: bold;"
                :id="'entry-today-'+entry.id"
                variant="primary"
            > <span :class="getSortClassToday" v-html="getToday"></span></b-link>
            <b-popover
                :target="'entry-today-'+entry.id"
                triggers="focus"
                :ref="'entry-today-'+entry.id"
            >
                <template
                    v-slot:title> {{entry.name}} - Round {{entry.today_round}}
                    <span
                        @click="closePopover('entry-today-'+entry.id)"
                        style="float:right"
                        class="pointer">
                        <i class="fa fa-times"></i>
                    </span>
                </template>
                <entries-table-entry-today-popup
                    :entry.sync="entry"
                    :players.sync="players"
                    :toscore.sync="toscore"
                    :count_cut="count_cut"
                ></entries-table-entry-today-popup>
            </b-popover>
        </div>
        <div class="tcollast text-center" :style="lastTdBorder">
            <b-link
                tabindex="1"
                type="button"
                style="-webkit-appearance: none;border-radius: 0; font-size:1em;font-weight: bold;"
                :id="'entry-total-'+entry.id"
                variant="primary"
            > <span :class="getSortClassTotal">{{getTotal}}</span></b-link>
            <b-popover
                :target="'entry-total-'+entry.id"
                triggers="focus"
                :ref="'entry-total-'+entry.id"
            >
                <template
                    v-slot:title> {{entry.name}} - Total
                    <span
                        @click="closePopover('entry-total-'+entry.id)"
                        style="float:right"
                        class="pointer">
                            <i class="fa fa-times"></i>
                    </span>
                </template>
                <entries-table-entry-total-popup
                    :entry.sync="entry"
                    :players.sync="players"
                    :toscore.sync="toscore"
                    :count_cut="count_cut"
                    :handicaps="handicaps"
                ></entries-table-entry-total-popup>
            </b-popover>
        </div>
    </div>
</template>

<script>
    import { BootstrapVue} from 'bootstrap-vue'
    import Popover from 'vue-popover'

    import EntriesTableEntryDataPlayerRow from "./EntriesTableEntryDataPlayerRow";
    import EntriesTableEntryTodayPopup from "./EntryTableEntryTodayPopup";
    import EntriesTableEntryTotalPopup from "./EntriesTableEntryTotalPopup";
    Vue.use(BootstrapVue);

    export default {
        name : "EntriesTableRowEntry",
        props: ["entry", "user", "sort", "players", "toscore", "count_cut", "finished", "type", "handicaps"],
        data: function () {
            return {
                show : false,
                // sortBy : 'today',
            }
        },
        components : {
            EntriesTableEntryTotalPopup,
            EntriesTableEntryTodayPopup,
            Popover,
            EntriesTableEntryDataPlayerRow,
        },
        computed : {
            isFinished : function(){
              return this.finished;
            },
            isPrize : function(){
                return (this.entry.type === 'prize');
            },
            isTrackmeet : function(){
                return (this.entry.type === 'trackmeet');
            },
            isScore : function(){
                return (this.entry.type === 'score');
            },
            getStatus : function(){
                return "";
                return (this.entry.status === 'active') ? "" : this.entry.status;
            },
            getPos : function(){
                if(this.entry.status !== 'active'){
                    return "DQ"
                }
                return (this.entry.pos !== '') ? this.entry.tpos : "-";
            },
            getSortClassToday : function(){
                return (this.sort === 'today') ? "text-brand-blue font-bolder" : "text-brand-blue font-light"
            },
            getSortClassTotal : function(){
                return (this.sort === 'total') ? "text-brand-blue font-bolder" : "text-brand-blue font-light"
            },
            getEntryRowStyle : function(){
                let dqColor = (this.isDQed) ? "color:gray;" : "";
                let isMineStyle = (this.isMine) ? "background-color: rgb(36, 36, 36);" : "background: rgb(13, 13, 13);";
                return "border-top: 2px solid black; "+ isMineStyle + dqColor;
            },
            isMine : function(){
                return (this.user && this.user.id === this.entry.user_id);
            },
            isDQed : function(){
                return (this.entry.status !== 'active');
            },
            firstTdBorder : function(){
                let pad = "padding-left:10px;"
                let myBorder = "-webkit-box-shadow: inset 3px 0px 0px 0px #44AEE3; -moz-box-shadow: inset 3px 0px 0px 0px #44AEE3; box-shadow: inset 3px 0px 0px 0px #44AEE3;";
                let otherBorder = "-webkit-box-shadow: inset 3px 0px 0px 0px #464545; -moz-box-shadow: inset 3px 0px 0px 0px #464545; box-shadow: inset 3px 0px 0px 0px #464545;";
                let dqBorder = "-webkit-box-shadow: inset 3px 0px 0px 0px #000; -moz-box-shadow: inset 3px 0px 0px 0px #000; box-shadow: inset 3px 0px 0px 0px #000;";
                if(this.isDQed){
                    return dqBorder+pad;
                }
                return  (this.isMine) ? myBorder+pad : otherBorder+pad;
            },
            lastTdBorder : function(){
                let pad = "padding-right:5px;"
                let myBorder = "-webkit-box-shadow: inset -3px 0px 0px 0px #44AEE3; -moz-box-shadow: inset -3px 0px 0px 0px #44AEE3; box-shadow: inset -3px 0px 0px 0px #44AEE3;";
                let otherBorder = "-webkit-box-shadow: inset -3px 0px 0px 0px #464545; -moz-box-shadow: inset -3px 0px 0px 0px #464545; box-shadow: inset -3px 0px 0px 0px #464545;";
                let dqBorder = "-webkit-box-shadow: inset -3px 0px 0px 0px #000; -moz-box-shadow: inset -3px 0px 0px 0px #000; box-shadow: inset -3px 0px 0px 0px #000;";
                if(this.isDQed){
                    return dqBorder+pad;
                }
                return  (this.isMine) ? myBorder+pad : otherBorder+pad;
            },

            getToday : function(){
                if(this.isPrize){
                    return "view";
                }

                let today = this.entry.today;

                today = parseInt(today);

                if(isNaN(today)){
                    return '&middot;';
                }
                if(today === 0){
                    return ' E';
                    return "E "+this.entry.today_round+" "+this.entry.today;
                }
                let sign = (today > 0) ? "+" :"";
                return sign+today;
            },
            isTotalHandicapped : function(){
                return this.entry.handicap;
            },

            getTotal : function(){
                if(this.isPrize){
                    let total = parseInt(this.entry.prize_total);
                    return "$"+total.toLocaleString('en-US');
                }
                if(this.isTrackmeet){
                    return this.entry.trackmeet;
                }
                let total = parseFloat(this.entry.total);
                let handicapped = this.entry.handicapped;
                let asteriks = (handicapped) ? "^" : "";
                if(total === 0){
                    return  "E"+asteriks;
                }
                let sign = (total > 0) ? "+" :"";
                return (isNaN(total)) ? "E"+asteriks : sign+total+asteriks;

            },
            getTotalEntryPlayers : function(){
                return [];
                let players = this.players.filter(
                    array => this.entry.total_players.some(
                        filter => filter.id === array.id
                    )
                );
                return players;
            },
        },
        methods : {
            closePopover : function(refId){
                this.$refs[refId].$emit('close');
            }
        }
    };
</script>
