<template>

        <tr :style="getEntryRowStyle">
            <td :style="firstTdBorder">

            </td>
            <td style="word-break: break-all;">
                <span class="text-brand-orange" style="font-size: 0.95em;margin-right:4px;" v-if="entry.pos !== ''">{{entry.pos}}</span>
                <span style="overflow: hidden;">
                    <i class="fa fa-trophy text-brand-range" v-if="isFinished && entry.pool_winner"></i> {{entry.name}}</span>
                <span v-if="isDQed">&nbsp;{{entry.status}}</span>
            </td>
            <td class="text-left">
                <div>
                    <b-link
                        tabindex="1"
                        type="button"
                        style="-webkit-appearance: none;border-radius: 0; font-size:1em;font-weight: bold;"
                        :id="'entry-today-'+entry.id"
                        variant="primary"
                    > <span :class="getSortClassToday" v-html="getToday"></span></b-link>
                    <b-popover
                        :target="'entry-today-'+entry.id"
                        triggers="focus"
                        :ref="'entry-today-'+entry.id"
                    >
                        <template
                            v-slot:title>[{{entry.today_round}}] {{entry.name}}
                            <span
                                @click="closePopover('entry-today-'+entry.id)"
                                style="float:right"
                                class="pointer">
                            <i class="fa fa-times"></i>
                        </span>
                        </template>
                        <entries-table-entry-today-popup
                            :winners.sync="getTodayEntryWinners"
                            :losers.sync="getTodayEntryLosers"
                            :disqualified.sync="getTodayEntryDisqualified"
                        ></entries-table-entry-today-popup>
                    </b-popover>
                </div>
            </td>

            <td class="text-left" :style="lastTdBorder">
                <div>
                    <b-link
                        tabindex="1"
                        type="button"
                        style="-webkit-appearance: none;border-radius: 0; font-size:1em;font-weight: bold;"
                        :id="'entry-total-'+entry.id"
                        variant="primary"
                    > <span :class="getSortClassTotal">{{getTotal}}</span></b-link>
                    <b-popover
                    :target="'entry-total-'+entry.id"
                    triggers="focus"
                    :ref="'entry-total-'+entry.id"
                >
                    <template
                        v-slot:title> {{entry.name}} - Total
                        <span
                                    @click="closePopover('entry-total-'+entry.id)"
                                    style="float:right"
                                    class="pointer">
                                <i class="fa fa-times"></i>
                        </span>
                    </template>
                    <entries-table-entry-total-popup
                        :winners.sync="getTotalEntryWinners"
                        :losers.sync="getTotalEntryLosers"
                        :disqualified.sync="getTotalEntryDisqualified"
                    ></entries-table-entry-total-popup>
                </b-popover>
                </div>
            </td>
        </tr>
</template>

<script>
    import { BootstrapVue} from 'bootstrap-vue'
    import Popover from 'vue-popover'

    import EntriesTableEntryDataPlayerRow from "./EntriesTableEntryDataPlayerRow";
    import EntriesTableEntryTodayPopup from "./EntryTableEntryTodayPopup";
    import EntriesTableEntryTotalPopup from "./EntriesTableEntryTotalPopup";
    Vue.use(BootstrapVue);

    export default {
        name : "EntriesTableEntry",
        props: ["entry", "user", "sort", "players", "finished"],
        data: function () {
            return {
                show : false,
                // sortBy : 'today',
            }
        },
        components : {
            EntriesTableEntryTotalPopup,
            EntriesTableEntryTodayPopup,
            Popover,
            EntriesTableEntryDataPlayerRow,
        },
        computed : {
            isFinished : function(){
                return this.finished;
            },
            getSortClassToday : function(){
                return (this.sort === 'today') ? "text-brand-blue font-bolder" : "text-brand-blue font-light"
            },
            getSortClassTotal : function(){
                return (this.sort === 'total') ? "text-brand-blue font-bolder" : "text-brand-blue font-light"
            },
            getEntryRowStyle : function(){
                let dqColor = (this.isDQed) ? "color:gray;" : "";
                let isMineStyle = (this.isMine) ? "background-color: rgb(36, 36, 36);" : "background: rgb(13, 13, 13);";
                return "border-top: 2px solid black; "+ isMineStyle + dqColor;
            },
            isDQed : function(){
                return (this.entry.status !== 'active');
            },
            firstTdBorder : function(){
                let myBorder = "-webkit-box-shadow: inset 3px 0px 0px 0px #44AEE3; -moz-box-shadow: inset 3px 0px 0px 0px #44AEE3; box-shadow: inset 3px 0px 0px 0px #44AEE3;";
                let otherBorder = "-webkit-box-shadow: inset 3px 0px 0px 0px #464545; -moz-box-shadow: inset 3px 0px 0px 0px #464545; box-shadow: inset 3px 0px 0px 0px #464545;";
                let dqBorder = "-webkit-box-shadow: inset 3px 0px 0px 0px #000; -moz-box-shadow: inset 3px 0px 0px 0px #000; box-shadow: inset 3px 0px 0px 0px #000;";
                if(this.isDQed){
                    return dqBorder;
                }
                return  (this.isMine) ? myBorder : otherBorder;
            },
            lastTdBorder : function(){
                let myBorder = "-webkit-box-shadow: inset -3px 0px 0px 0px #44AEE3; -moz-box-shadow: inset -3px 0px 0px 0px #44AEE3; box-shadow: inset -3px 0px 0px 0px #44AEE3;";
                let otherBorder = "-webkit-box-shadow: inset -3px 0px 0px 0px #464545; -moz-box-shadow: inset -3px 0px 0px 0px #464545; box-shadow: inset -3px 0px 0px 0px #464545;";
                let dqBorder = "-webkit-box-shadow: inset -3px 0px 0px 0px #000; -moz-box-shadow: inset -3px 0px 0px 0px #000; box-shadow: inset -3px 0px 0px 0px #000;";
                if(this.isDQed){
                    return dqBorder;
                }
                return  (this.isMine) ? myBorder : otherBorder;
            },
            isMine : function(){
                return (this.user.id === this.entry.user_id);
            },
            getToday : function(){

                let today = this.entry.today;
                if(isNaN(today)){
                    return '&middot;';
                }
                if(today === 0){
                    return "E ("+today+")";
                }
                let sign = (today > 0) ? "+" :"";
                return sign+today;

            },
            isTotalHandicapped : function(){
                return this.entry.handicap;
            },

            getTotal : function(){
                let total = parseFloat(this.entry.total);
                let handicapped = this.entry.handicapped;
                // console.log("Totaling ", this.entry.total, total);
                let asteriks = (handicapped) ? "^" : "";
                if(total === 0){
                    return  "E"+asteriks;
                }
                let sign = (total > 0) ? "+" :"";
                return (isNaN(total)) ? "E"+asteriks : sign+total+asteriks;

            },
            getTodayEntryWinners : function(){
                let winners = this.entry.today_players.winners;
                let players = this.players.filter(function(player){
                    return winners.includes(player.id);
                });
                return _.orderBy(players,['total']);;
            },
            getTodayEntryLosers : function(){
                let losers = this.entry.today_players.losers;
                let players = this.players.filter(function(player){
                    return losers.includes(player.id);
                });
                return _.orderBy(players,['total']);;
            },
            getTodayEntryDisqualified : function(){
                let disqualified = this.entry.today_players.disqualified;
                let players = this.players.filter(function(player){
                    return disqualified.includes(player.id);
                });
                return _.orderBy(players,['total']);;
            },
            getTotalEntryWinners : function(){
                let winners = this.entry.total_players.winners;
                let players = this.players.filter(function(player){
                    return winners.includes(player.id);
                });
                return  _.orderBy(players,['total']);
            },
            getTotalEntryLosers : function(){
                let losers = this.entry.total_players.losers;
                let players = this.players.filter(function(player){
                    return losers.includes(player.id);
                });
                return _.orderBy(players,['total']);
            },
            getTotalEntryDisqualified : function(){
                let disqualified = this.entry.total_players.disqualified;
                let players = this.players.filter(function(player){
                    return disqualified.includes(player.id);
                });
                return _.orderBy(players,['total']);;
            },
            getTodayEntryPlayers : function(){
                // let players = this.players.filter(
                //
                //
                //         array => this.entry.today_players.some(
                //             filter => filter.id === array.id
                //         )
                //     );
                // return players;

            },

            getTotalEntryPlayers : function(){
                // let players = this.players.filter(
                //     array => this.entry.total_players.some(
                //         filter => filter.id === array.id
                //     )
                // );
                // return players;
            },
        },
        methods : {
            closePopover : function(refId){
                this.$refs[refId].$emit('close');
            }
        }
    };
</script>
