<template>
    <div style="margin: 0 !important; padding:0 !important;">
        <table class="table table-supercondensed popupTableGolfLive" style="margin: 0 !important; padding:0 !important;">
            <thead>
            <tr>
                <th>Pos</th>
                <th>Player</th>
                <th class="text-center">Thru</th>
                <th class="text-center">Score</th>
                <th class="text-center" v-if="isPrize">Prize</th>
                <th class="text-center" v-else-if="isTrackmeet">Trackmeet Pos</th>
                <th class="text-center" v-else-if="hasHandicaps">Net</th>
            </tr>
            </thead>
            <tbody class="winners-tbody" :style="getWinnerStyle">
                <entries-table-entry-total-popup-player-row
                    v-for="(player,cnt) in getWinners"
                    :handicap.sync="hasHandicaps"
                    :scoring="true"
                    :key="player.id"
                    :player.sync="player"
                    :cnt="cnt"
                    :type.sync="entry.type"
                    :toscore="toscore"
                    :rowclass="(cnt === toscore && !isPrize) ? 'golfLiveWinnerRowZZ' : ''"
                ></entries-table-entry-total-popup-player-row>
                <entries-table-entry-total-popup-player-row
                    v-for="(player,cnt) in getLosers"
                    :handicap.sync="hasHandicaps"
                    :scoring="null"
                    :key="player.id"
                    :player.sync="player"
                    :type.sync="entry.type"
                    :rowclass="null"
                ></entries-table-entry-total-popup-player-row>
                <entries-table-entry-total-popup-player-row
                    v-for="(player,cnt) in getDisqualified"
                    :handicap.sync="hasHandicaps"
                    :scoring="null"
                    :key="player.id"
                    :type.sync="entry.type"
                    :player.sync="player"
                    :rowclass="null"
                ></entries-table-entry-total-popup-player-row>
            </tbody>
            <tbody>
                <tr>
                    <td :colspan="getCols" class="text-right">
                        Total
                    </td>
                    <td v-if="isPrize" class="text-right text-brand-orange">
                        {{getEntryPrizeTotal}}
                    </td>
                    <td v-else-if="isScore"  class="text-center text-brand-orange">
                        {{getEntryTotal}}
                    </td>
                    <td v-else-if="hasHandicaps"  class="text-center text-brand-orange">
                        {{getEntryTrackmeet}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    import EntriesTableEntryTotalPopupPlayerRow from "./EntryTableEntryTotalPopupPlayerRow";
    // import EntriesTableEntryPopupCutPlayerRow from "./EntriesTableEntryPopupCutPlayerRow";
    export default {
        name : "EntriesTableEntryTotalPopup",
        components : {
            // EntriesTableEntryPopupCutPlayerRow,
            EntriesTableEntryTotalPopupPlayerRow

        },
        props: ["entry", "players", "toscore", "handicaps"],
        computed : {
            getCols : function(){
                if(this.isPrize){
                    return 4;
                }
                return (this.hasHandicaps) ? 4 : 3;
            },
            hasHandicaps : function(){
                return this.handicaps;
            },
            isPrize : function(){
                return (this.entry.type === 'prize');
            },
            isTrackmeet : function(){
                return (this.entry.type === 'trackmeet');
            },
            isScore : function(){
                return (this.entry.type === 'score');
            },
            getWinnerStyle : function(){
                // if(this.getWinners.length === this.toscore){
                //     return "border-bottom:2px solid white !important;";
                // }
                // return "";
            },
            getEmptyCount : function(){
                let tot = this.getActivePlayers.length + this.getCutPlayers.length;
                let filteredPlayers = (tot < this.toscore) ? (tot - this.toscore) : 0;
                return _.sortBy(filteredPlayers, ['total']);
            },
            getWinners : function(){
                return this._getPlayersByQualification('winners');
            },
            getLosers : function(){
                return this._getPlayersByQualification('losers');
            },
            getDisqualified : function(){
                return  _.orderBy(this._getPlayersByQualification('disqualified'), 'status');
                return this._getPlayersByQualification('disqualified');
            },

            getEntryTotal : function(){
                let total = parseFloat(this.entry.total);
                let handicapped = parseFloat(this.entry.handicapped);
                let asteriks = (handicapped) ? "^" : "";
                if(total === 0){
                    return  "E"+asteriks;
                }
                let sign = (total > 0) ? "+" :"";
                return (isNaN(total)) ? "E"+asteriks : sign+total+asteriks;
            },
            getEntryPrizeTotal : function(){
                let total = parseInt(this.entry.prize_total);
                return "$"+total.toLocaleString('en-US');
            },
            getEntryTrackmeet : function(){
                return this.entry.trackmeet;
            }

        },
        methods : {
            closePopover : function(refId){
                this.$refs[refId].$emit('close');
            },
            _getPlayersByQualification : function(epq){
                let players = (this.isPrize) ? this.entry.prize_stats[epq] : this.entry.total_players[epq];

                if(players && players.length){
                    let sorter = (this.isPrize) ? 'prize' : 'handicap_total';
                    let order = (this.isPrize) ? 'desc' : 'asc';

                    let filteredPlayers = this.players.filter(player => players.includes(player.id));
                    return _.orderBy(filteredPlayers, [sorter],[order]);
                }
                return [];
            },
        }
    };
</script>
