<template>
    <div style="margin: 0 !important; padding:0 !important;">
        <table class="table table-supercondensed popupTableGolfLive" style="margin: 0 !important; padding:0 !important;">
            <thead>
                <tr>
                    <th>Player</th>
                    <th class="text-center">Thru</th>
                    <th class="text-center">Today</th>
                </tr>
            </thead>
            <tbody class="winners-tbody">
                <entries-table-entry-today-popup-player-row
                    v-for="(player,cnt) in getWinners"
                    :key="player.id"
                    :scoring="true"
                    :player.sync="player"
                    :cnt="cnt"
                    :toscore="toscore"
                    :type.sync="entry.type"
                    :count_cut="count_cut"
                    :rowclass="(cnt === toscore && !isPrize) ? 'golfLiveWinnerRowZZ' : ''"
                ></entries-table-entry-today-popup-player-row>

                <entries-table-entry-today-popup-player-row
                    v-for="(player,cnt) in getLosers"
                    :key="player.id"
                    :scoring="null"
                    :player.sync="player"
                    :type.sync="entry.type"
                    :count_cut="count_cut"
                    :rowclass="null"
                ></entries-table-entry-today-popup-player-row>

                <entries-table-entry-today-popup-player-row
                    v-for="(player,cnt) in getDisqualified"
                    :key="player.id"
                    :scoring="null"
                    :player.sync="player"
                    :type.sync="entry.type"
                    :count_cut="count_cut"
                    :rowclass="null"
                ></entries-table-entry-today-popup-player-row>
            </tbody>
            <tbody>
            <tr>
                <td colspan="2" class="text-right">
                    Today
                </td>
                <td class="text-brand-orange">
                    {{getEntryToday}}
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    import EntriesTableEntryTodayPopupPlayerRow from "./EntriesTableEntryTodayPopupPlayerRow";
    // import EntriesTableEntryPopupCutPlayerRow from "./EntriesTableEntryPopupCutPlayerRow";
    export default {
        name : "EntriesTableEntryTodayPopup",
        components : {
            // EntriesTableEntryPopupCutPlayerRow,
            EntriesTableEntryTodayPopupPlayerRow

        },
        props: ["players", "entry", "toscore" ,"round", "count_cut"],
        computed : {
            getWinners : function(){
                return this._getPlayersByQualification('winners');
            },
            getLosers : function(){
                return this._getPlayersByQualification('losers');
            },
            getDisqualified : function(){
                return this._getPlayersByQualification('disqualified');
            },
            getEntryToday : function(){

                let today = this.entry.today;
                today = parseInt(today);
                if(isNaN(today)){
                    return '&middot;';
                }
                if(today === 0){
                    return "E";
                }
                let sign = (today > 0) ? "+" :"";
                return sign+today;
            },
        },
        methods : {
            closePopover : function(refId){
                this.$refs[refId].$emit('close');
            },
            _getPlayersByQualification : function(epq){
                let players = this.entry.today_players[epq];
                if(players && players.length){
                    let filteredPlayers = this.players.filter(player => players.includes(player.id));
                    return _.sortBy(filteredPlayers, ['today']);
                }
                return [];
            },
        }
    };
</script>
