<template>
    <tr :style="getTrStyle">
        <td>
            <span><span v-html="getPosition"></span> </span>
        </td>
        <td style="white-space: nowrap;">
            <span v-html="getName"></span>
            <span class="handicap-text" v-html="getHandicap"></span>
        </td>
        <td class="text-center">
            <span v-html="getThru"></span>
        </td>
        <td class="text-center">
            <span :class="getTotalClass" v-html="getScore"></span>
        </td>
        <td class="text-center" v-if="isScore && handicap">
            <span :class="getTotalClass" v-html="getHandicapTotal"></span>
        </td>
        <td class="text-center" v-else-if="isTrackmeet && handicap">
            <span :class="getTotalClass" v-html="getTrackmeet"></span>
        </td>
        <td class="text-right" v-else-if="isPrize">
            <span :class="getTotalClass" v-html="getPrize"></span>
        </td>
    </tr>
</template>

<script>
    export default {
        name : "EntriesTableEntryTotalPopupPlayerRow",
        components : {

        },
        props: ["player", "cnt","toscore", "rowclass", "type", "handicap", "scoring"],
        computed : {
            isPrize : function(){
                return (this.type === 'prize');
            },
            isTrackmeet : function(){
                return (this.type === 'trackmeet');
            },
            isScore : function(){
                return (this.type === 'score');
            },
            getPosition : function(){
                if(this.player.pos === 0){
                    return "-";
                }
                return (this.player.pos !== 9999) ? this.player.tpos : '-';
                // return (this.player.pos && this.player.pos != 9999) ? this.player.pos : '';
            },
            getName : function(){
                return (this.player) ? this.player.short_name : "TBD";
            },
            getTrStyle: function(){

                return this.rowclass;
            },
            getTotalClass : function(){
                return (this.scoring) ? "text-brand-orange" : "";
            },
            getHandicapTotal : function(){
                
                if(this.player.status === 'WD'){
                    return "E";
                }

                let countCutSign = this.player.count_cut_label ? "<sup>"+this.player.count_cut_label+"</sup>" : "";

                let gtp = this.player;
                let ast = (gtp.handicap) ? "^" : "";
                let handicap = (gtp.handicap) ? parseInt(gtp.handicap) : 0;
                let total = 0;
                let gtpTotal = gtp.total;
                if(gtpTotal === "-" || gtpTotal == "" || gtpTotal === null){
                    gtpTotal = 0;
                }
                total = parseInt(gtpTotal) + handicap;

                if(total === 0){
                    return "E"+ast+countCutSign;
                }
                let sign = (total > 0) ? "+" :"";
                return sign+total+ast+countCutSign;
            },
            getScore : function(){

                if(this.player.status === 'WD'){
                    return "WD";
                }
                let countCutSign = this.player.count_cut_label ? "<sup>"+this.player.count_cut_label+"</sup>" : "";

                let gtp = this.player;
                let total = 0;
                let gtpTotal = gtp.total;
                if(gtpTotal === "-" || gtpTotal == "" || gtpTotal === null){
                    gtpTotal = 0;
                }
                total = parseInt(gtpTotal);

                if(total === 0){
                    return "E"+countCutSign;
                }
                let sign = (total > 0) ? "+" :"";
                return sign+total+countCutSign;
            },
            getHandicap : function(){
                let handicap = (this.player.handicap !== "")  ? this.player.handicap : null;
                if(handicap){
                    let handicapString = (handicap > 0) ? "(+"+ handicap+")" : "("+handicap+")";
                    return "<span class='handicap-text'>" + handicapString + "</span>" ;
                }
                return "";
            },
            getThru : function(){
                if(this.player.status !== 'Active'){
                    return this.player.status;
                }
                return (this.player.hole) ? this.player.hole : "F"
            },
            getPrize : function(){
                if(this.player.status === 'WD'){
                    return "$0";
                }
                return "$"+this.player.prize.toLocaleString('en-US');
            },
            getTrackmeet : function(){
                
                if(this.player.status === 'WD'){
                    return "E";
                }
                return this.player.pos;
            },

        },
        methods : {

        }
    };
</script>
