<template>
    <tr class="text-white" v-show="show" style="border-left:1px solid black; border-right:1px solid black">
        <td></td>
        <td>
            <b-link
                tabindex="1"
                type="button"
                style="-webkit-appearance: none;border-radius: 0; font-size:0.91em"
                :id="player.tournament_player.id+'-'+entryid"
                variant="primary"
                :class="getPlayersClass"
            >
                <span class="text-brand-grey" style="font-size: 0.95em;margin-right:4px;">{{player.tournament_player.pos}}</span>
                {{player.tournament_player.player.name}} <span v-html="getHandicap"></span></b-link>
            <b-popover
                :target="player.tournament_player.id+'-'+entryid"
                triggers="focus"
                :ref="player.tournament_player.id+'-'+entryid"
            >
                <template
                    v-slot:title> {{player.tournament_player.player.name}}
                    <span
                        @click="closePopover(player.tournament_player.id+'-'+entryid)"
                        style="float:right"
                        class="pointer">
                        <i class="fa fa-times"></i>
                </span>
                </template>
                <entries-table-entry-data-player-row-details :player.sync="player"></entries-table-entry-data-player-row-details>
            </b-popover>
        </td>
        <td>
            {{getToday}}
        </td>
        <td>
            {{getThru}}
        </td>
        <td>
            {{getTotal}}
        </td>
    </tr>
</template>

<script>
    import { BootstrapVue} from 'bootstrap-vue'
    import Popover from 'vue-popover'

    import EntriesTableEntryDataPlayerRowDetails from "./EntriesTableEntryDataPlayerRowDetails";

    Vue.use(BootstrapVue);

    export default {
        name : "EntriesTableEntryDataPlayerRow",
        components : {
            EntriesTableEntryDataPlayerRowDetails,
            Popover,
        },
        data: function () {
            return {
            }
        },
        props: ["player", "entryid", "show"],
        computed : {
            getPlayersClass : function(){
                let gtp = this.player.tournament_player;
                if(gtp.status =! 'Active'){
                    return 'text-brand-blue text-striked-through';
                }
                return 'text-brand-blue '
            },
            getUniqueId : function(){
                if(this.player && this.player.tournament_player){
                    return this.player.tournament_player.id+"-"+this.entryid
                }
                return null;
            },
            getToday : function(){
                let gtp = this.player.tournament_player;
                if(gtp){
                    return gtp.today;
                }
                return "--";
            },
            getTotal : function(){
                let gtp = this.player.tournament_player;
                if(gtp){
                    return gtp.total;
                }
                return "--";
            },
            getThru : function(){
                return "-";
            },
            getHandicap : function(){
                let handicap = (this.player.handicap)  ? this.player.handicap : null;
                if(handicap){
                    let handicapString = (handicap > 0) ? "(+"+ handicap+")" : "("+handicap+")";
                    return "<span class='handicap-text'>" + handicapString + "</span>" ;
                }
                return "";
            },
        },
        methods : {
            closePopover : function(refId){
                this.$refs[refId].$emit('close');
            }
        }
    };
</script>
