<template>
	<div>
		<config-builder></config-builder>
	</div>
</template>

<script>
import ConfigBuilder from "./ConfigBuilder/ConfigBuilderApp.vue";


export default {
	components: {
		ConfigBuilder,
	},
	name : "App",
	data() {
		return {
			isConfig : false
		};
	},
};
</script>