<template>
	<div>
		<product-finder-app></product-finder-app>
	</div>
</template>

<script>

import ProductFinderApp from "./ProductFinder/ProductFinderApp.vue";
export default {
	components: {
		ProductFinderApp
	},
	name : "App",
	data() {
		return {
			isConfig : false
		};
	},
};
</script>