<template>
    <div class="card">
        <div class="card-header brand-gradient ">
            <h5 class="text-white text-uppercase">Tournament Leaderboard</h5>
        </div>
        <div class="card-body p-1" style="background: #000;">

            <table class="table table-supercondensed" v-if="getPlayers.length">
                <thead>
                <tr>
                    <th colspan="2">
                        <div class="text-left text-brand-orange">
                            {{status}}
                        </div>
                    </th>
                    <th colspan="3">
                        <div class="text-center">
                            <strong class="text-brand-orange">*</strong> <small><em> - started on hole 10</em></small>
                        </div>
                    </th>
                </tr>
                <tr>
                    <th style="width:45px;min-width: 45px;max-width: 45px;"  class="text-left" :style="getScoresStyle">Pos</th>
                    <th>Name</th>
                    <th class="text-center" :style="getScoresStyle">Today</th>
                    <th class="text-center" :style="getScoresStyle">Thru</th>
                    <th class="text-center" :style="getScoresStyle">Tot</th>
                    <th class="text-center" v-if="isPrize">Prize</th>
                </tr>
                </thead>
                <tbody>
                    <player-row v-for="player in getPlayers" :player.sync="player" :tournament.sync="tournament" :type="type" :key="'all-'+player.id" :par="par"></player-row>
                </tbody>
            </table>
            <div class="row" v-else>
                <div class="col-md-12 text-center">
                    <i class="fa fa-spin fa-spinner"></i> Loading...
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    import PlayerRow from "./PlayerRow";

    export default {
        name : "AllPlayersTable",
        props: ["players", "par", "mobile", "type", "status", "tournament", "updatedd"],
        data: function () {
            return {
                onlyMine : true,
            }
        },
        components : {
            PlayerRow

        },
        computed : {
            isPrize : function(){
                return (this.type === 'prize');
            },
            isTrackmeet : function(){
                return (this.type === 'trackmeet');
            },
            isScore : function(){
                return (this.type === 'score');
            },
            getScoresStyle : function(){
                return "padding:0;";
                if(this.mobile){
                    return "width:30x;min-width: 30x;max-width: 30x;";
                }
                return "width:65px;min-width: 65px;max-width: 65px;";
            },
            getPlayers : function(){
                let dq = this.getDQPlayers;
                let ac = this.getActivePlayers;
                return ac.concat(dq);
                // let totSort = (this.isPrize) ? 'prize' : 'total';
                // return _.sortBy(this.players, ['status', 'pos', totSort]);
            },
            getActivePlayers : function(){
                let activePlayers = this.players.filter(function(player){
                    return player.status == 'Active';
                });
                let totSort = (this.isPrize) ? 'prize' : 'total';
                return _.sortBy(activePlayers, ['pos']);
                // return _.sortBy(activePlayers, ['status', 'pos', totSort]);
            },
            getDQPlayers : function(){
                let dqPlayers = this.players.filter(function(player){
                    return player.status != 'Active';
                });
                let totSort = (this.isPrize) ? 'prize' : 'total';
                return _.sortBy(dqPlayers, ['status', totSort]);
                // return _.sortBy(dqPlayers, ['status', 'total']);
            },

        },
        methods : {
        }
    };
</script>

<style>
    .prow-enter-active, .prow-leave-active {
        transition: all 1s;
    }
    .prow-enter, .prow-leave-to /* .list-leave-active below version 2.1.8 */ {
        opacity: 0;
        /*transform: translateX(30px);*/
        transform: scale3d(30px);
    }
</style>
