<template>
  <tr
    v-if="player"
    class="text-white"
    style="border-left: 1px solid black; border-right: 1px solid black"
  >
    <td style="padding: 0 !important">
      <span
        class="text-brand-orange"
        style="font-size: 0.95em; margin-right: 4px"
        v-if="!isCut"
        v-html="getPos"
      ></span>
      <span
        class="text-brand-orange"
        style="font-size: 0.95em; margin-right: 4px"
        v-else
        >{{ getStatus }}</span
      >
    </td>
    <td style="padding: 0 !important">
      <div v-if="player">
        <b-link
          tabindex="1"
          type="button"
          style="-webkit-appearance: none; border-radius: 0; font-size: 0.91em"
          :id="player.id + '-all'"
          variant="primary"
          class="text-brand-blue"
        >
          <span v-html="getPlayerName"></span>
          <span class="text-white"> {{ getPlayerPercent }}</span>
        </b-link>
        <b-popover
          :target="player.id + '-all'"
          triggers="focus"
          :ref="player.id + '-all'"
        >
          <template v-slot:title>
            <span class="mr-2" v-html="getPlayerName"></span>
            <span
              @click="closePopover(player.id + '-all')"
              style="float: right"
              class="pointer"
            >
              <i class="fa fa-times"></i>
            </span>
          </template>
          <player-popup :player.sync="player" :type="type"></player-popup>
        </b-popover>
      </div>
    </td>
    <td style="padding: 0 !important" class="text-center">
      <up-data
        :fresh="isFresh"
        :k="player.id"
        :senddata.sync="getToday"
      ></up-data>
    </td>
    <td style="padding: 0 !important" class="text-center">
      <up-data
        :fresh="isFresh"
        :k="player.id"
        :senddata.sync="getThru"
      ></up-data>
    </td>
    <td style="padding: 0 !important" class="text-center text-brand-blue">
      <up-data
        :fresh="isFresh"
        :k="player.id"
        :senddata.sync="getTotal"
      ></up-data>
    </td>
    <td
      v-if="isPrize"
      style="padding: 0 !important"
      class="text-center text-brand-orange"
    >
      <up-data
        :fresh="isFresh"
        :k="player.id"
        :senddata.sync="getPrize"
      ></up-data>
    </td>
  </tr>
</template>
<script>
import { BootstrapVue} from 'bootstrap-vue'
import Popover from "vue-popover";
import EntriesTableEntryDataPlayerRowDetails from "../PoolLeaderboard/EntriesTableEntryDataPlayerRowDetails";
import PlayerPopup from "./PlayerPopup";
import UpData from "./UpData";

Vue.use(BootstrapVue);

export default {
  name: "PlayerRow",
  components: {
    UpData,
    PlayerPopup,
    EntriesTableEntryDataPlayerRowDetails,
    Popover,
  },
  data: function () {
    return {};
  },
  props: ["player", "par", "type", "tournament"],
  computed: {
    isPrize: function () {
      return this.type === "prize";
    },
    isTrackmeet: function () {
      return this.type === "trackmeet";
    },
    isScore: function () {
      return this.type === "score";
    },
    getStatus: function () {
      return this.player.status;
    },
    isCut: function () {
      return this.player.status !== "Active";
    },
    getToday: function () {
      if (this.tournament.finished) {
        // return this.player.round_4 ? this.player.round_4 : '-';
        let today = this.player.round_4 ? this.player.round_4 : "E";
        return today > 0 ? "+" + today : today;
      }
      // if(this.isPrize) return this.player.prize;

      let countCutSign = this.player.count_cut_label
        ? "<sup>" + this.player.count_cut_label + "</sup>"
        : "";

      if (this.isCut && countCutSign === "") return this.player.status;

      if (this.player.today === null) {
        return "-";
      }

      if (this.player.today === "-" || this.player.today === "") {
        return "-";
      }

      let today = parseFloat(this.player.today);

      if (today === 0) {
        return "E" + countCutSign;
      }
      let sign = today > 0 ? "+" : "";
      return sign + today + countCutSign;
    },
    getTotal: function () {
      let gtp = this.player;
      let countCutSign = ""; // this.player.count_cut_label ? "<sup>"+this.player.count_cut_label+"</sup>" : "";

      // let handicap = (gtp.handicap) ? parseInt(gtp.handicap) : 0;
      if (
        gtp.real_total == 0 ||
        gtp.real_total === "0" ||
        gtp.real_total === null
      ) {
        return "E" + countCutSign;
      }

      if (gtp.real_total === "-" || gtp.real_total == "") {
        return "-";
      }
      let total = parseInt(gtp.real_total); // + handicap;

      if (total === 0) {
        return "E" + countCutSign;
      }

      let sign = total > 0 ? "+" : "";
      return sign + total + countCutSign;
    },
    getThru: function () {
      // return this.player.tee;
      // console.log("Getting thru ", this.player, this.player.name);
      if (this.isCut) return this.player.status;
      let holeString = ""; // "("+this.player.start_hole+")";
      let startHole =
        this.player.start_hole == 10
          ? "<sup class='text-brand-orange'>*</sup>"
          : "";
      if (this.player.hole !== "") {
        if (this.player.hole == "18") {
          return "F" + startHole + holeString;
        }
        // let startHole = (this.player.start_hole) ? "<sup>"+this.player.start_hole+"</sup>" : "";

        // need to test again ***tempcode
        if (this.tournament.finished) return "F" + startHole + holeString;

        return this.player.hole.replace(/AM|PM/g, "") + startHole + holeString;
      }
      if (this.tournament.finished) return "F" + startHole + holeString;
      return this.player.tee
        ? this.player.tee.replace(/AM|PM/g, "")
        : "F" + startHole + holeString;
    },
    getPrize: function () {
      return "$" + this.player.prize.toLocaleString("en-US");
    },
    isInPlay: function () {
      return this.player.hole.search(/:/g) != -1 && this.player.hole !== "F";
    },
    getHandicap: function () {
      let handicap = this.player.handicap ? this.player.handicap : null;
      if (handicap) {
        let handicapString =
          handicap > 0 ? "(+" + handicap + ")" : "(" + handicap + ")";
        return "<span class='handicap-text'>" + handicapString + "</span>";
      }
      return "";
    },
    getPlayerPercent: function () {
      // return (this.player.percent) ? this.player.percent : 0;
      let player_id = this.player.id;
      let is_group_player = this.tournament.players.filter(
        (player) => player.golf_tournament_player_id == player_id
      ).length;

      if (!is_group_player) return "";
      return this.player.percent ? this.player.percent + "%" : 0 + "%";
    },
    getPos: function () {
      if (this.player.pos === 0) {
        return "-";
      }
      return this.player.pos !== 9999 ? this.player.tpos : "-";
    },
    isFresh: function () {
      return this.player.fresh;
    },
    getPlayerName: function () {
      return this.player.name;
      return this.player.display_name && this.player.display_name !== ""
        ? this.player.display_name
        : this.player.name;
    },
  },
  methods: {
    closePopover: function (refId) {
      this.$refs[refId].$emit("close");
    },
  },
};
</script>
