<template>
    <div style="margin: 0 !important; padding:0 !important;">
        <table class="table table-supercondensed" style="margin: 0 !important; padding:0 !important;">
            <tbody>
                <player-popup-round-row :cut.sync="isCut" :status.sync="getStatus" :type="type" :num="1" :prize="getPrize" :round.sync="getRound1" :dqed.sync="this.player.disqualified_round"
                ></player-popup-round-row>
                <player-popup-round-row :cut.sync="isCut" :status.sync="getStatus" :type="type" :num="2" :prize="getPrize" :round.sync="getRound2" :dqed.sync="this.player.disqualified_round"></player-popup-round-row>
                <player-popup-round-row :cut.sync="isCut" :status.sync="getStatus" :type="type" :num="3" :prize="getPrize" :round.sync="getRound3" :dqed.sync="this.player.disqualified_round"></player-popup-round-row>
                <player-popup-round-row :cut.sync="isCut" :status.sync="getStatus" :type="type" :num="4" :prize="getPrize" :round.sync="getRound4" :dqed.sync="this.player.disqualified_round"></player-popup-round-row>
            <tr style="border-top:1px solid white">
                <td class="text-right">
                    Total
                </td>
                <td class="text-center">
                    {{getTotal}}
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    import PlayerPopupRoundRow from "./PlayerPopupRoundRow";
    export default {
        name : "PlayerPopup",
        components : {
            PlayerPopupRoundRow

        },
        props: ["player", "par", "type"],
        computed : {
            isPrize : function(){
                return (this.type === 'prize');
            },
            isTrackmeet : function(){
                return (this.type === 'trackmeet');
            },
            isScore : function(){
                return (this.type === 'score');
            },
            isCut : function(){
                return (this.player.status !== 'Active');
            },
            getStatus : function(){
                return this.player.status;
            },
            getHandicap : function(){
                let handicap = (this.player.handicap)  ? this.player.handicap : null;
                if(handicap){
                    let handicapString = (handicap > 0) ? "(+"+ handicap+")" : "("+handicap+")";
                    return "<span class='handicap-text'>" + handicapString + "</span>" ;
                }
                return "";
            },
            getPrize : function(){
              return this.player.prize;
            },
            getRound1 : function(){
                if(this.player.round_1 !== null){
                    let total =  this.player.round_1;
                    if(total === 0){
                        return "E";
                    }
                    let sign = (total > 0) ? "+" :"";
                    return sign+total;
                }
                return "--";
            },
            getRound2 : function(){
                if(this.player.round_2 !== null){
                    let total =  this.player.round_2;
                    if(total === 0){
                        return "E";
                    }
                    let sign = (total > 0) ? "+" :"";
                    return sign+total;
                }
                return "--";
            },
            getRound3 : function(){
                if(this.player.round_3 !== null){
                    let total =  this.player.round_3;
                    if(total === 0){
                        return "E";
                    }
                    let sign = (total > 0) ? "+" :"";
                    return sign+total;
                }
                return "--";
            },
            getRound4 : function(){
                if(this.player.round_4 !== null){
                    let total =  this.player.round_4;
                    if(total === 0){
                        return "E";
                    }
                    let sign = (total > 0) ? "+" :"";
                    return sign+total;
                }
                return "--";
            },
            getTotal : function(){

                if(this.player.real_total !== null){
                    let total =  parseInt(this.player.real_total);
                    // let handicap = (this.player.handicap) ? parseInt(this.player.handicap) : 0;
                    // total = total + handicap;
                    // let astc = (this.player.handicap) ? "^" : " ";
                    if(total === 0){
                        return "E";
                    }
                    let sign = (total > 0) ? "+" :"";
                    return sign+total;
                }
                return "--";
            },
        },
        methods : {
            closePopover : function(refId){
                this.$refs[refId].$emit('close');
            }
        }
    };
</script>
