<template>
    <tr>
        <td class="text-right">
            <span v-html="getDqStatus"></span>Round {{num}}
        </td>
        <td class="text-center">
            {{round}}
        </td>
    </tr>
</template>

<script>
    export default {
        name : "PlayerPopupRoundRow",
        components : {
        },
        props: ["round",  "num", "cut", "status", "type", "prize", "dqed"],
        computed : {
            isPrize : function(){
                return (this.type === 'prize');
            },
            isTrackmeet : function(){
                return (this.type === 'trackmeet');
            },
            isScore : function(){
                return (this.type === 'score');
            },
            getRoundScore : function() {

                if(this.cut){
                    return this.status;
                }
                if(this.isPrize){
                    return this.prize;
                }
                return this.round;
            },
            getDqStatus : function(){
                return (this.dqed <= this.num && this.status !== 'Active') ? "<sup class='text-brand-orange'>["+this.status+"]</sup>" : "";
            }
        },
        methods : {

        }
    };
</script>
