<template>
    <div class="card">
        <div class="card-header brand-gradient ">
            <h5 class="text-white text-uppercase">Tournament Leaderboard</h5>
        </div>
        <div class="card-body p-1" style="background: #000;">

            <table class="table table-supercondensed" v-if="getPlayers.length">
                <thead>
                <tr>
                    <th colspan="2"></th>
                    <th colspan="3">
                        <div class="text-center">
                            <strong class="text-brand-orange">*</strong> <small><em> - started on hole 10</em></small>
                        </div>
                    </th>
                </tr>
                <tr>
                    <td style="width:35px;min-width: 35px;max-width: 35px;"></td>
                    <th>Name</th>
                    <th class="text-center" :style="getScoresStyle">Today</th>
                    <th class="text-center" :style="getScoresStyle">Thru</th>
                    <th class="text-center" :style="getScoresStyle">Tot</th>
                    <th class="text-center" :style="getScoresStyle">Payout</th>
                </tr>
                </thead>
                <tbody>

                </tbody>

            </table>
            <div class="row" v-else>
                <div class="col-md-12 text-center">
                    <i class="fa fa-spin fa-spinner"></i> Loading...
                </div>
            </div>
        </div>
    </div>
</template>

<script>

import PlayerRow from "./PlayerRow";

export default {
    name : "PrizeAllPlayersTable",
    props: ["players", "par", "mobile"],
    data: function () {
        return {
            onlyMine : true,
        }
    },
    components : {
        // PlayerRow

    },
    computed : {
        getScoresStyle : function(){
            return "padding:0;";
            if(this.mobile){
                return "width:30x;min-width: 30x;max-width: 30x;";
            }
            return "width:65px;min-width: 65px;max-width: 65px;";
        },
        getPlayers : function(){
            return _.sortBy(this.players, ['status', 'pos', 'prize']);
        }
    },
    methods : {

    }
};
</script>

<style>
.prow-enter-active, .prow-leave-active {
    transition: all 1s;
}
.prow-enter, .prow-leave-to /* .list-leave-active below version 2.1.8 */ {
    opacity: 0;
    /*transform: translateX(30px);*/
    transform: scale3d(30px);
}
</style>
