<template>
	<transition name="slide-fade" mode="out-in">
		<span :class="getClass" v-if="getProp" :key="k" v-html="getProp"></span>
	</transition>
</template>

<script>
    export default {
        name : "UpData",
        props: ["senddata", "k", "fresh"],
        data: function () {
            return {

            }
        },
        components : {
        },
        computed: {
            getProp: function() {
                return this.senddata;
            },
            getClass : function(){
                return (this.fresh) ? "pulsate" : "";
            }
        },

        methods : {

        }
    };
</script>


