<template>
	<div class="pfApp--questions--question-item">
		<h2 class="pfApp--questions--question-item--title" v-html="getQuestion"></h2>
		<div class="pfApp--questions--question-item--open-menu">
			<span class="pfApp--pointer pfApp--link" @click="opened = !opened" v-if="opened">Hide</span>
			<span class="pfApp--pointer pfApp--link" @click="opened = !opened" v-else>Read More</span>
		</div>
		<div class="pfApp--questions--question-item--description" v-show="opened">
			<p v-html="getDescription"></p>
			<p v-if="isMultiple">Pick Many</p>
		</div>
			<answers-container
				:answers="question.answers"
				@select-answer="selectAnswer"
			>
			</answers-container>
	</div>
</template>


<script>

import AnswersContainer from "./Answer/AnswersContainer.vue";
export default {
	name : "Question",
	components: {
		AnswersContainer

	},
	props: ["question"],
	data() {
		return {
			opened : false,
		}
	},
	mounted() {
		this.opened = false;
	},
	computed : {
		isMultiple : function(){
			return (this.question.type === 'multiple');
		},
		getQuestion : function(){
			return (this.question) ? this.question.question : "";
		},
		getDescription : function(){
			return (this.question) ? this.question.description : "";
		}
	},
	methods : {
		selectAnswer : function(answer){
			this.$emit('select-answer',answer, this.question.id);
		}
	}
};
</script>