<template>
	<div class="pfApp--questions">
		<question
			v-for="question in questions"
			:key="question.id"
			:question="question"
			@select-answer="selectAnswer"
		></question>
	</div>
</template>

<script>
import Question from "./Question.vue";
export default {
	name : "QuestionsContainer",
	components: {
		Question

	},
	props: ["questions"],
	computed : {

	},
	methods : {
		selectAnswer : function (answer, questionId){
			this.$emit('select-answer',answer, questionId);
		}
	}
};
</script>