<template>
    <div class="dropdown-menu notices-dropdown bg-brand-charcoal" id="noticeMenu">
        <a v-for="notice in notices" :href="notice.url" class="dropdown-item-dark">
            <span v-html="notice.notification"></span> for <span class="pool-name">{{notice.pool.pool_name}}</span>
            <br> <span class="date-box">{{notice.created_at}}</span>
        </a>
        <a href="/notification" class="text-center mt-1">
            <div class="help-block">View All</div>
        </a>
    </div>
</template>

<script>
    export default {
        name : "DroDownMenu",
        props: ["notices"],

    }
</script>
