<template>
    <a href="/notification" @click="readAll" class=" dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-bell"></i><span v-if="unread" style="    position: absolute;right: -15px;" class='badge badge-danger'>{{unread}}</span></a>
</template>

<script>
    export default {
        name : "NotificationMenu",
        props: ["unread"],
        methods : {
            readAll : function() {
                this.$emit('readall');
            }
        }
    }
</script>
