<template>
    <div>
        <div class="form-group pb-0 mb-1 row">
            <label for="" class="col-sm-7 col-md-4 text-right text-mobile-left" v-html="__c('golf.edit.content.playoff_stroke_label', 'Substract Stroke in Playoffs')"></label>
            <div class="col-sm-5 col-md-8">
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-check">
                            <input @change="updatePlayoffStroke" class=" form-check-input" type="radio" name="playoff_stroke" id="playoff_stroke2" v-model="localPlayoffStroke" :value="true" :checked="localPlayoffStroke">
                            <label class="form-check-label" for="playoff_stroke2" v-html="__c('golf.edit.content.playoff_stroke_yes', 'Yes')">

                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-check">
                            <input @change="updatePlayoffStroke" class=" form-check-input" type="radio" name="playoff_stroke" id="playoff_stroke3" v-model="localPlayoffStroke" :value="false" :checked="!localPlayoffStroke">
                            <label class="form-check-label" for="playoff_stroke3" v-html="__c('golf.edit.content.playoff_stroke_no', 'No')">

                            </label>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="help-block" v-html="__c('golf.edit.content.playoff_stroke_help', 'Should stroke be removed if players tie for playoff')"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>


<script>

export default {
    name : "PlayoffStroke",
    components: {

    },
    data: function () {
        return {
            localPlayoffStroke : this.playoffStroke,
        }
    },
    props: ["pool", "playoffStroke"],
    mounted(){

    },
    created() {

    },
    computed : {

    },
    methods : {
        updatePlayoffStroke : function(){
            this.$emit('update-playoff-stroke', this.localPlayoffStroke);
        }
    },
};
</script>
