<template>
    <div>
        <div class="p-3" style="    border-top: 1px inset #727272 !important;">
            <number-of-round-winners
                v-if="notPrize"
                :number-of-round-winners="numberOfRoundWinners"
                @update-number-of-round-winners="updateNumberOfRoundWinners"
            ></number-of-round-winners>
            <number-of-winners
                :number-of-winners="numberOfWinners" @update-number-of-winners="updateNumberOfWinners"
            ></number-of-winners>
            <playoff-stroke :playoff-stroke.sync="pool.playoff_stroke" @update-playoff-stroke="updatePlayoffStroke" v-if="notPrize"></playoff-stroke>
        </div>
    </div>
</template>


<script>

import NumberOfRoundWinners from "./NumberOfRoundWinners";
import NumberOfWinners from "./NumberOfWinners";
import PlayoffStroke from "./PlayoffStroke";
export default {
    name : "WinnersContainer",
    components: {
        PlayoffStroke,
        NumberOfWinners,
        NumberOfRoundWinners

    },
    data: function () {
        return {
            numberOfWinners : this.pool.number_of_winners,
            numberOfRoundWinners : this.pool.number_of_round_winners,
            // countCut : this.pool.count_cut,
            editSectionOpen : false,
            dataChanged : false,
        }
    },
    props: ["pool", "processing"],
    mounted(){
        // this.numberOfRoundWinners = this.pool.number_of_round_winners;
        // this.numberOfWinners = this.pool.number_of_winners;
        // this.countCut = this.pool.count_cut;
    },
    created() {

    },
    computed : {
        notPrize : function(){
            return (this.pool.type !== 'prize');
        },
        inSavingProcess : function(){
            return this.processing;
        },
        hasChanges : function(){
            return this.dataChanged;
        },
        headerOpenIconClass : function(){
            return (this.editSectionOpen) ? "fa fa-chevron-down" : "fa fa-chevron-right";
        },
        // showCutPlayersSetting : function(){
        //     return this.notPrize; // (this.pool.type !== 'prize');
        // }
    },
    methods : {
        hasNewChanges : function() {
            this.dataChanged = false;
            if(this.pool.number_of_round_winners != this.numberOfRoundWinners){
                this.dataChanged = true;
            }
            if(this.pool.number_of_winners != this.numberOfWinners){
                this.dataChanged = true;
            }
            if(this.countCut != this.pool.count_cut){
                this.dataChanged = true;
            }
        },
        updatePoolData : function(){
            let data = {
                'number_of_winners' : this.numberOfWinners,
                'number_of_round_winners' : this.numberOfRoundWinners,
                'count_cut' : this.countCut,
            };
            this.$emit('update-pool', data);
            this.dataChanged = false;
        },
        toggleOpen : function(){
            this.editSectionOpen = !this.editSectionOpen;
        },
        updateNumberOfRoundWinners : function (num){
            this.$emit('update-number-of-round-winners', num);
        },
        updateNumberOfWinners : function (num){
            this.$emit('update-number-of-winners', num);
        },
        // updateCountCut : function (cut){
        //     this.$emit('update-count-cut', cut);
        // },
        updatePlayoffStroke : function(playoffstroke){
            this.$emit('update-playoff-stroke', playoffstroke);
        }
    },
};
</script>
