<template>
    <div>
        <div v-if="inSavingProcess" class="card mt-1">
            <div class=" card-header bg-brand-charcoal">
                <h3 class="text-white text-uppercase "><span class="">Pool Type <i class="fa fa-spin fa-spinner"></i></span></h3>
            </div>
            <div class="card-body">
                <div class="alert alert-info"><i class="fa fa-spin fa-spinner"></i> Updating...</div>
            </div>
        </div>

        <div class="card mt-1" v-else>
            <div class="card-header bg-brand-charcoal">
                <h3 class="text-white text-uppercase ">Pool Type: <span class="text-brand-orange text-uppercase">{{getPoolType}}</span></h3>
                <div class="card-header-controls">
                    <div class="btn-group" role="group" aria-label="Edit Pool Type Controls" v-if="editPoolTypeInProgress">
                        <button type="button" v-if="typeChanged" class="btn brand-btn btn-brand-blue" @click="setPoolType()">Set</button>
                        <button type="button" class="btn btn-brand-darkgrey brand-btn" @click="cancelPoolTypeEdit()">Cancel</button>
                    </div>
                    <div class="btn-group" role="group" aria-label="Open" v-else>
                        <button type="button" class="btn brand-btn btn-brand-blue" @click="openPoolType">Change Pool Type</button>
                    </div>
                </div>
            </div>
            <div class="card-body p-3"  v-if="editPoolTypeInProgress">
                <div>
                    <div class="alert alert-danger">
                        <p>Changing pool type will completely reset all your picks and settings!</p>
                    </div>
                </div>
                <div class="form-group  row">
                    <label for="form-label" class="col col-md-4 text-right text-mobile-left required">Pool Type</label>
                    <div class="col-md-8">
                        <select name="" class="form-control" id="" v-model="type">
                            <option v-for="t in types" v-bind:value="t" :data-type="(t==getPoolType)" :selected="(t==getPoolType)" >{{t}}</option>
                        </select>
                        <span class="error-title"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

export default {
    name : "PoolTypeContainer",
    components: {

    },
    data: function () {
        return {
            type : null,
            types : [
                "score",
                "prize",
                "trackmeet",
                "handicap"
            ]
        }
    },
    props: ["id", "editPoolType", "pool", "processing"],
    mounted(){
       this.type = (this.pool) ? this.pool.type : null;
    },
    created() {
        if(this.pool){
            this.type = this.pool.type;
        }
    },
    computed : {
        inSavingProcess : function(){
            return this.processing;
        },

        getPoolType : function(){
            if(this.pool){
                return this.pool.type;
            }
            return null;
        },
        editPoolTypeInProgress : function(){
            return this.editPoolType;
        },
        typeChanged : function(){
            return (this.type !== this.pool.type);
        }
    },
    methods : {
        cancelPoolTypeEdit : function(){
            this.$emit('cancel-pool-type-edit');
        },
        setPoolType : function(){
            let data = {};
            if(this.type === 'handicap'){
                let groups = [];
                let towardScore = 0;
                this.pool.groups.forEach(function(g){
                    let gd = {
                        enabled: (g.number === 1),
                        max: (g.number === 1) ? g.max : 0,
                        name: g.name,
                        number: g.number
                    };
                    towardScore = towardScore + gd.max;
                    groups.push(gd);
                })
                data = {
                    type : this.type,
                    groups : groups,
                    toward_score : towardScore,
                    lower_to_higher : false,
                }
            } else {
                data = {
                    type : this.type,
                }
            }
            this.$emit('update-pool', data)

        },
        openPoolType : function(){
            this.$emit('open-pool-type');
        },
        isTypeSelected : function(type){

        },
    },
 /*   watch: { //creeping pool
        pool(v) { // for changes on parent
            console.log("Watch triggered ", v, this.pool);
            if (v) this.type = this.pool.type;
        }
    }*/
};
</script>
