<template>
	<div>
		<h4>Library</h4>
		<div class="row">
			<div class="col-md-12">
				<uploader @uploaded="getAllFiles"></uploader>
			</div>
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-3 text-center" v-for="file in getFilesForLibrary" style="border:1px solid #d4d4d4;padding:5px;">
						<img :src="file" class="img-thumbnail"  @click="selectFile(file)" style="display: block;width: 100%;">
						<div class="text-center">
							<button @click="deleteFile(file)" class="btn btn-danger btn-sm btn-block mt-3">Delete</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import axios from "axios";
import Uploader from "./Uploader.vue";

export default {
	name : "LibraryContainer",
	data : function() {
		return {
			endpoint : API_ENDPOINT,
			selectedFile : "",
			files : []
		}
	},
	created() {
		this.ax = axios.create({
			baseURL: this.endpoint,
			withCredentials: false,
			headers: {
				'Content-Type': 'application/json',
				'Accept' : 'application/json, text/plain, */*',
			}
		});
		this.getAllFiles();
	},
	components: {
		Uploader

	},
	props: [

	],
	computed : {
		getFilesForLibrary : function(){
			let hold = []
			this.files.forEach((file)=>{
				let imagePath = file
				hold.push(imagePath);
			})
			return hold;
		}
	},
	methods : {
		getAllFiles : function(){
			this.ax.get(this.endpoint+'?op=images').then(result => {
				this.files =  result.data.data;
			});
		},
		selectFile : function(filename){
			this.$emit('select-file', filename);
		},
		deleteFile : function(filename){
			this.ax.post(this.endpoint+'?op=delete',{file:filename}).then(result => {
				this.getAllFiles();
			});
		}
	}
};
</script>
