<template>
	<div class="container">
		<div class="large-12 medium-12 small-12 cell">
			<label>File
				<input type="file" id="file" ref="file" v-on:change="handleFileUpload()"/>
			</label>
			<button v-on:click="submitFile()" class="btn btn-outline-info">Submit</button>
		</div>
	</div>
</template>

<script>
import axios from 'axios';

export default {
	name : "Uploader",
	data : function() {
		return {
			ax : null,
			endpoint : API_ENDPOINT,
			file: '',
			filename : '',
		}
	},
	created() {
		this.ax = axios.create({
			baseURL: this.endpoint+``,
			withCredentials: false,
			headers: {
				'Content-Type': 'application/json',
				// 'Authorization': 'Bearer ' + localStorage.token,
				// 'Access-Control-Allow-Origin': '*',
				'Accept' : 'application/json, text/plain, */*',
				// 'Access-Control-Allow-Methods' : 'GET, PUT, POST, DELETE, OPTIONS',
				// 'Access-Control-Allow-Credentials' : true
			}
		});
	},
	components: {

	},
	props: [

	],
	computed : {

	},
	methods : {
		submitFile : function(){
			let formData = new FormData();
			formData.append('file', this.file);
			formData.append('hash','sdff34zkafaja33faAF113');
			this.ax.post( this.endpoint+'/?op=upload',
				formData,
				{
					headers: {
						'Content-Type': 'multipart/form-data'
					}
				}
			).then((filenameData) =>{
				this.filename = filenameData.data.data;
				this.$emit('uploaded');
			})
				.catch((err)=>{

					});
		},
		handleFileUpload : function(){
			this.file = this.$refs.file.files[0];
		}
	}
};
</script>
