@import "vars";
* {
	margin:0;
	padding: 0;
	color:$textPrimary;
}
//pfApp--nav--step
.pfApp{
	font-family: 'Raleway', sans-serif;
	font-size:14px;
	color: $primary;
	padding:10px 20px;
	&--nav{
		&--step:nth-of-type(1){
			//border-top-left-radius: 50%;
			//border-bottom-left-radius: 50%;
		}
		//&--step:last-of-type(''){
		//	border-top-right-radius: 50%;
		//	border-bottom-right-radius: 50%;
		//}
		&--step {

			border:1px solid $primary;
			height: 40px;
			font-size: 0.7em;
			text-decoration: none;
			&-active{
				background-color: $primaryGray;
				color:$white;
				span{
					color:$textWhite !important;
				}
			}
			&-completed{
				background: $secondaryGray;
				span{
					color:$textPrimary !important;
				}
			}
			&--content{
				text-align: center;
				&--number{
					display:none;
				}

			}
		}
	}

	&--questions{
		margin-top:2rem;
		&--question-item{
			text-align: center;
			&--title{
				font-size: 2em;
				text-align: center;
			}

			&--answers{
				margin-top:3rem;
				&--answer-item{
					height: 75px;
					margin-left: 4px;
					margin-right: 4px;
					@media only screen and (min-width: 600px)  {
						height: 350px;
						flex-direction: column;
						text-align: center;
					}
					&-selected{
						border:2px solid $secondaryLight;
					}

					margin-bottom:20px;
					-webkit-box-shadow: 0px 0px 5px 0px rgba(58,57,57,0.16);
					box-shadow: 0px 0px 5px 0px rgba(58,57,57,0.16);
					//width: 50%;
					&--image-container{
						img {

						}
					}
					&--details-container{


						text-align: left;

						h3 {
							margin:5px 10px;
							@media only screen and (min-width: 600px)  {
								margin:0;
								margin-top: 10px;
							}
						}
						p {
							color: $textSecondary;
							margin-left: 5px;
							font-size: 0.77rem;
							@media only screen and (min-width: 600px)  {
								margin:0;
								margin-top: 10px;
							}
						}
						@media only screen and (min-width: 600px)  {
							text-align: center;
						}
					}
				}
			}
		}
	}

	&--results{
		//max-width: 1200px;
		//margin: 0 auto;
		&--item{
			//width: 32.3331%;
			//max-width: 35%;
			//flex:1 1 auto;
		}
	}

	&--bottom-nav{
		margin-top: 5rem;
		max-width: 900px;
		margin-left: auto;
		margin-right: auto;
		&--item {
			text-align: center;
			border:1px solid $primaryGray;
			padding:10px 25px;
			&-next{
				background-color: $primaryGray;
				span{
					color:$textWhite !important;
				}

			}
			&-result{
				background-color: $secondary;
				span{
					color:$textWhite !important;
				}

			}
		}

	}

	&--view-results-opt-in
	{
		//background: #0a53be;
		text-align: center;
		padding-top: 10%;
		background: #ffffffa3;

		&--email{
			width:70%;
			padding: 10px 25px;
			margin-top: 36px;
			margin-bottom: 35px;
			max-width: 400px;

		}
		&--button {
			padding: 19px 45px;
			background: $primaryGray;
			color: $white;
			font-weight: bolder;
		}
		&--error{
			color: $error;
		}
		&--skip-link{
			display: block;
			width: 100%;
			text-align: center;
			margin-top:1rem;
		}
	}

	&--results-masked{
		filter:blur(10px);
		transition:filter .5s ease;
		backface-visibility: hidden;
	}


	//helpers
	&--link{
		color:$primary;
		text-decoration: underline;
	}
	&--small-text {
		font-size:12px;
	}

	&--pointer{
		cursor: pointer;
	}
}


//animation
.fade-enter-active, .fade-leave-active {
	transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
	opacity: 0;
}