@import "vars";
.pfApp{
	position: relative;

	&--nav{
		display: flex;
		justify-content: center;
		&--step {
			flex:1 1;
			@media only screen and (min-width: 600px)  {
				flex:1 1;
				max-width: 150px;
			}
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			&--content{
				width: 100%;
				&--number{
					display:none;
					@media only screen and (min-width: 600px)  {
						display: inline-block !important;
					}
				}
			}
		}
	}

	&--questions{
		display: block;
		&--question-item{
			&--title{
				text-align: center;
			}

			&--answers{
				display: flex;
				justify-content: center;
				flex-wrap: wrap;

				&--answer-item{
					flex: 1 0 100%;
					@media only screen and (min-width: 600px)  {
						flex:1 1;
						max-width: 250px;
					}
					width:100%;
					display: flex;
					align-items: start;
					@media only screen and (min-width: 600px)  {
						align-items: center;
					}

					&--image-container{
						//max-width: 24%;
						flex: 0 1 auto;
						display: flex;
						align-self: center;
						height: 100%;
						background-size: cover !important;
						min-width: 25%;
						@media only screen and (min-width: 600px)  {
							flex:1 0;
							-webkit-flex-direction: column;
							flex-direction: column;
							width:200px;
							height: 200px;
							min-width: 200px;
							min-height: 200px;
							margin-top: 2em;
						}

						//img {
						//	height: 100%;
						//	margin-left: auto;
						//	margin-right: auto;
						//}
					}
					&--details-container{
						width:100%;
						height: 100%;
						flex: 0 1 auto;
						@media only screen and (min-width: 600px)  {
							flex: 1 1 auto;
							-webkit-flex-direction: column;
							flex-direction: column;

						}

					}
				}
			}
		}
	}
	&--results{
		max-width: 1200px;
		margin: 0 auto;
		display: flex;
		flex-wrap: wrap;
		&--item{

			@media only screen and (min-width: 600px)  {
				width: 32.3331%;
				max-width: 35%;
				flex:1 1 auto;
			}
			img {
				max-width: 100%;
			}
		}
	}

	&--bottom-nav{
		display: flex;
		justify-content: space-between;
		&--item{
			flex:1 0 24%;
			max-width: 33%;
			text-align: center;
		}
	}

	&--view-results-opt-in{
		position: absolute;
		top:0;
		left:0;
		bottom: 0;
		right:0;
		z-index: 9999;
		text-align: center;
		&--email{
			display: block;
			position: relative;
			margin-left: auto;
			margin-right: auto;
			width: 400px;
			margin-top: 36px;
			margin-bottom: 35px;
		}
		&--button {
			display: block;
			position: relative;
			margin-left: auto;
			margin-right: auto;
		}

	}
}
