$primary : #141414;
$primaryGray : #2f2f2f;
$secondaryGray : #e2e1e1;
$secondary : #411c01;
$secondaryLight: #7a4a4b;
$white : #fff;
$black : #000;
$error : #6d1111;
$textPrimary: #141414;
$textSecondary : #626262;
$textWhite : #fff;
$primaryFont : 'Raleway';
