<template>
    <div>
        <transition name="fade">
            <div class="grid">
                <div class="grid--row">
                    <div class="grid--load"></div>
                    <div class="grid--title grid--title-horisontal">
                        <team-header :teamName.sync="game.hometeam.name" :headclass="homeTeamClass" />
                    </div>
                </div>
                <div class="grid--row grid--row-grow">
                    <div class="grid--title grid--title-vertical">
                        <team-header :teamName.sync="game.awayteam.name" :headclass="awayTeamClass" />
                    </div>
                    <div :class="'grid--inner '+drawSizeClass">
                        <grid-head :numbers.sync="numbers"></grid-head>
                        <grid-row v-for="y in 10" 
                            :squareboard.sync="squareboard"
                          :squares.sync="squares"
                            :numbers.sync="numbers" 
                            :game.sync="game"
                            :y="y" 
                            :key="y">
                        </grid-row>
                    </div>
                </div>
            </div>
        </transition>
    </div>
</template>

<script>
    import TeamHeader from "./TeamHeader";
    import GridHead from "./GridHead";
    import GridRow from "./GridRow";

    export default {
        name: "Grid",
        components: {
            'team-header' : TeamHeader,
            'grid-head' : GridHead,
            'grid-row' : GridRow,
        },
        props: ["game", "squareboard", "numbers", "squares"],
        computed : {
            drawSizeClass : function(){
                if(this.numbers){
                    return (this.numbers.drawSize > 1) ? 'grid--inner-viewgrid' : '';
                }
                return '';
            },
            homeTeamClass: function() {
                return 'hometeam-header';
            },
            awayTeamClass: function() {
                return 'awayteam-header';
            }
        },
        mounted() {

        },
        methods : {


        }
    }
</script>

<style>
.swal2-title{

}
</style>
