<template>
    <div :class="'grid--row'+drawSizeClass">
        <div v-if="this.numbers.drawSize > 1" class="grid--cell grid--cell-viewgrid">
            <div :class="'square-top-number-wrapper cell cell-dark  '+drawSizeCellClass">
                <span :class="'cell--value text-center square-top-number-'+c" v-for="(number, c) in numbers.currentNumbers" v-html="getQuarterLabels(c)"></span>
            </div>
        </div>
        <div  class="grid--cell grid--cell-league" v-else></div>
        <top-numbers
	        :numbers="numbers"
	        v-for="x in 10"
	        :key="x"
	        :cnt="x"
        ></top-numbers>
    </div>
</template>

<script>
    import TopNumbers from "./TopNumbers";

    export default {
        name: "GridHead",
        components: {
            'top-numbers' :TopNumbers

        },
        props: ["numbers"],
        methods : {
            getQuarterLabels : function(c){
                let topLeftIndicator = (this.numbers.drawSize == 2) ? 'h' : 'q';
                return (c == 4) ? '&nbsp;F&nbsp;' : c+topLeftIndicator;
            }
        },
        computed : {
            drawSizeClass : function(){
                if(this.numbers){
                    return (this.numbers.drawSize > 1) ? ' grid--row-grow ' : ' grid--row-inline ';
                }
                return '';
            },
            drawSizeCellClass : function(){
                if(this.numbers){
                    return (this.numbers.drawSize == 2) ? ' cell-val-2 ' : ' cell-val ';
                }
                return '';
            }
        },
        mounted() {
        }
    }
</script>
