<template>
    <div class="grid--row grid--row-grow">
        <side-numbers :numbers.sync="numbers" :cnt="y"></side-numbers>
        <live-square
            v-for="x in 10"
            :key="x"
            :x="x"
            :y="y"
            :squares.sync="squares"
        ></live-square>
    </div>
</template>
<script>

    import SideNumbers from "./SideNumbers";
    import Square from "./Square";

    export default {
        name: "GridRow",
        components: {
            'side-numbers' : SideNumbers,
            'live-square' : Square
        },
        props: [ "y", "numbers", "squares"],
        computed : {

        },
        mounted() {
        },
        methods : {
        }
    }
</script>
