<template>
    <div class="grid--cell grid--cell-makepick grid--cell-viewgrid ">
        <div
            :class="squareClass"
            :id="'square-'+square.id"
            :style="patStyle + ' position:relative;'"
        >
            <span class="gray-number" v-html="getGrayNumber" v-if="showGrayNumber"></span>
            <div class="win" style="position:absolute;top:0;left:2px;">
                <i v-for="i in getWinCount" class="fa fa-trophy trophy-topy"></i>
            </div>
            <span :id="'square-label-'+square.id" class="cell--name cell--name-desktop" v-html="square.name">&nbsp;</span>
            <span :id="'square-short-label-'+square.id" class="cell--name cell--name-mobile" v-html="square.short_name">&nbsp;</span>
        </div>
    </div>

</template>

<script>

    export default {
        name: "Square",
        components: {
        },
        data : function(){
            return {
                square: {},
                gray_number: null,
                patStyle: " color:black; "
            }
        },
        props: ["squares",  "game", "y", "x"],
        computed : { 
            squareClass :function(){
	            let squareClass = "cell highlightAlike --show ";
	            squareClass += (this.square.user_id) ? " picked picked-by-" + this.square.user_id + " " : " cell-empty ";
                squareClass += this.square.class;
                return squareClass;
            },
            getTrophy : function(){
                return this.square.wins;
            },
            squareShortLabel : function(){
                return (this.square.user_id) ? this.square.short_name : "&nbsp;";
            },
            squareLabel : function(){
                return (this.square.user_id) ? this.square.name : "&nbsp;";
            },
            getWinClass : function(){

                return "";
            },
            getWinCount: function() {
                return (this.square  && this.square.wins) ? this.square.wins : 0;
            },
            getGrayNumber: function() {
                return (this.square.user_id) ? null : (this.y-1)*10+this.x;
            },
            showGrayNumber: function() {
                return true;
            },
        },
        mounted() {
            this.square = this.squares[(this.y - 1) * 10 + this.x - 1];
        },
        methods : {

        }
    }
</script>
