<template>
    <div :class="headclass">
        <h3 style="text-shadow: 1px 1px 2px black;" v-html="teamName"></h3>
    </div>
</template>
<script>

    export default {
        name: "TeamHeader",
        components: {


        },
        props: ["teamName", "headclass"],
        computed : {

        },
        mounted() {

        }
    }
</script>
