<template>
    <div :class="topDrawClass">
        <div :class="cellDrawClass">
            <span :class="numberDrawClass" v-for="number in numbers.currentNumbers" v-html="getNumber(number)"></span>
        </div> 
    </div>
</template>


<script>

    export default {
        name: "TopNumbers",
        components: {
        },
        props: ["numbers", "cnt"],
        computed : { 
            topDrawClass :function(){
                if(this.numbers){
                    return (this.numbers.drawSize > 1) ? 'grid--cell grid--cell-viewgrid ' : ' grid--cell grid--cell-x';
                }
                return 'grid--cell grid--cell-x ';
            },
            cellDrawClass :function(){
                if(this.numbers){
                    if(this.numbers.drawSize > 1){
                        return (this.numbers.drawSize == 2) ? ' cell cell-val-2 ' : ' cell cell-val ';
                    }
                    return '';

                }
                return '';
            },
            numberDrawClass :function(){
                if(this.numbers){
                    return (this.numbers.drawSize > 1) ? 'cell--value text-center ' : ' text-brand-grey';
                }
                return 'cell--value text-center ';
            },
        },
        mounted() {
        },
        methods : {
            getNumber : function (number,cnt) {

                if(number && number.hometeam_numbers){
                    var clean = number.hometeam_numbers;
                    return clean[this.cnt];
                }
                return "X";
            }
        }
    }
</script>
