<template>
    <tr :class="getRowClass" :style="getRowStyle">
        <td :colspan="getCols" class="" :style="getNameStyle" >
            <span  :style="getTDStyle">
                <span class="text-brand-orange" style="font-size: 0.95em;margin-right:4px;" v-if="standing.pos !== ''">{{getPos}}</span>
                <span :style="(isWinner) ? 'font-weight:bolder;font-size: 1.08em;' : 'font-size: 1.08em;' "><sup><i class="fa fa-trophy text-brand-orange" style="font-size: 0.6em;" v-if="isWinner"></i></sup>{{standing.name}}</span>
            </span>
        </td>
        <template v-if="showGroups">
            <td rowspan="2" class="border-brand-darkgrey" v-for="group,k,i in standing.groups"  :data-index="i"
                :style="(k === standing.groups.length - 1) ? lastTdBorder  : '' ">
                <ul :style="getUlStyleD" v-if="showPicks">
                    <standing-group-player v-for="gtp in group.players" :key="gtp.id" :width.sync="width" :gtp="gtp"   :groupcount="standing.groups.length"></standing-group-player>
                </ul>
                <span class="text-brand-darkgrey" v-else>-hidden-</span>
            </td>
        </template>

    </tr>
</template>

<script>
    import StandingGroupPlayer from "./StandingGroupPlayer";
    import { BootstrapVue} from 'bootstrap-vue'
    import PlayerStats from "./PlayerStats";
    Vue.use(BootstrapVue);

    export default {
        name : "EntryNameGroupsRow",
        components: {
            StandingGroupPlayer,
            PlayerStats,
            Popover
        },
        data: function () {
            return {
                width : window.innerWidth,
            }
        },
        mounted() {
            window.addEventListener("resize", ()=>{
                this.width = window.innerWidth
            });
        },
        props: ["standing", "user", "show", "sort", "posIndex", "hideplayers", "prize", "status"],
        computed : {
            isWinner : function(){

                //temp disable
                return false;
                if(this.status === "Not Started"){
                    return false;
                }
                return this.standing.pool_winner;
            },
            getCols : function(){
                return (this.isPrize) ? 1 : 5;
            },
            isPrize : function(){
                return this.prize;
            },
            isMobile : function(){
                return (this.width < 850);
            },
            getUlStyleD : function(){
                let defStyle = 'list-style: none;padding:0;margin:0;';
                let columnStyle = '';
                if(this.standing.groups.length === 1){
                    columnStyle = (this.isMobile) ? " column-count: 2;" : "column-count: 4;";
                }
                let returnStyle = defStyle+columnStyle;
                return returnStyle;
            },
            getPos : function(){
                let p = this.standing.pos;
                if(p === "" || p == "" || p === 0){
                    return "";
                }
                return p;
            },
            showPicks : function(){
                if(this.hideplayers){
                    return (parseInt(this.user) === this.standing.user_id);
                }
                return true;

                return (this.hideplayers && user.id !== '')
            },
            lastTdBorder : function(){
                let myBorder = "-webkit-box-shadow: inset -3px 0px 0px 0px #44AEE3; -moz-box-shadow: inset -3px 0px 0px 0px #44AEE3; box-shadow: inset -3px 0px 0px 0px #44AEE3;";
                let otherBorder = "-webkit-box-shadow: inset -3px 0px 0px 0px #464545; -moz-box-shadow: inset -3px 0px 0px 0px #464545; box-shadow: inset -3px 0px 0px 0px #464545;";
                return  (this.isMine) ? myBorder : otherBorder;
            },
            showGroups : function(){
                return (this.width > 767);
            },
            isDisqualified : function(){
                return (this.standing.status !== "active");
            },
            isMine : function(){
                return (parseInt(this.user) === this.standing.user_id);
            },
            getTDStyle : function(){
                if(this.isDisqualified){
                    return (this.isMine) ? 'text-decoration:line-through; color:#fff;font-weight:narrow;' : 'text-decoration:line-through; color:#fff;font-weight:narrow;';
                }
                return (this.isMine) ? 'font-size:0.95em; color:#fff;font-weight:narrow;' : 'font-size:0.95em; color:#fff;font-weight:narrow;';
            },
            getRowClass : function(){


            },
            getRowStyle : function(){
                // let mine = (this.isMine) ? 'border-left:5px solid #44AEE3; border-right:5px solid #44AEE3;' : 'border-left:5px solid #464545; border-right:5px solid #464545; ';
                let mine = (this.isMine)  ? ' background-color:#242424;  ' : ' background:#0d0d0d; ';
                return "border-top:2px solid black;" + mine;
            },
            getFirstTDStyle : function(){
                return '';
                },
            getNameStyle : function(){
                let myBorder = "-webkit-box-shadow: inset 3px 0px 0px 0px #44AEE3; -moz-box-shadow: inset 3px 0px 0px 0px #44AEE3; box-shadow: inset 3px 0px 0px 0px #44AEE3;";
                let otherBorder = "-webkit-box-shadow: inset 3px 0px 0px 0px #464545; -moz-box-shadow: inset 3px 0px 0px 0px #464545; box-shadow: inset 3px 0px 0px 0px #464545;";
                let style2 =  (this.isMine) ? myBorder : otherBorder;
                let limitWidth = (this.show) ? 'min-width:30px; overflow:visible;white-space:nowrap;' : '';
                return limitWidth + " " + style2;
            },
            getGroupStyle : function(){

            },
            isActive : function () {

            },
            getClass : function(){

            },
        },
        methods : {
            toggleShow : function(){
                this.$emit('toggleshow');
            }
        }
    };
</script>
