<template>
    <td class=" text-center " :style="getTdStyle">
        <div v-if="show && isRoundCompleted">
            <!--div v-if="isDisqualified" style="font-size: 0.8em;color:gray;">-</div-->
<!--            <div v-else>-->
            <div>
                <entry-round-popup-link
                    :popupref="getRefId+'-'+num"
                    :standing.sync="standing"
                    :num.sync="num"
                    :round.sync="round"
                    :dq.sync="isDisqualified"
                    :sort.sync="sort"
                    :prize="isPrize"
                >
                </entry-round-popup-link>

            </div>
        </div>
        <div v-else>
            -
        </div>

    </td>
</template>

<script>
import Popover from 'vue-popover'

import StandingGroupPlayer from "./StandingGroupPlayer";

import { BootstrapVue} from 'bootstrap-vue'
import PlayerStats from "./PlayerStats";
import EntryRoundPopupLink from "./EntryRoundPopupLink";
Vue.use(BootstrapVue);


export default {
    name : "EntryRoundCell",
    components: {
        EntryRoundPopupLink,
        PlayerStats,
        StandingGroupPlayer,
        Popover
    },
    props: ["round", "standing", "num", "user", "show", "sort", "round"],
    computed : {
        isPrize : function(){
            return (this.standing.type == 'prize');
            // return this.standing.
        },
        isRoundCompleted : function(){
            let numRound = 0;
            if(this.num == 'total'){
                return true;
                numRound = 5;
            } else {
                numRound = parseInt(this.num.replace("round_", ""))
            }
            return this.standing.current_round >= numRound;

        },
        getRefId : function(){
            return this.standing.id;
            return Math.floor(Math.random() * Math.floor(1000));
        },
        getTdStyle : function(){
            // console.log("Sort and num", this.num, this.sort);
            let myBorder = "";
            let otherBorder = "";
            if(this.num === 'round_1'){
                myBorder = "-webkit-box-shadow: inset 3px 0px 0px 0px #44AEE3; -moz-box-shadow: inset 3px 0px 0px 0px #44AEE3; box-shadow: inset 3px 0px 0px 0px #44AEE3;";
                otherBorder = "-webkit-box-shadow: inset 3px 0px 0px 0px #464545; -moz-box-shadow: inset 3px 0px 0px 0px #464545; box-shadow: inset 3px 0px 0px 0px #464545;";
            }
            let style2 =  (this.isMine) ? myBorder : otherBorder;
            let style = (this.isMine) ? 'color: #50e2ac; ' : '';
            let sorted = (this.num == this.sort) ? 'font-weight:bold !important;' : '';
            return style + style2 + sorted;
        },
        getRoundButtonClass : function(){
            return (this.sort === 'round_1') ? 'btn btn-clear font-bolder text-brand-blue' : 'btn btn-clear font-light text-brand-blue'
        },
        getRoundScore : function(){
            let sign = (this.round.score > 0) ? "+" : "";
            return (this.round.score) ? sign+this.round.score : "&#x2011;";
        },
        isDisqualified : function(){
            return (this.standing.status !== "active");
        },
        isMine : function(){
            return (parseInt(this.user) === this.standing.user_id);
        },

        getBtnClass : function(){
            return "btn btn-clear";
        },
        getRowClass : function(){
            if(this.isDisqualified){
                return (this.isMine) ? ' ' : ' ';
            }
            return ''
            // return (t/his.isMine)  ? ' background-color:#242424;  ' : ' ';
        },
    },
    methods : {
        // getPopoverName : function(round){
        //     let name =this.standing.id+"-"+round;
        //     return name;
        // },
        // closePopover : function(refId){
        //     this.$refs[refId].$emit('close');
        // }
    }
};
</script>
