<template>
    <tr :style="getRowStyle">
        <td class=" text-center " :style="getTdStyle">
            <div v-if="show">
                <div>
                    <entry-round-popup-link
                        :popupref="getRefId+'-'+getNum"
                        :standing.sync="standing"
                        :num.sync="getNum"
                        :round.sync="getRound"
                        :dq.sync="isDisqualified"
                        :sort.sync="sort"
                        :prize="isPrize"
                    >
                    </entry-round-popup-link>
                </div>
            </div>
            <div v-else>
                -
            </div>

        </td>
<!--        <entry-round-cell-->
<!--            v-for="(round, num) in standing.rounds"-->
<!--            :round.sync="round"-->
<!--            :num.sync="num"-->
<!--            :key="num"-->
<!--            :standing.sync="standing"-->
<!--            :user.sync="user"-->
<!--            :show.sync="show"-->
<!--            :sort.sync="sort"-->
<!--        ></entry-round-cell>-->
    </tr>
</template>

<script>
import Popover from 'vue-popover'

import StandingGroupPlayer from "./StandingGroupPlayer";

import { BootstrapVue} from 'bootstrap-vue'
import PlayerStats from "./PlayerStats";
import EntryRoundPopupLink from "./EntryRoundPopupLink";
import EntryRoundCell from "./EntryRoundCell";
Vue.use(BootstrapVue);


export default {
    name : "EntryPrizeRow",
    components: {
        EntryRoundPopupLink
        // EntryRoundCell,
        // EntryRoundPopupLink,
        // PlayerStats,
        // StandingGroupPlayer,
        // Popover
    },
    props: ["standing", "user", "show", "sort", "num"],
    computed : {
        isPrize : function(){
            return (this.standing.type == 'prize');
        },
        getNum : function() {
            return 'prize';
        },
        getRefId : function(){
            return this.standing.id;
            // return Math.floor(Math.random() * Math.floor(1000))+"-5";
        },
        getTdStyle : function(){
            let myBorder = "";
            let otherBorder = "";
            let style2 =  (this.isMine) ? myBorder : otherBorder;
            let style = (this.isMine) ? 'color: #50e2ac; ' : '';
            let sorted =  'font-weight:bold !important;';
            return style + style2 + sorted;
        },
        getFirstTDStyle : function(){
            let myBorder = "-webkit-box-shadow: inset 3px 0px 0px 0px #44AEE3; -moz-box-shadow: inset 3px 0px 0px 0px #44AEE3; box-shadow: inset 3px 0px 0px 0px #44AEE3;";
            let otherBorder = "-webkit-box-shadow: inset 3px 0px 0px 0px #464545; -moz-box-shadow: inset 3px 0px 0px 0px #464545; box-shadow: inset 3px 0px 0px 0px #464545;";
            let style2 =  (this.isMine) ? myBorder : otherBorder;
            let style = (this.isMine) ? 'color: #50e2ac; ' : '';
            return style + style2;
        },
        getRoundButtonClass : function(){
            return (this.sort === 'round_1') ? 'btn btn-clear font-bolder text-brand-blue' : 'btn btn-clear font-light text-brand-blue'
        },

        getTotal : function(){
            let sign = (this.standing.total > 0) ? "+" : "";
            return (this.standing.total) ? "<span class=''>"+sign+this.standing.total+"</span>" : "&#x2011;";
        },
        isDisqualified : function(){
            return (this.standing && this.standing.status !== "active");
        },
        isMine : function(){
            return (parseInt(this.user) === this.standing.user_id);
        },

        getBtnClass : function(){
            return "btn btn-clear";
        },
        getRowStyle : function(){
            let mine = (this.isMine)  ? ' background-color:#242424;  ' : ' background:#0d0d0d; ';
            return "border-top: 0 !important; " + mine;
        },
        isActive : function () {

        },
        getClass : function(){

        },
        getRound : function(){
            return (this.standing.rounds && this.standing.rounds.total) ? this.standing.rounds.total : [];
        }
    },
    methods : {
        getPopoverName : function(round){
            let name =this.standing.id+"-"+round;
            return name;
        },
        closePopover : function(refId){
            this.$refs[refId].$emit('close');
        }
    }
};
</script>
