<template>
    <tr :class="getRowClass" :style="getRowStyle">
        <entry-round-cell
            v-for="(round, num) in standing.rounds"
            :round.sync="round"
            :num.sync="num"
            :key="num"
            :standing.sync="standing"
            :user.sync="user"
            :show.sync="show"
            :sort.sync="sort"
        ></entry-round-cell>
      
    </tr>
</template>

<script>
    import Popover from 'vue-popover'

    import StandingGroupPlayer from "./StandingGroupPlayer";

    import { BootstrapVue} from 'bootstrap-vue'
    import PlayerStats from "./PlayerStats";
    import EntryRoundPopupLink from "./EntryRoundPopupLink";
    import EntryRoundCell from "./EntryRoundCell";
    Vue.use(BootstrapVue);


    export default {
        name : "EntryRoundsRow",
        components: {
            EntryRoundCell,
            EntryRoundPopupLink,
            PlayerStats,
            StandingGroupPlayer,
            Popover
        },
        props: ["standing", "user", "show", "sort", "prize"],
        computed : {
            getFirstTDStyle : function(){
                let myBorder = "-webkit-box-shadow: inset 3px 0px 0px 0px #44AEE3; -moz-box-shadow: inset 3px 0px 0px 0px #44AEE3; box-shadow: inset 3px 0px 0px 0px #44AEE3;";
                let otherBorder = "-webkit-box-shadow: inset 3px 0px 0px 0px #464545; -moz-box-shadow: inset 3px 0px 0px 0px #464545; box-shadow: inset 3px 0px 0px 0px #464545;";
                let style2 =  (this.isMine) ? myBorder : otherBorder;
                let style = (this.isMine) ? 'color: #50e2ac; ' : '';
                return style + style2;
            },
            getRoundButtonClass : function(){
                return (this.sort === 'round_1') ? 'btn btn-clear font-bolder text-brand-blue' : 'btn btn-clear font-light text-brand-blue'
            },
            getRound1 : function(){
                let sign = (this.standing.round_1.score > 0) ? "+" : "";
                return (this.standing.round_1.score) ? sign+this.standing.round_1.score : "&#x2011;";
            },
            getRound2 : function(){
                let sign = (this.standing.round_2 > 0) ? "+" : "";
                return (this.standing.round_2) ? sign+this.standing.round_2 : "&#x2011;";
            },
            getRound3 : function(){
                let sign = (this.standing.round_3 > 0) ? "+" : "";
                return (this.standing.round_3) ? sign+this.standing.round_3 : "&#x2011;";
            },
            getRound4 : function(){
                let sign = (this.standing.round_4 > 0) ? "+" : "";
                return (this.standing.round_4) ? sign+this.standing.round_4 : "&#x2011;";
            },
            getTotal : function(){
                let sign = (this.standing.total > 0) ? "+" : "";
                return (this.standing.total) ? "<span class=''>"+sign+this.standing.total+"</span>" : "&#x2011;";
            },
            isDisqualified : function(){
                return (this.standing.status !== "active");
            },
            isMine : function(){
                return (parseInt(this.user) === this.standing.user_id);
            },

            getBtnClass : function(){
                return "btn btn-clear";
            },
            getRowClass : function(){
                if(this.isDisqualified){
                    return (this.isMine) ? ' ' : ' ';
                }
                return ''
                // return (t/his.isMine)  ? ' background-color:#242424;  ' : ' ';
            },
            getRowStyle : function(){
                let mine = (this.isMine)  ? ' background-color:#242424;  ' : ' background:#0d0d0d; ';
                return "border-top: 0 !important; " + mine;
            },
            isActive : function () {

            },
            getClass : function(){

            },
        },
        methods : {
            getPopoverName : function(round){
                let name =this.standing.id+"-"+round;
                return name;
            },
            closePopover : function(refId){
                this.$refs[refId].$emit('close');
            }
        }
    };
</script>
