<template>
    <div>
        <b-link tabindex="1" type="button" style="-webkit-appearance: none;border-radius: 0; font-size:1em" variant="primary"
                :id="getRefString"
                :class="(sort === num) ? 'btn btn-clear font-bolder text-brand-blue' : 'btn btn-clear font-light text-brand-blue' "
                v-html="getRound"> {{sort}}
        </b-link>
        <b-popover
            triggers="focus"
            :target="getRefString"
            :ref="getRefString">
            <template v-slot:title><span class="text-uppercase">{{cleanRoundString}}</span> <span @click="closePopover(getRefString)" style="float:right" class="pointer"><i class="fa fa-times"></i></span></template>
<!--            <player-stats-->
<!--                v-if="isPrize"-->
<!--                :round="num"-->
<!--                :prize="isPrize"-->
<!--                :losers.sync="getNone"-->
<!--                :winners.sync="getAll"-->
<!--                :sort.sync="sort"-->
<!--            >-->
<!--            </player-stats>-->

            <player-stats
                :round="num"
                :prize="isPrize"
                :losers.sync="getLosers"
                :winners.sync="getWinners"
                :disqualified.sync="getDisqualified"
                :sort.sync="sort"
                :entry-total="getRound"
            >
            </player-stats>
        </b-popover>
    </div>
</template>

<script>
    import Popover from 'vue-popover'

    import StandingGroupPlayer from "./StandingGroupPlayer";

    import { BootstrapVue} from 'bootstrap-vue'
    import PlayerStats from "./PlayerStats";
    Vue.use(BootstrapVue);


    export default {
        name : "EntryRoundPopupLink",
        components: {
            PlayerStats,
            StandingGroupPlayer,
            Popover
        },
        props: [
            "dq",
            "popupref",
            "round",
            "num",
            "roundplayers",
            "standing",
            "user",
            "show",
            "sort",
            "roundnum",
            "roundtot",
            "prize"
        ],
        computed : {
            getEntryTotal : function(){
                return (this.isPrize) ? ""  : null;
            },
            isPrize : function(){
                return this.prize;
            },
            cleanRoundString : function (){
                return (this.isPrize) ? this.standing.name : this.num.replace('_', ' ');

            },
            getRefString : function(){
                // return this.popupref;
                return (this.standing) ? this.standing.id+'-'+this.num : null;
            },
            getLosers : function(){
                let losers = []
                if(this.round.losers)
                    for (let index = 0; index < this.round.losers.length; index++) {
                        let element = this.round.losers[index];
                        if((this.round.losers[index+1] && element.pos == this.round.losers[index+1].pos) || (this.round.losers[index-1] && element.pos == this.round.losers[index-1].pos)) element.tpos = 'T'+element.pos;
                        else element.tpos = element.pos;
                        losers.push(element)
                    }
                return _.orderBy(losers, 'status');
            },
            getDisqualified : function(){
                return (this.round.disqualified) ? _.orderBy(this.round.disqualified, 'status') : [];
            },
            getWinners: function(){
                let winners = []
                if(this.round.winners)
                    for (let index = 0; index < this.round.winners.length; index++) {
                        let element = this.round.winners[index];
                        if((this.round.winners[index+1] && element.pos == this.round.winners[index+1].pos) || (this.round.winners[index-1] && element.pos == this.round.winners[index-1].pos)) element.tpos = 'T'+element.pos;
                        else element.tpos = element.pos;
                        winners.push(element)
                    }
                if(this.isPrize){ 
                    return _.orderBy(winners, ['status', 'prize'], ['asc','desc']);
                }
                return winners;
            },
            getAll : function (){
                // let all = [];
                // return this.round.winners;
                return _.orderBy(this.round.winners, 'status', 'prize');
            },
            getNone : function(){
                return [];
            },
            getFirstTDStyle : function(){
                let myBorder = "-webkit-box-shadow: inset 3px 0px 0px 0px #44AEE3; -moz-box-shadow: inset 3px 0px 0px 0px #44AEE3; box-shadow: inset 3px 0px 0px 0px #44AEE3;";
                let otherBorder = "-webkit-box-shadow: inset 3px 0px 0px 0px #464545; -moz-box-shadow: inset 3px 0px 0px 0px #464545; box-shadow: inset 3px 0px 0px 0px #464545;";
                let style2 =  (this.isMine) ? myBorder : otherBorder;
                let style = (this.isMine) ? 'color: #50e2ac; ' : '';
                return style + style2;
            },
            getRoundButtonClass : function(){
                return (this.sort === this.num) ? 'btn btn-clear font-bolder text-brand-blue' : 'btn btn-clear font-light text-brand-blue'
            },
            getRound : function(){
                if(this.num == 'prize'){
                    return "$"+this.standing.formatted_prize;
                }

                let spanStyle = (this.sort === this.num) ? "font-weight:bold;" : "";
                let ast = ""
                let score = (this.round.score !== null) ? parseFloat(this.round.score) : null;

                if(this.num == 'total'){
                    ast = (this.standing.handicapped) ? "^" : "";
                }
                let sign = (parseInt(score) > 0) ? "+" : "";
                if(score === 0){
                    return "<span style='"+spanStyle+"'>E"+ast+"</span>";
                }
                if(this.dq){
                    return (score) ? "<span style='"+spanStyle+"'>"+"<em style='text-decoration: line-through;'>"+ sign+score+ast+"</em></span>" : "<span style='"+spanStyle+"'>&#x2011;</span>";
                }
                return (score) ? "<span style='"+spanStyle+"'>"+sign+score+ast+"</span>" : "<span style='"+spanStyle+"'>&#x2011;</span>";
            },


            isDisqualified : function(){
                return (this.standing.entry.status !== "active");
            },
            isMine : function(){
                return (parseInt(this.user) === this.standing.entry.user_id);
            },

            getBtnClass : function(){
                return "btn btn-clear";
            },
            getRowClass : function(){
                if(this.isDisqualified){
                    return (this.isMine) ? ' ' : ' ';
                }
                return ''
                // return (t/his.isMine)  ? ' background-color:#242424;  ' : ' ';
            },
            getRowStyle : function(){
                let mine = (this.isMine)  ? ' background-color:#242424;  ' : ' background:#0d0d0d; ';
                return "border-top: 0 !important; " + mine;
            },
            isActive : function () {

            },
            getClass : function(){

            },
        },
        methods : {
            getPopoverName : function(round){
                let name =this.standing.entry.id+"-"+round;
                return name;
            },
            closePopover : function(refId){
                this.$refs[refId].$emit('close');
            }
        }
    };
</script>
