<template>
   <div>
       <template v-if="sortedWinners.length">
           <table class="table table-supercondensed m-0">
               <thead>
               <tr>
	               <th v-if="isTotal" class="">Pos</th>
	               <th>Name</th>
	               <th class="text-right" v-html="getHeader"></th>
               </tr>
               </thead>
               <tbody :style="getTbodyStyle">
                    <player-stats-row
                    v-for="(player,i) in sortedWinners"
                    :key="i+'-'+player.id"
                    :player="player"
                    :round="round"
                    :prize="prize"
                    :winner="1"
                    :index="i"></player-stats-row>
               </tbody>
               <tbody style="border-top: 2px solid white !important;border-collapse: separate;border-spacing: 2px; color:#cccccc !important; ">
               <player-stats-row
                   v-for="(player,i) in sortedLosers"
                   :key="i+'-'+player.id"
                   :player="player"
                   :round="round"
                   :prize="prize"
                   :winner="0"
                   :index="i"></player-stats-row>
               </tbody>
               <tbody  style="border-top: 0 !important;">
               <player-stats-row
                   v-for="(player,i) in sortedDisqualified"
                   :key="i+'-'+player.id"
                   :player="player"
                   :round="round"
                   :prize="prize"
                   :winner="0"

                   :index="i"></player-stats-row>
               </tbody>
               <tbody style="border-top:2px solid white;">
                <tr>
                    <td class="text-right">Total</td>
                    <td class="text-right text-brand-orange" colspan="2" v-html="getEntryTotal"></td>
                </tr>
               </tbody>
           </table>
       </template>
       <template v-else>

           <table class="table table-supercondensed m-0">
               <tbody>
               <tr>
                   <td class="text-center p-3">Round Not Completed</td>
               </tr>
               </tbody>
           </table>

       </template>
   </div>
</template>

<script>

    import PlayerStatsRow from "./PlayerStatsRow";
    export default {
        name : "PlayerStats",
        components: {
            PlayerStatsRow

        },
        props: ["winners", "losers", "round", "sort", "round", "prize", "entryTotal", "disqualified"],
        mounted(){
        },
        computed : {
	        isTotal : function(){
                return (this.round == 'total' || this.prize);
	        },
            getHeader : function(){
                return (this.prize) ? "Earnings" : "Score";
            },
            getEntryTotal : function(){
                console.log(this.entryTotal, this.prize);
                return (this.prize) ? this.entryTotal : this.entryTotal;
            },
            getTbodyStyle : function(){
                if(this.prize){
                    return "";
                }
                //why you no
                return "border-bottom: 1px solid white;";
            },
            sortedWinners : function(){
                if(this.prize){
                    return _.orderBy(this.winners, ['prize'],['desc']);
                }
                return _.sortBy(this.winners, [this.round]);
            },
            sortedLosers : function(){
                if(this.num == 'prize'){
                    return _.orderBy(this.losers, ['prize'],['desc']);
                }
                return _.sortBy(this.losers, [this.round]);
            },
            sortedDisqualified : function(){
                if(this.num == 'prize'){
                    return _.orderBy(this.disqualified, ['prize'],['desc']);
                }
                return _.sortBy(this.disqualified, [this.round]);
            }
        },
        methods : {


        }
    };
</script>
