<template>
    <tr :class="(index == (towardscore - 1) && !isPrize) ? 'border-bottom text-brand-gray' : ''">
	    <td v-if="isTotal" class="text-left">
		    <span class="" v-html="getPos"></span>
	    </td>
        <td class="text-white">
            <span v-html="getName"></span> <span v-show="isHandicap" v-html="getHandicap"></span>
        </td>
        <td :class="getTotalClass">{{getTotal}}</td>

    </tr>
</template>

<script>

    export default {
        name : "PlayerStatsRow",
        components: {

        },
        props: ["player", "towardscore", "round", "cuts", "index", "prize", "winner"],
        data: function () {
            return {
                width : window.innerWidth
            }
        },
        mounted(){
            window.addEventListener("resize", ()=>{
                this.width = window.innerWidth
            });
        },
        computed : {
	        isTotal : function(){
		        return (this.round == 'total' || this.prize);
	        },
	        getTotalClass : function(){
	        	return "text-right text-brand-orange";
	        	// return (this.winner === 1) ? "text-right text-brand-orange" : "text-right text-brand-lightgray"
	        },
            getPos : function (){
                if(this.player.pos === 0){
                    return "-";
                }
                return (this.player.pos !== 9999) ? this.player.tpos : '-';
                // return (this.player.pos !== 9999) ? this.player.pos : "-";
            },
            isPrize : function(){
                return this.prize;
            },
            getName : function(){
                if(this.width < 850)
                    return this.player.last_name ? this.player.last_name : this.player.name;
                else
                    return this.player.name;
            },
            isHandicap : function(){
                return this.player.handicap;
            },
            getCutString : function(){
                if(this.player){
                    if(this.player.status !== "Active"){
                            return "<em>["+this.player.status+"]</em>";
                    }
                }
                return "";
            },
            getCutTotal : function(){
                let total = this.player.total;
                if(!total){
                    return "CUT";
                }
                let handicap = (this.round === 'total') ?  this.player.handicap : 0;
                handicap = (handicap) ? handicap : 0;
                handicap = parseInt(handicap);
                total = parseInt(total);
                let astericks = (handicap && handicap != 0) ? "^" : "";
                total = total + handicap;
                let sign = (total > 0) ? "+" : "";
                return (total === 0) ? 'E'+astericks : sign+total+astericks;
            },
            getTotal : function(){
                if(this.player.status !== 'Active'){
                    return this.player.status;
                }
                if(this.isPrize){
                    return "$"+parseInt(this.player.prize).toLocaleString();
                }
                // console.log("Round is ", this.round);
                let total = (this.round == 'total') ? parseFloat(this.player.total)  : this.player[this.round];
                // console.log(this.player);

                let handicap = (this.player.handicap);
                handicap = (handicap) ? parseInt(handicap) : 0;
                let astericks = (handicap && handicap != 0) ? "^" : "";
                total = total + handicap;
                let sign = (total > 0) ? "+" : "";
                if(isNaN(total)){
                    return "-";
                }
                return (total === 0) ? 'E'+astericks : sign+total+astericks;
            },
            getHandicap : function(){
                if(this.round === 'final'){
                    let handicap = this.player.handicap;
                    if(handicap){
                        let handicapString = (handicap > 0) ? "(+"+ handicap+")" : "("+handicap+")";
                        return "<span class=' handicap-text'>" + handicapString + "</span>" ;
                    }
                }

                return "";
            }
        },
        methods : {

        }
    };
</script>
