<template>
    <table class="table table-mobile2 table-supercondensed m-0" id="">
        <thead>
            <tr>
                <th :colspan="getCols" class="text-center"><span class="text-white">Status:</span> <span class="text-brand-orange">{{status}}</span> | <span class="text-white" v-html="__c('golf.pool_info.standings.entry_count_label', 'Entry/Count')"></span> <span class="text-brand-orange" v-html="getEntryCount"></span></th>
            </tr>
            <tr v-if="!isPrize">
                <th :colspan="getCols">
                    <div class="text-center">
                        <strong class="text-brand-blue">^</strong><small><em> - handicapped adjusted score</em></small> ({{this.type}})
                    </div>
                </th>
            </tr>
        </thead>
        <standings-header
            :user="user"
            :standings.sync="standings"
            :config.sync="config"
            :sort.sync="sort"
            :show.sync="show"
            :prize.sync="isPrize"
            @sortby="sortBy"
            @showLoading="showLoading"
            @toggleshow="toggleShow"
            @showrounds="showRounds"
            @hiderounds="hideRounds"
        ></standings-header>
        <standings-entries-body
            v-if="isLoaded"
            :standings.sync="sortedStandings"
            :config="config"
            :user="user"
            :prize.sync="isPrize"
            :show.sync="show"
            :sort.sync="sort"
            :hideplayers.sync="hideOtherEntries"
            :status.sync="status"
        ></standings-entries-body>
        <tbody v-else>
            <tr>
                <td colspan="11" class="text-center">
                    <i class="fa fa-spin fa-spinner"></i> Loading ...
                </td>
            </tr>
        </tbody>
    </table>
</template>
<script>
    import StandingsEntriesBody from './StandingsEntriesBody';
    import StandingsHeader from "./StandingsHeader";

    export default {
        name : "StandingsTable",
        components : {
            StandingsHeader,
            StandingsEntriesBody
        },
        data: function () {
            return {
                show : true,
                sort : 'total',
                sorting : false,
            }
        },
        props: ["config", "standings", "user", "status", "started", "type"],
        computed : {
            isPrize : function(){
                return (this.type === 'prize');
            },
            getCols : function(){
                return this.isPrize ? 8 : 10;
            },
            isLoaded : function(){
                return (this.standings.length > 0 && !this.sorting);
            },
            getEntryCount : function (){
                return (this.standings) ? this.standings.length : "...";
            },
            hideOtherEntries : function(){
                return (!this.started);
            },
            sortedStandings : function(){
                let sorting = this.sort;
                // return _.sortBy(activeOnly, sorting);
                if(this.isPrize){
                    return this.standings; //they be already sorted
                }
                return _.sortBy(this.standings, function(obj){
                    return parseFloat(obj[sorting])
                });

                // console.log("Sorting by ", this.sort, );
                // return _.sortBy(this.standings, [this.sort]);
            },
            enabledGroups : function(){
                if(this.config){
                    let groupsArray = Object.values(this.config.groups);
                    return groupsArray.filter(function(group){
                        return group.enabled;
                    })
                }

            }
        },
        methods : {
            sortBy : function(sortBy){
                this.sort = sortBy;
            },
            toggleShow : function(){
                return this.show = !this.show;
            },
            showRounds :function(){
                this.show = true;
            },
            hideRounds : function(){
                this.show = false;
                // this.sort = "total";
            },
            showLoading : function(flag) {
                this.sorting = flag;
            }
        }
    };
</script>
