<template>
    <li :style="getPlayerStyle">
        <div class="">
            <div style="display: inline-block;color:gray;width:30px;min-width:30px;max-width: 30px;"><small>{{getTotal}}</small></div> <span style="font-size: 0.93em; color:#f1edf7;overflow:hidden;">{{shortName}}</span> <span v-html="getHandicap"></span>
        </div>
    </li>
</template>
<script>

    export default {
        name : "StandingGroupPlayer",
        components: {

        },
        props: ["gtp", "width", "groupcount"],
        computed : {

            getPlayerStyle : function(){
                return (this.gtp.status === 'Active') ? "padding:0; margin:0;color:white;line-height:1.56em;width:100%;" : "padding:0; margin:0; color:gray;text-decoration:line-through;line-height:1.56em;width:100%;";
            },
            isCut : function(){
                return (this.gtp.status !== 'Active');
            },
            getTotal : function(){
                if(this.isCut) return "("+this.gtp.status+")";
                let gtp = this.gtp;

                let countCutSign = gtp.count_cut_label ? gtp.count_cut_label : "";
                let ast = (gtp.handicap) ? "^" : "";
                let handicap = (gtp.handicap) ? parseInt(gtp.handicap) : 0;
                let total = 0;
                let gtpTotal = gtp.total;
                if(gtpTotal === "-" || gtpTotal == "" || gtpTotal === null){
                    gtpTotal = 0;
                }
                total = parseInt(gtpTotal) + handicap;

                if(total === 0){
                    return "E"+ast+countCutSign;
                }
                let sign = (total > 0) ? "+" :"";
                return sign+total+ast+countCutSign;

                //
                //
                // if (this.gtp.status !== 'Active'){
                //     return this.gtp.status;
                // }
                // if(this.gtp.total === null){
                //     total = 0;
                // }
                // let total = parseFloat(this.gtp.total);
                //
                // if(!this.gtp.total && this.gtp.total !== 0){
                //     return "N/A";
                // }
                // let sign = (this.gtp.total > 0) ? "+" : "";
                // let outputString = sign+this.gtp.total
                //
                // return (this.gtp.total == 0) ? "E" : outputString;
            },

            getHandicap : function(){
                let handicap = (this.gtp.handicap)  ? this.gtp.handicap : null;
                if(handicap){
                    let handicapString = (handicap > 0) ? "(+"+ handicap+")" : "("+handicap+")";
                    return "<span class='handicap-text'>" + handicapString + "</span>" ;
                }
                return "";
            },
            shortName : function() {
                if(this.gtp){
                    let mobileName = (this.gtp.display_name_mobile !== "") ? this.gtp.display_name_mobile : this.gtp.name;
                    if(this.width < 800){
                        return mobileName;
                    } else {
                        let num = 6;
                        if(this.width > 800 || this.groupcount < 5){
                            return mobileName;
                        }
                        if(this.gtp.name){
                            // if (playa.last_name.length <= num) {
                            //     return playa.last_name;
                            // }
                            return gtp.name.slice(0, num) + '...'
                        } else {
                            return gtp.name.slice(0, num) + "...";
                        }


                    }

                }
                return "-NA-";




            }
        }
    };
</script>
