<template>
    <tbody>
    <template v-for="(standing,i) in getActiveEntries">
        <entry-name-groups-row
            :standing.sync="standing"
            :prize.sync="isPrize"
            :hideplayers.sync="hideplayers"
            :user.sync="user"
            :show.sync="show"
            :sort.sync="sort"
            :posIndex="2"
            :status.sync="status"
            @toggleshow="toggleShow"></entry-name-groups-row>
        <entry-prize-row
            v-if="isPrize"
            :standing.sync="standing"
            :user.sync="user"
            :show.sync="show"
            :prize="prize"
            :sort.sync="sort"></entry-prize-row>
        <entry-rounds-row
            v-else
            :standing.sync="standing"
            :user.sync="user"
            :show.sync="show"
            :sort.sync="sort"></entry-rounds-row>
    </template>
    <template v-for="(standing,i) in getInactiveEntries">
        <entry-name-groups-row
            :standing.sync="standing"
            :prize.sync="prize"
            :hideplayers.sync="hideplayers"
            :user.sync="user"
            :show.sync="show"
            :sort.sync="sort"
            :posIndex="2"
            @toggleshow="toggleShow"></entry-name-groups-row>

        <entry-prize-row
            v-if="isPrize"
            :standing.sync="standing"
            :user.sync="user"
            :show.sync="show"
            :prize="prize"
            :sort.sync="sort"></entry-prize-row>
        <entry-rounds-row
            v-else
            :standing.sync="standing"
            :user.sync="user"
            :show.sync="show"
            :prize="prize"
            :sort.sync="sort"></entry-rounds-row>
    </template>
    </tbody>
</template>

<script>

    // import StandingRow from "./StandingRow";
    import EntryNameGroupsRow from "./EntryNameGroupsRow";
    import EntryRoundsRow from "./EntryRoundsRow";
    import EntryPrizeRow from "./EntryPrizeRow";
    export default {
        name : "StandingsEntriesBody",
        components: {
            EntryPrizeRow,
            EntryRoundsRow,
            EntryNameGroupsRow,
            // StandingRow

        },
        props: ["standings", "config", "user", "show", "sort", "hideplayers", "prize", "status"],
        computed : {
            isPrize : function(){
                return this.prize;
            },
            showScoreRounds : function(){
                return (this.show && !this.prize);
            },
            getActiveEntries : function(){
                let active = this.standings.filter(function(entry) {
                    return (entry.status == 'active');
                });
                return active;
                return _.sortBy(active, ['pos'],['asc']);
            },
            getInactiveEntries : function(){
                return this.standings.filter(function(entry) {
                    return (entry.status != 'active');
                });
            },
            getRowStyle : function(){
                return (parseInt(this.user) === this.standings.user_id) ? "border:1px solid blue;" : '';
            },
            isActive : function () {

            },
            getClass : function(){

            }
        },
        methods : {
            toggleShow : function(){
                this.$emit('toggleshow');
            }
        }
    };
</script>
