<template>
    <thead>

        <tr style="background: black;">
            <!--th class="text-left p-1">
                Entry
                <span style="float:right" class="pull-right" v-if="show" @click="hideRounds()"> <i class="fa fa-chevron-left"></i></span>
                <span style="float:right" class="pull-right" v-else @click="showRounds()"> <i class="fa fa-chevron-right"></i></span>
            </th-->
            <th class="text-center" v-if="showScoreRounds" :style="getRoundHeaderStyle">
                <div :class="(sort === 'round_1') ? 'text-brand-blue font-bolder p-1 pointer' : 'text-brand-blue p-1 pointer'" @click="sortBy('round_1')">
                    <div class="d-inline-block" :style="(sort === 'round_1') ? 'font-weight:bold;' : '' ">R1</div>
                    <div class="d-inline-block"><i class="fa fa-sort-down" v-show="(sort === 'round_1')"></i></div>
                </div>
            </th>
            <th class="text-center" v-if="showScoreRounds" :style="getRoundHeaderStyle">
                <div :class="(sort === 'round_2') ? 'text-brand-blue font-bolder p-1 pointer' : 'text-brand-blue p-1 pointer'" @click="sortBy('round_2')">
                    <div class="d-inline-block" :style="(sort === 'round_2') ? 'font-weight:bold;' : '' ">R2</div>
                    <div class="d-inline-block"><i class="fa fa-sort-down" v-show="(sort === 'round_2')"></i></div>
                </div>
            </th>
            <th class="text-center" v-if="showScoreRounds" :style="getRoundHeaderStyle">
                <div :class="(sort === 'round_3') ? 'text-brand-blue font-bolder p-1 pointer' : 'text-brand-blue p-1 pointer'" @click="sortBy('round_3')">
                    <div class="d-inline-block" :style="(sort === 'round_3') ? 'font-weight:bold;' : '' ">R3</div>
                    <div class="d-inline-block"><i class="fa fa-sort-down" v-show="(sort === 'round_3')"></i></div>
                </div>
            </th>
            <th class="text-center" v-if="showScoreRounds" :style="getRoundHeaderStyle">
                <div :class="(sort === 'round_4') ? 'text-brand-blue font-bolder p-1 pointer' : 'text-brand-blue p-1 pointer'" @click="sortBy('round_4')">
                    <div class="d-inline-block" :style="(sort === 'round_4') ? 'font-weight:bold;' : '' ">R4</div>
                    <div class="d-inline-block"><i class="fa fa-sort-down" v-show="(sort === 'round_4')"></i></div>
                </div>
            </th>
            <th class="text-center" :style="getRoundHeaderStyle">

                <div v-if="prize" class="text-brand-blue font-bolder p-1"> <div class="d-inline-block" >Prize</div></div>

                <div v-else :class="(sort === 'total') ? 'text-brand-blue font-bolder p-1 pointer' : 'text-brand-blue p-1 pointer'" @click="sortBy('total')"> <div class="d-inline-block" :style="(sort === 'total') ? 'font-weight:bold;' : '' ">Tot</div>
                    <div class="d-inline-block"><i class="   fa fa-sort-down" v-show="(sort === 'total')"></i></div>
                </div>
            </th>

            <template v-if="showGroups">
                <th v-for="group in enabledGroups" class="text-left" :style="getGroupStyle">
                    <div  class=" p-1" style="    padding-left: 10px !important;">
                        Group {{group.name}}
                    </div>
                </th>
            </template>
        </tr>
    </thead>
</template>

<script>

    export default {
        name : "StandingsHeader",
        components: {

        },
        props: ["standings", "config", "show", "sort", "prize"],
        data: function () {
            return {
                width : window.innerWidth,
            }
        },
        mounted() {
            window.addEventListener("resize", ()=>{
                this.width = window.innerWidth
            });
        },
        computed : {
            showScoreRounds : function(){
                return (this.show && !this.prize);
            },
            showGroups : function(){
                return (this.width > 767);
            },
            getGroupStyle : function(){
                let total = this.enabledGroups.length;
                let w = (100/total);
                // return "border-top: 0 !important; padding:0 !important; margin:0 !important; min-width:"+w+"%;max-width: "+w+"%;width:"+w+"%;";
                return "border-top: 0 !important; padding:0 !important; margin:0 !important; min-width:"+w+"%;";
            },
            getRoundHeaderStyle : function(){
                let w = 40;
                // return "border-top: 0 !important; padding:0 !important; margin:0 !important; min-width:"+w+"px;max-width: "+w+"px;width:"+w+"px;";
                return "border-top: 0 !important; padding:0 !important; margin:0 !important; min-width:"+w+"px;";
            },
            enabledGroups : function(){
                if(this.config){
                    let groupsArray = Object.values(this.config.groups);
                    return groupsArray.filter(function(group){
                        return group.enabled;
                    })
                }

            }
        },
        methods : {
            toggleShow : function(){
                this.$emit('toggleshow');
            },
            showRounds : function(){
                this.$emit('showrounds');
            },
            hideRounds : function(){
                this.$emit('hiderounds');
            },
            sortBy : function(sortBy){
                this.$emit('showLoading', true);
                this.$emit('sortby', sortBy);
                setTimeout(() => {
                    this.$emit('showLoading', false);
                }, 200);
            } 
        }
    };
</script>
