<template>
	<div class="productContainer p-2">
			<product-item
				v-for="product in getProducts"
				:key="'pr-'+product.sku"
				:product.sync="product"
				:answer-skus.sync="answerSkus"
				@add-sku="addSku"
			></product-item>
	</div>
</template>


<script>
import ProductItem from "./ProductItem.vue";
export default {
	name : "Products",
	data() {
		return {

		}
	},
	mounted() {

	},
	created() {

	},
	components: {
		ProductItem


	},
	props: ["products", "answerSkus"],
	computed : {
		getProducts : function(){
			//TODO: implement lodash sort
			return this.products;
		}
	},
	methods : {

		addSku : function(sku){
			this.$emit('add-sku', sku);
		}
	}
};
</script>