<template>
	<div class="productItem" v-if="!isInSkus" @click="addSku" >
		<div class="productImage">
			<img style="width:100%;height: 100%;" :src="product.image" alt="">
		</div>
		<div class="productDescription">
			<div style="overflow: hidden;width:100%;font-size: 0.7em;padding:3px;">
				<span v-html="getProductName"></span><br>
				<span v-html="product.sku"></span>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	name : "ProductItem",
	data() {
		return {

		}
	},
	mounted() {

	},
	created() {

	},
	components: {


	},
	props: ["product", "answerSkus"],
	computed : {
		isInSkus : function(){
			if(this.product){
				let id = this.product.sku;
				return this.answerSkus.find(function(sku){
					return sku.sku === id;
				});
			}
			return false;

			//
			// if(this.product && this.answerSkus && this.answerSkus.length){
			// 	let pSku = this.product.sku;
			// 	return this.answerSkus.find(function(sku){
			// 		return sku.sku === pSku;
			// 	});
			// }
			// return false;

		},
		getProductName : function(){
			return this.product.name;
		}
	},
	methods : {
		addSku : function(){
			this.$emit('add-sku', this.product);
		}
	}
};
</script>