<template>
	<div>
		<table class="table table-noalt table-sm m-0 p-0 ">
			<thead>
			<tr class="text-uppercase text-brand-orange font-size-2">
				<th style="border: none;" class="text-left p-2">
                    <span>
                        <i class='fa fa-spinner fa-spin' v-if="playStatus"></i><span id="status" v-html="game.status"></span>
                        <span id="timer" v-html="game.timer"><span id="patPending"></span></span>
                    </span>
				</th>
				<th style="border: none; width: 45px;min-width: 45px;max-width: 45px;" class="text-center p-2">1</th>
				<th style="border: none; width: 45px;min-width: 45px;max-width: 45px;" class="text-center p-2">2</th>
				<th style="border: none; width: 45px;min-width: 45px;max-width: 45px;" class="text-center p-2">3</th>
				<th style="border: none; width: 45px;min-width: 45px;max-width: 45px;" class="text-center p-2">4</th>
				<th style="border: none; width: 45px;min-width: 45px;max-width: 45px;" class="text-center p-2" v-if="hasOT">OT</th>
				<th style="border: none; width: 45px;min-width: 45px;max-width: 45px;" class="text-center p-2">TOT</th>
			</tr>
			</thead>
			<tbody>
			<live-team
				:game.sync="game"
				:team.sync="game.awayteam"
			>
			</live-team>
			<live-team 
				:game.sync="game"
				:team.sync="game.hometeam"
			>
			</live-team>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="7">
						<div class="pull-right"><small ><span class="text-brand-green">[<i class="fa fa-spin fa-sync "></i> LIVE]</span> Updated: <span v-html="getUpdated" class="text-brand-orange"></span></small></div>
					</td>
				</tr>
			</tfoot>
		</table>
	</div>
</template>

<script>
import Team from "./Team";
export default {
	name: "ScoreBoard",
	components: {
		'live-team': Team
	},
	props: ["game", "updated"],
	methods : {

	},
	computed : {
		getUpdated : function(){
			return this.updated;
		},
		hasOT : function(){
			return (this.game.hometeam.ot || this.game.awayteam.ot) ? true : false;
		}, 
		playStatus : function() {
			return (this.game.status == 'Final');
		}
	}, 
	mounted() {

	}
}
</script>
