<template>
	<tr>

		<td  style="border:none;" class="text-left  p-2">
			<div class="d-xs-block d-sm-block d-md-block d-lg-none d-xl-none" v-html="short_name"></div>
			<div class="d-none d-sm-none d-md-none d-lg-block d-xl-block" v-html="name"></div>
		</td>
		<td  style="border:none;" id="awayteam_q1" class="text-center p-2" v-html="q1" >Q1</td>
		<td  style="border:none;" id="awayteam_q2" class="text-center p-2" v-html="q2" >Q2</td>
		<td  style="border:none;" id="awayteam_q3" class="text-center p-2" v-html="q3" >Q3</td>
		<td  style="border:none;" id="awayteam_q4" class="text-center p-2" v-html="q4" >Q4</td>
		<td  style="border:none;" id="awayteam_ot" class="text-center p-2" v-html="ot"  v-if="hasOT">OT</td>
		<td style="border:none;" id="awayteam_totalscore" class="text-center p-2" v-html="total">TOT</td>
	</tr>
</template>

<script>
export default {
	name: "Team",
	components: {

	},
	props: ["game", "team"],
	methods : {

	}, 
	computed : {
		hasOT : function(){
			return (this.team.ot) ? true : false;
		},
		hasBall : function() {
			return (this.team.ball);
		},
		q1 : function () {
			return this.team.q1;
		},
		q2 : function () {
			return this.team.q2;
		},
		q3 : function () {
			return this.team.q3;
		},
		q4 : function () {
			return this.team.q4;
		},
		ot : function () {
			return this.team.ot;
		},
		total : function () {
			return this.team.total;
		},
		name : function () {
			return this.team.name;
		},
		short_name : function () {
			return this.team.short_name;
		}
	}, 
	mounted() {
	}
}
</script>
