<template>
	<div>
		<div class="pfApp--view-results-opt-in" v-if="hideResults">
			<h2 class="pfApp--view-results-opt-in--title">Before you continue</h2>
			<h3 class="pfApp--view-results-opt-in--sub-title">
				Enter your email to receive your results in your inbox.
			</h3>
			<input type="email" v-model="email" class="pfApp--view-results-opt-in--email" placeholder="Enter your email address">
			<span class="pfApp--view-results-opt-in--error" v-if="error" v-html="error"></span>
			<button class="pfApp--view-results-opt-in--button pfApp--pointer" @click="submitEmail">SUBMIT AND SEE RESULTS</button>
			<span class="pfApp--pointer pfApp--view-results-opt-in--skip-link pfApp--link pfApp--small-text" @click="justHideResults">I just want to see results</span>
		</div>
		<div :class="getResultsClass">
			<div class="pfApp--results--item pfApp--pointer" v-for="sku in skus" @click="openProduct(sku.url)">
				<img :src="sku.image" :alt="sku.name">
				<h3 v-html="sku.name"></h3>
			</div>
		</div>
	</div>
</template>

<script>

export default {
	name : "ResultsContainer",
	components: {

	},
	data() {
		return {
			hideMask : false,
			error : false,
			email : '',
		};
	},
	props : ['skus', 'maskResults'],
	computed : {
		hideResults : function(){
			if(this.hideMask) return false;
			return true;
			// return (!this.hideMask || this.)
		},
		getResultsClass: function(){
			//pfApp--results pfApp--results-masked
			return (this.hideResults) ? "pfApp--results pfApp--results-masked" : "pfApp--results";
		}
	},
	methods : {
		isEmailValid: function() {
			let regex = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,24}))$/;
			return (this.email == "") ? false : (regex.test(this.email)) ? true : false;
		},
		justHideResults : function(){
			this.hideMask = true;
		},
		openProduct(url){
			window.open(url, '_blank');
		},
		submitEmail : function(){
			if(this.isEmailValid()){
				this.$emit('submit-email', this.email);
				this.error = null;
				this.hideMask = true;
			} else {
				this.error = "Please use a valid email";
			}

		}
	}
}
</script>