<template>
  <div id="productFinderApp" class="pfApp">
	  <div v-if="isFinished">
		<results-container :skus="this.userData.skus" @submit-email="submitEmail"></results-container>
	  </div>
	  <div v-else>
		  <nav-container
			  :steps.sync="getCategories"
			  :current-index="thisCategoryIndex"
			  @navigate-to-step-by-id="navigateToStepById"
			  @complete-survey="completeSurvey"
		  ></nav-container>

		  <questions-container
			  v-if="isCategorySelected"
			  :questions.sync="getCurrentQuestions"
			  @select-answer="selectAnswer"
		  ></questions-container>

		  <bottom-nav-container
			  @navigate-to-step-by-id="navigateToStepById"
			  @complete-survey="completeSurvey"
			  :next-category="nextCategory"
			  :prev-category="prevCategory"
		  ></bottom-nav-container>
	  </div>
  </div>
</template>

<script>

import axios from 'axios';

import NavContainer from "./Nav/NavContainer.vue";
import QuestionsContainer from "./Question/QuestionsContainer.vue";
import BottomNavContainer from "./Nav/BottomNavContainer.vue";
import ResultsContainer from "./Results/ResultsContainer.vue";

export default {
	components: {
		ResultsContainer,
		BottomNavContainer,
		QuestionsContainer,
		NavContainer,
	},
	data() {
		return {
			intersectedSkus : {},
			products : {},
			endpoint : (API_ENDPOINT) ? API_ENDPOINT : '/api',
			ax : null,
			finished : false,
			title : "Welcome To Find Your Perfect Shoe",
			paragraph : "<p>Short paragraph describing what this is</p>",
			message: 'Welcome to product finder',
			surveyData : {
				categories : []
			},
			pfData : null,
			currentCategoryId : null,
			userData : {
				skus : [],
				email : null,
				picks : [],
				tags : [],
				events : []
			}
		};
	},
	created() {

		this.ax = axios.create({
			baseURL: this.endpoint,
			withCredentials: false,
			headers: {
				'Content-Type': 'application/json',
				// 'Authorization': 'Bearer ' + localStorage.token,
				// 'Access-Control-Allow-Origin': '*',
				'Accept' : 'application/json, text/plain, */*',
				// 'Access-Control-Allow-Methods' : 'GET, PUT, POST, DELETE, OPTIONS',
				// 'Access-Control-Allow-Credentials' : true
			}
		});
		this.loadConfig();
		this.loadProducts();
	},
	methods : {
		selectAnswer : function(answer, questionId){

			let categoryId = this.currentCategoryId;
			let question = this._getQuestion(questionId, categoryId);
			if(question.type === 'single'){
				question.answers.forEach((a) => {
					let value = (answer.id === a.id);
					this.$set(a, "selected", value);
				})
			} else {
				let an = this._getAnswer(answer.id, questionId, categoryId);
				this.$set(an, "selected", !answer.selected);
			}

			this.collectAnswers();
			this.collectSkus();
		},
		loadConfig : function (){
			this.ax.get(this.endpoint+'?op=get').then(result => {
				this.pfData = result.data.data;
				this.buildData();
			})
		},
		buildData : function(){
			this._buildCategories(this.pfData.categories);
			if(this.surveyData.categories && this.surveyData.categories.length){
				this.navigateToStepById(this.surveyData.categories[0].id);
			}
		},
		_buildCategories : function(cats){

			cats.forEach((c)=>{
				let lc = {
					id : c.id,
					name : c.name,
					description : c.description,
					step : c.step,
					selected : false,
					questions: this._buildQuestions(c.questions)
				};
				this.surveyData.categories.push(lc);
			});
		},
		_buildQuestions : function(ques){
			let questions = [];
			ques.forEach((q) => {
				let lq ={
					id : q.id,
					order : q.order,
					question : q.question,
					description : q.description,
					icon_url : q.icon_url,
					type : q.type,
					required : q.required,
					fb_params : q.fb_params,
					google_params : q.google_params,
					selected : false,
					answers : this._buildAnswers(q.answers)
				}
				questions.push(lq);
			})
			return questions;
		},
		_buildAnswers : function(answs){
			let answers = [];
			answs.forEach((a) => {
				let la = {
					id: a.id,
					answer: a.answer,
					description: a.description,
					img_url: a.img_url,
					goto: a.goto,
					skus: a.skus,
					tags: a.tags,
					fb_params: a.fb_params,
					google_params: a.google_params,
					selected : false,
				};
				answers.push(la);
			});
			return answers;
		},
		navigateToStepById : function(categoryId){
			this.currentCategoryId = categoryId;
			let cat = this._getCategory(categoryId);
			this.surveyData.categories.forEach((c)=> {
				this.$set(c, "selected", false);
			})
			this.$set(cat, "selected", true);
		},
		_getCategory : function(categoryId){
			return this.surveyData.categories.find(function(c){
				return c.id === categoryId;
			});
		},
		_getQuestion : function(questionId, categoryId){
			let category = this._getCategory(categoryId);
			return category.questions.find(function(q){
				return q.id === questionId;
			})
		},
		_getAnswer : function(answerId, questionId, categoryId){
			let question = this._getQuestion(questionId, categoryId);
			return question.answers.find(function(a){
				return a.id === answerId;
			});
		},
		collectSkus : function(){
			this.$set(this.userData, "skus", []);
			let allSkusRec = [];
			this.surveyData.categories.forEach((c)=>{
				c.questions.forEach((q) => {
					let selAns = q.answers.filter((a) => {
						return a.selected;
					});
					let doAll = (selAns.length === 0);
					let qSkus = [];
					q.answers.forEach((a)=> {

						if(a.selected || doAll){
							a.skus.forEach((sku)=>{
								qSkus.push(sku.sku);
							})
						}
					})
					allSkusRec.push(qSkus);
				})
			})
			const intersect = (a1, a2, ...rest) => {
				const a12 = a1.filter(value => a2.includes(value))
				if (rest.length === 0) { return a12; }
				return intersect(a12, ...rest);
			}

			let intersectedSkus = intersect(...allSkusRec);
			this.collectProducts(intersectedSkus);

		},
		collectProducts : function(skus){

			this.userData.skus = this.products.filter((ps) => {
				return skus.includes(ps.sku);
			})
		},
		collectAnswers : function(){
			this.$set(this.userData, "picks", []);
			this.surveyData.categories.forEach((c)=>{
				c.questions.forEach((q) => {
					let questionData = {
						id : q.id,
						question : q.question,
						answers : []
					};
					q.answers.forEach((a)=> {
						if(a.selected){
							let aData = {
								id : a.id,
								answer : a.answer,
								tags : a.tags,
								fb_params : q.fb_params,
								google_params : q.google_params,
							}
							questionData.answers.push(aData);
						}
					})
					this.userData.picks.push(questionData);
				})
			})
		},
		_getCategoryIndex : function(id){
			for(let i = 0; i < this.surveyData.categories.length; i++) {
				if(this.surveyData.categories[i].id === id) {
					return i;
				}
			}
			return -1;
		},
		_getNextCategory : function(id){
			let curCat = this._getCategoryIndex(id);
			let len = (this.surveyData.categories.length - 1);
			return (curCat < len) ? this.surveyData.categories[curCat+1] : null;
		},
		_getPrevCategory : function(id){
			let curCat = this._getCategoryIndex(id);
			return (curCat > 0 && this.surveyData.categories.length) ? this.surveyData.categories[curCat-1] : null;

		},
		completeSurvey : function(){
			this.finished = true;
		},
		submitEmail : function(email){
			this.$set(this.userData, "email", email);
			this.completeSurvey();
			let klaviyoData = {
				'email' : this.userData.email,
				'product1' :  (this.userData.skus[0]) ?  this.userData.skus[0].sku : null,
				'product2' :  (this.userData.skus[1]) ?  this.userData.skus[1].sku : null,
				'product3' :  (this.userData.skus[2]) ?  this.userData.skus[2].sku : null,
				'product4' :  (this.userData.skus[3]) ?  this.userData.skus[3].sku : null,
				'product5' :  (this.userData.skus[4]) ?  this.userData.skus[4].sku : null,
				'product6' :  (this.userData.skus[5]) ?  this.userData.skus[5].sku : null,
			}
			this.ax.post(this.endpoint+'?op=submit',klaviyoData).then(result => {
				this.finished = true;
			}).catch(err => {
				this.finished = true;
			})
		},
		loadProducts : function(){
			this.ax.get(this.endpoint+'?op=products').then(result => {
				this.products = result.data.products;
			})
		},
	},
	computed : {

		recommendedskus : function(){
			return this.userData.skus;
		},
		thisCategoryIndex : function(){
			return this._getCategoryIndex(this.currentCategoryId);
		},
		prevCategory : function(){
			return this._getPrevCategory(this.currentCategoryId);
		},
		nextCategory : function(){
			return this._getNextCategory(this.currentCategoryId);
		},
		isCategorySelected : function(){
			return this.currentCategoryId !== null;
		},
		getCurrentCategoryId : function(){
			return this.currentCategoryId;
		},
		getCurrentQuestions : function(){
			let currentCategory = this._getCategory(this.currentCategoryId);
			return currentCategory.questions;
		},
		getCurrentCategory : function(){
			if(this.currentCategoryId){
				let currentCategoryId = this.currentCategoryId;
				return this.pfData.categories.find(function(c){
					return c.id == currentCategoryId;
				});
			}
			return null;
		},
		getCategories : function(){
			if(this.surveyData){
				return this.surveyData.categories;
			}
			return [];
		},
		isFinished : function(){
			return this.finished;
		}
	}
};
</script>


