<template>
	<div class="row">
		<div class="col">
			<div class="theme-container">
				<div class="pag">
					<h3 class="pag-title">View Game By Quarter</h3>
					<ul class="pag-list">
						<li :class="['pag-item', this.activequarter == 1 ? 'active' : '']"><a href="?activeQuarter=1">1</a></li>
						<li :class="['pag-item', this.activequarter == 2 ? 'active' : '']"><a href="?activeQuarter=2">2</a></li>
						<li :class="['pag-item', this.activequarter == 3 ? 'active' : '']"><a href="?activeQuarter=3">3</a></li>
						<li :class="['pag-item', this.activequarter == 4 ? 'active' : '']" ><a href="?activeQuarter=4">4</a></li>
						<li :class="['pag-item all ', this.activequarter == undefined ? 'active' : '']"><a href="?activeQuarter=">All</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</template>

<script>

export default {
	name: "Nav",
	components: {

	},
	props: ["activequarter"],
	methods : {

	},
	computed : {

	},
	mounted() {
	}
}
</script>