.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
    border-bottom: none;

  padding: $breadcrumb-padding-y $breadcrumb-padding-x;
  margin-bottom: $breadcrumb-margin-bottom;
  list-style: none;
  background-color: $breadcrumb-bg;
  @include border-radius($breadcrumb-border-radius);
}

.breadcrumbs-item {
  // The separator between breadcrumbs (by default, a forward-slash: "/")
    color: white;
    a {
        color:white;
        &:hover {
            text-decoration: none;
        }
    }
  + .breadcrumbs-item {
    padding-left: $breadcrumb-item-padding;

    &::before {
        font-family: 'Font Awesome 5 Free';
        //left:-5px;
        //position:absolute;
        //top:0;
        display: inline-block; // Suppress underlining of the separator in modern browsers
      padding-right: $breadcrumb-item-padding;
      color: $breadcrumb-divider-color;

        content: quote('\27A4');
        content: quote('\203A');
        content: quote('\2771');
        margin-bottom: 3px;

        font-size: 0.8em;
        //font-weight: bold;
        vertical-align: middle;
    }
  }

  // IE9-11 hack to properly handle hyperlink underlines for breadcrumbs built
  // without `<ul>`s. The `::before` pseudo-element generates an element
  // *within* the .breadcrumbs-item and thereby inherits the `text-decoration`.
  //
  // To trick IE into suppressing the underline, we give the pseudo-element an
  // underline and then immediately remove it.
  + .breadcrumbs-item:hover::before {
    text-decoration: underline;
  }
  // stylelint-disable-next-line no-duplicate-selectors
  + .breadcrumbs-item:hover::before {
    text-decoration: none;
  }

  &.active-bc {
    color: $breadcrumb-active-color;
  }
}
