<div class="container mx-auto  py-12 px-6">
	<div class="flex flex-col p-6 md:p-0 space-y-6 md:space-y-0 md:flex-row md:space-x-6 my-6">
		<div class="bg-gray w-full md:w-1/3 h-64 rounded-lg shadow-lg">
			<picture>
				<source srcset="{{image1}}.webp" type="image/webp">
				<source srcset="{{image1}}.png" type="image/png">
				<img src="{{image1}}.png" class="rounded-lg shadow-lg " alt="{{image1title}}">
			</picture>
		</div>
		<div class="bg-gray w-full md:w-1/3 h-64 rounded-lg shadow-lg">
			<picture>
				<source srcset="{{image2}}.webp" type="image/webp">
				<source srcset="{{image2}}.png" type="image/png">
				<img src="{{image2}}.png" class="rounded-lg shadow-lg " alt="{{image2title}}">
			</picture>
		</div>
		<div class="bg-gray w-full md:w-1/3 h-64 rounded-lg shadow-lg">
			<picture>
				<source srcset="{{image3}}.webp" type="image/webp">
				<source srcset="{{image3}}.png" type="image/png">
				<img src="{{image3}}.png" class="rounded-lg shadow-lg " alt="{{image3title}}">
			</picture>
		</div>
	</div>
</div>