<div class="container mx-auto py-6 px-6 md:px-0 hidden md:block">
    <ul class="flex flex-col justify-around md:justify-start md:flex md:flex-row md:space-x-4 list-none text-center">
        <li class="w-full md:w-auto">
            <div class="">
                <a class="" href="/">Home</a>
            </div>
        </li>
        {{ nav:breadcrumbs include_home="false" }}
        <li class="{{ if is_current }} current {{ /if }} w-full md:w-auto text-center">
            <div class="text-center md:text-left">
                <svg class="flex-shrink-0 h-5 md:w-5 text-gray-400 md:mr-3 w-0 md:inline"
                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd"
                        d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                        clip-rule="evenodd" />
                </svg>
                <a href="{{ url }}">{{ title }}</a>
            </div>
        </li>
        {{ /nav:breadcrumbs }}
    </ul>
</div>
