<div class="pg-case-studies py-12 px-6 {{ if bg }}{{bg}}{{/if}}">
    <div class="container mx-auto">
        <div class="max-w-2xl mx-auto text-center">
            {{if title}}<h2 class="text-xl md:text-2xl">{{title}}</h2>{{/if}}
            {{if content}}
            <div class="mt-6  pg-body-text leading-8 bard-content">{{content}}</div>
            {{/if}}
        </div>
        <div class="flex justify-around items-center flex-wrap flex-row max-w-5xl mx-auto mt-10">
            {{case_studies}}
            <div class="pg-case-studies__item max-w-md mb-10">
                <div class="rounded-lg shadow-lg overflow-hidden">
                    {{featured_images limit="1"}}
                    <picture>
                        <source srcset="{{ glide:url format='webp' }}" type="image/webp">
                        <source srcset="{{ glide:url format='png' }}" type="image/png">
                        <img class="object-cover" src="{{ glide:url format='webp' }}" alt="{{title}}" />
                    </picture>
                    {{/featured_images}}
                </div>
                <h3 class="text-lg text-pasturesgreen font-bold mt-2">{{title}}</h3>
                <p class="mt-2">
                    {{short_content}}
                </p>
                <a href="{{url}}"
                    class="inline-block px-5 py-2 mt-2 border-pasturesgreen border-2 text-pasturesgreen font-medium rounded-md shadow-sm text-center">
                    Learn more
                </a>
            </div>
            {{/case_studies}}
        </div>
        {{if button_text}}
        <a href="{{button_url}}">
            <button
                class="block px-10 py-4 mt-2 bg-pasturesgreen border-pasturesgreen border-2 text-white font-medium rounded-md shadow-lg text-center mx-auto">
                {{button_text}}
            </button>
        </a>
        {{/if}}
    </div>
</div>
