	<div class="pg-contact-us-cta bg-pasturesgreen text-white text-center py-12 px-6">
    <h3 class="text-2xl">{{contact_cta:title}}</h3>
    <p class="mt-6">
        {{contact_cta:content}}
    </p>

    <a href="{{contact_cta:button_link}}">
        <button
            class="px-10 py-4 mt-10 bg-transparent border-white border-2 text-white font-medium rounded-md shadow-lg">
            {{contact_cta:button_text}}
        </button>
    </a>
</div>
