<div class="pg-content-block {{bg}} py-8 px-6">
    <div class="container mx-auto py-8">
        <div
            class="flex flex-col  justify-center items-center p-10 pt-4 md:justify-between md:flex-row {{ if image_position == 'right' }}md:flex-row-reverse{{ /if }}">
            <div
                class="mb-10 md:mb-0{{ if image_position == 'right' }}ml-0 md:mb-0 md:ml-10 flex flex-end{{else}}mr-0 md:mb-0 md:mr-10 {{ /if }}">
                {{image}}
                <picture>
                    <source srcset="{{ glide:url format='webp' }}" type="image/webp">
                    <source srcset="{{ glide:url format='png' }}" type="image/png">
                    <img src="{{ glide:url format='png' }}" class="rounded-lg shadow-lg " alt="{{title}}">
                </picture>
                {{/image}}
            </div>
            <div class="w-full md:w-8/12">
                {{if title}}<h2 class="text-xl md:text-2xl py-10">{{title}}</h2>{{/if}}
                {{if sub_title}}
                <h3 class="text-xl md:text-2xl py-10">{{sub_title}}</h3>
                {{/if}}
                <div class="pg-body-text leading-8 bard-content">
                    {{content}}
                </div>
            </div>
        </div>
        {{if button_text}}<a href="{{button_url}}">
            <button
                class="block px-10 py-4 my-10 bg-pasturesgreen border-pasturesgreen border-2 text-white font-medium rounded-md shadow-lg text-center mx-auto">
                {{button_text}}
            </button>
        </a>{{/if}}
    </div>
</div>
