<div class="pg-related-articles {{bg}} py-12 px-6">
    <div class="container mx-auto mt-10">
        <div class="max-w-lg mx-auto text-center mb-10">
            {{if title}}<h2 class="text-xl md:text-2xl">{{title}}</h2>{{/if}}
            {{if content}}
            <div class="mt-6 pg-body-text leading-8">
                {{content}}
            </div>
            {{/if}}
        </div>
        <div class="splide external-articles -m-4">
            <div class="splide__track">
                <ul class="splide__list">
                    {{articles}}
                    <li class="splide__slide">
                        <div class="shadow-xl flex flex-col rounded-xl bg-white flex overflow-hidden m-4 mb-10">
                            <div class="w-full">
                                {{featured_image}}
                                <picture>
                                    <source srcset="{{ glide:url format='webp' }}" type="image/webp">
                                    <source srcset="{{ glide:url format='png' }}" type="image/png">
                                    <img src="{{ glide:url format='webp' }}" alt="{{title}}" />
                                </picture>
                                {{/featured_image}}
                            </div>
                            <div class="p-6 w-full">
                                <h3 class="text-lg md:text-xl font-normal">
                                    {{title}}
                                </h3>
                                <div class="text-pasturesgreen mt-4">
                                    {{source}}
                                </div>
                                <p class="mt-4">
                                    {{short_content}}
                                </p>
                                <div class="flex space-x-4">
                                    <a href="{{url}}" class="flex-auto" target="_blank" rel="noreferrer">
                                        <button
                                            class="block w-full px-10 py-4 mt-6 bg-pasturesgreen border-pasturesgreen border-2 text-white font-medium rounded-md shadow-lg">
                                            Read More
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                    {{/articles}}
                </ul>
            </div>
        </div>
    </div>
</div>
