<div class="pg-faqs {{if bg }}{{bg}}{{/if}} py-12 px-6">
    <div class="container mx-auto">
        <div class="max-w-lg mx-auto text-center">
            {{if title}}<h2 class="text-xl md:text-2xl">{{title}}</h2>{{/if}}
            {{if content}}
            <div class="mt-6  pg-body-text leading-8 bard-content">{{content}}</div>
            {{/if}}
        </div>

        <dl class="mt-6 space-y-6 divide-y divide-gray-200 max-w-4xl mx-auto px-8">
            {{faqs}}
            <div class="pt-6">
                <dt class="text-lg">
                    <!-- Expand/collapse question button -->
                    <button type="button" class="pg-faq text-left w-full flex justify-between items-start text-gray-400"
                        aria-controls="faq-{{index}}" aria-expanded="false">
                        <span class="font-medium text-gray-900 z-30">
                            {{title}}
                        </span>
                        <span class="ml-6 h-7 flex items-center z-0">
                            <svg class="h-6 w-6 transform" xmlns="http://www.w3.org/2000/svg" fill="none"
                                viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M19 9l-7 7-7-7" />
                            </svg>
                        </span>
                    </button>
                </dt>
                <dd class="mt-2 pr-12 hidden" id="faq-{{index}}">
                    <div class="text-base text-gray-500 pg-body-text leading-8 bard-content">
                        {{content}}
                    </div>
                </dd>
            </div>
            {{/faqs}}
        </dl>
        {{if button_text}}
        <a href="{{button_url}}">
            <button
                class=" block px-10 py-4 mt-10 bg-pasturesgreen border-pasturesgreen border-2 text-white font-medium rounded-md shadow-lg text-center mx-auto">
                {{button_text}}
            </button>
        </a>{{/if}}
    </div>


</div>
