<div class="pg-freeedit {{bg}}   py-12 px-6  ">
	<div class="container mx-auto py-8">
		{{if title}}<h2 class="text-xl md:text-2xl text-center py-10">{{title}}</h2>{{/if}}
		<div class="flex flex-col items-center">
			<div class=" leading-8 bard-content">
				{{content}}
			</div>
		</div>
		{{foreach:paragraphs as="i|paragraph"}}
			<div class="px-32">
				<h3 class="text-xl md:text-1xl">{{paragraph.title}}</h3>
				<div class="mt-3  pg-body-text leading-8 bard-content">
					{{paragraph.content}}
				</div>
			</div>
		{{/foreach:paragraphs}}
		
		{{if button_text}}<a href="{{button_url}}">
		<button
				class="block px-10 py-4 my-10 bg-pasturesgreen border-pasturesgreen border-2 text-white font-medium rounded-md shadow-lg text-center mx-auto">
			{{button_text}}
		</button>
	</a>{{/if}}
	</div>
</div>
