<div class="pg-generic-cta py-12 px-6 {{bg}}">
    {{if title}}
    <h3 class="text-2xl text-center">{{title}}</h3>
    {{/if}}
    {{if content}}
    <div class="mt-6 max-w-xl mx-auto pg-body-text leading-8 bard-content">
        {{content}}
    </div>
    {{/if}}
    {{if button_text}}
	<div class="w-full text-center">
		<a href="{{button_url}}" class="">
			<button class="px-10 py-4 mt-10 font-medium rounded-md shadow-lg bg-pasturesgreen text-white">
				{{button_text}}
			</button>
		</a>
	</div>
    {{/if}}
</div>
