<div class="mx-auto">
    <div class="relative shadow-xl sm:overflow-hidden p-5 py-12">
        <div class="absolute inset-0">
            {{image}}
            <picture>
                <source srcset="{{ glide:url format='webp' }}" type="image/webp">
                <source srcset="{{ glide:url format='png' }}" type="image/png">
                <img class="h-full w-full object-cover" src="{{ glide:url width='1200' height='316' format='webp' }}"
                    alt="{{title}}" width="1200" height="316" />
            </picture>
            {{/image}}
            <div class="absolute inset-0 bg-indigo-700 mix-blend-multiply"></div>
        </div>
        <div
            class="relative bg-pasturesgreen bg-opacity-75 max-w-sm sm:max-w-md md:max-w-lg lg:max-w-xl mx-auto shadow-lg p-6 rounded-md">
            <div class="block border border-white p-4 md:p-7 lg:p-10">
                <h1
                    class="text-center text-2xl text-white font-bold tracking-tight sm:text-3xl md:text-4xl lg:text-5xl">
                    {{title}}
                </h1>
                {{if button_text}}<div
                    class="mt-5 mb-2 mx-auto sm:flex sm:justify-center md:mt-7 md:mb-4 lg:mt-10 lg:mb-5 text-center">
                    <a href="{{button_link}}"
                        class="items-center justify-center px-6 py-3 m-2 border-white border-2 text-white font-medium rounded-md shadow-sm text-indigo-700 hover:bg-indigo-50 lg:px-8 lg:py-4 ">
                        {{button_text}}
                    </a>
                </div>{{/if}}
            </div>
        </div>
    </div>
</div>
