<div class="pg-hero relative">
    <div class="splide hero">
        <div class="splide__track">
            <ul class="splide__list">
                {{slides}}
                <li class="splide__slide">
                    {{partial:components/hero :title="title" :image="background_image" :button_text="button_text"
                    :button_link="button_link" }}
                </li>
                {{/slides}}
            </ul>
        </div>
    </div>
</div>
