<div class="pg-iconset {{if section_title}}py-12{{/if}} {{if bg }}{{bg}}{{/if}} {{section_padding}}">
    <div class="container mx-auto">
        <div class="max-w-2xl mx-auto text-center">
            {{if section_title}}
            <h2 class="text-xl md:text-2xl {{if bg == 'bg-pasturesgreen'}}text-white{{/if}}">{{section_title}}</h2>
            {{/if}}
            {{if section_paragraph}}
            <div class="mt-6  pg-body-text leading-8">
                {{section_paragraph}}
            </div>
            {{/if}}
        </div>
        <div class="container mx-auto m-0 p-0">
            <div class=" flex w-full md:p-0  md:space-y-0 md:space-x-6 justify-center items-center flex-row flex-wrap">
                {{ foreach:icons }}
                {{ partial:components/icon-element
                :bg="value.background"
                :icon_image="value.icon_image"
                :icon_title="value.icon_title"
                :icon_text="value.icon_text"
                }}
                {{ /foreach:icons }}
            </div>
        </div>
    </div>
    {{if button_text}}<a href="{{button_url}}">
        <button
            class=" block px-10 py-4 mt-10 bg-pasturesgreen border-pasturesgreen border-2 text-white font-medium rounded-md shadow-lg text-center mx-auto">
            {{button_text}}
        </button>
    </a>{{/if}}
</div>
