<div class="flex-col flex-1 text-center {{bg}} p-10 my-5">
    <div class=" justify-center my-auto mx-auto  md:h-32 md:w-32 mb-1">
        <picture>
            <img src="{{icon_image.url}}" alt="{{icon_image.alt}}" class="mx-auto my-auto w-32 h-32">
        </picture>
    </div>
    <div class="p-1">

        <strong class="md:text-2xl text-pasturesgreen mb-5 mt-5">
            {{if icon_title}}
            {{icon_title}}
            {{/if}}
        </strong>
        <div class="text-sm md:text-md leading-8">
            {{if icon_text}}
            {{icon_text}}
            {{/if}}
        </div>
    </div>

</div>
