<div class="pg-services {{if bg }}{{bg}}{{/if}} py-12 px-6">
	<div class="container mx-auto">
		<div class="max-w-lg mx-auto text-center">
			{{if title}}<h2 class="text-xl md:text-2xl">{{title}}</h2>{{/if}}
			{{if content}}
			<div class="mt-6 pg-body-text leading-8">
				{{content}}
			</div>
			{{/if}}
		</div>
		<div class="flex justify-center items-center  space-x-0 mt-6 flex-col md:flex-row  md:space-x-6 md:flex-wrap">
			{{foreach:images as="i|image"}}
			<div class="bg-white overflow-hidden shadow-lg rounded-lg max-w-xs mb-12">
				<picture>
					<source srcset="{{ image.image.url }}" type="image/webp">
					<source srcset="{{ image.image.url }}" type="image/png">
					<img src="{{ image.image.url }}" alt="{{image.image.alt}}" />
				</picture>
				<div class="px-4 py-4 sm:px-6 text-center items-center">
					<span>{{image.title}}</span>
				</div>
			</div>
			{{/foreach:images}}
		</div>
		{{if button_text}}<a href="{{button_url}}">
		<button
				class="block px-10 py-4 my-10 mb-6 bg-pasturesgreen border-pasturesgreen border-2 text-white font-medium rounded-md shadow-lg text-center mx-auto">
			{{button_text}}
		</button>
	</a>{{/if}}
	</div>
</div>