<div class="relative py-12 px-6 {{bg}} relative ">
	<div class="{{secondary_bg}} absolute h-32 min-h-32 "></div>
	<div class="relative container mx-auto z-20">
		<div class="max-w-3xl mx-auto text-center">
			<h2 class="text-xl md:text-2xl text-white">{{title}}</h2>
		</div>
		<div class="pastures-and-media splide p-6">
			<div class="splide__track">
				<ul class="splide__list">
					{{foreach:slides}}
					<li class="splide__slide">
						<div class="w-full max-w-md m-0 md:m-8">
							<div class="rounded-lg shadow-lg overflow-hidden">
								<picture>
									<source srcset="{{value.image.url}}" type="image/webp">
									<source srcset="{{value.image.url}}" type="image/png">
									<img src="{{value.image.url}}" class="object-cover" alt="{{value.image.alt}}" />
								</picture>
							</div>
							<h3 class="text-2xl font-medium mt-2">{{value.title}}</h3>
							<p class="mt-2">
								{{value.excerpt}}
							</p>
						</div>
					</li>
					{{/foreach:slides}}
				</ul>
			</div>
		</div>
	</div>
	<div class="absolute top-0 left-0 w-full bg-pasturesgreen h-64 z-0">&nbsp;</div>
</div>