<div class="pg-intro py-12 px-6 {{if bg }}bg-{{bg}}{{/if}}">
    <div class="container mx-auto">
        <div class="max-w-5xl mx-auto text-center">
            {{if title}}<h2 class="text-2xl md:text-4xl">{{title}}</h2>{{/if}}
            {{if content}}
            <div class="mt-6  pg-body-text leading-8 bard-content">
                {{content}}
            </div>
            {{/if}}
        </div>
        {{if button_text}}<a href={{button_url}}>
            <button
                class=" block px-10 py-4 mt-10 bg-pasturesgreen border-pasturesgreen border-2 text-white font-medium rounded-md shadow-lg text-center mx-auto">
                {{button_text}}
            </button>
        </a>{{/if}}
    </div>
</div>
