<div class="pg-logo-cloud bg-{{bg}} py-12 px-6">
    <div class="container mx-auto">
        <div class="max-w-lg mx-auto text-center">
            <h2 class="text-xl md:text-2xl">{{title}}</h2>
            <p class="mt-6">
                {{content}}
            </p>
        </div>
        <div class="m-0 mb-10 md:m-10">
            <div class="splide logo_cloud">
                <div class="splide__track mx-1 md:mx-8">
                    <ul class="splide__list">
                        {{ foreach:logos }}
                        <li class="splide__slide">
                            <div class="p-8">
                                <picture>
                                    <img class="h-full w-full" src="{{value.url}}" alt="{{value.alt}}">
                                </picture>
                            </div>
                        </li>
                        {{ /foreach:logos }}
                    </ul>
                </div>
            </div>
        </div>
        {{if button_text}}
        <a href={{button_url}}>
            <button
                class=" block px-10 py-4 mt-2 bg-pasturesgreen border-pasturesgreen border-2 text-white font-medium rounded-md shadow-lg text-center mx-auto">
                {{button_text}}
            </button>
        </a>
        {{/if}}
    </div>
</div>
