<div class="pg-mission-statement {{if bg}}{{bg}}{{/if}} py-12 px-6 max-w-md md:max-w-5xl mx-auto ">
    <div class="flex flex-col text-center space-y-4 md:flex-row md:text-left md:items-center md:my-10">
        {{image}}
        <picture class="flex-auto mx-auto md:mr-8">
            <source srcset="{{ glide:url format='webp' }}" type="image/webp">
            <source srcset="{{ glide:url format='png' }}" type="image/png">
            <img class="w-40 md:w-full md:max-w-full" src="{{ glide:url format='webp' }}" alt="{{title}}" />
        </picture>
        {{/image}}
        <div class="flex-auto max-w-2xl">
            <h2 class="text-xl md:text-2xl">{{title}}</h2>
            <div class="mt-6 pg-body-text leading-8 bard-content">
                {{content}}
            </div>
            <div class="mt-6">
                <strong>{{name}}</strong>
                <div>{{position}}</div>
            </div>
        </div>
    </div>
</div>
