<div class="pg-news-and-blogs {{bg}}  py-12 px-6">
    <div class="container mx-auto">
        <div class="max-w-lg mx-auto text-center mb-8">
            {{if title}}<h2 class="text-xl md:text-2xl">{{title}}</h2>{{/if}}
            {{if content}}
            <div class="mt-6 pg-body-text leading-8 bard-content">
                {{content}}
            </div>
            {{/if}}
        </div>

        {{ collection:articles limit="1" }}
        <div class="mt-10 max-w-5xl mx-auto hidden md:block">
            <div class="shadow-xl rounded-xl bg-white flex overflow-hidden">
                <div class="w-5/12">
	                {{featured_image}}
	                <a href="{{url}}">
	                <picture>
                        <source srcset="{{ glide:url format='webp' }}" type="image/webp">
                        <source srcset="{{ glide:url format='png' }}" type="image/png">
                        <img class="h-full w-full object-cover" src="{{ glide:url format='webp' }}" alt="{{title}}" />
                    </picture>
	                </a>
	
	                {{/featured_image}}
                </div>
                <div class="p-6 w-7/12">
	                <a href="{{url}}">
	                    <h3 class="text-2xl md:text-4xl font-normal">
	                        {{title}}
	                    </h3>
	                </a>
                    {{categories}}
                    <div class="text-pasturesgreen mt-4">
                        {{title}}
                    </div>
                    {{/categories}}
                    <div class="text-sm mt-4">
                        {{date}}
                    </div>
                    <p class="mt-4">
                        {{short_content}}
                    </p>
                    <div class="flex space-x-4">
                        <a href="{{url}}" class="flex-auto">
                            <button
                                class="block w-full px-10 py-4 mt-10 bg-pasturesgreen border-pasturesgreen border-2 text-white font-medium rounded-md shadow-lg">
                                Read More
                            </button>
                        </a>
                        <a href="" class="flex-auto">
                            <button
                                class="block w-full px-10 py-4 mt-10 bg-white border-pasturesgreen border-2 text-pasturesgreen font-medium rounded-md shadow-lg">
                                Contact Us
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {{/collection:articles}}
        <div class="max-w-5xl mx-auto mt-10">
            <div class="splide news-and-blogs -m-4">
                <div class="splide__track">
                    <ul class="splide__list">
                        {{ collection:articles offset="1" limit="4" }}
                        <li class="splide__slide">
                            <div class="shadow-xl flex flex-col rounded-xl bg-white flex overflow-hidden m-4 mb-10">
                                <div class="w-full">
                                    {{featured_image}}
                                    <picture>
                                        <source srcset="{{ glide:url format='webp' }}" type="image/webp">
                                        <source srcset="{{ glide:url format='png' }}" type="image/png">
                                        <img src="{{ glide:url format='webp' }}" alt="{{title}}" />
                                    </picture>
                                    {{/featured_image}}
                                </div>
                                <div class="p-6 w-full">
                                    <h3 class="text-lg md:text-xl font-normal">
                                        {{title}}
                                    </h3>
                                    {{categories}}
                                    <div class="text-pasturesgreen mt-4">
                                        {{title}}
                                    </div>
                                    {{/categories}}
                                    <div class="text-sm mt-4">
                                        {{date}}
                                    </div>
                                    <p class="mt-4">
                                        {{short_content}}
                                    </p>
                                    <div class="flex space-x-4">
                                        <a href="{{url}}" class="flex-auto">
                                            <button
                                                class="block w-full px-10 py-4 mt-6 bg-pasturesgreen border-pasturesgreen border-2 text-white font-medium rounded-md shadow-lg">
                                                Read More
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        {{/collection:articles}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {{if button_text}}<a href="{{button_url}}">
        <button
            class="block px-10 py-4 mt-10 bg-pasturesgreen border-pasturesgreen border-2 text-white font-medium rounded-md shadow-lg text-center mx-auto">
            {{button_text}}
        </button>
    </a>{{/if}}
</div>
