<div class="pg-paragraph py-12 px-6">
    <div class="container mx-auto">
        <div class="max-w-4xl mx-auto text-center">
            {{if title}}<h3 class="text-3xl md:text-5xl">{{title}}</h3>{{/if}}
            {{if content}}<div class=" leading-8 my-10 bard-content">
                {{content}}
            </div>{{/if}}
        </div>
        {{if button_text}}<a href={{button_url}}>
            <button
                class=" block px-30 py-4 mt-10 bg-pasturesgreen border-pasturesgreen border-2 text-white font-medium rounded-md shadow-lg text-center mx-auto">
                {{button_text}}
            </button>
        </a>{{/if}}
    </div>
</div>
