<div class="pg-pastures-in-press {{if bg == 'gray'}}bg-gray{{/if}} py-12 px-6">
    <div class="container mx-auto mt-10">

        <div class="max-w-5xl mx-auto text-center">
            <h2 class="text-xl md:text-2xl">{{title}}</h2>
            <p class="mt-6 mb-8 leading-8 bard-content">
                {{content}}
            </p>
        </div>
        <div class="splide pastures-in-press -m-4">
            <div class="splide__track">
                <ul class="splide__list">
	                {{foreach:press}}
                    <li class="splide__slide">
                        <div class="shadow-xl flex flex-col rounded-xl bg-white flex overflow-hidden m-4 mb-10">
                            <div class="w-full">
	                            <img src="{{value.featured_image.url}}" alt="{{value.featured_image.alt}}">
                            </div>
                            <div class="p-6 w-full">
                                <h3 class="text-lg md:text-xl font-normal">
	                                {{value.title}}
                                </h3>
                                <div class="text-pasturesgreen mt-4">
                                    {{value.category}}
                                </div>
                                <div class="text-sm mt-4">
                                    {{value.date}}
                                </div>
                                <p class="mt-4">
                                    {{value.excerpt}}
                                </p>
                                <div class="flex space-x-4">
                                    <a href="{{value.link}}" class="flex-auto">
                                        <button
                                            class="block w-full px-10 py-4 mt-6 bg-pasturesgreen border-pasturesgreen border-2 text-white font-medium rounded-md shadow-lg">
                                            Read More
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
	                {{/foreach:press}}
                </ul>
            </div>
        </div>
    </div>
</div>
