<div class="pg-process {{if bg}}bg-{{bg}}{{/if}} py-12 px-6">
    <div class="container mx-auto">
        <div class="max-w-2xl mx-auto text-center">
            {{if title}}<h2 class="text-xl md:text-2xl {{if bg == 'pasturesgreen'}}text-white{{/if}}">{{title}}</h2>
            {{/if}}
            {{if content}}
            <div class="mt-6  pg-body-text leading-8 bard-content">
                {{content}}
            </div>
            {{/if}}
        </div>
        <div class="flex justify-center items-center mt-6 flex-row flex-wrap">
            {{foreach:steps}}
            <div class="overflow-hidden w-1/2 text-center lg:w-1/4 mb-4">
                <div class="w-32 h-32 p-8 flex items-center justify-center mx-auto mb-4 md:h-64 md:w-64">
                    <img src="{{value.image.url}}" alt="value.image.alt">
                    <!--                    <svg viewBox="0 0 168 170" version="1.1" xmlns="http://www.w3.org/2000/svg"-->
                    <!--                        xmlns:xlink="http://www.w3.org/1999/xlink">-->
                    <!--                        <g id="process-{{key}}" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">-->
                    <!--                            <g id="Homepage-" transform="translate(-185.000000, -5888.000000)">-->
                    <!--                                <image id="088-conversation" x="184" y="5888" width="170" height="170" -->
                    <!--                                </image>-->
                    <!--                            </g>-->
                    <!--                        </g>-->
                    <!--                    </svg>-->
                </div>
                <strong class="md:text-2xl text-pasturesgreen">
                    {{value.title}}
                </strong>
                <p class="text-sm md:text-md">
                    {{value.content}}
                </p>
            </div>
            {{/foreach:steps}}
        </div>
    </div>
    {{if button_text}}<a href="{{button_url}}">
        <button
            class=" block px-10 py-4 mt-10 bg-pasturesgreen border-pasturesgreen border-2 text-white font-medium rounded-md shadow-lg text-center mx-auto">
            {{button_text}}
        </button>
    </a>{{/if}}
</div>
