<div class="pg-related-articles {{bg}} py-12 px-6">
    <div class="container mx-auto mt-10">
        <h4 class="font-medium text-3xl mb-10">{{if title}}{{title}}{{else}}Related Articles{{/if}}</h4>
        <div class="splide related-articles -m-4">
            <div class="splide__track">
                <ul class="splide__list">
                    {{ collection:articles :taxonomy:categories="categories" limit="4" }}
                    <li class="splide__slide">
                        <div class="shadow-xl flex flex-col rounded-xl bg-white flex overflow-hidden m-4 mb-10">
                            <div class="w-full">
                                {{featured_image}}
                                <picture>
                                    <source srcset="{{ glide:url format='webp' }}" type="image/webp">
                                    <source srcset="{{ glide:url format='png' }}" type="image/png">
                                    <img src="{{ glide:url format='webp' }}" alt="{{title}}"  class="w-full"/>
                                </picture>
                                {{/featured_image}}
                            </div>
                            <div class="p-6 w-full">
	                            <a href="{{url}}">
	                                <h3 class="text-lg md:text-xl font-normal">
	                                    {{title}}
	                                </h3>
	                            </a>
                                {{categories}}
	                            
                                <div class="text-pasturesgreen mt-4">
                                    {{title}}
                                </div>
                                {{/categories}}
                                <div class="text-sm mt-4">
                                    {{date}}
                                </div>
                                <p class="mt-4">
                                    {{short_content}}
                                </p>
                                <div class="flex space-x-4">
                                    <a href="{{url}}" class="flex-auto">
                                        <button
                                            class="block w-full px-10 py-4 mt-6 bg-pasturesgreen border-pasturesgreen border-2 text-white font-medium rounded-md shadow-lg">
                                            Read More
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                    {{/collection:articles}}
                </ul>
            </div>
        </div>
    </div>
</div>
