<div class="pg-services {{if bg }}{{bg}}{{/if}} py-12 px-6">
    <div class="container mx-auto">
        <div class="max-w-lg mx-auto text-center">
            {{if title}}<h2 class="text-xl md:text-2xl">{{title}}</h2>{{/if}}
            {{if content}}
            <div class="mt-6 pg-body-text leading-8 bard-content">
                {{content}}
            </div>
            {{/if}}
        </div>
        <div class="flex justify-center items-center  space-x-0 mt-6 flex-col md:flex-row  md:space-x-6 md:flex-wrap">
            {{services}}
            <div class="bg-white overflow-hidden shadow-lg rounded-lg max-w-xs mb-12">
	            <a href="{{link}}">
		               {{image}}
	                <picture>
	                    <source srcset="{{ glide:url format='webp' }}" type="image/webp">
	                    <source srcset="{{ glide:url format='png' }}" type="image/png">
	                    <img src="{{ glide:url format='webp' }}" alt="{{title}}" />
	                </picture>
	                {{/image}}
	            </a>
                <a href="{{link}}" class="px-4 py-4 sm:px-6 flex flex-row justify-between items-center">
                    <span>{{title}}</span>
                    <svg aria-hidden="true" focusable="false" data-prefix="fal" data-icon="chevron-double-right"
                        width="15" height="15" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                        <path fill="currentColor"
                            d="M34.5 36.5l211.1 211c4.7 4.7 4.7 12.3 0 17l-211.1 211c-4.7 4.7-12.3 4.7-17 0l-7.1-7.1c-4.7-4.7-4.7-12.3 0-17L205.9 256 10.5 60.5c-4.7-4.7-4.7-12.3 0-17l7.1-7.1c4.6-4.6 12.2-4.6 16.9.1zm111 0l-7.1 7.1c-4.7 4.7-4.7 12.3 0 17L333.9 256 138.5 451.5c-4.7 4.7-4.7 12.3 0 17l7.1 7.1c4.7 4.7 12.3 4.7 17 0l211.1-211c4.7-4.7 4.7-12.3 0-17l-211.1-211c-4.8-4.8-12.4-4.8-17.1-.1z">
                        </path>
                    </svg>
                </a>
            </div>
            {{/services}}
        </div>
        {{if button_text}}<a href="{{button_url}}">
            <button
                class="block px-10 py-4 my-10 mb-6 bg-pasturesgreen border-pasturesgreen border-2 text-white font-medium rounded-md shadow-lg text-center mx-auto">
                {{button_text}}
            </button>
        </a>{{/if}}
    </div>
</div>
