<div class="pg-single-testimonials {{bg}}  py-12 px-6">
    <div class="container mx-auto py-10">
        {{if title}}
	    <div class="max-w-3xl text-center mx-auto mb-16">
            <div class="text-2xl font-bold">{{title}}</div>
        </div>
	    {{/if}}
        <div class="max-w-3xl mx-auto my-8 p-16 py-8 lg:p-0">
            <div class="relative text-lg font-medium md:flex-grow">
                <svg class="absolute top-0 left-0 transform -translate-x-12 -translate-y-12 h-12 w-12 text-pasturesgreen"
                    fill="currentColor" viewBox="0 0 32 32" aria-hidden="true">
                    <path
                        d="M9.352 4C4.456 7.456 1 13.12 1 19.36c0 5.088 3.072 8.064 6.624 8.064 3.36 0 5.856-2.688 5.856-5.856 0-3.168-2.208-5.472-5.088-5.472-.576 0-1.344.096-1.536.192.48-3.264 3.552-7.104 6.624-9.024L9.352 4zm16.512 0c-4.8 3.456-8.256 9.12-8.256 15.36 0 5.088 3.072 8.064 6.624 8.064 3.264 0 5.856-2.688 5.856-5.856 0-3.168-2.304-5.472-5.184-5.472-.576 0-1.248.096-1.44.192.48-3.264 3.456-7.104 6.528-9.024L25.864 4z" />
                </svg>
                <p class="relative leading-8 bard-content">
                    {{content}}
                </p>
                <svg class="absolute bottom-0 right-0 transform translate-x-12 translate-y-12 transform rotate-180 h-12 w-12 text-pasturesgreen"
                    fill="currentColor" viewBox="0 0 32 32" aria-hidden="true">
                    <path
                        d="M9.352 4C4.456 7.456 1 13.12 1 19.36c0 5.088 3.072 8.064 6.624 8.064 3.36 0 5.856-2.688 5.856-5.856 0-3.168-2.208-5.472-5.088-5.472-.576 0-1.344.096-1.536.192.48-3.264 3.552-7.104 6.624-9.024L9.352 4zm16.512 0c-4.8 3.456-8.256 9.12-8.256 15.36 0 5.088 3.072 8.064 6.624 8.064 3.264 0 5.856-2.688 5.856-5.856 0-3.168-2.304-5.472-5.184-5.472-.576 0-1.248.096-1.44.192.48-3.264 3.456-7.104 6.528-9.024L25.864 4z" />
                </svg>
            </div>
            <div class="text-pasturesgreen text-lg mt-4 mb-1">{{name}}</div>
            <div class="text-sm">{{company}}</div>
        </div>

        {{if button_text}}<a href="{{button_url}}">
            <button
                class="block px-10 py-4 my-10 bg-pasturesgreen border-pasturesgreen border-2 text-white font-medium rounded-md shadow-lg text-center mx-auto">
                {{button_text}}
            </button>
        </a>{{/if}}
    </div>
</div>
