<div class="pg-star-rating flex flex-row">
	{{loop time="5"}}
		{{if star_rating}}
			{{if value < star_rating}}
				<i class="fas fa-star"></i>
			{{elseif star_rating == (value -0.5)}}
				<i class="fas fa-star-half"></i>
			{{else }}
				<i class="far fa-star"></i>
			{{/if}}
		{{else}}
			<i class="fas fa-star"></i>
		{{/if}}
	{{/loop}}
</div>
