<div class="{{bg}}  py-12 px-6">
    <div class="container mx-auto">
        <div class="max-w-3xl mx-auto text-center">
            {{if title}}
            <h2 class="text-xl md:text-2xl">{{title}}</h2>
            {{/if}}
            {{if content}}
            <div class="mt-6 leading-8">
                {{content}}
            </div>
            {{/if}}
        </div>
        <div
            class="flex max-w-6xl flex-col items-center mx-auto mt-6 md:flex-row space-x-0 md:space-x-4 md:space-y-0 flex-wrap justify-around lg:justify-between">
            {{stats }}
            <div
                class="rounded-full bg-white shadow-lg p-8 flex flex-col items-center text-center justify-center text-2xl mb-4 md:h-64 md:w-64">
                <div class="text-5xl">
                    {{prepend_symbol}}
                    {{stat_count format_number="0|,|,"}}
                    {{append_symbol}}
                </div>
                {{title}}
            </div>
            {{/stats}}
        </div>
        {{if button_text}}
        <div class="w-full text-center">
            <a href="{{button_url}}" class="">
                <button class="px-10 py-4 mt-10 font-medium rounded-md shadow-lg bg-pasturesgreen text-white">
                    {{button_text}}
                </button>
            </a>
        </div>
        {{/if}}
    </div>
</div>
