<div class="pg-testimonials {{bg}} py-12 px-6">
    <div class="container mx-auto">
        <div class="max-w-lg mx-auto text-center">
            {{if title}}<h2 class="text-xl md:text-2xl {{if bg == 'pasturesgreen'}}text-white{{/if}}">{{title}}</h2>
            {{/if}}
            {{if content}}
            <div class="mt-6 bard-content">
                {{content}}
            </div>
            {{/if}}
        </div>
        <div class="m-0 mb-10 md:m-10">
            <div class="splide testimonials">
                <div class="splide__track mx-1 md:mx-8">
                    <ul class="splide__list">
                        {{testimonials}}
                        <li class="splide__slide">
                            <div class="bg-white bg-white shadow-lg p-4 m-4 md:max-w-sm md:p-8 md:m-8">
                                <div class="flex flex-row justify-between">
                                    <div>{{name}}</div>
                                    {{partial:components/star-rating}}
                                </div>
                                <strong class="mt-2">{{category}}</strong>
                                <p class="mt-4">{{content}}</p>
                            </div>
                        </li>
                        {{/testimonials}}
                    </ul>
                </div>
            </div>
        </div>
        {{if button_text}}<a href="{{button_url}}">
            <button
                class=" block px-10 py-4 mt-2 bg-pasturesgreen border-pasturesgreen border-2 text-white font-medium rounded-md shadow-lg text-center mx-auto">
                {{button_text}}
            </button>
        </a>{{/if}}
    </div>
</div>
