<div class="pg-pastures-in-press {{bg}} {{if section_padding }} {{section_padding}} {{else}} py-12 {{/if}} p-6">
	<div class="container mx-auto mt-10">
		
		<div class="max-w-5xl mx-auto">
			<h2 class="text-xl md:text-2xl text-center ">{{title}}</h2>
			<div class="mt-6 mb-8 leading-8 text-left pg-body-text">
				{{content}}
			</div>
		</div>
	</div>
	<div class=" container mx-auto m-0 p-0">
		<div class=" flex w-full md:p-0 space-y-6 md:space-y-0 md:space-x-6 ">
			<div class="flex-col flex-1 bg-gray overflow-hidden rounded-lg shadow-lg ">
				<picture>
					<source srcset="{{image_1.url}}" type="image/webp">
					<source srcset="{{image_1.url}}" type="image/png">
					<img src="{{image_1.url}}" class="rounded-lg shadow-lg min-w-full " alt="{{image_1.alt}}">
				</picture>
			</div>
			<div class="flex-col flex-1 bg-gray overflow-hidden rounded-lg shadow-lg h-100">
				<picture>
					<source srcset="{{image_2.url}}" type="image/webp">
					<source srcset="{{image_2.url}}" type="image/png">
					<img src="{{image_2.url}}" class="rounded-lg shadow-lg min-w-full " alt="{{image_2.alt}}">
				</picture>
			</div>
			<div class="flex-col flex-1 bg-gray overflow-hidden rounded-lg shadow-lg h-100">
				<picture>
					<source srcset="{{image_3.url}}" type="image/webp">
					<source srcset="{{image_3.url}}" type="image/png">
					<img src="{{image_3.url}}" class="rounded-lg shadow-lg min-w-full " alt="{{image_3.alt}}">
				</picture>
			</div>
		</div>
		{{if button_text}}
		<div class="w-full text-center">
			<a href="{{button_url}}" class="">
				<button class="px-10 py-4 mt-10 font-medium rounded-md shadow-lg bg-pasturesgreen text-white">
					{{button_text}}
				</button>
			</a>
		</div>
		{{/if}}
	</div>
</div>


