<div class="pg-services {{bg}}  py-12 px-6">
    <div class="container mx-auto">
        <div class="max-w-lg mx-auto text-center">
            {{if title}}
            <h2 class="text-xl md:text-2xl">{{title}}</h2>
            {{/if}}
            {{if content}}
            <div class="mt-6 pg-body-text leading-8 bard-content">
                {{content}}
            </div>
            {{/if}}

        </div>
        <div class="flex justify-center items-center mt-6 flex-row md:space-y-0 flex-wrap">
            {{foreach:values}}
            <div class="overflow-hidden w-1/2 text-center lg:w-1/4 mb-4">
                <div
                    class="rounded-full bg-pasturesgreen w-24 h-24 shadow-lg p-8 flex items-center justify-center mx-auto mb-4 md:h-64 md:w-64">
                    <img src="{{value.icon.url}}" alt="{{value.icon.alt}}">
                </div>
                <strong class="md:text-2xl">
                    {{value.title}}
                </strong>
                <p class="text-sm md:text-md bard-content">
                    {{value.content}}
                </p>
            </div>
            {{/foreach:values}}
        </div>
    </div>
</div>
