.btn {
	position: relative;
	text-transform: uppercase;
	font-weight: bold;
	font-size: (14 / $default-size) + rem;
	transition: box-shadow 0.5s;
	box-shadow: 2px 2px 10px black;
    white-space: nowrap;
	&-img {
		position: absolute;
		top: 50%;
		right: 10px;
		width: 20px;
		height: 100%;
		transform: translateY(-50%);
		svg {
			max-width: 100%;
			max-height: 100%;
		}
	}
	&.brand-btn {
		border: 1px solid #fff;
		border-radius: 0;
	}
	&.filter-btn {
		width: 250px;
		height: 35px;
	}
	&.icon {
		padding-right: 40px;
	}
	&.active {
		box-shadow: 0 0 0 black;
	}
    &-flat{
        box-shadow: none !important;
    }
	&.disabled {
		background-color: $brand-medgrey;
		color: $brand-grey;
	}
    &.btn-clear{
        background-color: transparent  !important;
        border:0 !important;
        text-transform: revert;
        font-weight: revert;
        font-size: revert;
        transition: none !important;
        box-shadow: none !important;
        padding:0 !important;
        margin:0 !important;

    }
}
@media screen and (max-width: 990px) {
    .mbtn {
        position: relative;
        text-transform: uppercase;
        font-weight: bold;
        font-size: (14 / $default-size) + rem;
        transition: box-shadow 0.5s;
        box-shadow: 2px 2px 10px black;
        white-space: nowrap;
        &-brand-blue{
            background-color: $brand-blue;
        }
        &-img {
            position: absolute;
            top: 50%;
            right: 10px;
            width: 20px;
            height: 100%;
            transform: translateY(-50%);
            svg {
                max-width: 100%;
                max-height: 100%;
            }
        }
        &.brand-btn {
            border: 1px solid #fff;
            border-radius: 0;
        }
        &.filter-btn {
            width: 250px;
            height: 35px;
        }
        &.icon {
            padding-right: 40px;
        }
        &.active {
            box-shadow: 0 0 0 black;
        }
        &-flat{
            box-shadow: none !important;
        }
        &.disabled {
            background-color: $brand-medgrey;
            color: $brand-grey;
        }
        &.btn-clear{
            background-color: transparent  !important;
            border:0 !important;
            text-transform: revert;
            font-weight: revert;
            font-size: revert;
            transition: none !important;
            box-shadow: none !important;
            padding:0 !important;
            margin:0 !important;

        }
    }

}



.pointer {
    cursor: pointer;
}

.disabled {
    opacity: 0.2; /* Real browsers */
    filter: alpha(opacity = 20); /* MSIE */
    text-shadow: 1px 1px 1px rgba(255,255,255,0.5);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}
