.card {
    border-color: $brand-black;
    border: none !important;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.62);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.62);
    box-shadow: 2px 1px 1px 1px rgba(0, 0, 0, 0.87);
    border-radius: 3px !important;
    .card-header{
        padding: 0.55rem 1rem;
        border-radius: 0 !important;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-align-content: center;
        -ms-flex-line-pack: center;
        align-content: center;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;

        h3{
            -webkit-order: 0;
            -ms-flex-order: 0;
            order: 0;
            -webkit-flex: 0 1 auto;
            -ms-flex: 0 1 auto;
            flex: 0 1 auto;
            -webkit-align-self: auto;
            -ms-flex-item-align: auto;
            align-self: auto;
            font-size: 1.3rem;
        }
        &-controls {
            -webkit-order: 0;
            -ms-flex-order: 0;
            order: 0;
            -webkit-flex: 0 1 auto;
            -ms-flex: 0 1 auto;
            flex: 0 1 auto;
            -webkit-align-self: auto;
            -ms-flex-item-align: auto;
            align-self: auto;
            a, button, div, span {
                float: right;
                //font-size: 50% !important;
                box-shadow: none;
            }

        }
    }
    .card-body {
        background: #0e0e0e;
        padding-top: 19px !important;
    }
}

.card-mini {
    .card-header{
        padding: 0.25rem 0.8rem;
        h3{
            font-size: 0.8rem;
            padding: 0;
            margin-bottom: 0;
        }
        &-controls {
            a, button, div, span {
                //font-size: 30% !important;
            }

        }
    }
    .card-body {
        background: #0e0e0e;
        padding-top: 5px !important;
    }
}

.player-card{
    font-size: 0.75em;
    //border:1px solid white;
    .card-container{
        width:100%;
        //border-bottom:1px solid white;
        .player-photo {
            display: inline-block;
            text-align: center;
            width:35%;
        }
        .player-name{
            display: inline-block;
            font-size: 0.85em;
        }
    }

}
