.cc-mockup{

    input, select {
        background: transparent;
        //color:white;
    }
    //float:right;
    clear:both;
    margin: 0 auto;
    color: #4a4a4a;
    width:380px;
    height:241px;
    min-width:380px;
    min-height:241px;

    max-width:380px;
    max-height:241px;

    border:1px solid #4a4a4a;
    -webkit-box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.75);
    //background:white;
    border-radius: 10px;
    //color: black;
    font-size: 0.85em;
    .cc-card-logos{
        margin-top:15px;
        float:right;
        width:300px;
        text-align: right;
        padding-right: 20px;
        background: url('/assets/images/credit_card_logos.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 55px 0;
        height:34px;
        min-height: 34px;
        max-height: 34px;
    }
    .cc-card-logos-no-image{
        margin-top:15px;
        float:right;
        width:300px;
        text-align: right;
        padding-right: 20px;
        //background: url('/assets/images/credit_card_logos.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 55px 0;
        height:34px;
        min-height: 34px;
        max-height: 34px;
    }
    .cc-name-group{
        margin-top:55px;
        width:100%;
        display:block;
        clear:both;
        padding-left:18px;
        padding-right:18px;
        span{
            width:100%;
            display:block;
        }
        input{
            border:none;
            border-bottom: 1px solid #4a4a4a;
            width:100%;
            display: inline-block;
        }
    }
    .cc-number-group{
        width:100%;
        display:block;
        clear:both;
        padding-left:18px;
        padding-right:18px;
        margin-top:10px;
        span{
            width:100%;
            display:block;
        }
        input{
            border:none;
            border-bottom: 1px solid #4a4a4a;
            margin:0;
            width: 75px;
            min-width: 75px;
            max-width: 75px;
            display: inline-block;
        }
    }
    .cc-expiration-group{
        width:195px;
        min-width:195px;
        max-width:195px;
        display: inline-block;
        padding-left:18px;
        margin-top:10px;
        span{
            width:100%;
            display:block;
        }
        select.cc-month{
            border:none;
            border-bottom: 1px solid #4a4a4a;
            width:90px;
            max-width: 90px;
            min-width: 90px;
            display: inline-block;
        }
        select.cc-year{
            border:none;
            border-bottom: 1px solid #4a4a4a;
            width:65px;
            min-width:65px;
            max-width:65px;
            display: inline-block;
        }
    }
    .csv-group{
        margin-top:10px;
        width:105px;
        min-width:105px;
        max-width:105px;
        display: inline-block;
        margin-left:50px;
        span {
            width:100%;
        }
        input.cc-csv {
            border:none;
            border-bottom: 1px solid #4a4a4a;
            width:100%;
        }

    }
}

.priceBox{
    width: 335px;
    position: relative;
    clear:both;
    margin: 0 auto;
    border-radius: 4px;
    border:1px solid #4a4a4a;
    -webkit-box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.75);
    .priceHeader{
        padding-top: 1px;
        padding-bottom: 1px;
    }
    .priceDescription{
        height: 147px;
        min-height: 147px;
        max-height: 147px;
    }
    .priceDiscounts{
        padding-top: 1px;
        padding-bottom: 1px;
    }

}
@media screen and (max-width: 540px) {
    .cc-mockup{
        width: 335px;
        min-width: 335px;
        max-width: 335px;
        //width:300px;
        //height:185px;
        //min-width:300px;
        //min-height:185px;
        //max-width:300px;
        //max-height:185px;
        //font-size: 0.8em;
        .cc-card-logos{
            width: 294px;
            padding-right: 0px;
            background-position: 108px 1px;
            height: 26px;
            min-height: 26px;
            max-height: 26px;
        //margin-top:5px;
        //width:200px;
        //padding-right: 10px;
        //i {
           //font-size: 2em;
        //}
    }
    .cc-name-group{
        width:96%;
        //margin-top:1px;
        //padding-left:15px;
        //padding-right:15px;
    }
    .cc-number-group{
        //padding-left:15px;
        //padding-right:15px;
        //margin-top:3px;

        input{
            width: 65px;
            min-width: 65px;
            max-width: 65px;
        }
    }
    .cc-expiration-group{
        width:170px;
        max-width:170px;
        min-width:170px;
        //padding-left:15px;
        //margin-top:3px;
        span{
            //width:100%;
            //display:block;
        }
        select.cc-month{
            width:70px;
            max-width:70px;
        }
        select.cc-year{
            width:50px;
            max-width:50px;
            min-width:50px;
        }
    }
    .csv-group{
        width:77px;
        max-width:77px;
        min-width:77px;
        span {
            //width:100%;
        }
        input.cc-csv {
            //width:100%;
        }
    }
}
}
