#poolChat {
    position:fixed;
    bottom:35px;
    right:35px;
    z-index: 500;
    @media screen and (max-width: 768px) {
        width:100%;
        right:0 !important;
        bottom: 0px;
        left: 0px;
    }
    .chat-wrapper{
        .chat-toggler{
            text-align: center;
            height: 50px;
            width: 200px;
            border:1px solid white;
            -webkit-box-shadow: 1px 1px 1px 1px rgba(153,153,153,1);
            -moz-box-shadow: 1px 1px 1px 1px rgba(153,153,153,1);
            box-shadow: 1px 1px 1px 1px rgba(153,153,153,1);
            @media screen and (max-width: 768px) {
                i {
                    margin: 0 !important;
                    margin-left: 5px;
                }
                .hide-sm{
                    display: none;
                }
                width: 100px;

                right:0 !important;
                bottom:0 !important;
            }
            background-color: $brand-darkblue;
            border-radius: 5%;
            display: inline-block;
            cursor: pointer;
            i {
                margin-left: 15px;
                margin-top:5px;
                margin-right:15px;
            }
            .title-wrap{
                line-height: 50px;
            }
        }

        .chat-header{
            border:1px solid white;
            text-align: center;
            cursor: pointer;
        }

        .chat-body{
            width:300px;
            max-width: 300px;
            @media screen and (max-width: 768px) {
                width:100% !important;
            }
            border:1px solid white;
            background: $brand-darkblue;
        }

        .chat-messages{
            height: 450px;
            max-height: 450px;
            @media screen and (max-width: 768px) {
                width:100% !important;
                height:300px;
            }
            overflow-y: scroll;
        }

        .talk-bubble {
            margin: 5px;
            padding:5px;
            font-size:12px;
            @media screen and (max-width: 768px) {
                font-size:14px;
            }
            display: inline-block;
            position: relative;
            width: 75%;
            height: auto;
            background-color: $brand-darkgrey;
            border: 1px solid $brand-blue;
            border-radius: 15px;
            -webkit-border-radius: 15px;
            -moz-border-radius: 15px;
            &.unread{
                border: 2px solid  $brand-lightgrey;
            }
            &.me{
                float:right;
            }

            .author {
                &.me{
                    color: $brand-blue;
                }
                margin-left: 10px;
                padding:3px;
            }
            .time-stamp{
                font-size:8px;
                color:lightgray;
                float:right;
            }
            .message{
                margin-left: 10px;
                padding:3px;
            }
        }


    }


}
