.custom-input-number {
	position: relative;

	/* сброс стандартных стилей input type number */
	input[type="number"] {
		-moz-appearance: textfield;
		&::-webkit-inner-spin-button,
		&::-webkit-outer-spin-button {
			appearance: none;
		}
	}

    background: $input-background-color;
    color:white;
}

.input-number-button {
	appearance: none;
	position: absolute;
	right: 0;
	height: 50%;
	width: 1.5rem;
	background-color: $brand-blue;
	border: none;
	background-clip: padding-box;
	overflow: hidden;
	&.plus {
		top: 0;
		border-bottom: 1px solid transparent;
		&::before {
			@extend %input-arrow;
			top: -2px;
			border-bottom-color: $brand-grey!important;
		}
	}
	&.minus {
		bottom: 0;
		border-top: 1px solid transparent;
		&::before {
			@extend %input-arrow;
			bottom: -2px;
			border-top-color: $brand-darkblue!important;
		}
	}
}

%input-arrow {
	content: '';
	display: inline-block;
	position: absolute;
	left: 50%;
	border: 7px solid transparent;
	transform: translateX(-50%);
}
