.filters {
	display: flex;
	align-items: flex-start;
	padding-left: 2.3rem;
	@media screen and (max-width: 767px) {
		flex-wrap: wrap;
		padding-left: 0;
	}
}

.button-placeholder {
	flex: 1 0 58%;
	display: flex;
	align-items: flex-end;
	align-self: stretch;
}

.filter {
	margin-top: 1.6rem;
	border: 2px solid #fff;
	background-color: #fff;
	box-sizing: border-box;
	position: relative;
	&-title {
		margin-bottom: 0;
		padding: 5px;
		text-transform: uppercase;
		font-family: $brand-font;
		font-size: (10.53 / $default-size) + rem;
		line-height: 1.1;
		border-bottom: 2px solid #fff;
	}
	&-input {
		width: 100%;
		border: none;
		padding: 2px 5px;
	}
	&-list {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		padding-left: 1.25rem;
		// padding-right: 1.45rem;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	&-item {
		flex: 0 0 33.3333%;
		width: 33.3333%;
        margin-bottom: 5px;
        margin-top: 5px;
		position: relative;
		//&:nth-child(n+4) {
		//	margin-bottom: 0;
		//}

		label {
			display: flex;
			align-items: center;
			margin: 0;
			color: white;
			position: relative;
			user-select: none;
			white-space: nowrap;
			font-size: (12 / $default-size) + rem;
			line-height: 1;
			font-weight: 500;
			&::before {
				flex: 0 0 14px;
				content: '';
				display: inline-block;
				width: 14px;
				height: 14px;
				margin-right: 6px;
				box-sizing: border-box;
				border: 1px solid #fff;
			}
		}

		input {
			position: absolute;
			top: 50%;
			left: 0;
			transform: translate(0, -50%);
			opacity: 0;
			pointer-events: none;
			//z-index: 5;
		}

		input:checked + label::before {
			background-color: $brand-blue;
			border-color: $brand-blue;
		}
		input:focus + label::before {
			outline: 1px solid $brand-blue;
		}

	}
	&.search {
		flex: 0 0;
		flex-basis: calc(30% - 11px);
		margin-right: 9px;
		@media screen and (max-width: 767px) {
			flex-basis: calc(50% - 4px);
			&:nth-child(1) {
				margin-right: 4px;
			}
			&:nth-child(2) {
				margin-right: 0;
				margin-left: 4px;
			}
		}
	}
	&.checkbox {
		flex: 1 0 40%;
		@media screen and (max-width: 767px) {
			flex-basis: 100%;
			margin-top: 8px;
		}
	}
}


.dropdown-tip {
	position: absolute;
	left: 2px;
	top: 100%;
	width: 100%;
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.3s;
	//z-index: 5;
	a {
		display: block;
		padding: 5px;
		color: #000;
		&:hover {
			text-decoration: none;
		}
	}
}

.filter-input:focus + .dropdown-tip {
	opacity: 1;
	pointer-events: auto
}
