footer {
    @media(max-width: 767px) {
        text-align: center;
        .footer-logo-container{
            text-align: center !important;
        }
    }
        letter-spacing: 1px;
    color:$brand-lightgrey;
    //background: linear-gradient(to right, #272425 0%, #3f3e40 50%, #272425 100%);
    background:#252525;
	//font-family: ;
	font-size: (12 / $default-size) + em;
	.footer_copy {
        background-color: #000;
		margin-top: 1rem;
	}
    hr {
        color:$brand-lightgrey;
        background-color: $brand-grey;
        //padding: 2px;
        margin-top:5px;
        margin-bottom:5px;
    }
    .footer-logo-container {
        text-align: left;
        .logo-svg {
            width:250px;
            float:left;;
        }
    }
    .credit-cards {
        img {
            width:250px;
        }
    }
    h4 {
        font-weight: bolder;
        font-size:22px;
        letter-spacing: 1px;
        padding-bottom: 10px;
    }

    .address-container {
        padding-left: 5px;
    }

    ul {
        margin:0;
        padding-left: 5px;
        li {
            margin:0;
            list-style: none;
            padding-bottom:5px;
            a {
                font-size: 14px;
                letter-spacing: 1px;
                color: white;
            }
            a:hover {
                text-decoration: none;
            }
        }
    }
}
