.golf-player-photo{
    min-width:35px;
    max-width:35px;
    width:35px;
    height:35px;
    min-height:35px;
    max-height:35px;

    background-size: contain;
}

.golfPlayerMobile{
    span{
        display: inline-block;
        vertical-align: middle;
        font-size: 0.75em;
        padding-left: 2px;
    }
}
.golfPlayerDesktop{
    span{
        display: inline-block;
        vertical-align: middle;
        font-size: 0.85em;
        padding-left: 2px;
    }
}

.golfGroupsContainer{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(160px, 1fr));
    //display: -ms-flexbox;
    //display: -webkit-flex;
    //display: flex;
    //-webkit-flex-direction: row;
    //-ms-flex-direction: row;
    //flex-direction: row;
    //-webkit-flex-wrap: nowrap;
    //-ms-flex-wrap: nowrap;
    //flex-wrap: nowrap;
    //-webkit-justify-content: space-between;
    //-ms-flex-pack: justify;
    //justify-content: space-between;
    //-webkit-align-content: stretch;
    //-ms-flex-line-pack: stretch;
    //align-content: stretch;
    //-webkit-align-items: flex-start;
    //-ms-flex-align: start;
    //align-items: flex-start;
    //@media screen and (min-width: 600px) {
    //    -webkit-flex-wrap: wrap;
    //    -ms-flex-wrap: wrap;
    //    flex-wrap: wrap;
    //}

}
.golfGroupContainer{
        //-webkit-order: 0;
        //-ms-flex-order: 0;
        //order: 0;
        //-webkit-flex: 0 1 auto;
        //-ms-flex: 0 1 auto;
        //flex: 0 1 auto;
        //-webkit-align-self: auto;
        //-ms-flex-item-align: auto;
        //align-self: auto;
}


.fade-enter-active, .fade-leave-active {
    transition: opacity .8s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}
