.grid-layout {
	@media screen and (max-width: 349px) {
		overflow: scroll;
	}
}
.grid-pickable {
    .cell {
        cursor: pointer;
    }
}
.grid {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 625px;
	margin-top: 10px;
	overflow: visible;
	@media screen and (max-width: 767px) {
		height: auto;
	}
	&--row {
		display: flex;
		&-grow {
			flex-grow: 1;
		}
		&-inline {
			flex-basis: 29px;
			margin-bottom: 3px;
			@media screen and (max-width: 575px) {
				flex-basis: 20px;
			}
			@media screen and (max-width: 349px) {
				flex-basis: 15px;
			}
		}
	}
	&--inner {
		flex: 1 0 90%;
		display: flex;
		flex-direction: column;
		padding-left: 5px;
		padding-top: 5px;
		&-viewgrid {
			padding-left: 0;
			padding-top: 0;
		}
	}
	&--load {
		flex: 0 0 35px;
		height: 35px;
		overflow: hidden;
		box-sizing: border-box;
        max-width: 35px;
        @media screen and (max-width: 575px) {
            flex-basis: 25px;
            height: 25px;
        }
        @media screen and (max-width: 349px) {
            flex-basis: 15px;
        }
	}
	&--cell {
        overflow: hidden;
		flex-grow: 1;
		text-align: center;
		font-weight: bold;
		font-size: (15 / $default-size) + rem;
		line-height: 1;
		box-sizing: border-box;
		@media screen and (max-width: 349px) {
			font-size: (10 / $default-size) + rem;
		}
		&-x {
			text-transform: uppercase;
			div {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 100%;
				height: 100%;
				background-color: #fff;
			}
		}
		&-vertical {
			position: relative;
			flex: 0 0 33px;
			span {
				//transform: rotate(-90deg);
			}
			@media screen and (max-width: 575px) {
				flex-basis: 20px;
			}
			@media screen and (max-width: 349px) {
				flex-basis: 15px;
			}
		}
		&-league {
			flex: 0 0 33px;
			display: flex;
			justify-content: center;
			align-items: center;
			margin-right: 3px;
			color: #fff;
			font-size: (11 / $default-size) + rem;
			@media screen and (max-width: 575px) {
				flex-basis: 21px;
			}
			@media screen and (max-width: 349px) {
				flex-basis: 15px;
				font-size: (8 / $default-size) + rem;
			}
		}
		&-makepick {
			width: 50px;
			height: 55px;
			flex-basis: 50px;
			padding-top: 7px;
			padding-left: 7px;
			@media screen and (max-width: 767px) {
				width: 27px;
				height: 30px;
			}
			@media screen and (max-width: 575px) {
				padding-top: 4px;
				padding-left: 4px;
			}
		}
		&-viewgrid {
			flex-basis: (100% / 11);
			width: (100% / 11);
			height: 53px;
			padding-top: 7px;
			padding-left: 7px;
			@media screen and (max-width: 767px) {
				height: 40px;
			}
			@media screen and (max-width: 575px) {
				padding-top: 4px;
				padding-left: 4px;
			}
			@media screen and (max-width: 439px) {
				height: 35px;
			}
		}
        &-stolen {
            border-color: $brand-orange !important;
        }
	}
	&--title {
		text-align: center;
		box-sizing: border-box;
		color: #fff;
		text-transform: uppercase;
		&-horisontal {
			flex: 1 0 90%;
			height: 35px;
			div {
				width: 100%;
				height: 100%;
				background: url(../img/grid/horizontal_background.svg) center center / 100% 100% no-repeat;
			}
			@media screen and (max-width: 575px) {
				height: 25px;
			}
		}
		&-vertical {
			flex: 0 0 35px;
			max-width: 35px;
			overflow: hidden;
			div {
				width: 100%;
				height: 100%;
				position: relative;
				background: url(../img/grid/vertical_background.svg) center center / 100% 100% no-repeat;
			}
			h3 {
				white-space: nowrap;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%) rotate(-90deg);
			}
			@media screen and (max-width: 575px) {
				max-width: 25px;
			}
		}
		h3 {
			margin: 0;
			font-size: (22 / $default-size) + rem;
			line-height: 36px;
			@media screen and (max-width: 575px) {
				font-size: (18 / $default-size) + rem;
				line-height: 24px;
			}
		}
	}
    .highlight-me{
        background: $brand-blue !important;
        color: white;
        border-color: white !important;
    }
    .regular-cell{
        color:black;
    }
    .pending-square-pick {
        color: white;
        border-color: white !important;
        border: 3px dotted white;
    }
    .square-stolen {
        border-color: $brand-red !important;
        -webkit-box-shadow: 0px 2px 16px 0px $brand-red;
        -moz-box-shadow: 0px 2px 16px 0px $brand-red;
        box-shadow: 0px 2px 16px 0px $brand-red;
    }
}

.load {
	appearance: none;
	background: none;
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	cursor: pointer;
	svg {
		width: 20px;
		height: 20px;
	}
	&.animate {
		svg {
			animation: rotation $arrow-rotation-duration linear infinite both;
		}
	}
	&:focus {
		outline: none;
	}
}

@mixin split-lines($width, $height) {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: $width;
	height: $height;
	background-color: $brand-medgrey;
	transform: translate(-50%, -50%);
}

.cell {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	font-size: (12 / $default-size) + rem;
	font-weight: bold;
	box-sizing: border-box;
	border: 2px solid $grid-border-default-color;
	background-color: $grid-border-default-color;
    //color: inherit; // $brand-grey;

	&--name {
        //color: $brand-darkgrey;
        //filter: invert(1) !important;
		&-mobile {
			display: none;
			@media screen and (max-width: 767px) {
				display: inline-block;
			}
		}
		&-desktop {
            word-break: normal;
			@media screen and (max-width: 767px) {
				display: none;
			}
		}
	}
	&--value {
		flex: 0 0 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 50%;
		height: 50%;
		//font-weight: 900;
		text-transform: uppercase;
		&:nth-child(1),
		&:nth-child(4) {
			color: $brand-blue;
		}
        &:nth-child(2),
        &:nth-child(3) {
            color: $brand-grey;
        }
		@media screen and (max-width: 439px) {
			font-size: (10 / $default-size) + rem !important;
		}
        &-mobile-smaller{
            font-size: 0.6em !important;
        }
	}
	&--header { 
		@media screen and (max-width: 767px) {
			&:nth-child(1),
			&:nth-child(3) {
				padding-left: 0 !important;
			}
			&:nth-child(2),
			&:nth-child(4) {
				padding-right: 0 !important;
			}
		} 
	}
	&-val {
		flex-wrap: wrap;
		background-color: #fff;
		border-color: #fff;
		position: relative;
		&::before {
			@include split-lines(100%, 1px);
		}
		&::after {
			@include split-lines(1px, 100%);
		}
	}
    &-val-2 {
        flex-wrap: wrap;
        background-color: #fff;
        border-color: #fff;
        position: relative;
        &::before {
            //@include split-lines(100%, 1px);
        }
        &::after {
            @include split-lines(1px, 100%);
        }
    }
	&-empty {
		background-color: transparent;
	}
	&-potential{

		//border-color: $brand-blue
		background: $brand-gradient-color-1;
		background: rgb(0,0,0);
		background: -moz-linear-gradient(90deg, rgba(0,0,0,1) 0%, $brand-blue 20%, $brand-blue 80%, rgba(0,0,0,1) 100%);
		background: -webkit-linear-gradient(90deg, rgba(0,0,0,1) 0%, $brand-blue 20%, $brand-blue 80%, rgba(0,0,0,1) 100%);
		background: linear-gradient(90deg, rgba(0,0,0,1) 0%, $brand-blue 20%, $brand-blue 80%, rgba(0,0,0,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
		span {
			color: white !important;
			background: transparent;
		}
	}
	&-blue {
		background-color: $brand-blue;
		border-color: $brand-blue;
        span {
            color: white !important;
        }
	}
	&-dark {
		background-color: transparent!important;
		border-color: transparent!important;
		&::before,&::after {
			background-color: #fff;
		}
		.cell--value {
			&:nth-child(2),
			&:nth-child(3) {
				color: inherit; // $brand-medgrey;
			}
		}
	}
	&-pastwinner {
		//background-color: $brand-orange;
		//border: 3px solid $brand-blue;

	}
    &-pastwiner-trophy {

        //background-image: url(../img/grid/cup.svg);
        background-position: top 3px left 3px;
        background-repeat: no-repeat;
        @media screen and (max-width: 575px) {
            background-size: 23% auto;
        }
    }
	&-onescore {
		position: relative;
		&::before {
			content: '';
			position: absolute;
			top: -3px;
			left: -3px;
			bottom: -3px;
			right: -3px;
			//border: 3px solid $brand-blue;
			pointer-events: none;
		}
	}
	&-onescorepat {
		position: relative;
		&::before {
			content: '';
			position: absolute;
			top: -3px;
			left: -3px;
			bottom: -3px;
			right: -3px;
			//border: 4px dashed $brand-blue;
			pointer-events: none;
		}
	}
}

@keyframes rotation {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(360deg);
	}
}

.blink {
    //animation: blinker 1s linear infinite;
}

@keyframes blinker {
    90% {
        //opacity: 0.9;
    }
}

.highlightAlike{
    cursor: pointer;
}
