.grid-breadcrumbs {
	position: relative;
	//padding-top: 0.5rem;
	//font-size: (30 / $default-size) + rem;
	font-family: $second-font;
	font-weight: 400;
	//line-height: 1.2;
    padding-top: 8px;
    background: #040404b3;
    background-blend-mode: luminosity;
    margin-left: 0;
    padding-bottom: 8px;
    @media screen and (max-width: 600px) {
        font-size: 10px;
    }
	//&::after {
	//	content: '';
	//	position: absolute;
	//	left: 15px;
	//	top: 100%;
	//	width: calc(100% - 30px);
	//	height: 1px;
	//	background-color: #939598;
	//}
	.breadcrumb {
		margin-bottom: 0;
		padding: 0.5rem 0;

		&-item.active {
			color: $brand-blue;
			//font-size: (15 / $default-size) + rem;

            font-family: $brand-font;
			&::before {
				//font-size: (30 / $default-size) + rem;
				color: #fff;
			}
            @media screen and (max-width: 600px) {
                font-size: 12px;
                font-family: $mobile-font;
                &::before {
                    font-size: 12px;
                    color: #fff;
                }
            }
        }
        @media screen and (max-width: 600px) {
            font-size: 10px;
            font-family: $mobile-font;
            &::before {
                font-size: 10px;
                color: #fff;
            }
        }
	}
	a {
		color: inherit;
		text-decoration: none;
		&:hover {
			text-decoration: none;
		}
	}
	.info-svg {
		height: (50 / $default-size) + rem;
	}
}
