.flexy{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: flex-end;
    -ms-flex-line-pack: end;
    align-content: flex-end;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    .logo-container{
        -webkit-order: 0;
        -ms-flex-order: 0;
        order: 0;
        -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto;
        -webkit-align-self: auto;
        -ms-flex-item-align: auto;
        align-self: auto;
    }
    .menu-container{
        -webkit-order: 0;
        -ms-flex-order: 0;
        order: 0;
        -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        -webkit-align-self: auto;
        -ms-flex-item-align: auto;
        align-self: auto;
    }
}

.header {
	//padding-top: 20px;
    background-color: black;
    @media screen and (max-width: 768px) {
        padding:0;
        text-align: center;
    }
	&-logo {
		//display: flex;
		//justify-content: center;
		//align-items: left;
        //padding-left: 10px;
        padding-right: 10px;
        background:black;
		//background: linear-gradient(45deg, rgba(0, 0, 0, 1) 0%, rgba(26, 26, 26, 0.9) 17.11%, rgba(0, 0, 0, 1) 46.4%, rgba(26, 26, 26, 0.9) 76.44%, rgba(0, 0, 0, 1) 100%), url(../img/header/background.jpg) top left / 50% 100% repeat-x;
		//text-align: center;
		position: relative;
		svg {
            width: 255px;
            height: 90px;
		}
		@media screen and (max-width: 768px) {
            //display:none;
            padding:4px;
            padding:0;
			//padding-left: 10%;
			//padding-right: 10%;
		}
	}
}

.navbar .nav-item {
    position: relative;
    white-space: nowrap;

    &::before {
        @extend %nav-item-pseudos;
        left: 0;
    }

    &:last-child::after {
        @extend %nav-item-pseudos;
        right: 0;
    }

    @media screen and (max-width: 768px) {
        text-align: center;
        font-size: 1.2em;
        //border: 1px solid white;
        a:before{
            width:0px !important;
        }
    }
}
.navbar .nav-item:first-child {
    position: relative;
    &::before {
        @extend %nav-item-pseudos;
        left: 0;
        display:none;
    }
    &:last-child::after {
          @extend %nav-item-pseudos;
         right: 0;
    }

    @media screen and (max-width: 768px) {
        text-align: center;
        font-size: 1.2em;
        //border: 1px solid white;
        a:before{
            width:0px !important;
        }
        &::after,&::before {
            display: none !important;
        }
    }
}

.navbar .nav-item:last-child {
    position: relative;
    &::before {
        @extend %nav-item-pseudos;
        left: 0;
    }
    &:last-child::after {
      //  @extend %nav-item-pseudos;
       // right: 0;
        display: none;

    }

    @media screen and (max-width: 768px) {
        text-align: center;
        font-size: 1.2em;
        //border: 1px solid white;
        a:before{
            width:0px !important;
        }
    }
}

%nav-item-pseudos {
	content: '';
	position: absolute;
	//top: 33.3333%;
	width: 1px;
	background-color: #fff;
	height: 100%;
    @media screen and (max-width: 768px) {
        display: none;
        width:0px !important;;
    }
}

.navbar .nav-item-noseparator {
    &:before{
        display: none;
    }
}
.nav-link.active {
	background-color: $active-nav-color;
}

.nav .dropdown-item:hover,
.nav .dropdown-item:focus {
	color: $brand-darkblue!important;
}
// Фикс прозрачности кнопки меню
.navbar-dark .navbar-toggler-icon {
	    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-dark .navbar-toggler {
	border-color: #fff;
}

.navbar-dark .navbar-nav .nav-link {
	color: #fff;
}

.dropdown-menu {
    padding-top: 0px;
    padding-bottom: 0;
    .dropdown-item{
        @media screen and (max-width: 600px) {
            width: 100%;
            text-align: center !important;
            border-bottom: 1px solid white;
            line-height: 35px;
            &:last-child{
                border-bottom: 0;
            }
        }

        &:hover,
        &:focus {
            color: $brand-darkblue!important;
        }
    }

}

.dropdown-menu.bg-brand-darkblue .dropdown-item{
	color: #fff;
    //border:none !important;

    &:hover {
		color: $brand-darkblue;
	}
}

