#home-content {
    .featured-pool-bar{
        -webkit-box-shadow: 0px -2px 9px -4px rgba(133,133,133,1);
        -moz-box-shadow: 0px -2px 9px -4px rgba(133,133,133,1);
        box-shadow: 0px -2px 9px -4px rgba(133,133,133,1);
    }
    .featured-pool{
        border:1px solid #393939;
        //border-bottom:1px solid $brand-blue;
        //-webkit-box-shadow:  0px 0px 11px -4px rgba(133,133,133,1);
        //-moz-box-shadow:  0px 0px 11px -4px rgba(133,133,133,1);
        //box-shadow:  0px 0px 11px -4px rgba(133,133,133,1);

        padding: 0;
        &--item{

            background: rgba(0,0,0,1);
            background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(28,27,28,1) 100%);
            background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,1)), color-stop(100%, rgba(28,27,28,1)));
            background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(28,27,28,1) 100%);
            background: -o-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(28,27,28,1) 100%);
            background: -ms-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(28,27,28,1) 100%);
            background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(28,27,28,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#1c1b1c', GradientType=0 );
            width:100%;
            height:80px;
            display: -ms-inline-flexbox;
            display: -webkit-inline-flex;
            display: inline-flex;
            -webkit-flex-direction: row;
            -ms-flex-direction: row;
            flex-direction: row;
            -webkit-flex-wrap: nowrap;
            -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
            -webkit-justify-content: flex-start;
            -ms-flex-pack: start;
            justify-content: flex-start;
            -webkit-align-content: flex-start;
            -ms-flex-line-pack: start;
            align-content: flex-start;
            -webkit-align-items: stretch;
            -ms-flex-align: stretch;
            align-items: stretch;

            &--icon{
                font-size: 2em;

                background: rgba(41,41,41,1);
                background: -moz-radial-gradient(center, ellipse cover, rgba(41,41,41,1) 0%, rgba(0,0,0,1) 100%);
                background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(41,41,41,1)), color-stop(100%, rgba(0,0,0,1)));
                background: -webkit-radial-gradient(center, ellipse cover, rgba(41,41,41,1) 0%, rgba(0,0,0,1) 100%);
                background: -o-radial-gradient(center, ellipse cover, rgba(41,41,41,1) 0%, rgba(0,0,0,1) 100%);
                background: -ms-radial-gradient(center, ellipse cover, rgba(41,41,41,1) 0%, rgba(0,0,0,1) 100%);
                background: radial-gradient(ellipse at center, rgba(41,41,41,1) 0%, rgba(0,0,0,1) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#292929', endColorstr='#000000', GradientType=1 );

                //background: rgba(43,43,43,1);
                //background: -moz-radial-gradient(center, ellipse cover, rgba(43,43,43,1) 0%, rgba(20,19,20,1) 100%);
                //background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(43,43,43,1)), color-stop(100%, rgba(20,19,20,1)));
                //background: -webkit-radial-gradient(center, ellipse cover, rgba(43,43,43,1) 0%, rgba(20,19,20,1) 100%);
                //background: -o-radial-gradient(center, ellipse cover, rgba(43,43,43,1) 0%, rgba(20,19,20,1) 100%);
                //background: -ms-radial-gradient(center, ellipse cover, rgba(43,43,43,1) 0%, rgba(20,19,20,1) 100%);
                //background: radial-gradient(ellipse at center, rgba(43,43,43,1) 0%, rgba(20,19,20,1) 100%);
                //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b2b2b', endColorstr='#141314', GradientType=1 );


                -webkit-order: 0;
                -ms-flex-order: 0;
                order: 0;
                -webkit-flex: 0 1 auto;
                -ms-flex: 0 1 auto;
                flex: 0 1 auto;
                -webkit-align-self: auto;
                -ms-flex-item-align: auto;
                align-self: auto;

                width:80px;
                min-width: 80px;
                max-width: 80px;
                text-align: center;
                i {
                    line-height: 80px;
                }
            }
            &--content{
                -webkit-order: 0;
                -ms-flex-order: 0;
                order: 0;
                -webkit-flex: 0 1 auto;
                -ms-flex: 0 1 auto;
                flex: 0 1 auto;
                -webkit-align-self: auto;
                -ms-flex-item-align: auto;
                align-self: auto;
                h2{
                    padding-left:15px;
                    padding-top:7px;
                    color: #ececec;
                    font-size: 17px;
                    margin-bottom: 0;
                }
                span{
                    display: block;
                    line-height: 1em;
                    padding-left:15px;
                    font-size: 13px;
                    color: #b6b6b6;
                }

            }
        }
    }
    p{
        //font-family: 'd-din_condensedregular';
    }
    .home-p{
        font-size: 1.8em;
    }
    .site-wrapper{
        /*max-width: 1540px;*/
        width: 100%;
        margin: 0 auto;
        overflow: hidden;
    }
    .container{
        width: 100%;
        max-width: 1200px;
    }
    h1, h2, h3 {
        //margin: 10px 0;
        color: #3dace2;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
    h4, h5, h6 {
        margin: 10px 0;
        font-weight: 600;
        color: #3dace2;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
    h1{
        font-size: 50px;
    }
    h2{
        font-size:44px;
    }
    h3{
        font-size: 20px;
    }
    h4{
        font-size: 28px;
    }
    h5{
        font-size: 24px;
    }
    h6{
        font-size: 20px;
    }
    .hero-sec {
        .sec-content{
            //background-size: cover !important;
            //background-position: center !important;
            position: relative;
        }

            .heading{
                //max-width: 870px;
                margin-bottom: 20px;
                margin-top: 30px;
                display: inline-block;
                width: 100%;
                vertical-align: top;
                h1 {
                    margin:0 !important;
                    font-size:  4em;
                    //line-height: 0.9;
                    text-transform: uppercase;
                }
            }

            .desc{
                max-width: 1120px;
                padding: 20px 0 30px 50px;
                p {
                    text-transform: uppercase;
                    font-size: 20px;
                    line-height: 1.7;
                    //font-family: 'd-din_condensedregular';
                    letter-spacing: 1px;
                    text-align: justify;
                }
            }

    }

    .bordered-style-heading{
        display: inline-block;
        vertical-align: top;
        width: 100%;
        padding-top: 15px;
        padding-bottom: 15px;
        border-bottom: 1px solid #3dace2;
        margin-bottom: 20px;
    }
    .bordered-style-heading h2{
        font-family: $brand-font;
        margin: 10px 0;
        font-size: 40px;
        font-weight: 300;
        letter-spacing: 8px;
        color: #fff;
        text-transform: uppercase;
    }


    .feat-pools{
        //position: absolute;
        width: 100%;
        //margin-top: -100px;
        .featured-pools-container {
            //padding-top:30px;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-flex-direction: row;
            -ms-flex-direction: row;
            flex-direction: row;
            -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-align-content: stretch;
            -ms-flex-line-pack: stretch;
            align-content: stretch;
            -webkit-align-items: flex-start;
            -ms-flex-align: start;
            align-items: flex-start;
            padding-bottom:30px;
            .squared-item {
                h3 {
                    margin-top:10px;
                    color:black !important;
                }
                position:relative;
                margin:10px;
                background-color: $brand-lightgrey;
                padding:5px;
                border:1px solid $brand-lightgrey;
                height:150px;
                width:200px;
                -webkit-order: 0;
                -ms-flex-order: 0;
                order: 0;
                -webkit-flex: 0 1 auto;
                -ms-flex: 0 1 auto;
                flex: 0 1 auto;
                -webkit-align-self: auto;
                -ms-flex-item-align: auto;
                align-self: auto;
                .featured-circle{
                    position:absolute;
                    height:40px;
                    width:40px;
                    border-radius:40px;
                    //border:1px solid $brand-lightgrey;
                    left:50%;
                    margin-left:-25px;
                    top: -20px;
                    background:$brand-darkgrey;
                    color:$brand-blue;
                }
                span {
                    font-size:0.8em;
                    color: black !important;
                }
            }
        }
    }





    .features-list{
        display: flex;
        flex-wrap: wrap;
        padding: 50px 0 20px;
        .feature-item{
            margin-bottom: 30px;
            p{
                text-align: justify;
                font-size: 18px;
                letter-spacing: 1px;
            }
            .feature-item-content{
                //max-width: 360px;
            }
            h3{
                //font-family: 'd-din_condensedregular';
            }
        }
    }

    .jumbotron-title{
        display: inline-block;
        width: 100%;
        vertical-align: top;
        padding: 20px 0;
        h2{
            font-size: 30px;
            line-height: 0.9;
            margin: 0;
            margin-bottom: 4px;
        }
        h3{
            font-size: 16px;
            color: #fff;
            margin: 0;
            //font-family: 'd-din_condensedregular';
        }
    }

    .feat-aside-desc-block{
        display: inline-block;
        width: 100%;
        vertical-align: top;
        //padding: 40px 0;
        margin-bottom: 15px;
        .feat-block {
            img{
                max-width: 100%;
            }

        }
        .desc-block {
            .desc{
                max-width: 400px;
            }
            p{
                letter-spacing: 1.2px;
            }
            .small-text{
                padding: 30px 0 15px;
                max-width: 400px;
            }
            small{
                font-size: 26px;
                //font-family: 'd-din_condensedregular';
                letter-spacing: 1.5px;
            }
        }


    }

    .pools-list{
        display: inline-block;
        width: 100%;
        vertical-align: top;
        padding: 50px 0;
    }
    .pool-item{
        height: 350px;
        background-size: cover !important;
        background-position: center !important;
        padding-left: 35%;
        display: flex;
        align-items: center;
        padding-bottom: 15px;
        margin-bottom: 50px;
        h2{
            text-transform: uppercase;
            font-size: 150px;
            color: #fff;
            margin-top: 0;
            line-height: 0.9;
            sup{
                font-size: 24px;
                top: -90px;
            }
        }
        span{
            text-transform: uppercase;
            font-size: 28px;
            letter-spacing: 8px;
            //font-family: 'BlairMdITCTTMedium';
        }
        a{
            color: #fff;
            h2{
                transition: all 0.3s ease 0s;
            }
        }
        a:hover{
            text-decoration: none;
            h2{
                padding-bottom: 4px;
            }
        }
    }

    //@media(max-width: 1279px){
    //    h3{
    //        font-size: 32px;
    //    }
    //    .hero-sec .text-block .heading h1 {
    //        font-size: 110px;
    //    }
    //    .hero-sec .text-block .desc p,p{
    //        font-size: 28px;
    //    }
    //    .feature-item p {
    //        font-size: 20px;
    //        letter-spacing: 0.6px;
    //    }
    //    .bordered-style-heading h2{
    //        font-size: 20px;
    //    }
    //    .jumbotron-title h2{
    //        font-size: 100px;
    //    }
    //    .jumbotron-title h3{
    //        font-size: 50px;
    //    }
    //    .pool-item{
    //        margin-bottom: 30px;
    //    }
    //    .pool-item h2{
    //        font-size: 120px;
    //    }
    //    .pool-item span{
    //        font-size: 20px;
    //    }
    //}
    @media(max-width: 991px){

        .featured-pool{
            &--item{
                height:60px;
                &--icon{
                    font-size: 1.3em;
                    width:60px;
                    min-width: 60px;
                    max-width: 60px;
                    i {
                        line-height: 60px;
                    }
                }
                &--content{
                    h2{
                        padding-left:10px;
                        padding-top:5px;
                        font-size: 15px;
                    }
                    span{
                        display: block;
                        line-height: 1em;
                        padding-left:10px;
                        font-size: 12px;
                    }

                }
            }
        }


        .feat-pools{
            position: absolute;
            width: 100%;
            margin-top: -50px;
            .featured-pools-container {
                .squared-item {
                    width:25%;
                }
            }
        }



    }
    @media(max-width: 767px){

        .feat-pools{
            position: relative;
            width: 100%;
            margin-top: 0;
            .featured-pools-container {
                .squared-item {
                    width:50%;
                }
            }
        }

        .hero-sec {
            .sec-content{
            }

            .heading{
                text-align: center;
                h1 {
                    margin:0 !important;
                    font-size:  55px;
                    line-height: 1em;
                    text-transform: uppercase;
                }
            }

            .desc{
                max-width: 1120px;
                padding: 20px 0 30px 50px;
                p {
                    text-transform: uppercase;
                    font-size: 20px;
                    line-height: 1.7;
                    //font-family: 'd-din_condensedregular';
                    letter-spacing: 1px;
                    text-align: justify;
                }
            }

        }

        .hero-sec .text-block{
            min-height: auto;
            text-align: center;
        }
        .hero-sec .text-block .heading h1 {
            text-align: center;
            font-size: 55px;
            word-break: break-all;
        }
        .hero-sec .text-block .desc p, p {
            text-align: center;
            font-size: 22px;
            line-height: 1.6;
        }
        .features-list {
            text-align: center;
            display: inline-block;
            padding: 15px 0 20px;
            width: 100%;
        }
        .features-list .feature-item{
            text-align: center;
            padding: 0;
        }
        .feature-item .feature-item-content{
            text-align: center;
            max-width: 100% ;
        }
        .jumbotron-title h2 {
            text-align: center;
            font-size: 1.9rem;
        }
        .jumbotron-title h3 {
            font-size: 18px;
            text-align: center;
        }
        .feat-aside-desc-block{
            text-align: center;
            margin-bottom: 0;
        }
        .feat-aside-desc-block .feat-block{
            text-align: center;
            margin-bottom: 30px;
        }
        .feat-aside-desc-block .desc-block{
            text-align: center;
            padding: 0;
        }
        .feat-aside-desc-block .desc-block .desc{
            text-align: center;
            max-width: 100%;
        }
        .pools-list{
            padding: 30px 0;
            text-align: center;
        }
        .bordered-style-heading {
            padding: 10px 0;
            text-align: center;
        }
        .bordered-style-heading h2 {
            font-size: 16px;
            letter-spacing: 4px;
            text-align: center;
        }
        .pool-item{
            padding-left: 0;
            text-align: center;
            justify-content: center;
            height: 240px;
            padding-bottom: 5px;
            padding-top: 5px;
        }
        //.pool-item h2{
        //    font-size: 60px;
        //    text-align: center;
        //}
        .pool-item h2 sup {
            font-size: 18px;
            text-align: center;
            top: -40px;
        }
        .pool-item span {
            font-size: 15px;
            letter-spacing: 3px;
            text-align: center;
        }


        .hero-sec .text-block {
            display: inline-block;
            text-align: center;
        }
        footer {
            * {
                text-align: center !important;
            }
        }

        ul {
            text-align: left;
        }


    }
    @media(max-width: 480px){
        .header-logo{
            svg {
                width: 180px !important;
                height: 60px !important;
            }
        }
        .hero-sec .text-block .heading h1 {
            font-size: 30px;
            text-align: center;
            word-break: break-word;

        }
        .jumbotron-title h2 {
            font-size: 27px;
            text-align: center;
        }
        .pool-item h2 {
            font-size: 35px;
            text-align: center;
        }
        .pool-item h2 sup {
            font-size: 14px;
            top: -30px;
            text-align: center;
        }
        footer {
            * {
                text-align: center !important;
            }

        }
        .desc {
            padding:0 !important;
        }

        ul {
            text-align: left;
        }

    }
}
