.switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 25px;
    input {display:none;}
    margin:0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $brand-grey;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: $brand-blue;
}

input:checked + .slider-success {
    background-color: $brand-success;
}

input:focus + .slider {
    box-shadow: 0 0 1px $brand-darkblue;
}

input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

/*------ ADDED CSS ---------*/
.slider:after
{
    content:attr(data-content_off);
    color: white;
    display: block;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 40%;
    font-size: 11px;
    text-transform: uppercase;
    //font-family: Verdana, sans-serif;
}

input:checked + .slider:after
{
    content:attr(data-content_on);
}


///* The switch - the box around the slider */
//.switch {
//    position: relative;
//    display: inline-block;
//    width: 40px;
//    height: 22px;
//    input {
//        opacity: 0;
//        width: 0;
//        height: 0;
//        &:checked + .slider {
//            background-color: $brand-lightgrey;
//        }
//        &:focus + .slider {
//            box-shadow: 0 0 1px $brand-lightgrey;
//        }
//        &:checked + .slider:before {
//            -webkit-transform: translateX(18px);
//            -ms-transform: translateX(18px);
//            transform: translateX(18px);
//        }
//    }
//    .slider {
//        position: absolute;
//        cursor: pointer;
//        top: 0;
//        left: 0;
//        right: 0;
//        bottom: 0;
//        background-color: $input-background-color;
//        box-shadow: inset 1px 1px 3px 0px $brand-black;
//        -webkit-transition: .4s;
//        transition: .4s;
//        &:before{
//            position: absolute;
//            content: "";
//            height: 18px;
//            width: 18px;
//            left: 2px;
//            bottom: 2px;
//            background-color: $brand-blue;
//            -webkit-transition: .4s;
//            transition: .4s;
//        }
//
//    }
//    .round {
//        border-radius: 32px;
//        &:before {
//            border-radius: 50%;
//        }
//    }
//}


.form-control, .custom-select{
    background-color: $input-background-color;
    border: 1px solid $brand-darkblue;
    box-shadow: inset 1px 1px 3px 0px $brand-black;
    //padding: 0.175rem 0.55rem;
    //height: calc(1.7rem + 2px);
}



.form-control-settings, .custom-select-settings{
    padding: 0.175rem 0.55rem;
    height: calc(1.7rem + 2px);
}

.inputcontainer {
    position: relative;
}


.icon-container {
    position: absolute;
    right: 10px;
    top: calc(50% - 10px);
}
.loader {
    position: relative;
    height: 20px;
    width: 20px;
    display: inline-block;
    animation: around 5.4s infinite;
}

@keyframes around {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg)
    }
}

.loader::after, .loader::before {
    content: "";
    background: white;
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 100%;
    border-width: 2px;
    border-color: #333 #333 transparent transparent;
    border-style: solid;
    border-radius: 20px;
    box-sizing: border-box;
    top: 0;
    left: 0;
    animation: around 0.7s ease-in-out infinite;
}

.loader::after {
    animation: around 0.7s ease-in-out 0.1s infinite;
    background: transparent;
}
