.accordion {
    .card {
        //border-bottom:1px solid $brand-blue;
        .card-header{
            border-top: 1px solid $brand-grey;
            border-left: 1px solid $brand-grey;
            border-right: 1px solid $brand-grey;

            background-color: #0a0a0a;

            h3 {
                font-size:22px;
                font-weight: 500;
                //text-shadow: 1px 1px 1px $brand-blue;
                .sub-title{
                    display:block;
                    font-size:14px;
                }
            }
        }
        .card-body{
            //background: $brand-darkgrey;
            border-left: 1px solid $brand-grey;
            border-right: 1px solid $brand-grey;
            border-bottom: 1px solid $brand-grey;
        }
    }
}
