.live {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	margin-top: 20px;
	color: white;
	font-weight: bold;
	@media screen and (max-width: 575px) {
		flex-wrap: wrap;
	}
	&-icon {
		flex: 0 0 35px;
		width: 35px;
		height: 20px;
	}
	&-cities {
		margin-left: 0;
		margin-right: auto;
		padding: 10px 5px;
		flex: 1 1 30%;
		font-size: (14 / $default-size) + rem;
		text-transform: uppercase;
		@media screen and (max-width: 575px) {
			flex-basis: 70%;
		}
	}
	&-info {
		padding: 10px 5px;
		flex: 1 1 30%;
		font-size: (12 / $default-size) + rem;
		@media screen and (max-width: 575px) {
			flex-basis: 50%;
			max-width: 50%;
		}
		thead  th{
			padding-bottom: 0.5rem;
		}
		th, td {
			width: 1.5rem;
			text-align: center;
			line-height: 1;
		}
		td:nth-child(5) {
			padding-right: 0.5rem;
		}
		td.large {
			width: 3rem;
			border-left: 1px solid $brand-medgrey;
			font-size: (14 / $default-size) + rem;
		}
	}
	&-legend {
		padding: 10px;
		box-sizing: border-box;
		border: 1px solid #fff;
		font-size: (12 / $default-size) + rem;
		// font-size: 0.95rem;
		text-transform: uppercase;
		@media screen and (max-width: 575px) {
			//flex-basis: 50%;
			//max-width: 50%;
		}
	}
	&-exmp {
		display: inline-block;
		width: 15px;
		height: 10px;
		margin-right: 5px;
		border-width: 2px !important;
		border-style: solid;
		box-sizing: border-box;
		&.pastwinner {
			background-color: $brand-orange;
			border-color: $brand-orange;
		}
		&.potwinner {
			background-color: $brand-blue;
			border-color: $brand-blue;
		}
		&.outline{
			border-color: $brand-orange;
		}
		&.onescore {
			border-color: $brand-blue;
		}
		&.onescorepat {
			border: none;
			/*Horizontal*/
			background-image:
				linear-gradient(to right, $brand-blue 50%, rgba(255,255,255,0) 0%),
				linear-gradient(to left, $brand-blue 50%, rgba(255,255,255,0) 0%),
				linear-gradient($brand-blue 50%, rgba(255,255,255,0) 0%),
				linear-gradient($brand-blue 50%, rgba(255,255,255,0) 0%);
			background-position: bottom left, top right, top left, top right;
			background-size: 4px 2px, 4px 2px, 2px 4px, 2px 4px;
			background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
		}
	}
}
