margin-t-10 {
    margin-top:10px;
}
margin-b-10 {
    margin-bottom:10px;
}
margin-l-10 {
    margin-left:10px;
}
margin-r-10 {
    margin-right:10px;
}

margin-t-15 {
    margin-top:15px;
}
margin-b-15 {
    margin-bottom:15px;
}
margin-l-15 {
    margin-left:15px;
}
margin-r-15 {
    margin-right:15px;
}

margin-t-20 {
    margin-top:20px;
}
margin-b-20 {
    margin-bottom:20px;
}
margin-l-20 {
    margin-left:20px;
}
margin-r-20 {
    margin-right:10px;
}

margin-t-25 {
    margin-top:25px;
}
margin-b-25 {
    margin-bottom:25px;
}
margin-l-25 {
    margin-left:25px;
}
margin-r-25 {
    margin-right:25px;
}

margin-t-30 {
    margin-top:30px;
}
margin-b-30 {
    margin-bottom:30px;
}
margin-l-30 {
    margin-left:30px;
}
margin-r-30 {
    margin-right:30px;
}

margin-t-35 {
    margin-top:35px;
}
margin-b-35 {
    margin-bottom:35px;
}
margin-l-35 {
    margin-left:35px;
}
margin-r-35 {
    margin-right:35px;
}

margin-t-40 {
    margin-top:40px;
}
margin-b-40 {
    margin-bottom:40px;
}
margin-l-40 {
    margin-left:40px;
}
margin-r-40 {
    margin-right:40px;
}

margin-t-45 {
    margin-top:45px;
}
margin-b-45 {
    margin-bottom:45px;
}
margin-l-45 {
    margin-left:45px;
}
margin-r-45 {
    margin-right:45px;
}
