.b-brand-blue{
    border-width: 1px;
    border-style: solid !important;
    border-color: $brand-blue !important;
}
.bb-brand-blue{
    border-width: 1px;
    border-bottom-style: solid !important;
    border-bottom-color: $brand-blue !important;
}
.bt-brand-blue{
    border-width: 1px;
    border-top-style: solid !important;
    border-top-color: $brand-blue !important;
}
.bl-brand-blue{
    border-width: 1px;
    border-left-style: solid !important;
    border-left-color: $brand-blue !important;
}
.br-brand-blue{
    border-width: 1px;
    border-right-style: solid !important;
    border-right-color: $brand-blue !important;
}

.b-brand-grey{
    border-width: 1px;
    border-style: solid !important;
    border-color: $brand-grey !important;
}
.bb-brand-grey{
    border-width: 1px;
    border-bottom-style: solid !important;
    border-bottom-color: $brand-grey !important;
}
.bt-brand-grey{
    border-width: 1px;
    border-top-style: solid !important;
    border-top-color: $brand-grey !important;
}
.bl-brand-grey{
    border-width: 1px;
    border-left-style: solid !important;
    border-left-color: $brand-grey !important;
}
.br-brand-grey{
    border-width: 1px;
    border-right-style: solid !important;
    border-right-color: $brand-grey !important;
}

.b-dotted-brand-blue{
    border-width: 1px;
    border-style: dotted !important;
    border-color: $brand-blue !important;
}
.bb-dotted-brand-blue{
    border-width: 1px;
    border-bottom-style: dotted !important;
    border-bottom-color: $brand-blue !important;
}
.bt-dotted-brand-blue{
    border-width: 1px;
    border-top-style: dotted !important;
    border-top-color: $brand-blue !important;
}
.bl-dotted-brand-blue{
    border-width: 1px;
    border-left-style: dotted !important;
    border-left-color: $brand-blue !important;
}
.br-dotted-brand-blue{
    border-width: 1px;
    border-right-style: dotted !important;
    border-right-color: $brand-blue !important;
}

.b-dotted-brand-grey{
    border-width: 1px;
    border-style: dotted !important;
    border-color: $brand-grey !important;
}
.bb-dotted-brand-grey{
    border-width: 1px;
    border-bottom-style: dotted !important;
    border-bottom-color: $brand-grey !important;
}
.bt-dotted-brand-grey{
    border-width: 1px;
    border-top-style: dotted !important;
    border-top-color: $brand-grey !important;
}
.bl-dotted-brand-grey{
    border-width: 1px;
    border-left-style: dotted !important;
    border-left-color: $brand-grey !important;
}
.br-dotted-brand-grey{
    border-width: 1px;
    border-right-style: dotted !important;
    border-right-color: $brand-grey !important;
}

.b-2x{
    border-width: 4px !important;
}
.bb-2x{
    border-bottom-width: 4px !important;
}
.bt-2x{
    border-top-width: 4px !important;
}
.bl-2x{
    border-left-width: 4px !important;
}
.br-2x{
    border-right-width: 4px !important;
}

.help-block{
    font-size:0.85em;
    color: #a7a7a7;
    border-width: 1px;
    font-style: italic;;

}


.notice {
    //&-pool-name {
    //    font-weight: bold;
    //    color: $brand-blue;
    //}

    &-user-name {
        color:$brand-blue;
    }

    &-action {
        color:$brand-green;
        font-weight: bolder;
    }
    &-entity-text {
        //font-weight: bolder;
        //$color:$brand-green;
    }
    &-additional-text {
        //color:$brand-lightgrey;
    }

}

.notices-dropdown{
    .notice-menu{
        padding: 10px;
    }
    //position: absolute;
    //z-index: 9999;
    background: $brand-darkblue;
    .notices-footer{
        background: $brand-darkgrey;
        color:$brand-lightgrey;
        font-size: 0.7em;
        padding:3px;
    }
}

/* width */
::-webkit-scrollbar {
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    background: $brand-lightgrey;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $brand-blue;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: $brand-darkblue;
}

.striped {
    color: white !important;
    background: repeating-linear-gradient(
            45deg,
            $brand-darkgrey,
            $brand-darkgrey 3px,
            #000 3px,
            #000 6px
    ) !important;
}

.strike{
    text-decoration: line-through;
}

.icon-accordion{
    .card-header {
        .toggle-icon{
            position: absolute;
            top: 15px;
            left: 10px;
        }
        h3 {
            margin-left: 10px;
        }
    }

}

.popover
{
    border:1px solid $brand-blue;
    .arrow{
        &:after{
            border-right-color: $brand-blue;
        }
    }
    .popover-header{
        background-color: $brand-blue;
        color: white;
        border:0;
    }
    .popover-body{
        background-color: $brand-black;
        padding:0;
    }
}
.font-light
{
    font-weight: 200 !important;
}
.font-bolder{
    //text-shadow: 1px 1px 0 $brand-blue;
    font-weight: bold !important;
}

.text-striked-through{
    text-decoration: line-through;
}

@media screen and (max-width: 767px) {
    .text-mobile-left{
        text-align: left !important;
    }


}

.handicap-text {
    font-size: 0.80em;
    color: #c7c7c7;
}

.condensed-output{
    p {
        margin:0;
        padding: 0;
    }
}
