/* The sidebar menu */
.openbtn {
    display:none;
}
.closebtn{
    display:none;
}

.float-right {
    float:right;;
}

.nav-item-list{
    display: inline-block;
}

.main-nav {

}

.nav-tabs {
    border-bottom: 1px solid $brand-darkgrey !important;
    .nav-link {
        border-color: $brand-darkblue !important;
        &.disabled {
            color: $brand-grey !important;
        }
    }

    .nav-link.active,
    .nav-item.show .nav-link {
        color: white !important;
        background-color: $brand-blue !important;
        border-color: $brand-darkblue !important;
    }

}



.secondary-nav {
    //border-top: 1px solid gray;
    border-top: 1px solid #121111;

    ul {
        display: inline-block;
        li {
            display: inline-block;
            //padding-right:10px;
            a {
                border-right: 1px solid #121111;

            }
            &:last-child{
                a {
                    border-right: none;
                }
             }
            &:first-child::before{
                //content: none;
            }


            &::before {
                //height: 20% !important;
                //top: 55% !important;
                //content: "| ";
                //color: #E6E7E8;
                //position: absolute;

                ////font-size: 1.24em;
                //content: "|";
                //padding-left: 10px;    //position: absolute;
                ////top: 33.3333%;
                //color : $brand-lightgrey;
                //border-left: 1px solid #fff;
                //height: 33.3333%;
            }
        }
    }
}

.pool-nav{
    display:block;
    position: relative;
    clear: both;
    padding-top:5px;
    //height:60px;
    margin-bottom: 5px;
    padding-bottom: 5px;
    ul {
        margin-bottom: 0;
        //font-weight: bold;
        li {

        }
    }
}

.collapsable-nav{
    ul {
        list-style-type: none;
        padding:0;
        li {
            display: inline-flex;
            padding-right: 15px;
            &::after {
                //font-size: 1.24em;
                content: "|";
                padding-left: 15px;    //position: absolute;
                //top: 33.3333%;
                color : $brand-lightgrey;
                //border-left: 1px solid #fff;
                //height: 33.3333%;
            }
            a {
                text-transform: uppercase;
                color: white;
                box-sizing: unset;
                font-weight: 600;
                text-shadow: 1px 1px 1px #595959;
                padding-top: 2px;
                &:hover{
                    text-decoration: none;
                }
            }
        }
    }
    &-left {
        .dd-menu-toggler{
            &::before{
                content: "▼";
            }
            //top:10px;
            //left:0;
        }
        ul  {
            li {
              &:first-child {
                  padding-left: 0 !important;
              }
                &.no-separator::after{
                    content: none;
                }
                &:last-child::after{
                    content: none;
                    padding-left: 0 !important;
                }
            }
        }
    }
    &-right {
        position: absolute;
        right: 0;

        .dd-menu-toggler{
            &::before{
                content: "▼";
            }
            right:0;
        }

        ul  {
            li {
                &:first-child {
                    padding-left: 0 !important;
                }
                &.no-separator::after{
                    content: none;
                }
                &:last-child::after{
                    content: none;
                    padding-left: 0 !important;
                }
            }
        }
    }
    &-primary {
        position: relative;
        right:0;
        .dd-menu-toggler{
            &::before{
                content: "▼";
            }
            right:0;
        }

        ul  {
            float: right;
            li {
                border-left: 1px solid #121111;
                padding-left:25px;
                padding-right:25px;
                &:first-child {
                    padding-left: 0 !important;
                }
                &:last-child::after{
                    content: none;
                    padding-left: 0 !important;
                }
                &:after{
                    content: none;
                }
            }
        }
    }


}

.collapsable-nav-primary {
    ul  {
        li {
            a {
                padding-top:10px;
                padding-bottom: 10px;
            }
        }
    }
}
.collapsable-nav-dropdown {
    //width:100%;
    //&-left {
        .has-dropdown{
            //display:block;
        }
    //}
    .has-dropdown {
        position: relative;
        //width:100%;
        //display:flex;
    }
    .dd-menu-toggler{
        //width:100%;
        display:flex;
        //position: absolute;
    }
    .dd-menu{
        //width:100%;
        display: none;

        &-open {
            clear:both;
            position: absolute;
            z-index: 999;
            top:25px;
            min-width:200px;
            display: block;
            height: auto;
            left: 0;
            background: $brand-darkgrey;
        }
        ul {
            margin-top: 0 !important;
            li {
                display: block;
                padding:0;
                margin:0;
                a {
                    width:100%;
                    padding:10px 15px 10px 15px;
                    display: list-item;
                }

                &::after {
                    display: none;
                    //content : none;
                }
            }
        }


    }

}


//@media screen and (max-width:991px){
//
//}
@media screen and (max-width: 991px) {
    #noticeMenu {
        position: relative;
        a {
            padding:3px;
            line-height: 16px;
        }
    }
    .toggle-nav {
        position: relative;

        &-left {

            left:0;
        }
        &-right {
            right:0;
        }
        &-primary {
            right:0;
        }

    }
    .openbtn {
        display:inline-block;
        //font-size: 20px;
        cursor: pointer;
        //padding: 10px 15px;
        border:none;
        background:none;
        text-transform: uppercase;
    }


    .collapsable-nav {
        height: 100%; /* 100% Full-height */
        width: 0; /* 0 width - change this with JavaScript */
        position: fixed; /* Stay in place */
        z-index: 700; /* Stay on top */
        top: 0;
        background-color: $brand-darkgrey; /* Black*/
        overflow-x: hidden; /* Disable horizontal scroll */
        //padding-top: 60px; /* Place content 60px from the top */
        transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
        //padding-top: 15px;
        &-open {
            width: 250px !important;
        }
        .dd-menu-toggler{
            position: absolute;
        }

        &-primary {
            right: 0;
            .closebtn {
                display: block !important;
                position: absolute;
                top: 0;
                left: 25px;
                font-size: 36px;
                margin-right: 50px;
                color: #fff;
                //border:1px solid white;
            }
            ul {
                li {

                    a {
                        padding: 10px 15px 10px 0px;
                        text-align: right;
                    }
                }
            }
            .dd-menu {
                &::before {
                    content: attr(data-label);
                    text-align:right;
                    color: #fff;
                    display: block;
                    margin-bottom: 10px;
                    margin-right: 10px;
                    color: gray;
                }
            }
        }

        &-left {
            left: 0;
            .closebtn {
                display: block !important;
                position: absolute;
                top: 0;
                right: 25px;
                font-size: 36px;
                margin-left: 50px;
                color: #fff;
                //border:1px solid white;
            }
            ul {
                li {
                    a {
                        padding: 5px 5px 5px 25px;
                        text-align: left;
                    }
                }
            }
            .dd-menu{

                &::before {
                    content: attr(data-label);
                    text-align:left;
                    color: #fff;
                    display: block;
                    margin-bottom: 10px;
                    margin-left: 10px;
                    color: gray;
                }
                ul {
                    margin-left:30px;
                }
            }
        }

        &-right {
            right: 0;
            .closebtn {
                display: block !important;
                position: absolute;
                top: 0;
                left: 25px;
                font-size: 36px;
                margin-right: 50px;
                color: #fff;
                //border:1px solid white;
            }
            ul {
                li {
                    a {
                        padding: 10px 15px 10px 0px;
                        text-align: right;
                    }
                }
            }
            .dd-menu {
                &::before {
                    content: attr(data-label);
                    text-align:right;
                    color: #fff;
                    display: block;
                    margin-bottom: 10px;
                    margin-right: 10px;
                    color: gray;
                }
            }
        }

        ul {
            margin-top:50px;
            list-style-type: none;
            li {
                width:100%;
                &:after {
                    content : none;
                }
                a {

                    text-decoration: none;
                    font-size: 15px;
                    color: #fff;
                    display: block;
                    transition: 0.3s;
                    width:100%;

                    :hover {
                        color: #f1f1f1;
                    }


                }
            }

        }

    }

    .collapsable-nav-dropdown {
        //width:100%;
        .has-dropdown {
            width:100%;
            display:flex;
            margin-top:10px;

        }
        .dd-menu-toggler{
            //width:100%;
            display:none;
            //position: absolute;
        }
        .dd-menu{
            width:100%;
            display: block;
            //&::before {
            //    content: attr(data-label);
            //    /* float: left; */
            //    color: #fff;
            //    display: block;
            //    margin-bottom: 10px;
            //    margin-left: 10px;
            //    color: gray;
            //}
            &-open {
                clear:both;
                position: absolute;
                z-index: 800;
                top:25px;
                display: block;
                height: auto;
                left: 0;
            }
            ul {
                li {
                    display: block;
                    padding:0;
                    margin:0;
                    a {
                        width:100%;
                        padding:5px 10px 5px 10px;
                        display: list-item;
                    }
                    &::after {
                        display: none;
                        //content : none;
                    }
                }
            }


        }

    }
}
