.notifications{
    .vue-notification {
        &.info {
            border-left: 5px solid $brand-blue;
            background:$brand-darkblue !important;
        }
        &.danger {
            border-left: 5px solid $brand-red;
            background:$brand-darkblue;
        }
        &.success {
            border-left: 5px solid $brand-green;
            background:$brand-darkblue;
        }
    }

}
#siteNotificationApp {
    width: 100%;
}
.notices-dropdown {


    a {
        text-decoration: none;
        color: white;
        padding: 4px;
        display: block;
        text-transform: capitalize;
        line-height: 12px;
        font-size: 0.8em;
        .pool-name{
            color:$brand-blue;
            font-weight: bold;
        }

        .date-box {
            font-size: 0.7em;
            color: slategray;
        }

    }
}
