.page-link {
    color: $brand-lightgrey !important;
    background-color: #333 !important;
    //border: $brand-blue solid $brand-blue;
    border-color: $brand-grey !important;
    &:hover {
        color: white !important;
        background-color: $brand-blue !important;
        border-color: $brand-grey !important;
    }

    &:focus {
        outline: $brand-blue !important;
    }

    &-success{
        background-color: $brand-green !important;
    }

    &-warning{
        background-color: $brand-orange !important;
    }
}

.page-item {

    &.active .page-link {
        color: white !important;
        background-color: $brand-blue !important;
        border-color: $brand-blue !important;
    }

    &.disabled .page-link {
        background-color: $brand-grey !important;
        border-color: white !important;
    }
}



.pag {
    display: contents;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    list-style: none;

	@media screen and (max-width: 600px) {
		flex-wrap: wrap;
        padding-left: 0;
	}
    &-title {
    	flex: 1 1 50%;
        font-size: (14 / $default-size) + rem;
        color: $brand-blue;
        text-transform: uppercase;
        margin-bottom: 0;
        padding-right: 5px;
        text-align: right;
        @media screen and (max-width: 575px) {
        	flex-basis: 100%;
        	text-align: center;
        }
    }

    &-list {
    	flex: 1 1 50%;
        display: flex;
        list-style-type: none;
        margin-bottom: 0;
        padding-left: 5px;
        @media screen and (max-width: 575px) {
        	flex-basis: 100%;
        	justify-content: center;
        	padding-top: 10px;
        }
    }

    &-item {
        flex: 0 0 30px;
        height: 30px;
        margin-right: 5px;
        background-color: $grid-border-default-color;
        color: #231F20;
        font-weight: bold;
        font-size: (14 / $default-size) + rem;

        &.all {
            flex-basis: 48px;
            width: 48px;
            margin-left: 10px;
        }

        &.active {
        	background-color: $brand-blue;
        }

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 30px;
            width: 100%;
            height: 100%;
            &:hover {
            	text-decoration: none;
            }
        }
    }

    a {
        color: inherit;
    }
}
