.vue-modal-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.91);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.vue-modal {
    //background: #000;
    //box-shadow: 1px 1px 5px 1px;
    //overflow-x: auto;
    display: flex;
    flex-direction: column;
    width:650px;
    background: $brand-grey;
}

.vue-modal-header,
.vue-modal-footer {
    //padding: 15px;
    display: flex;
}

.vue-modal-header {
    border-bottom: 1px solid #eeeeee;
    color: $brand-blue;
    justify-content: space-between;
}

.vue-modal-footer {
    //border-top: 1px solid #eeeeee;
    justify-content: flex-end;
}

.vue-modal-body {
    position: relative;
    //padding: 20px 10px;
}
