.schwindy--team-title {
    width: 100%;
    height: 100%;
    background: url(/images/horizontal_background.svg?b051bba…) center center/100% 100% no-repeat;
}
.schwindy {
    cursor: pointer;
    &--name {
        &-mobile {
            display: none;
            @media screen and (max-width: 767px) {
                display: inline-block;
            }
        }
        &-desktop {
            @media screen and (max-width: 767px) {
                display: none;
            }
        }
    }
}
.schwindy-live {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    td {
        text-align: center;
        height: 1em;
        border: 0 !important;
        padding: 0 !important;
    }
    td:first-child {
        text-align: left;
    }
    td:last-child {
        text-align: left;
    }
    &--quarter-cell {
        width: 150px;
    }
    &--team-name {
        padding-left: 10px;
        width: 100%;
    }
    &--winner {
        background-color: $brand-blue;
    }
    &--pick-count {
        display: inline-block;
        color: $brand-blue;
    }
    &--percent-bar {
        display: inline-block;
        background-color: $brand-blue;
        height: 15px;
    }
}
.schwindy-standings {
    .by-team {
        .header-team-name {
            white-space: nowrap;
            top: 0;
            left: 0;
            transform: translate(-0%, -0%) rotate(-90deg);
            padding: 1px !important;
            min-width: 38.5px;
            max-width: 38.5px;
            width: 38.5px;
            height: 38.5px;
            min-height: 38.5px;
            max-height: 38.5px;
        }
        td {
            height: 1em !important;
            padding-right: 6px !important;
        }
    }
}

.game-score-wrapper {
    .game-score-row:nth-child(even) {
        background: #121212;
    }
}

.bg-brand-blue {
    background: #3dace2 !important;
}

.save-btn-wraper {
    display: flex;
    justify-content: flex-end;
    height: 35px;
    // padding-right: 0;
    .col-md-3 {
        // padding-right: 0;
    }
}

.dotted-wrapper {
    border: dotted 2px;
    margin-top: -2px;
}

.pick-team-name {
    margin-right: 20px;
}

.pick-team-score {
    margin-left: 5px;
    color: $brand-orange !important;
}

.schedule-grid-td-30 {
    padding: 1px;
    height: 30px;
}

.schedule-grid-td {
    padding: 0;
    margin: 0px;
    height: 30px;
    padding-left: 3px !important;
    padding-right: 3px !important;
}

#schwindyPicksGridApp .table tbody tr td {
    padding-left: 3px !important;
    padding-right: 3px !important;
}

// #schwindyPicksGridApp .text-brand-orange {
//     color: #faaf00;
// }
.standingsTableWeekWrapper {
    overflow-x: auto;
    overflow-y: hidden;
}

.schedule-grid-wrapper {
    overflow-x: auto;
    overflow-y: hidden;
}

.schedule-grid-item {
    width: 100%;
    height: 100%;
    border: solid 1px #4e4e4e !important;
    // box-shadow: 0 1px 1px 0 #2b2b2b, 0 1px 2px 0 #060606;
    background: #242424;
    cursor: pointer;
}

.schedule-grid-item-pickable {
    color: white !important;
}

.schedule-grid-item-pickable:hover {
    background: #3dace2;
}

.cursor-no-drop {
    cursor: no-drop;
}

.mt-14 {
    margin-top: 14px;
}

.mb-14 {
    margin-bottom: 14px;
}

.width-30 {
    width: 25px !important;
}

.schedule-grid-picked-row {
    background: gray;
    // cursor: no-drop;
}

.schedule-grid-picked-row td {
    background: gray;
    // cursor: no-drop !important;
}

.schedule-grid-td .square-disabled {
    color: #999 !important;
}

.bg-brand-blue .square-disabled {
    color: white !important;
}

.schedule-grid-picked-row .square-disabled,
.schedule-grid-picked-row .schedule-brand-orange {
    color: #dadada !important;
    cursor: no-drop !important;
}

// .schedule-grid-picked-row .bg-brand-darkgray {
//     cursor: no-drop !important;
// }

.schedule-grid-picked-row .bg-brand-blue .schedule-brand-orange {
    color: #dadada !important;
    cursor: pointer !important;
}

.schedule-grid-picked-row .bg-brand-blue {
    cursor: pointer !important;
}

.schedule-grid-picked-row .bg-brand-blue:hover {
    background: #3dace2;
}

.schedule-grid-picked-row .schedule-grid-item:hover {
    background: #242424;
}

.position-absolute {
    position: absolute;
    background: url(/images/psp_tiles_3.jpg);
    width: 50px;
}

.square-disabled {
    background: transparent;
    border: none !important;
}
.square-disabled:hover {
    background: transparent;
}

.unpick-brand-orange .text-white {
    color: #faaf00 !important;
}

.grid-cell-full-size {
    width: 100%;
    height: 100%;
}

#teamUsedTable th,
#teamUsedTable td {
    padding: 0.35rem;
    vertical-align: middle;
}
.schwindy-live-gamescore-table .percent-td {
    padding: 0 !important;
}
.percent-wrap {
    width: 100px;
    height: 100%;
    background: #252525;
}
.percent-wrap .percent-inner {
    padding-top: 3px;
    padding-bottom: 3px;
}
#schwindy-week-rotator {
    max-width: 690px;
    margin: auto;
}
.standingsTableWeek td,
#teamUsedTable td {
    font-size: 14px;
}
.striped-gray {
    background: #555 !important;
}
.bg-brand-blue strong {
    color: white !important;
}
.scoreboard-check:before {
    -webkit-text-stroke: 1.5px black;
}
.padding-0 {
    padding: 0;
}
@media screen and (max-width: 990px) {
    #schwindy-pick-table tbody tr {
        margin-bottom: 0px;
        border-bottom: none;
    }
}
