.table {
    //table-layout: fixed;
    width: 100%;
    thead {
        width: 100%;
        tr {
            width: 100%;
            //#171717
        }
        td {
            padding-top: 3px !important;
            padding-left: 10px !important;
            padding-right: 10px !important;
            padding-bottom: 3px !important;

            border: 0 !important;
        }
        th {
            //border: 0 !important;
        }
    }
    tbody {
        tr {
            border-top: 1px solid #161616;
            &:nth-child(even) {
                //background: #171717;
                background: #121212;
            }

            &.highlight {
                border: 1px solid $brand-blue !important;
                //-webkit-box-shadow: inset 17px 0px 65px -14px rgba(68, 174, 227, 0.41);
                //-moz-box-shadow: inset 17px 0px 65px -14px rgba(68, 174, 227, 0.41);
                //box-shadow: inset 17px 0px 65px -14px rgba(68, 174, 227, 0.41);
            }

            td {
                padding-top: 3px !important;
                padding-left: 10px !important;
                padding-right: 10px !important;
                padding-bottom: 3px !important;
                border-left: none !important;
                border-right: none !important;
                //border:0 !important;
                //border-bottom: 1px #1f1f1f solid !important;
                .main-link-table {
                    font-size: 1.2em;
                    font-weight: bolder;
                }
                .btn {
                    line-height: 0.85em;
                    font-size: 0.75em;
                }
            }
        }
    }
}
.table-noalt {
    tbody {
        tr {
            &:nth-child(even) {
                //background: #171717;
                background: none !important;
            }
        }
    }
}
.table thead th {
    border-bottom-width: 1px;
    border-bottom-color: $brand-darkgrey;
    border-left: none !important;
    border-right: none !important;
}

.table th:not(:last-child),
.table td:not(:last-child) {
    //border-right: 1px solid #dee2e6;
}

.table td {
    border: 0;
    //border: 1px solid #161616;
    //height: (40 / $default-size) + rem;
}
.table th {
    //border: 1px solid #161616;
    //height: (40 / $default-size) + rem;
}

//border {
//    border: 1px solid #333333;
//}

.table svg {
    width: (18 / $default-size) + rem;
    height: 1rem;
}

//.table td,
//.table th {
//	font-size: 1em;
//	@media screen and (max-width: 767px) {
//		font-size: 0.8em;
//	}
//	@media screen and (max-width: 575px) {
//		font-size: 0.7em;
//	}
//}

.table-no-pad {
    th {
        padding: 1px 0 1px 3px !important;
        margin: 0 !important;
        height: 0 !important;
    }
    td {
        padding: 1px 0 1px 3px !important;
        margin: 0 !important;
        height: 0 !important;
    }
}

.data-table-sortable {
    thead {
        td,
        th {
            cursor: pointer;
            padding-top: 3px !important;
            padding-left: 10px !important;
            padding-right: 10px !important;
            padding-bottom: 3px !important;

            &.sorting_asc {
                color: white;
                background: $brand-blue;
            }
            &.sorting_desc {
                color: white;
                background: $brand-blue;
            }
            &.sorting_asc:after {
                content: " \25B2";
            }
            &.sorting_desc:after {
                content: " \25BC";
            }
        }
    }
}
thead td,
.data-table-sortable thead th {
}
.data-table-sortable th.sorting_asc {
}
.borderless {
    border: none;
    thead {
        tr {
            td {
                border: none;
            }
        }
    }
    tbody {
        tr {
            td {
                border: none;
            }
        }
    }
}

@media screen and (max-width: 990px) {
    table.table-mobile {
        thead {
            border: none;
            clip: rect(0 0 0 0);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px;
        }
        tr {
            display: block;
        }
        td {
            display: block;
            text-align: right !important;
            width: 100% !important;
            max-width: 100% !important;
        }
        td::before {
            content: attr(data-label);
            float: left;
            color: #ececec;
        }
        td:last-child {
            border-bottom: 2px solid #333333;
        }
        tbody {
            tr {
                display: block;
                margin-bottom: 15px;
                border-bottom: $brand-blue 2px solid;
            }
        }
    }

    table tr {
        //border-bottom: 3px solid #ddd;
    }

    table td {
        //border-bottom: 1px solid #ddd;
    }
}

.table-header-rotated th.row-header {
    width: auto;
}

.table-header-rotated td {
    width: 40px;
    border-top: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    vertical-align: middle;
    text-align: center;
}

.table-header-rotated th.rotate-90 {
    height: 80px;
    width: 40px;
    min-width: 40px;
    max-width: 40px;
    position: relative;
    vertical-align: bottom;
    padding: 0;
    font-size: 12px;
    line-height: 0.8;
}

.table-header-rotated th.rotate-90 > div {
    position: relative;
    top: 0px;
    left: 40px; /* 80 * tan(90) / 2 = 40 where 80 is the height on the cell and 90 is the transform angle*/
    height: 100%;
    -ms-transform: skew(-90deg, 0deg);
    -moz-transform: skew(-90deg, 0deg);
    -webkit-transform: skew(-90deg, 0deg);
    -o-transform: skew(-90deg, 0deg);
    transform: skew(-90deg, 0deg);
    overflow: hidden;
    //border-left: 1px solid #dddddd;
    border-right: 1px solid $brand-grey;
    //border-top: 1px solid #dddddd;
}

.table-header-rotated th.rotate-90 span {
    -ms-transform: skew(90deg, 0deg) rotate(315deg);
    -moz-transform: skew(90deg, 0deg) rotate(315deg);
    -webkit-transform: skew(90deg, 0deg) rotate(315deg);
    -o-transform: skew(90deg, 0deg) rotate(315deg);
    transform: skew(90deg, 0deg) rotate(315deg);
    position: absolute;
    bottom: 30px; /* 40 cos(90) = 28 with an additional 2px margin*/
    left: -25px; /*Because it looked good, but there is probably a mathematical link here as well*/
    display: inline-block;
    // width: 100%;
    width: 85px; /* 80 / cos(90) - 40 cos (90) = 85 where 80 is the height of the cell, 40 the width of the cell and 90 the transform angle*/
    text-align: left;
    // white-space: nowrap; /*whether to display in one line or not*/
}

.table-supercondensed {
    thead {
        tr {
            th,
            td {
                border: none;
                border: 0;
                font-size: 0.75em;
                color: #a1a1a1;
                padding: 0;
                padding-left: 5px;
                padding-right: 5px;
                line-height: 2em;
            }
        }
    }
    tbody {
        td {
            font-size: 0.85em;
            padding: 0;
            line-height: 1.2em;
        }
    }
}

.standingsTableWeek {
    thead {
        tr {
            th { 
                min-width: 80px;
            }
        }
    }
    tbody {
        tr {
            th {
                padding-top: 5px;
                padding-bottom: 5px;
            }
        }
    }
}

.schwindy-live-gamescore-table {
    margin-bottom: 0;
    tbody {
        tr:nth-child(even) {
            background: transparent;
        }
        td {
            // vertical-align: middle;
        }
    }
}
