.tabs {
	color: $brand-blue;
	//font-family: $brand-font;
	font-size: (13 / $default-size) + rem;
	font-weight: 400;
	text-transform: uppercase;

	line-height: 1.5;
	&-item {

		color: inherit;
		position: relative;
		text-decoration: none;
		margin: {
			right: (13 / $default-size) * 1.5rem;
		};
		padding: {
			top: 0.2rem;
			bottom: 0.2rem;
		}
        &:first-child:before{
            display:none !important;
        }
        &:before {
            content: "";
            position: absolute;
            top: 15.3333%;
            margin-left: -10px;
            width: 1px;
            background-color: #fff;
            height: 47.3333%;

        }
        &:last-child {
			margin-right: 0;
		}
		&:hover {
			text-decoration: none;
		}
		&.active {
			color: #fff;
			&::after {
				content: '';
				position: absolute;
				top: 100%;
				left: 0;
				width: 100%;
				height: 2px;
				background-color: #fff;
			}
		}
	}
}
