// Переменные

// Цвета
$brand-blue: #3dace2;
$brand-white:#fff;
$brand-darkblue: #005777;
$brand-charcoal: #0e0e0e;
$brand-grey: #19191a;
$brand-darkgrey: #242424;
$brand-medgrey: #d0d2d5;
$brand-lightgrey:  #E6E7E8;
//$brand-orange: #D4A222;
$brand-orange: #faaf00;
$brand-yellow: yellow;
$brand-red: #EF3D23;
$brand-green: #50e2ac;
$brand-black: #000;
$brand-gradient-color-1: #000;
$brand-gradient-color-2: $brand-blue;
$brand-gradient-color-3: rgba(254, 254, 254, 0);
$brand-gradient-color-4: $brand-darkgrey;
$active-nav-color: rgba(#000, 0.3);
$grid-border-default-color: #D1D3D4;

$brand-primary: #3097D1;
$brand-info: #58717f;
$brand-success: #1c714e;
$brand-warning: #b29f51;
$brand-danger: #7e3a1e;
$brand-transparent: none;
// шрифты
$input-background-color:#eee;
$default-size: 16;

@font-face {
    font-family: 'Quicksand', sans-serif;
}
@font-face {
    font-family: 'Titillium Web', sans-serif;
}
@font-face{
    font-family: 'Nanum Gothic', sans-serif;
}
$brand-font: 'Titillium Web';
$second-font: 'Nanum Gothic';
$mobile-font: 'Nanum Gothic';

// Классы для цвета фона и текста
$brand-colors:	(
    "brand-white":  $brand-white,
    "brand-blue":         $brand-blue,
    "brand-charcoal":         $brand-charcoal,
    "brand-black":         $brand-black,
    "brand-darkblue":     $brand-darkblue,
    "brand-darkgrey":     $brand-darkgrey,
    "brand-grey":         $brand-grey,
    "brand-medgrey":  	  $brand-medgrey,
    "brand-lightgrey":    $brand-lightgrey,
    "brand-orange":		  $brand-orange,
    "brand-yellow":		  $brand-yellow,
    "brand-red": 		  $brand-red,
    "brand-green": 		  $brand-green,
    "brand-transparent":     $brand-transparent
);

// Скорость анимации вращающихся стрелок
$arrow-rotation-duration: 1.7s;
