<template>
    <table class="table table-striped">
        <thead>
        <tr class="text-uppercase text-brand-blue">
            <th class="text-right">Enable</th>
            <th class=" text-right">Round</th>
            <th class="text-center" style="width:150px;">Games</th>
            <th class="text-center" style="width:150px;">Prize Per Win</th>
            <th class="text-center" style="width:150px;">Round Total</th>
        </tr>
        </thead>
        <tbody>
        <tr></tr>
        </tbody>
    </table>
</template>

<script>
    export default {
        mounted() {
        }
    }
</script>
