include ./mixins/use
include ./variables
header.header.brand-gradient.text-white
	.header-logo
		a(href="#")
			+use('logo', 'logo-svg')
	nav.header-nav.brand-gradient
		.container
			.navbar.navbar-dark.navbar-expand-md.p-md-0.pl-0.pr-0
				button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarToggler", aria-controls="navbarToggler", aria-expanded="false", aria-label="Toggle navigation")
					span.navbar-toggler-icon
				.collapse.navbar-collapse.justify-content-between#navbarToggler
					ul.navbar-nav.mt-3.mt-md-0
						li.nav-item.dropdown
							a.nav-link.pl-2.pr-2.fe-dropdown-toggle(href="grid-1html", class= (currentPage === 'grid') ? 'active' : undefined, id="dmMenu1", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") GRID
							.dropdown-menu.bg-brand-darkblue(aria-labelledby="dmMenu1")
								a.dropdown-item(href="#") Lorem ipsum.
								a.dropdown-item(href="#") Harum, quod.
								a.dropdown-item(href="#") Illo, voluptatibus!
								a.dropdown-item(href="#") Sint, praesentium!
						li.nav-item
							a.nav-link.pl-2.pr-2(href="grid-5.html", class= (currentPage === 'results') ? 'active' : undefined) RESULTS
						li.nav-item
							a.nav-link.pl-2.pr-2(href="#", class= (currentPage === 'rules') ? 'active' : undefined) RULES
						li.nav-item
							a.nav-link.pl-2.pr-2(href="grid-3.html", class= (currentPage === 'live') ? 'active' : undefined) LIVE
					ul.navbar-nav.justify-content-end
						li.nav-item.dropdown
							a.nav-link.pl-2.pr-2.fe-dropdown-toggle(href="#", class= (currentPage === 'comissioner') ? 'active' : undefined, id="dmMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") COMMISSIONER TOOLS
							.dropdown-menu.bg-brand-darkblue(aria-labelledby="dmMenu2")
								a.dropdown-item(href="#") Home
								a.dropdown-item(href="#") Create pool
								a.dropdown-item(href="#") Join pool
								a.dropdown-item(href="#") My pools
								a.dropdown-item(href="#") My account
								a.dropdown-item(href="#") Logout
						li.nav-item.dropdown
							a.nav-link.pl-2.pr-2.fe-dropdown-toggle(href="#", class= (currentPage === 'menu') ? 'active' : undefined, id="dmMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") MENU
							.dropdown-menu.bg-brand-darkblue(aria-labelledby="dmMenu3")
								a.dropdown-item(href="#") Home
								a.dropdown-item(href="#", class= (currentsubPage === 'create pool') ? 'active' : undefined) Create pool
								a.dropdown-item(href="#") Join pool
								a.dropdown-item(href="#") My pools
								a.dropdown-item(href="#") My account
								a.dropdown-item(href="#") Logout
