<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width initial-scale=1.0")
		title
			block title
		link(rel="stylesheet", href="css/bootstrap.css")
		link(rel="stylesheet", href="css/main.css?v1.1")
		block styles
	body
		block variables
		.wrapper
			include ./header
			.content(role="main")
				include ./mixins/breadcrumb
				block content
			include ./footer

		a(href="index.html", style="position: fixed; top: 2rem; left: 2rem") Главная
		//
			!!!*** libs.min.js Включает в себя jquey и скрипты Bootstrap. Jquery - зависимость для бутстрапа.
		script(src="js/libs.min.js")
		script(src="js/main.js")
		// SVG изображения. Включены в хтмл для возможности их использования на страницы.
		include ../../svg/images.svg