<template>
    <div>
        <div class="p-3" style="    border-top: 1px inset #727272 !important;">

                <div class="form-group  row">
                    <div class="col-md-12">
                        <label for="" class="col col-md-12" v-html="__c('golf.edit.content.pool_rules_label', 'Commissioner Rules')"></label>
                        <div class="col-12">
                            <vue-editor v-model="description"
                                        :editorToolbar="customToolbar"
                                        @text-change="updatePoolData"
                                        class=""></vue-editor>
                            <div class="help-block" v-html="__c('golf.edit.content.pool_rules_explanation', 'Rules')"></div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</template>

<script>
import { VueEditor } from "vue2-editor";


export default {
    name : "RulesContainer",
    components: {
        VueEditor,
    },
    data: function () {
        return {
            customToolbar : [
                [{ 'header': [false, 1, 2, 3, 4, 5, 6, ] }],
                [{ 'size': ['small', false, 'large', 'huge'] }],
                ['bold', 'italic', 'underline', 'strike'],
                [{'align': ''}, {'align': 'center'}, {'align': 'right'}, {'align': 'justify'}],
                [{ 'header': 1 }, { 'header': 2 }],
                ['blockquote', 'code-block'],
                [{ 'list': 'ordered'}, { 'list': 'bullet' }],
                [{ 'script': 'sub'}, { 'script': 'super' }],
                [{ 'color': [] }, { 'background': [] }],
                ['link'],
            ],
            description : this.pool.description,
            editSectionOpen : false,
        }
    },
    props: ["pool", "processing"],
    mounted() {

    },
    computed : {
        inSavingProcess : function(){
            return this.processing;
        },
        headerOpenIconClass : function(){
            return (this.editSectionOpen) ? "fa fa-chevron-down" : "fa fa-chevron-right";
        },
        hasChanges : function(){
            return (this.pool.description !== this.description)
        }
    },
    methods : {
        editPoolRulesInProgress : function(){
            return this.editSectionOpen;
        },
        updatePoolData : function(delta, oldDelta, source){
            this.$emit('update-pool-description', this.description);
        },
        closePoolEdit : function(){
            this.editPoolRules = false;
        },
        toggleOpen : function(){
            this.editSectionOpen = !this.editSectionOpen;
        }
    }
};
</script>
