<template>
    <div>
        <div class="p-3">
            <div class="form-group row">
                <label for="form-label" class="col col-md-4 text-right text-mobile-left required" v-html="__c('golf.edit.content.pool_type_label', 'Pool Type')"></label>
                <div class="col-md-8">
                    <span class="text-brand-orange"><strong>{{pool.type == 'prize' ? 'Prize Money' : pool.type.toUpperCase()}}</strong></span> <a class="" :href="'/golf/'+pool.id+'/pool-type'" ><small>Change</small></a> 
                </div>

            </div>
            <div class="form-group  row">
                <label for="form-label" class="col col-md-4 text-right text-mobile-left required" v-html="__c('golf.edit.content.pool_name_label', 'Pool Name')"></label>
                <div class="col-md-8">
                    <input type="text" class="form-control" required name="pool_name" v-model="poolName">
                    <span class="error-title"></span>
                </div>
            </div>
            <div class="form-group  row">
                <label for="" class="col col-md-4 text-right text-mobile-left required " v-html="__c('golf.edit.content.pool_password_label', 'Pool Password')"></label>
                <div class="col-md-4">
                    <input type="text" class="form-control" required name="pool_password" v-model="poolPassword">
                    <span class="error-title"></span>
                </div>
                <div class="col-md-4">
                    <div class="help-block" v-html="__c('golf.edit.content.pool_password_explanation', 'Password to join pool')"></div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

export default {
    name : "PoolSettingsContainer",
    components: {

    },
    data: function () {
        return {
            saving : false,
            name : null,
            password : null,
            editSectionOpen : true,
        }
    },
    props: ["pool", "processing"],
    mounted() {
        if(this.pool){
            this.password = this.pool.password;
            this.name = this.pool.name;
        }

    },
    computed : {
        poolName : {
            // getter
            get: function () {
                return this.name;
            },
            // setter
            set: function (name) {
               this.$emit('update-name', name);
            }
        },
        poolPassword : {
            // getter
            get: function () {
                return this.password;
            },
            // setter
            set: function (password) {

                this.$emit('update-password', password);
            }
        },
        inSavingProcess : function(){
            return this.processing;
        },
        headerOpenIconClass : function(){
            return (this.editSectionOpen) ? "fa fa-chevron-down" : "fa fa-chevron-right";
        },
        hasChanges : function(){
            this.saving = false;
            return (this.pool.name !== this.name || this.pool.password !== this.password);
        }
    },
    methods : {
        editSectionOpenInProgress : function(){
            return this.editSectionOpen;
        },
        updatePoolData : function(){
            this.saving = true;
            let data = {
                name : this.name,
                password : this.password
            }
            this.$emit('update-pool', data);
            // this.dataChanged = false;
        },
        closePoolEdit : function(){
            this.editSectionOpen = false;
        },
        toggleOpen : function(){
            this.editSectionOpen = !this.editSectionOpen;
        }
    }
};
</script>
