mixin breadcrumb(pg1)
	.row.grid-breadcrumb.text-uppercase
		.col-sm-10.col-lg-11
			nav(aria-label="breadcrumb")
				ol.breadcrumb.bg-transparent.pl-0.pr-0
					li.breadcrumb-item
						a(href="#")= pg1
					li.breadcrumb-item.active
						a(href="#") MONDAY NIGHT FOOTBALL 10.15.18 
		.col-sm-2.col-lg-1
			.info-btn
				a(href="#")
					img(src="img/grid/info.png", alt="info")