include ./use

mixin button(text, mod, imgId, type)
	button.btn(class= mod || undefined, type= type || undefined)= text
		if (imgId)
			.btn-img
				+use(imgId)

mixin inputNumber(val)
	.custom-input-number
		input#squares.form-control(type="number", name="squares", value=val)
		button.input-number-button.plus(data-action="+")
		button.input-number-button.minus(data-action="-")