mixin defaultCell(name, initials, mod)
	.cell(class= mod ? 'cell-' + mod : undefined)
		span.cell--name.cell--name-desktop= name
		span.cell--name.cell--name-mobile= initials


mixin cellValues(a, b, c, d, mod)
	.cell.cell-val(class= mod ? 'cell-' + mod : undefined)
		span.cell--value= a
		span.cell--value= b
		span.cell--value= c
		span.cell--value= d