<template>


<div class="card" v-if="question">
	<div class="card-header d-flex justify-content-between">
		<h3 class="card-title" @click="showDetails = !showDetails" style="cursor: pointer; font-size: 18px;">
			<span v-if="!showDetails"> + </span>
			<span v-else> - </span>
			{{question.question}} <span  v-if="isMultiple" class="badge badge-info bg-info">Multiple</span> <span v-if="isRequired" class="badge badge-danger bg-danger">Required</span>
		</h3>
		<div class="">
			<div class="btn-group btn-group-sm" role="group">
				<template v-if="!editing">
					<button class="btn btn-outline-success" @click="createAnswer">+ Add Answer</button>
					<button class="btn btn-warning" @click="_toggleEdit(true)"> Edit</button>
					<button @click="deleteQuestion" class="btn btn-danger"> Delete</button>
				</template>
				<template v-else>
					<button class="btn btn-success" @click="updateQuestion"> Save</button>
					<button @click="cancelEdit" class="btn btn-outline-warning"> Cancel</button>
				</template>
			</div>
		</div>

	</div>
	<div class="card-body" v-show="showDetails">
		<div v-if="editing && question">
			<div class="row">
				<div class="col-md-2">
					<div class="mb-3">
						<label for="" class="form-label">Order</label>
						<input type="number" min="" class="form-control" v-model="localQuestion.order">
					</div>
				</div>
				<div class="col-md-3">
					<div class="mb-3">
						<label for="" class="form-label">Required</label>
						<select v-model="localQuestion.required" class="form-control">
							<option value="true" v-bind:selected="localQuestion.required">Yes</option>
							<option value="false" v-bind:selected="!localQuestion.required">No</option>
						</select>
					</div>
				</div>
				<div class="col-md-3">
					<div class="mb-3">
						<label for="" class="form-label">Type</label>
						<select v-model="localQuestion.type" class="form-control">
							<option value="single" v-bind:selected="localQuestion.type === 'single'">Single</option>
							<option value="multiple" v-bind:selected="localQuestion.type === 'multiple'">Multiple</option>
						</select>
					</div>
				</div>
				<div class="col-md-4">
					<div class="mb-3">
						<label for="" class="form-label">Icon Url</label>
						<input class="form-control" v-model="localQuestion.icon_url">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8">
					<div class="mb-3">
						<label for="" class="form-label">Question</label>
						<textarea class="form-control" v-model="localQuestion.question"></textarea>
					</div>
					<div class="mb-3">
						<label for="" class="form-label">Description</label>
						<textarea class="form-control" v-model="localQuestion.description"></textarea>
					</div>
				</div>
				<div class="col-md-4">
					<div class="mb-3">
						<label for="" class="form-label">FB Params</label>
						<textarea class="form-control" v-model="localQuestion.fb_params"></textarea>
					</div>
					<div class="mb-3">
						<label for="" class="form-label">FB Params</label>
						<textarea class="form-control" v-model="localQuestion.google_params"></textarea>
					</div>
				</div>
			</div>
		</div>
		<div class="" v-else>
			<label for="" class="muted">Description</label>
			<p v-html="question.description"></p>
		</div>
		<hr>
		<div v-if="!editing">
			<div class="row">
					<answer-item
						v-for="answer in question.answers"
						:products.sync="products"
						:answer="answer"
						:key="answer.id"
						@update-answer="updateAnswer"
					></answer-item>
			</div>

		</div>
		<div class="card-footer"  v-if="editing">
			<div class="">
				<button class="btn btn-success btn-xs" @click="updateQuestion">Update</button> <button @click="cancelEdit" class="btn btn-default xs">Cancel</button>
			</div>
		</div>
	</div>
</div>
</template>


<script>
import AnswerItem from "./Answer/AnswerItem.vue";
export default {
	name : "QuestionItem",
	data() {
		return {
			currentAnswerId : null,
			editing : false,
			showDetails : true,
			localQuestion : {
				id : this.question.id,
				question : this.question.quest,
				order : this.question.order,
				description : this.question.description,
				icon_url : this.question.icon_url,
				type : this.question.type,
				required : this.question.required,
				fb_params : this.question.fb_params,
				google_params : this.question.google_params,
			}
		}
	},

	components: {
		AnswerItem


	},
	mounted() {
		this._localSync();
	},
	props: ["question", "currentQuestionId", "products"],
	computed : {
		questionItemClass : function(){
			return (this.currentQuestionId === this.question.id) ? "accordion-collapse collapse show" : "accordion-collapse collapse";
		},
		isRequired : function(){
			return this.question.required;
		},
		isMultiple : function(){
			return (this.question.type === 'multiple');
		}
	},
	methods : {
		updateQuestion : function(){
			this.editing = false;
			return this.$emit('update-question', this.localQuestion);
		},
		deleteQuestion : function(){
			this._localSync();
			if(confirm("Deleting question will delete answers, proceed?")){
				this.$emit('delete-question', this.question.id);
			}
		},
		updateAnswer : function(answer){
			this._toggleEdit(false);
			return this.$emit('update-answer',answer, this.question.id);
		},
		createAnswer : function(){
			return this.$emit('create-answer', this.question.id);
		},
		cancelEdit : function(){
			this._localSync();
			this._toggleEdit(false);
		},
		_toggleEdit : function(flag){
			this._localSync();
			this.editing = flag;
			if(flag){
				this.showDetails = true;
			}
			this.$emit('set-edit-question-flag', flag);
		},
		_localSync : function(){
			this.$set(this.localQuestion, "id", this.question.id);
			this.$set(this.localQuestion, "question", this.question.question);
			this.$set(this.localQuestion, "description", this.question.description);
			this.$set(this.localQuestion, "order", this.question.order);
			this.$set(this.localQuestion, "icon_url", this.question.icon_url);
			this.$set(this.localQuestion, "type", this.question.type);
			this.$set(this.localQuestion, "required", this.question.required);
			this.$set(this.localQuestion, "fb_params", this.question.fb_params);
			this.$set(this.localQuestion, "google_params", this.question.google_params);
		},

	}
};
</script>