<template>
	<h2 class="accordion-header">
		<button class="accordion-button" type="button" @click="selectQuestion()">
			{{question.order}}) {{ question.question }}
		</button>
	</h2>
</template>


<script>
export default {
	name : "QuestionNavItem",
	components: {
	},
	props: ["question", "currentQuestionId"],
	computed : {
		getQuestionNavClass : function(){
			let active = (this.question.id === this.currentQuestionId) ? 'active' : '';
			return 'list-group-item list-group-item-action '+active;
		}
	},
	methods : {
		selectQuestion:  function(){
			return this.$emit('select-question',this.question.id);
		}
	}
};
</script>