<template>
	<div class="pfApp--bottom-nav">
		<div
			v-if="hasPrev"
			class="pfApp--bottom-nav--item pfApp--bottom-nav--item-back pfApp--pointer"
			@click="navigateToStepById(prevCategory.id)">
			<span>BACK</span>
		</div>
		<div v-else
			class="">
			<span></span>
		</div>
		<div
			v-if="hasNext"
			class="pfApp--bottom-nav--item pfApp--bottom-nav--item-next pfApp--pointer"
			@click="navigateToStepById(nextCategory.id)">
			<span>NEXT</span>
		</div>
		<div
			v-else
			class="pfApp--bottom-nav--item   pfApp--bottom-nav--item-result pfApp--pointer"
			@click="completeSurvey()"
		>
			<span>GET RESULTS</span>
		</div>
	</div>
</template>


<script>

export default {
	name : "BottomNavContainer",
	components: {

	},
	props: [
		'nextCategory',
		'prevCategory'
	],
	computed : {
		hasPrev : function(){
			return (this.prevCategory !== null);
		},
		hasNext : function(){
			return (this.nextCategory !== null);
		}
	},
	methods : {
		navigateToStepById : function(id){
			this.$emit('navigate-to-step-by-id', id);
		},
		completeSurvey : function(){
			this.$emit('complete-survey');
		}
	}
};
</script>