<template>
	<div class="pfApp--nav">
		<nav-item
			v-for="(step,i) in steps"
			:step.sync="step"
			:this-index="i"
			:current-index.sync="currentIndex"
			:key="step.id"
			@navigate-to-step-by-id="navigateToStepById"
		></nav-item>
	</div>
</template>


<script>
import NavItem from "./NavItem.vue";

export default {
	name : "NavContainer",
	components: {
		NavItem
	},
	props: [
		"steps", "currentIndex"
	],
	computed : {
		isClickable : function(){

		}
	},
	methods : {
		navigateToStepById : function(id){
			return this.$emit('navigate-to-step-by-id', id);
		}
	}
};
</script>