<template>
	<div :id="step.id" :class="getItemClass" @click="navigateToStepById(step.id)">
		<div class="pfApp--nav--step--content">
			<span class="pfApp--nav--step--content--number" v-html="step.step"></span> <span class="pfApp--nav--step--content--label" v-html="step.name"></span>
		</div>
	</div>
</template>


<script>
export default {
	name : "NavItem",
	components: {

	},
	props: ["step", "currentIndex", "thisIndex"],
	computed : {
		getItemClass : function(){
			let pointer = (this.isClickable) ? " pfApp--pointer " : "";
			let active = (this.isActive) ? " pfApp--nav--step-active " : "";
			let completed = (this.isCompleted && !active) ? " pfApp--nav--step-completed " : "";
			return " pfApp--nav--step "+completed+active+pointer;
		},
		isActive : function(){
			return this.step.selected;
		},
		isClickable : function(){
			return (this.thisIndex < this.currentIndex);
		},
		isCompleted : function(){
			let completed = this.step.questions.filter(function(question){
				return question.answers.filter(function(answer){
					return (answer.selected === true);
				}).length;
			});
			return completed.length;
		}
	},
	methods : {
		navigateToStepById : function(id){
			if(this.isClickable){
				return this.$emit('navigate-to-step-by-id', id);
			}
		}
	}
};
</script>