.productContainer{
	display: flex;
	flex-wrap: wrap;
	background: #d0e5fa;
}

.productContainer .productItem{
	width: 32%;
	margin-bottom: 5px; /* (100-32*3)/2 */
	border:1px solid gray;
	display: flex;
	background: white;
	margin-right: 4px;
}

.productContainer .productItem .productImage{
	height: 100%;
	width: 40px; /* A fixed width as the default */
}

.productContainer .productItem .productDescription{
	flex-grow: 1; /* Set the middle element to grow and stretch */
	overflow: hidden;
}

.productContainer .productItem .productAdd{
	min-width:40px;
	max-width: 40px;
	width:40px;
	min-height: 40px;
	max-height: 40px;
	height: 40px;
	cursor: pointer;
	border: 1px solid #070707;
	background: #212020;
	font-weight: bolder;
	color:white;
}




.skusContainer {
	display: flex;
	flex-wrap: wrap;
	/*justify-content: space-between;*/
}

.skusContainer .skuItem{
	width: 32%;
	margin-bottom: 5px; /* (100-32*3)/2 */
	border:1px solid #393939;
	display: flex;
	margin-right: 4px;
}

.skusContainer .skuItem .skuImage{
	height: 100%;
	width: 40px; /* A fixed width as the default */
}

.skusContainer .skuItem .skuDescription{
	flex-grow: 1; /* Set the middle element to grow and stretch */
	overflow: hidden;
}

.skusContainer .skuItem .skuRemove{
	min-width:40px;
	max-width: 40px;
	width:40px;
	min-height: 40px;
	max-height: 40px;
	height: 40px;
	cursor: pointer;
	border: 1px solid red;
	background: #eecbcb;
	font-weight: bolder;
}

