<template>
	<div :class="getAnswerClass" @click="selectAnswer">
		<div class="pfApp--questions--question-item--answers--answer-item--image-container" :style="getAnswerImageStyle"></div>
		<div class="pfApp--questions--question-item--answers--answer-item--details-container">
			<h3 v-html="getAnswer"></h3>
			<p v-html="getAnswerDescription"></p>
		</div>
	</div>
</template>


<script>

export default {
	name : "Answer.vue",
	components: {

	},
	props: ["answer"],
	computed : {
		getAnswerClass : function(){
			return (this.answer.selected) ? 'pfApp--questions--question-item--answers--answer-item pfApp--questions--question-item--answers--answer-item-selected' : 'pfApp--questions--question-item--answers--answer-item';
		},
		getAnswer : function(){
			return (this.answer) ? this.answer.answer : "";
		},
		getAnswerImageStyle : function(){
			return 'background:url('+this.getAnswerImageUrl+')';
		},
		getAnswerImageUrl : function(){

			return (this.answer && this.answer.img_url !== '#') ? this.answer.img_url : "https://via.placeholder.com/250";
		},
		getAnswerDescription : function(){
			return (this.answer) ? this.answer.description : "";
		}
	},
	methods : {
		selectAnswer : function (){
			this.$emit('select-answer', this.answer);
		}
	}
};
</script>