<template>
	<transition name="fade">
		<div class="pfApp--questions--question-item--answers">
				<answer :answer="answer" v-for="answer in answers" :key="answer.id" @select-answer="selectAnswer"></answer>
		</div>
	</transition>

</template>


<script>

import Answer from "./Answer.vue";
export default {
	name : "AnswersContainer",
	components: {
		Answer

	},
	props: ["answers"],
	computed : {

	},
	methods : {
		selectAnswer : function(answer){
			this.$emit('select-answer',answer);
		}
	}
};
</script>