<template>
    <div class="players-container">
        <div class="row" v-if="playersLoaded">
            <player-group v-for="(gplayers, group, index)  in players"
                          :group.sync="group"
                          :players.sync="gplayers"
                          :groupcount="getGroupCount"
                          @update-handicap="updateHandicap"
                          :key="index"></player-group>
        </div>
        <div v-else>
            <div class="alert alert-info m-3 text-center">
                <p>No players in groups!</p>
            </div>
        </div>

    </div>
</template>

<script>
    import PlayerGroup from "./PlayerGroup";
    export default {
        name : "PlayersContainer",
        components: {
            PlayerGroup,
        },
        props: [
            "players",
            "groupcount"
        ],
        data: function () {
            return {
            }
        },
        mounted(){

        },
        computed : {
            getGroupCount : function(){
                return this.groupcount;
            },
            playersLoaded : function(){
                return (this.players);
            }

        },
        methods:{
            updateHandicap : function(pId, handicap){
                this.$emit('update-handicap',pId, handicap);
            }
        }
    }
</script>

