<template>
        <li  class="player-item" :style="getWidth">
            <div :class="getLiClass">
                <div class="input-group mb-1">
                    <input  style=""  min="-99999" max="99999"  step="1" type="number" v-model="handicap" class="form-control input-prepend-fixed" @keyup="updateHandicap" @change="updateHandicap">
                    <div class="input-group-append name-fixed-width">
                        <div class=" saved-icon" v-if="saved" ><i class="fa fa-save"></i> Saved!</div>
                        <span style="width:100%;" class="input-group-text bg-brand-charcoal text-white text-left">{{player.player.name}} <small v-html="getHandicap"></small></span>
                    </div>
                </div>
            </div>
        </li>

</template>

<script>
    export default {
        name : "Player",
        components: {

        },
        props: [
            "player"
        ],
        data: function () {
            return {
                saved : false,
                width: window.innerWidth,
                handicap : 0,
            }
        },
        mounted(){
            window.addEventListener("resize", ()=>{
                this.width = window.innerWidth
            });
            this.handicap = this.player.pivot.handicap;
        },
        watch: {
            // whenever question changes, this function will run
            handicap: function () {
            }
        },
        computed : {
            getHandicap : function(){
                let sign = (this.handicap && this.handicap > 0) ? "+" : "";
                return (this.handicap && (this.handicap > 0 || this.handicap < 0)) ? " <span class='text-brand-orange'>("+sign+this.handicap+")</span>" : "";
            },
            getLiClass : function(){


                // let mob =  (this.width < 991) ? ' golfPlayerDesktop golfPlayerMobile ' : ' golfPlayerDesktop ';
                return "";
            },
            getWidth : function(){
                return "break-inside: avoid-column; list-style: none;  box-shadow: none; position: relative; margin: 1px; overflow: hidden; white-space: nowrap;";
               /* let w = 24;
                if(this.width < 599){
                    w = 98;
                }
                if(this.width > 600 && this.width < 959){
                    w = 48;
                }
                if(this.width > 960 && this.width < 1199){
                    w = 32;
                }
                if(this.width > 1200){
                    console.log(" LGs ");

                    w = 23;
                }
                return "width: "+w+"%;max-width: "+w+"%;min-width:"+w+"%;";*/
            }

        },
        methods:{
            subHandicap : function(){
                this.saved = true;
                if(this.handicap === ''){
                    this.handicap = 0;
                }
                this.handicap =  this.handicap - 1;
                this.$emit('update-handicap',this.player.id, this.handicap);
                setTimeout(() => this.saved = false, 3000);
            },
            addHandicap : function(){
                this.saved = true;
                if(this.handicap === ''){
                    this.handicap = 0;
                }
                this.handicap =  this.handicap + 1;
                this.$emit('update-handicap',this.player.id, this.handicap);
                setTimeout(() => this.saved = false, 3000);
            },
            updateHandicap : function(){
                this.saved = true;
                this.$emit('update-handicap',this.player.id, this.handicap);
                setTimeout(() => this.saved = false, 3000);
            }
        }
    }
</script>
<style>

    .input-prepend-fixed {
        max-width: 30%;
    }
    .name-fixed-width{
        max-width: 70%;
        width:70%;
        overflow-x: hidden;
    }
    .player-item {
        /*width:23%;*/
        /*list-style: none;*/
        /*!*border: 1px solid gray;box-shadow:none; position: relative; margin-bottom: 2px; overflow: hidden; white-space: nowrap;margin:1px;*!*/
        /*-webkit-order: 0;*/
        /*-ms-flex-order: 0;*/
        /*order: 0;*/
        /*-webkit-flex: 0 1 auto;*/
        /*-ms-flex: 0 1 auto;*/
        /*flex: 0 1 auto;*/
        /*-webkit-align-self: auto;*/
        /*-ms-flex-item-align: auto;*/
        /*align-self: auto;*/
    }

    .adjust-btn {
        padding:2px;
        border:1px solid gray;
        box-shadow:none;
        width:25px;
        max-width:25px;
        min-width:25px;
        color:black !important;
    }

    .saved-icon {
        position: absolute;
        background: #127559;
        color:white;
        right:0;
        font-size: 0.75em;
        padding:0px 10px 0 10px;
    }

</style>
