<template>
    <div class="col playerGroup p-0 m-0">
        <h3 class="text-center bg-brand-charcoal m-0 p-0" v-if="groupcount > 1" v-html="gToLetter"></h3>
        <ul class="p-0 m-0" :style="getULStyle">
            <player
                @update-handicap="updateHandicap"
                v-for="player in players"
                :player.sync="player"
            :key="player.id"></player>
        </ul>

    </div>

</template>

<script>
    import Player from "./Player";
    export default {
        name : "PlayerGroup",
        components: {
            Player
        },
        props: [
            "players", "group", "groupcount"
        ],
        data: function () {
            return {
                saved : false,
                width: window.innerWidth,
                handicap : 0,
            }
        },
        mounted(){
            window.addEventListener("resize", ()=>{
                this.width = window.innerWidth
            });
            // this.handicap = this.player.pivot.handicap;
        },
        computed : {
            isMobile : function(){
                return (this.width < 850);
            },
            getULStyle : function(){
                if(this.groupcount === 1){
                    return  (this.isMobile) ? "column-count: 2;" : "column-count: 4;";
                }
                return "";
                // return "  height: 600px; display: flex; flex-direction: column;flex-wrap: wrap;"
            },
            gToLetter : function(){
                let groups = {
                    group_1 : "Group A",
                    group_2 : "Group B",
                    group_3 : "Group C",
                    group_4 : "Group D",
                    group_5 : "Group E",
                    group_6 : "Group F",
                    group_7 : "Group G",
                }
                return (groups[this.group]) ? groups[this.group]  : "";
            },
            // getHandicap : function(){
            //
            // },
            // getLiClass : function(){
            //
            //
            //     // let mob =  (this.width < 991) ? ' golfPlayerDesktop golfPlayerMobile ' : ' golfPlayerDesktop ';
            //     return "bg-brand-darkgrey border-brand-grey text-left text-white golfPlayerDesktop";
            // },
            // getWidth : function(){
            //     let w = 24;
            //     if(this.width < 599){
            //         console.log("LESS THAN ");
            //         w = 98;
            //     }
            //     if(this.width > 600 && this.width < 959){
            //         w = 48;
            //     }
            //     if(this.width > 960 && this.width < 1199){
            //         console.log("NID");
            //         w = 32;
            //     }
            //     if(this.width > 1200){
            //         console.log(" LGs ");
            //
            //         w = 23;
            //     }
            //     return "width: "+w+"%;max-width: "+w+"%;min-width:"+w+"%;";
            // }

        },
        methods:{
            // subHandicap : function(){
            //     this.$emit('update-handicap',this.player.id, this.handicap);
            //     setTimeout(() => this.saved = false, 3000);
            // },
            // addHandicap : function(){
            //     this.$emit('update-handicap',this.player.id, this.handicap);
            //     setTimeout(() => this.saved = false, 3000);
            // },
            updateHandicap : function(pId, handicap){
                this.$emit('update-handicap',pId, handicap);
                setTimeout(() => this.saved = false, 3000);
            }
        }
    }
</script>
