<template>
    <div>
        <div class="row form-group pb-0 row space">
            <label class="col col-md-4 text-right text-mobile-left required" v-html="__c('golf.edit.content.count_cut_label', 'Count Cut Players')">{{  }}</label>
            <div class="col-md-8 ">

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-check">
                            <input class=" form-check-input" @change="updateCountCut" type="radio" v-model="localCountCut" :value="true" name="count_cut" id="count_cut_1" :disabled="isLocked">
                            <label class="form-check-label" for="count_cut_1" v-html="__c('golf.edit.content.count_cut_yes', 'Count Cut Players')">
                                {{  }}
                            </label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-check">
                            <input class=" form-check-input" @change="updateCountCut" type="radio" v-model="localCountCut" :value="false" name="count_cut" id="count_cut_0" :disabled="isLocked">
                            <label class="form-check-label" for="count_cut_0" v-html="__c('golf.edit.content.count_cut_no', 'Disqualify')">
                                {{  }}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="help-block" v-html="__c('golf.edit.content.count_cut_explanation', 'Should cut players be counted as 1/2 for 3rd and 4th round')"></div>
            </div>
        </div>
    </div>

</template>


<script>

export default {
    name : "CountCut",
    components: {

    },
    data: function () {
        return {
            localCountCut : null,
        }
    },
    props: ["countCut", "isLocked"],
    mounted(){
        this.localCountCut = this.countCut;
    },
    created() {

    },
    computed : {

    },
    methods : {
        updateCountCut: function(){
            if(this.isLocked) return;
            this.$emit('update-count-cut', this.localCountCut);
        }
    },
};
</script>
