<template>
    <div>
        <div class="form-group pb-0  row">
            <label for="" class="col col-md-4 text-right text-mobile-left" v-html="__c('golf.edit.content.lock_pool_label', 'When should this pool be locked')"></label>
            <div class="col-8">
                <select class="custom-select" name="lock" v-model="localLockType" @change="updateLockType" :disabled="isLocked">
                    <option value="default" v-html="__c('golf.edit.content.lock_pool_at_tee_label', 'Lock at first Tee Off')"></option>
                    <option value="custom" v-html="__c('golf.edit.content.lock_pool_at_set_time_label', 'Lock at specific time')"></option>
                </select>
                <div class="help-block" v-html="__c('golf.edit.content.lock_pool_options_explanation', 'When Pool should lock')"></div>
            </div>
        </div>
        <div v-if="customLockDate">
            <entry-lock-date
                :lock-date="localLockDate"
                :isLocked="isLocked"
                @update-lock-date="updateLockDate"></entry-lock-date>
        </div>
    </div>
</template>


<script>

import EntryLockDate from "./EntryLockDate";
export default {
    name : "EntryLock",
    components: {
        EntryLockDate

    },
    data: function () {
        return {
            localLockType : this.lockType,
            localLockDate : this.lockDate,
        }
    },
    props: ["pool", "lockType", "lockDate", "isLocked"],
    mounted(){
        this.localLockType = this.lockType;
        this.localLockDate = this.lockDate;
    },
    created() {

    },
    computed : {
        customLockDate : function(){
            return (this.localLockType != 'default');
        }
    },
    methods : {
        updateLockType : function() {
            if(this.isLocked) return;
            return this.$emit('update-lock-type', this.localLockType);
        },
        updateLockDate : function(lockDate) {
            if(this.isLocked) return;
            return this.$emit('update-lock-date', lockDate);
        }
    },
};
</script>
