<template>
        <div class="col-3 col-sm-2" v-if="group.enabled" style="max-width: 140px;">
            <div class="help-block text-center" v-if="groupCount > 1">{{name}}</div>
            <input
                type="number"
                @change="updateGroup"
                class="form-control  group-select total_players"
                :min="1"
                :disabled="isLocked"
                v-model="newMax"
            >

        </div>
</template>


<script>

export default {
    name : "EntryGroupConfig",
    components: {

    },
    data: function () {
        return {
            newMax : null,
            name : this.group.name,
            localMax : this.group.max,
            number : this.group.number,
        }
    },
    props: ["group", "max", "pool", "groupCount", "isLocked"],
    mounted(){

    },
    created() {
        this.newMax = this.localMax;
    },
    computed : {

    },
    methods : {
        updateGroup : function(){
            if(this.isLocked) return;
            this.$emit('update-group', this.number, this.newMax);
        },
    },
};
</script>
