<template>
    <div>
        <div class="form-group pb-0 row">
            <label for="" class="col col-md-4 text-right text-mobile-left" v-html="__c('golf.edit.content.lock_pool_choose_date_label', 'Set Date')">

            </label>
            <div class="col-md-8">
                <datetime
                    v-model="localLockDate"
                    type="datetime"
                    inputClass="form-control"
                    use12-hour
                    placeholder="Select date & time"
                    :min-datetime="getNow"
                    @input="updateLockDate"
                    :disabled="isLocked"
                ></datetime>
                <div class="help-block" v-html="__c('golf.edit.content.lock_date_time_picker_explanation', 'Pick date & time to lock pool')">

                </div>
            </div>
        </div>
    </div>
</template>


<script>
import { Datetime } from 'vue-datetime'
// You need a specific loader for CSS files
import 'vue-datetime/dist/vue-datetime.css'
export default {
    name : "EntryLockDate",
    components: {
        datetime: Datetime
    },
    data: function () {
        return {
            localLockDate : this.lockDate,
        }
    },
    props: ["pool", "lockDate", "isLocked"],
    mounted(){
        this.localLockDate = this.lockDate;
    },
    created() {
        // console.log("Locks at ",this.lockDate);
    },
    computed : {
        getNow : function(){
            let d = new Date(Date.now()).toISOString()

            // console.log(d);
            return d;
        }
    },
    methods : {
        updateLockDate : function(){
            if(this.isLocked) return;
            let updateDate = (this.localLockDate === "") ? null : this.localLockDate;
            return this.$emit('update-lock-date', updateDate);
        }
    },
};
</script>
<style>
.vdatetime-time-picker__item--selected,
.vdatetime-popup__actions__button,
.vdatetime-calendar__month__day--selected span span,
.vdatetime-popup__header{
    background: #3dace2 !important;
}
.vdatetime-time-picker__item--selected,
.vdatetime-popup__actions__button{
    color:white;
}
</style>
