<template>
    <div style="border-top: 1px inset #727272 !important;">
        <div class="form-group pb-0 mb-1 mt-4 row space">
            <label for="form-label" class="col col-md-4 text-right text-mobile-left required" v-html="__c('golf.edit.content.golfers_towards_score_label', 'How many golfers towards score')"></label>
            <div class="col-md-2">
                <input type="number"
                       name="toward_score"
                       :class="getClass"
                       step="1" min="1"
                       :max="max"
                       v-model="towardScore"
                       style="width:75px;min-width:75px;max-width:75px;"
                       :disabled="isLocked"
                       @input="updateTowardScore"
                >
            </div>
            <div class="col-md-6">
                <div v-if="error" class="help-block text-brand-red" v-html="__c('golf.edit.content.pool_will_never_win_warn', 'This pool will never win')"></div>
                <div v-else class="help-block" v-html="__c('golf.edit.content.towards_score_explanation', 'How many players win final round')"> (max of {{max}})</div>

            </div>
        </div>
    </div>

</template>


<script>
export default {
    name : "GolfersTowardScore",
    components: {

    },
    data: function () {
        return {
            towardScore : this.toscore,
        }
    },
    props: ["max", "toscore", "error", "isLocked"],
    mounted(){

    },
    created() {
        // this.towardScore = this.toscore;
    },
    computed : {

        getClass : function(){
            return (this.error) ? 'form-control  is-invalid' : 'form-control ';
        }
    },
    methods : {
        updateTowardScore : function(){
            if(this.isLocked) return;
            this.$emit('update-toward-score', this.towardScore);
        }
    },
};
</script>
