<template>
    <div>
        <div class="row form-group pb-0 row space">
            <label class="col col-md-4 text-right text-mobile-left required" v-html="__c('golf.edit.content.open_pool_for_picks_label', 'Allow Picks')"></label>
            <div class="col-md-8 ">

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-check">
                            <input class=" form-check-input" type="radio" v-model="isPickable" :value="true" name="open_pool_for_picks" id="open_pool_for_picks_1" :disabled="isLocked">
                            <label class="form-check-label" for="open_pool_for_picks_1" v-html="__c('golf.edit.content.open_pool_for_picks_yes', 'Open For Picks')">

                            </label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-check">
                            <input class=" form-check-input" type="radio" v-model="isPickable" :value="false" name="open_pool_for_picks" id="open_pool_for_picks_0" :disabled="isLocked">
                            <label class="form-check-label" for="open_pool_for_picks_0" v-html="__c('golf.edit.content.open_pool_for_picks_no', 'Closed')">

                            </label>
                        </div>
                    </div>
                </div>
                <div class="help-block" v-html="__c('golf.edit.content.open_pool_for_picks_explanation', 'Can user pick')"></div>
            </div>
        </div>
    </div>

</template>


<script>

export default {
    name : "PicksLock",
    components: {

    },
    data: function () {
        return {
            localPickable : null,
        }
    },
    props: ["pickable", "isLocked"],
    mounted(){
        this.localPickable = this.pickable;
    },
    created() {

    },
    computed : {
        isPickable : {
            // getter
            get: function () {
                return this.localPickable;
            },
            // setter
            set: function (pickable) {
                if(this.isLocked) return;
                this.$emit('update-pickable', pickable);
            }
        },
    },
    methods : {

    },
};
</script>
